@import "colors.css";

.box {
  margin-top: 20px;
  margin-bottom: 60px;

}

.empty {
  height: 20px;
  margin: 40px 20px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  color: var(--decor8);
}
