---

- name: Make Home Directory Writable
  file: path={{agent_home}} state=directory mode="u+x,g+x,o+x" owner=buildkite-agent

- name: Download Account.json File
  copy: src={{account_json_src}} dest=/tmp/account.json

- name: Download Vault Pass File
  copy: src={{vault_pass_src}} dest=/tmp/.vault_pass

- name: Move Account.json File
  command: mv /tmp/account.json {{agent_home}}/account.json
  pause: seconds=5

- name: Move Vault Pass File
  command: mv /tmp/.vault_pass {{agent_home}}/.vault_pass
  pause: seconds=5

- name: Init Google Cloud
  command: gcloud auth activate-service-account --key-file={{agent_home}}/account.json
  become_user: buildkite-agent
