@import 'colors.css';

.button {
  display: inline-block;
  vertical-align: top;
  position: relative;

  & :global .fc-button-with-menu__right-button i {
    transform: rotateX(180deg);
  }
}

.menu {
  position: absolute;
  z-index: 20;
  right: 0;
  min-width: 100%;
  margin: 0;
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  user-select: none;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;

  .button.opened & {
    display: inline-block;
  }
}

.controls {
  position: relative;

  & > :global(.fc-button-with-menu__right-button) {
    border-left: 1px solid var(--bg-white);
    z-index: 20;

    & i {
      font-size: 12px;
      transform: rotateX(0);
      transition: transform .2s ease-out;
    }
  }
}

.actionButton {

}

.dropdownButton {
  margin-left: 1px;
  height: 40px; /* fix for IE as it renders 18.89(random number after dot) height button with 22 padding */
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
