
@import "media-queries.css";

.checkout {
  margin-top: 45px;

  lost-column: 9/11;
  lost-offset: -1/11;
}

.logo {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.union-fields {
  display: flex;

  & > div {
    flex-grow: 1;
  }
}

.checkout-form {
  & > .union-fields {
    margin: 10px 0;

    & > .checkout-field {
      margin: 0;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.checkout-field {
  margin: 10px 0;

  & > input:matches([type=text], [type=password]) {
    width: 100%;
  }
}

@media (--medium-viewport) {
  .checkout {
    margin-top: 10px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}
