
@import "colors.css";

.order-summary {
  composes: checkout-block from "./checkout.css";
  background: #FFFFFF;
  border: 3px solid #F4F4F4;
  padding: 25px 20px 30px 20px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #E6E6E6;
}

.title {
  font-size: 22px;
  color: var(--blackish);
  line-height: 27px;
  margin-bottom: 25px;
}

.products-table thead th {
  font-size: 13px;
  color: #9E9E9E;
  line-height: 18px;
  font-weight: normal;
}

.products-table tbody td {
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #E6E6E6;
}

.price-summary {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;

  & > li {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  border-bottom: 1px solid #E6E6E6;
}

.grand-total {
  composes: term-value-line from "ui/css/term-value-line.css";
  font-size: 18px;
  color: var(--blackish);
  line-height: 22px;
  padding-top: 30px;
}

