#dock-styles {
  .inline-block();

  &-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
