@import "media-queries.css";
@import "variables.css";
@import "colors.css";

.footer-wrap {}

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrap {
  margin: 90px 0;
}

.link {}

.logo-icon {
  height: 15px;
  color: var(--logo-alt-color);
}

@media (--small-only) {
  .footer {
    text-align: left;
    composes: wrap from 'ui/css/layout.css';
    justify-content: flex-start;
  }

  .wrap {
    margin: 30px 0;
    display: flex;
  }

  .link {
    margin-left: -20px;
  }
}
