
.object-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & :global(.fc-confirmation-dialog) {
    margin-bottom: 0;

    & :global(.fc-alert) {
      margin-bottom: 20px;
    }
  }
}

.full-page {
  width: 100%;
  min-width: 400px;

  & > div {
    margin-bottom: 20px;
  }
}

.main {
  width: calc(67% - 1.85%);
  margin-right: 1.85%;
  min-width: 400px;

  & > div {
    margin-bottom: 20px;
  }
}

.aside {
  width: 33%;
  min-width: 200px;

  & > div {
    margin-bottom: 20px;
  }
}

.sub-title {
  font-weight: 600;
  font-size: 14px;
  color: #484848;

  margin: 1em 0 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

.customer-groups {
  margin-top: 20px;
}

.columns {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.column {
  flex-grow: 1;
  margin-top: 20px;
  margin-right: 0;
  border-left: 0;

  &:first-child {
    border-left: 1px solid #d9d9d9;
  }
}

.column-body {
  min-height: 600px;
}

.column-body > * {
  width: 100%;
}

.column-footer {
  padding: 10px;
  border-top: 1px solid #d9d9d9;
}

.column-footer > button {
  width: 100%;
}
