.spinner {
  margin: 40px auto;
}

.object-details {
  margin: 0 1.85%;

  & > :global(.fc-errors) {
    margin-bottom: 20px;

    & > :global(.fc-alert) {
      margin-top: 0;
    }
  }

  & :global(.fc-content-box) + :global(.fc-content-box) {
    margin-top: 20px;
  }

  & :global(.fc-live-search) {
    padding: 0;
  }
}

.cancel-button {
  margin-right: 20px;
}
