@import "colors.css";

.search {
  position: relative;
  margin-left: 20px;
}

.search-input {
  border: none;
  position: relative;
  padding: 0;
  z-index: 1;
  width: 59px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #aaaaaa;

}
