.vagrant
bin/inventory
vagrant.local.rb
.vault_pass
ansible/*.retry
*.pyc
foxcomm-vanilla.json
foxcomm-staging.json
.env.local

account.json
*.DS_Store
.terraform
terraform.tfvars
*.orig

# temporary ignore tfstate and tfstate.backup for swarm, as useless
terraform/envs/gce_swarm_production/terraform.tfstate
terraform/envs/gce_swarm_production/terraform.tfstate.backup
terraform/envs/gce_swarm_staging/terraform.tfstate
terraform/envs/gce_swarm_staging/terraform.tfstate.backup
terraform/devenvs/alexey/terraform.tfstate
terraform/devenvs/alexey/terraform.tfstate.backup
