# secrets
.vault_pass

# account files
# GCE
/foxcomm-vanilla.json
/foxcomm-staging.json
/account.json

# AWS
/aws_*

# local settings
.env.local
.terraform
terraform.tfvars

# inventory binary
bin/inventory

# vendor artifacts and other garbage
.vagrant
vagrant.local.rb
ansible/*.retry
*.pyc
*.DS_Store
*.orig

