@import "variables.css";
@import "media-queries.css";

.cooking-block {
  background: #3E3436;
  padding-bottom: 90px;
}

.cooking-header-wrap {
  composes: header-wrap from '../catalog/products.css';
  background: #3E3436;
  color: white;
  height: 100%;
  padding: 30px 20px;
}

.cooking-description {
  composes: description from '../catalog/products.css';
  font-weight: 400;
  font-size: 16px;
  color: white;
  letter-spacing: 1.81px;
  margin-top: 50px;
}

.cooking-title {
  composes: title from '../catalog/products.css';
  font-size: 46px;
  color: white;
  letter-spacing: 5.22px;
  font-weight: 600;

  &:after {
    width: 48px;
  }
}

.cooking-section {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 34px;

  & .img {
    width: 100%;
    margin-top: 20px;
  }

  & .title {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.7px;
    margin-top: 30px;

  }

  & .description {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    margin-top: 20px;
  }
}
