@import "colors.css";
@import "media-queries.css";

.item-link {
  line-height: 40px;
  text-decoration: none;
  color: var(--link-alt-color);
  white-space: nowrap;
  text-transform: uppercase;
}

.submenu {
  background: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  height: 300px;
  display: none;
}

.open {
  display: block;
}

@media (--small-only), (--medium-only) {
  .item-link {
    color: var(--link-alt-color);
  }

  .item {
    &.active {
      & .item-link {
        box-shadow: 0 2px var(--input-border-color);
      }
    }
  }
}

@media (--large) {
  .list {
    display: flex;
    justify-content: center;
    align-self: stretch;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 3px solid transparent;

    &.active {
      border-color: var(--link-hover-color);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .item-link {
    display: inline-block;
  }
}

@media (--x-large) {
  .item {
    margin-right: 50px;
  }
}
