@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex: 1;
  height: 100%;
  background: var(--light-grayish);
  opacity: 0;
  transition: opacity .1s;
  transform: translateX(100%);
}

.cart-shown .overlay {
  opacity: 1;
  transform: translateX(0);
}

.cart-box {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100%;
  background: var(--whitish);
  lost-column: 4/11;
  transform: translateX(100%);
  transition: transform .2s;
}

.cart-shown .cart-box {
  transform: translateX(0);
}

.cart-header {
  background: var(--additional-color);
  color: var(--whitish);
  width: 100%;
  height: var(--cart-header-height);
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back-icon {
  margin: 0 var(--cart-gap);
  transition: margin 300ms;
  stroke-width: 0;
}

.header-text {
  flex-grow: 1;
  margin-right: 60px; /* 20px paddings + 20px icon width */
}

.checkout-button {
  color: var(--whitish);
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-width: 2px;
  cursor: pointer;
}

.cart-content {
  position: absolute;
  padding: 0 var(--cart-gap);
  width: 100%;
  top: var(--cart-header-height);
  bottom: var(--cart-footer-height);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  & :global(.fc-errors) {
    width: 100%;
  }

  & :global(.fc-alert) {
    border-radius: 0;
    margin-top: 0;
  }
}

.line-items {
  overflow-y: auto;
  height: 100%;
}

.coupon {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);

  & input {
    background-color: #F4F2F2;
    border-color: #F4F2F2;
  }
}

.cart-subtotal {
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 40px;
  line-height: 17px;
  font-weight: 400;
  font-size: 13px;
  color: #212121;
  background: var(--whitish);
  border-top: 1px solid var(--border-color);
}

.cart-footer {
  width: calc(100% - (var(--cart-gap) * 2));
  height: var(--cart-footer-height);
  position: absolute;
  bottom: 0;
  padding: 12px 0;
  margin: 0 var(--cart-gap);
  border-top: 1px solid var(--border-color);
}

.subtotal-title {
  flex-grow: 1;
}

@media (--small-only) {
  .cart-box {
    lost-column: 10/12;
  }
}

@media (--medium-only) {
  .cart-box {
    lost-column: 8/12;
  }
}

@media (--medium) {
  .cart-footer {
    padding: 20px 0;
  }

  .cart-header {
    &:hover {
      & .back-icon {
        margin-left: 10px;
        margin-right: 40px;
      }
    }
  }

  .cart-subtotal {
    height: 60px;
    font-weight: 300;
    font-size: 17px;
  }
}

@media (--large-only) {
  .cart-box {
    lost-column: 5/12;
  }
}

@media (--x-large) {
  .cart-box {
    lost-column: 4/12;
  }
}
