@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.box {
  position: relative;
  padding: 15px 0 55px;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.container {
  width: 100%;
}

.details {
  margin-right: var(--cart-gap);
}

.image {
  width: 63px;
  height: 63px;
  margin-right: 5px;
  flex-shrink: 0;
}

.product-name {
  font-family: var(--font-playfair);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.45px;
}

.price {
  margin-bottom: 0.4em;
  line-height: 1.5em;
  text-align: left;
  font-weight: 300;
  font-size: 12px;
  color: #212121;
  opacity: 0.63;
}

.delete-icon {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
}

.delete-button {
  cursor: pointer;

  & :global(.icon) {
    color: #767676;
  }

  &:hover {
    & :global(.icon) {
      color: var(--blackish);
    }
  }
}

@media (--small-only) {
  .quantity {
    position: absolute;
    top: 90px;
    left: 0;
    width: 63px;

    & input {
      height: 30px;
      font-size: 12px;
    }
  }
}

@media (--medium) {
  .box {
    padding: 20px 0;
  }

  .delete-icon {
    width: 30px;
    height: 30px;
    stroke-width: 1px;
  }

  .details {
    display: flex;
    flex-direction: row;
    min-height: 42px;
  }

  .image {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }

  .product-name {
    width: 100%;
    padding-right: var(--cart-gap);
    font-size: 16px;
    letter-spacing: .94px;
  }

  .price {
    font-size: 16px;
  }

  .quantity {
    width: 110px;
  }
}
