@import "variables";
@import "typography";
@import "media-queries";
@import "colors";

.related-title {
  composes: title-medium;
  display: block;
  margin-top: 90px;
  text-align: center;
  width: 100%;
}

.list-wrapper {
  position: relative;
}

.loading-wrapper {
  background: rgba(235, 234, 234, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loader {
  position: fixed;
  width: 100%;
  top: 120px;
}

.list {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.not-found {
  text-transform: uppercase;
  margin: 80px 0;
  text-align: center;
  width: 100%;
}

@media (--small-only), (--medium-only) {
  .list {
    margin-top: 20px;
  }

  .related-title {
    composes: paragraph-large;
    font-weight: 900;
    margin-top: 76px;
    text-align: left;
  }
}
