@import 'variables.css';

:root {
  --header-height: 60px;
  --circle-size: 98px;
}

:root {
  --avatar-margin-top: calc(- var(--circle-size) / 3); /* stylelint-disable-line */
}

.block {
  margin: 40px 0;
  background-color: var(--bg-white);
}

.header {
  background: #263349;
  height: 60px;
  text-align: center;
}

.head {
  height: 91px;
  color: var(--color-light-text);
  background-color: var(--bg-nav-main);
  border-radius: 3px 3px 0 0;
  margin: -1px -1px 0 -1px;
  border: 0;
}

.comment {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-additional-text);
}

.rank {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  padding-right: 20px;
  padding-top: 20px;
}

.avatar {
  display: inline-block;
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: var(--bg-white);
  border-radius: 50%;
  text-align: center;
  vertical-align: top;
  margin-top: var(--avatar-margin-top);
  margin-bottom: 4px;

  & > i {
    display: inline-block;
    width: 84px;
    height: 84px;
    background-color: var(--bg-green-buttons);
    overflow: hidden;
    border-radius: 50%;
    margin-top: calc((var(--circle-size) - 84px) / 2);
    font-size: 50px;
    line-height: 84px;
    color: var(--color-light-text);
  }
}

.name {
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  color: var(--color-text);
  padding: 0 10px 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-text);
  padding: 0 20px 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-text);
  padding: 9px 10px 20px;
}

.fields {
  display: inline-block;
  width: 50%;

  & > li {
    height: 40px;
    display: flex;
    align-items: center;

    & > i {
      width: 40px;
      font-style: normal;
      font-size: 22px;
      line-height: 24px;
      text-align: center;
      color: var(--color-additional-text);
    }

    &.fc-customer-info-days > i {
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
    }
  }
}

.group {
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-light-text);
  background-color: var(--bg-nav-main);
  box-shadow: inset 0 -2px 3px 0 rgba(0, 0, 0, .5), inset 1px 1px 1px 0 rgba(255, 255, 255, .89);
  border-radius: 3px;
}

.guest {
  color: var(--color-additional-text);
  padding-top: 5px;
}
