[Service]
WorkingDirectory=/usr/local/share
ExecStart=/usr/local/bin/run_marathon_alerts.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=marathon_alerts
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target
