@import 'colors.css';

.item {
  padding: 0 20px;
  font-size: 14px;
  line-height: 44px;
  color: var(--color-text);
  background: var(--bg-white);
  white-space: nowrap;
  cursor: pointer;
  transition: background .2s;
}

.item._active, .item:hover {
  background-color: var(--bg-grey-headers);
}

.hidden {
  display: none;
}
