.downArrowBtn {
  /* @todo!important something about priority for core components */
  /* Fucks up the gear icon/button that toggles the columns for tables in Chrome 58.03 for linux*/
  /*padding: 0 10px !important;*/

  padding-top: 8px !important;
  transition: none !important;

  &:active {
    box-shadow: none !important;
  }

  :global(.fc-rich-text-editor__command-headers) & {
    /* @todo!important something about priority for core components */
    background-color: transparent !important;
  }
}

.toggleBtn {
  width: 40px;
  height: 40px;
}
