@import "common.css";
@import "colors.css";

/*
 * General Button Styles
 */
.button {
  display: inline-flex; /* not just `flex` because of legacy */
  align-items: center;
  justify-content: center;
  padding: 11px 20px;
  color: var(--button-color);
  background-color: var(--button-bg);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border: none;
  vertical-align: top;
  user-select: none;
  cursor: pointer;
  transition: background .2s;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: var(--button-bg-hover);
  }

  &:disabled,
  &:disabled:hover {
    cursor: default;
    color: var(--button-color-disabled);
    background-color: var(--button-bg-disabled);
  }

  &.fullWidth {
    display: block;
    width: 100%;
  }

  &.onlyIcon {
    width: 40px;
    padding: 11px 0;
  }

  &.small {
    padding: 4px 5px;
  }

  &.small.onlyIcon {
    width: 26px;
  }
}

.button i[class*="icon-"],
.button.small.onlyIcon i[class*="icon-"] {
  font-size: 10px;
  transition: all .2s;
}

.button:not(.onlyIcon) i[class*="icon-"] {
  margin-bottom: -1px;
}

.button.onlyIcon i[class*="icon-"] {
  font-size: 14px;
  margin: 0 auto;
}

.button i[class*="icon-"] + span,
span + i[class*="icon-"] {
  margin-left: 8px;
}

.text {

}

.loading {
  @apply --loading-caramel;
}

/*
 * Primary Button Styles
 */
.primary {
  color: var(--primary-button-color);
  background-color: var(--primary-button-bg);
}

.primary:hover {
  background-color: var(--primary-button-bg-hover);
}

.primary:disabled,
.primary:disabled:hover {
  cursor: default;
  color: var(--primary-button-color-disabled);
  background-color: var(--primary-button-bg-disabled);
}

/*
 * Delete Button Styles
 */
.delete:hover {
  background-color: #ff9796;
}

/*
 * Close Button Styles
 */
.close {
  cursor: pointer;
}

/*
 * Social Buttons Styles
 */
.socialButton {
  &.google {
    background-color: #f65554;
    color: #f2f2f2;

    &:hover {
      background-color: #f66564;
    }

    &:disabled {
      color: #ddd;
    }
  }
}
