@import "common.css";
@import "colors.css";

/*
 * General Button Styles
 */
.button {
  display: inline-flex; /* not just `flex` because of legacy */
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: var(--button-color);
  background-color: var(--button-bg);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border: none;
  vertical-align: top;
  user-select: none;
  cursor: pointer;
  transition: background .2s;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: var(--button-bg-hover);
  }

  &:disabled,
  &:disabled:hover {
    cursor: default;
    color: var(--button-color-disabled);
    background-color: var(--button-bg-disabled);
  }

  &.onlyIcon {
    padding-left: 10px;
    padding-right: 10px;
  }

  &.fullWidth {
    display: block;
    width: 100%;
  }

  &.small {
    padding: 4px 5px;
  }
}

.button[class*="icon-"] {
  padding: 0;
  width: 40px;
}

.button i[class*="icon-"] {
  vertical-align: top;
}

.button i[class*="icon-"] + span,
span + i[class*="icon-"] {
  margin-left: 5px;
}

.text {

}

.loading {
  @apply --loading-caramel;
}

/*
 * Primary Button Styles
 */
.primary {
  color: var(--primary-button-color);
  background-color: var(--primary-button-bg);
}

.primary:hover {
  background-color: var(--primary-button-bg-hover);
}

.primary:disabled,
.primary:disabled:hover {
  cursor: default;
  color: var(--primary-button-color-disabled);
  background-color: var(--primary-button-bg-disabled);
}

/*
 * Delete Button Styles
 */
.delete:hover {
  background-color: #ff9796;
}

/*
 * Close Button Styles
 */
.close {
  cursor: pointer;
}

/*
 * Social Buttons Styles
 */
.socialButton {
  &.google {
    background-color: #f65554;
    color: #f2f2f2;

    &:hover {
      background-color: #f66564;
    }

    &:disabled {
      color: #ddd;
    }
  }
}
