---

- name: Download Pgweb Release
  unarchive: src="{{pgweb_download_url}}" dest=/usr/local/bin/ remote_src=yes mode=0750

- name: Copy Execution File
  template: src=run_pgweb.sh dest=/usr/local/bin mode=0750

- name: Copy Service
  template: src=pgweb.service dest="{{dest_services}}/pgweb.service"

- name: Reload Systemd for Pgweb
  command: systemctl daemon-reload

- name: Restart Pgweb
  service: name=pgweb state=restarted enabled=yes

- name: Copy Consul Service File
  template: src=pgweb.json dest=/etc/consul.d/pgweb.json
