@import "media-queries.css";
@import "variables.css";
@import "colors.css";

.footer {
  text-align: center;
}

.wrap {
  margin: 90px 0;
}

.logo {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3.5px;
  color: #aaaaaa;
}

@media (--small-only) {
  .footer {
    text-align: left;
    composes: wrap from 'ui/css/layout.css';
  }

  .wrap {
    margin: 30px var(--grid-margin);
    display: flex;
    composes: inner-wrap from 'ui/css/layout.css';
  }
}
