@import "colors.css";
@import "layout.css";
@import "variables.css";
@import "media-queries.css";
@import "typography.css";

.left {
  flex-basis: 50%;
  flex-grow: 1;
  margin-right: 24px;
}

.right {
  flex-basis: 50%;
  flex-grow: 1;
  margin-left: 24px;
}

.sixty {
  flex-basis: 60%;
  flex-grow: 1;
  margin-right: 24px;
  margin-top: 40px;
}

.forty {
  flex-basis: 40%;
  flex-grow: 1;
  margin-left: 24px;
  margin-top: 40px;
}

.body {
  display: flex;
  flex-direction: row;
}


.title {
  composes: title-large;
  color: var(--text-color);
  margin: 0 0 8px 0;
}

.category {
  composes: paragraph;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--black);
  margin: 0;
}

.short-description {
  composes: paragraph-large;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 20px;
}

.title-block {
  text-align: center;
  margin-top: 90px;
}

.title-secondary {
  composes: title-medium;
  color: var(--text-color);
  margin-bottom: 11px;
}

.share-block {
  text-align: center;
  margin-top: 82px;
}

.share-title {
  composes: title-secondary;
}

.share-description {
  composes: paragraph;
  text-transform: uppercase;
  margin-top: 20px;
}

.share-image {
  width: 100%;
}

.price {
  composes: paragraph-large;
  color: var(--text-color);
  margin-bottom: 24px;
}

.on-sale-price {
  color: var(--text-color-on-sale);
}

.retail-price {
  margin-right: 7px;
  text-decoration: line-through;
}

.cart-actions {
  margin-bottom: 20px;
}

.description {
  composes: left;
  composes: small-text;
  color: var(--text-color);
  margin-bottom: 15px;
}

.description-list {
  composes: right;
  composes: small-text;
  list-style: disc;
  margin-left: 68px;
}

.one-click-checkout {
  margin-top: 8px;
}

@media (--small-only) {
  .share-block {
    display: none;
  }

  .body {
    display: block;
  }

  .left, .right, .sixty, .forty {
    margin: 0;
  }

  .title-secondary, .description-list, .description {
    display: none;
  }

  .forty {
    margin: 32px 0;
  }

  .title, .short-description {
    composes: paragraph-large;
    font-weight: 900;
  }

  .title-block {
    margin-top: 50px;
  }

  .short-description {
    text-align: left;
    margin-top: 0;
    text-transform: none;
  }

  .category {
    composes: smallest-text;
  }

  .price {
    composes: smallest-text;
  }
}
