@import "colors.css";
@import "variables.css";
@import "media-queries.css";

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.column-left {
  width: 100%;
  height: auto;
  flex: 0 0 100%;
}

.column-right {
  flex: 0 0 100%;
  height: auto;
  padding: 12px var(--grid-margin);
}

.title {
  font-weight: 900;
  font-size: 24px;
  color: var(--text-color);
  position: relative;
  line-height: 1.25;
  margin: 0 0 8px 0;
}

.short-description {
  margin: 0 var(--grid-margin) var(--grid-margin);
  font-size: 24px;
  font-weight: 900;
  line-height: 1.25;
  color: var(--black);
}

.secondary-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.17;
  color: var(--text-color);
  margin-bottom: 11px;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.price {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 24px;
}

.on-sale-price {
  color: var(--text-color-on-sale);
}

.retail-price {
  margin-right: 7px;
  text-decoration: line-through;
}

.cart-actions {
  margin-bottom: 50px;
}

.description {
  font-size: 16px;
  line-height: 1.63;
  color: var(--text-color);
  margin-bottom: 15px;
}

.description-list {
  font-size: 16px;
  line-height: 1.63;
}

.description-list  ul {
  list-style: disc;
  margin-left: 20px;
}

.one-click-checkout {
  margin-top: 8px;
}

.facets {
  margin-bottom: 30px;
}

@media (--medium) {
  .price {
    font-size: 22px;
  }
}

@media (--medium-only) {
  .items-title-wrap {
    justify-content: space-around;
  }

  .item-title {
    width: 33%;
    margin: 0 4px;
    display: flex;
    justify-content: center;
  }
}

@media (--large) {
  .container {
    padding-top: 39px;
  }

  .row {
    lost-center: 1080px;
  }

  .column-left {
    width: 569px;
    flex: none;
  }

  .column-right {
    flex: 1;
    padding: 0 0 0 45px;
  }

  .breadcrumbs {
    margin-bottom: 26px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .price {
    margin-bottom: 49px;
  }

  .cart-actions {
    margin-bottom: 86px;
  }

  .product-details {
    padding-top: 50px;
  }

  .short-description {
    margin: 50px 0 0;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.25;
    color: var(--black);
  }
}

.not-found {
  composes: not-found from '../../components/products-list/products-list.css';
}
