@import "colors.css";
@import "variables.css";
@import "media-queries.css";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.gallery {
  width: 100%;
  height: auto;
  flex: 0 0 100%;
}

.details {
  flex: 0 0 100%;
  height: auto;
  padding: 12px 16px;
}

.title {
  font-weight: 900;
  font-size: 24px;
  color: var(--text-color);
  position: relative;
  line-height: 1.17;
  margin: 0 0 8px 0;
}

.secondary-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.17;
  color: var(--text-color);
  margin-bottom: 11px;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.price {
  font-weight: 300;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 24px;
}

.on-sale-price {
  color: var(--text-color-on-sale);
}

.retail-price {
  margin-right: 7px;
  text-decoration: line-through;
}

.cart-actions {
  margin-bottom: 50px;
}

.description {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.description-list {
  font-size: 14px;
}

.one-click-checkout {
  margin-top: 8px;
}

.facets {
  margin-bottom: 30px;
}

@media (--medium) {
  .price {
    font-size: 22px;
  }
}

@media (--large) {
  .gallery {
    width: 596px;
    flex: none;
  }

  .details {
    flex: 1;
    padding: 12px 31px;
  }

  .title {
    font-size: 41px;
    letter-spacing: 2.7px;
  }
}

@media (--medium-only) {
  .items-title-wrap {
    justify-content: space-around;
  }

  .item-title {
    width: 33%;
    margin: 0 4px;
    display: flex;
    justify-content: center;
  }
}

@media (--large) {
  .container {
    lost-column: 6/8;
    lost-offset: -1/8;
  }

  .breadcrumbs {
    margin-bottom: 24px;
  }

  .title {
    margin: 0 0 12px 0;
  }

  .cart-actions {
    margin-bottom: 90px;
  }

}

.not-found {
  composes: not-found from '../../components/products-list/products-list.css';
}

