@import "variables.css";
@import "media-queries.css";
@import "colors.css";

.catalog {
  overflow: auto;
  padding-bottom: 70px;
  margin-top: 50px;
}

.crumbs {
  composes: inner-wrap from 'ui/css/layout.css';
  lost-column: 11/12;
  lost-offset: -0.5/12;
  display: flex;
}

.products-error {
  composes: inner-wrap from 'ui/css/layout.css';
  lost-column: 11/12;
  lost-offset: -0.5/12;
  display: flex;
}

.title {
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--text-color);
  min-height: 50px;
  margin-top: 24px;
  margin-bottom: 42px;

}

.header {}

@media (--small-only) {
  .catalog {
    padding-bottom: 30px;
    lost-column: 11/12;
    lost-offset: -0.5/12;
  }

  .title {
    font-size: 24px;
  }

  .header {
    lost-column: 11/12;
    lost-offset: -0.5/12;
  }
}

.facetted-container {
}

.sidebar{
    float: left;
    width: 50%;
}

.content{
    margin-top: 135px;
    float: right;
    width: 50%;
}

@media ( --medium ) { 
    .sidebar{
        width: 40%;
        padding-left: 5%;
    }

    .content{
        width: 60%;
    }
}

@media ( --large ) { 
    .sidebar{
        width: 20%;
        padding-left: 8%;
    }

    .content{
        width: 80%;
    }
}
