@import "variables.css";
@import "media-queries.css";
@import "colors.css";

.catalog {
  padding-bottom: 70px;
  margin-top: 40px;
}

.crumbs {
  display: flex;
}

.products-error {
  display: flex;
}

.title {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.25;
  color: var(--text-color);
  min-height: 50px;
  margin-top: 24px;
  margin-bottom: 42px;
  cursor: default;
}

@media (--small-only) {

  .title {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.25;
    color: var(--text-color);
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 0;

  }
}

.header {}

.facetted-container {
  display: flex;
  align-items: flex-start;;
  justify-content: space-between;
  lost-column: 10/11;
  lost-offset: -1/11;
}

.facetted-container-mobile {
}

.sidebar-mobile {
  width: 100%;
  display: none;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-mobile-facets {
  padding-top: 30px;
}

.sidebar-mobile-checkbox {
  display: none;
}

.sidebar-mobile-filter-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 49px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-mobile-footer {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 44px;
  background-color: #0b7ddc;
  background-color: var(--water-blue);
  text-align: center;
  left: 0px;
  bottom: 0px;
}

.sidebar-mobile-filters {
  cursor: pointer;
  width: 37px;
  height: 17px;
  font-size: 14px;
  color: #222222;
}

.sidebar-mobile-apply {
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  line-height: 2.75;
  text-align: center;
  color: #ffffff;
  color: var(--white);
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.sidebar-mobile-close {
  cursor: pointer;
  width: 35px;
  height: 17px;
  font-size: 14px;
  text-align: right;
  color: #0b7ddc;
  color: var(--water-blue);
}

.content-mobile {
  width: 100%;
}

.sidebar-mobile-checkbox:checked ~ .sidebar-mobile {
  display:inline;
}

.sidebar-mobile-checkbox:checked ~ .content-mobile {
  display:none;
}

.sidebar{
  float: left;
  width: 50%;
}

.content{
  float: right;
  width: 50%;
  padding-top: 135px;
}

@media (--small-only) {
  .facetted-container {
    display: none;
  }

  .catalog {
    margin-top: 16px;
    padding-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .title {
    font-size: 24px;
  }

  .header {
    lost-column: 11/12;
    lost-offset: -0.5/12;
  }
}

@media ( --medium-only ) {
  .facetted-container-mobile {
    display: none;
    padding-top: 0;
  }

  .sidebar {
    lost-column: 4/11;
  }

  .content {
    lost-column: 7/11;
  }
}

@media ( --large ) {
  .facetted-container-mobile {
    display: none;
  }

  .sidebar {
    lost-column: 2/11;
  }

  .content {
  lost-column: 9/11;
  }
}
