@import "variables";
@import "media-queries";
@import "colors";

.catalog {
  overflow: auto;
  padding-bottom: 70px;
  margin-top: 50px;
}

.crumbs {
  composes: inner-wrap from 'ui/css/layout.css';
  display: flex;
}

.title {
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #222222;
  min-height: 50px;
  composes: inner-wrap from 'ui/css/layout.css';

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 93px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    background-color: var(--whitish);
  }
}

@media (--small-only) {
  .catalog {
    padding-bottom: 30px;
    lost-column: 11/12;
    lost-offset: -0.5/12;
  }

  .title {
    font-size: 24px;
  }
}
