.modal {
  min-width: 780px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d9d9d9;
  padding: 18px 20px 17px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.title {
}

.close {
  font-size: 24px;
  transition: opacity .2s;

  &:hover {
    opacity: .6;
  }
}

.body {
  padding: 20px;
}
