[Service]
WorkingDirectory=/usr/share
ExecStart=/usr/local/bin/run_consul_agent.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=consul_agent
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target
