@import 'common.css';
@import 'colors.css';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 286px;
  height: 286px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  cursor: pointer;

  & img {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  @media (min-resolution: 120dpi) {
    border-width: 0.5px;
  }

  &.loading::after,
  &.failed::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @apply --loading-caramel;
  }

  &.failed:not(.loading)::after {
    animation: none;
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
<<<<<<< HEAD
  height: 100%;
  background: rgba(37, 51, 74, 0.86);
  transition: opacity .3s;
  opacity: 0;

  & i {
    color: #fff;
=======
  background: var(--bg-nav-main);
  opacity: .86;
  text-align: right;
  transition: transform .32s cubic-bezier(0.4, 0, 0.2, 1);

  &.actionsVisible {
    transform: translateY(-100%);
  }

  & i {
    color: var(--color-light-text);
    opacity: .76;
>>>>>>> origin/master
    font-size: 18px;
    margin: 23px 10px;

    &:hover {
      color: var(--green);
    }
  }
<<<<<<< HEAD

  .card:hover & {
    opacity: 1;
  }
=======
}

.description {
  position: relative;
  padding: 18px;
  max-width: 300px;
  background-color: var(--bg-white);
}

._loading {
  @apply --loading-caramel;
}

.title {
  width: 250px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.secondaryTitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-additional-text);
}
>>>>>>> origin/master

  .card.disabled &,
  .card.loading & {
    opacity: 0;
    pointer-events: none;
  }

  .card.failed & {
    display: none;
  }
}
