@import "colors.css";
@import "common.css";

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 286px;
  height: 286px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  cursor: pointer;

  & img {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  @media (min-resolution: 120dpi) {
    border-width: 0.5px;
  }

  &.loading::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @apply --loading-caramel;
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 51, 74, 0.86);
  transition: opacity .3s;
  opacity: 0;

  & i {
    color: #fff;
    font-size: 18px;
    margin: 23px 10px;

    &:hover {
      color: var(--green);
    }
  }

  .card:hover & {
    opacity: 1;
  }

  .card.disabled &,
  .card.loading & {
    opacity: 0;
    pointer-events: none;
  }
}

.icon {
  position: absolute;
  font-size: 70px;
  color: red;
}
