[Service]
WorkingDirectory=/usr/local/share
ExecStart=/usr/local/bin/consul-template -config {{consul_data_dir}}/consul_template.conf
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=consul_template

[Install]
WantedBy=multi-user.target

[Unit]
Requires=consul_agent.service
After=consul_agent.service
