
@import "media-queries";

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 0;
}

@media (--medium-viewport) {
  .catalog {
    margin: 40px 0 80px;
  }
}

@media (--small-viewport) {
  .catalog {
    margin: 40px 0;
  }
}
