.text-field {
  margin: 10px 0;

  & input:matches([type=text], [type=password], [type=number], [type=tel]) {
    width: 100%;
    border-color: var(--input-border-color);

    &:hover {
      border-color: var(--input-active-border-color);
    }

    &:focus {
      border-color: var(--input-active-border-color);
      background: var(--input-background);
    }
  }
}
