[Service]
WorkingDirectory=/usr/local/share
ExecStart=/usr/bin/kafka-server-start /etc/kafka/server.properties
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kafka
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target
