.userForm {
  lost-flex-container: row;

  & :global(.initials) {
    font-size: 36px;
  }

  & :global(.fc-button) {
    width: auto;
  }
}

.main {
  lost-column: 8/12;
}

.aside {
  lost-column: 4/12;

  & :global(.fc-content-box:not(:last-child)) {
    margin-bottom: 20px;
  }
}

.roles {
  margin-top: 20px;
}
