.userForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & :global(.initials) {
    font-size: 36px;
  }

  & :global(.fc-button) {
    width: auto;
  }
}

.main {
  width: calc(67% - 1.85%);
  margin-right: 1.85%;
  min-width: 400px;
}

.aside {
  width: 33%;
  min-width: 200px;

  & :global(.fc-content-box:not(:last-child)) {
    margin-bottom: 20px;
  }
}
