@import "colors.css";
@import "media-queries.css";

:root {
  --button-bg: var(--water-blue);
  --button-fg: var(--whitish);
  --button-hover-bg: #19ccb1; /* TODO: it's random color, replace it after Stephen make colors for various states */
  --button-disabled-bg: var(--blackish);
}

.button {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-default-color);
  color: var(--button-label-color);
  text-align: center;
  cursor: pointer;

  &:active {
    background: var(--button-active-color);
  }

  &:visited {
    background: var(--button-visited-color);
  }

  &:hover, &:focus {
    border: 1px solid var(--focus-color);
    background: var(--button-focus-color);
  }

  & > span {
    vertical-align: middle;
  }

  & > :global(.icon) {
    vertical-align: middle;
    margin-right: 0.3em;
  }

  &:disabled {
    color: #eee;
    background: var(--button-disabled-color);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.button-loading {
  composes: button;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAF/VASP8AAABBSURBVHheZckxFYAgFADA8zkwYgMr2MBKNpBoRCHCHxl4YADnsxymy/DoQmyh7aGmUHJwBnfjraxiW+yTNMj9xx9ZVxpfjbpEWgAAAABJRU5ErkJggg==);
  animation: caramel .5s linear infinite;

  &:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAF/VASP8AAABBSURBVHheZckxFYAgFADA8zkwYgMr2MBKNpBoRCHCHxl4YADnsxymy/DoQmyh7aGmUHJwBnfjraxiW+yTNMj9xx9ZVxpfjbpEWgAAAABJRU5ErkJggg==);
    animation: caramel .5s linear infinite;
  }

  &:disabled {
    background: var(--button-disabled-color);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAF/VASP8AAABBSURBVHheZckxFYAgFADA8zkwYgMr2MBKNpBoRCHCHxl4YADnsxymy/DoQmyh7aGmUHJwBnfjraxiW+yTNMj9xx9ZVxpfjbpEWgAAAABJRU5ErkJggg==);
    animation: caramel .5s linear infinite;

    &:hover {
      color: var(--button-disabled-color);
      cursor: not-allowed;
    }
  }
}


.button-secondary {
  min-width: 11.2em;
  height: 3.1em;
  background: var(--button-alt-default-color);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  color: #212121;

  &:active {
    background: var(--button-alt-active-color);
  }

  &:hover, &:focus {
    background: var(--button-alt-default-color);
    color: var(--button-label-color);
  }
}

@media (--small-only) {
  .button {
    line-height: 16px;
    padding: 11px 6px;
  }
}

@keyframes caramel {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 20px 0;
  }
}
