@import "colors.css";
@import "media-queries.css";

.text-input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 12px 11px 5px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #bbbbbb;
  color: #000;
  box-shadow: none;

  &:focus {
    border-color: #525252;
  }

  &::-webkit-input-placeholder { color: var(--input-placeholder-color); }
  &::-moz-placeholder { color: var(--input-placeholder-color); }
  &:-moz-placeholder { color: var(--input-placeholder-color); }
  &:-ms-input-placeholder { color: var(--input-placeholder-color); }
}

.input-with-label {
  position: relative;
}

.label {
  --line-height: 20px;
  position: absolute;
  right: 6px;
  line-height: var(--line-height);
  top: calc(50% - var(--line-height) / 2);
  font-size: 10px;
}

