[Service]
WorkingDirectory=/usr/local/share
ExecStart=/usr/share/zookeeper/bin/zkServer.sh start-foreground
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zookeeper
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target

{% if is_appliance %}
[Unit]
Requires=consul_agent.service
After=consul_agent.service
{% endif %}
