
@import "media-queries.css";
@import "variables.css";
@import "colors.css";
@import "icons.css";

html, body {
  font-size: 16px;
}

@media (--small-viewport) {
  html, body {
    font-size: 14px;
  }
}

/* set up default color for links */
a {
  color: var(--blackish);
  transition: all 300ms;
}

button {
  transition: all 300ms;
}

.site {
  lost-flex-container: row;
  color: var(--blackish);
}

button {
  padding: 0;
  border: 0;
  background: none;
}
