
.modal-enter,
.modal-appear {
  opacity: .01;

  &-active {
    transition: opacity .12s;
    opacity: 1;
  }
}

.modal-leave {
  opacity: 1;

  &-active {
    transition: opacity .1s;
    opacity: .01;
  }
}

@keyframes caramel {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 20px 0;
  }
}
