.fc-big-checkbox__visible-box {
  &:hover {
    cursor: pointer;
  }

  &._checked {
    background: @color-nav-main;
    border: 2px solid @color-nav-main;
    border-radius: 3px;

    &:before {
      .font-spec(24px, 400, 36px);
      .padding-left(4px);
      font-family: "fontello";
      content: "\e827";
      color: @color-white;
    }
  }
}
