.fc-choose-customer-row {
  &._inactive {
    .fc-table-td {
      color: @color-additional-text;
    }

    &:hover {
      .fc-table-td {
        background: @bg-white;
        cursor: default;
      }
    }
  }

  &:hover {
    .fc-table-td {
      background: @bg-grey-headers;
      cursor: pointer;
    }
  }
}
