.fc-live-search {
  .fc-pilled-input__controls-container {
    .fc-button-with-menu__left-button,
    .fc-button-with-menu__right-button {
      &:hover {
        color: @color-nav-main;

      }

      &._disabled,
      &:disabled {
        background-color: transparent;
        color: @color-decor7;
        cursor: default;
      }
    }
  }
}
