.fc-pilled-input {
  &:not(._disabled) {
    .fc-pilled-input__input-container {
      &:hover {
        border: 1px solid @color-decor29;
      }
    }

    .fc-pilled-input__pill-value._clickable:hover {
      cursor: pointer;
      background-color: @color-decor62;
    }

    .fc-pilled-input__pill-close {
      &:hover {
        background-color: @color-decor62;
      }
    }
  }

  &._active,
  &._active:hover {
    .fc-pilled-input__input-container {
      border: 1px solid @color-decor29;
    }
  }

  .fc-pilled-input__icon-wrapper._clickable {
    cursor: pointer;
  }

  &._disabled {
    .fc-pilled-input__pill {
      background: @color-decor4;
      color: @color-decor0;
      cursor: default;
      transition: all .1s;
    }

    .fc-pilled-input__icon-wrapper {
      color: @color-decor7;
      cursor: default;
    }

    .fc-pilled-input__input-field {
      .placeholder({ color: @color-decor7 });
    }
  }

  &__controls-container {
    ._disabled,
    :disabled {
      color: @color-decor7;
      cursor: default;
    }
  }
}
