.fc-pilled-input {
  &:not(._disabled) {
    .fc-pilled-input__input-container {
      &:hover {
        border: 1px solid @bg-message-success;
      }
    }
  }

  &._active,
  &._active:hover {
    .fc-pilled-input__input-container {
      border: 1px solid @bg-message-success;
    }
  }

  .fc-pilled-input__icon-wrapper._clickable {
    cursor: pointer;
  }

  &._disabled {
    .fc-pilled-input__icon-wrapper {
      color: @color-additional-text;
      cursor: default;
    }

    .fc-pilled-input__input-field {
      .placeholder({ color: @color-additional-text });
    }
  }

  &__controls-container {
    ._disabled,
    :disabled {
      color: @color-additional-text;
      cursor: default;
    }
  }
}
