.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 286px;
  border: 3px dashed #ced2d5;
  margin-left: -5px;
  margin-right: -5px;
  padding: 0 3px;
  cursor: copy;

  transition: border .3s;

  &.dragActive {
    border: 3px dashed #49cac2;
  }
}

.input {
  display: none;
}
