@import "colors.css";
@import "media-queries.css";

.select-box {
  position: relative;
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
  &:active {
    border: solid 3px var(--input-active-border-color);
    margin: -1px -3px -1px -1px;
  }
}
.select-box select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url('/images/symbols/caret-down.svg') center right no-repeat;
   background-position-x: 35px;
}

.state-select-box {
  composes: select-box;
}

.select {
  background: var(--input-background);
  height: 24px;
  width: 50px;
  font-size: 12px;
  color: var(--text-color);
  padding: 0 10px;
  border-width: 0;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.state-select {
  composes: select;
  background: var(--select-active-background);
}
