@import "colors.css";
@import "media-queries.css";

.select-box {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  &:hover {
    border: solid 3px #b6d7ff;
  }
}
.select-box select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url('/images/symbols/caret-down.svg') center right no-repeat;
   background-position-x: 35px;
}

.state-select-box {
  composes: select-box;
}

.select {
  background: #fff;
  height: 24px;
  width: 50px;
  font-size: 12px;
  color: #222;
  padding: 0 10px;
  border-width: 0;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.state-select {
  composes: select;
  background: #f4f4f4;
}
