[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/consul-template -config {{consul_data_dir}}/tgt_consul_template.conf
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tgt_consul_template
TimeoutStartSec=30
RestartSec=5

[Install]
WantedBy=multi-user.target
