upstream onboarding_service {
  << range service "onboarding_service" >> server << .Address >>:<< .Port >> max_fails=10 fail_timeout=30s weight=1;
  << else >> server {{onboarding_service_server}} fail_timeout=30s max_fails=10; << end >>
}

upstream onboarding-ui {
  << range service "onboarding-ui" >> server << .Address >>:<< .Port >> max_fails=10 fail_timeout=30s weight=1;
  << else >> server {{onboarding_service_ui_server}} fail_timeout=30s max_fails=10; << end >>
}

upstream product-search {
  << range service "product-search" >> server << .Address >>:<< .Port >> max_fails=10 fail_timeout=30s weight=1;
  << else >> server {{product_search_server}} fail_timeout=30s max_fails=10; << end >>
}
