.viewers {
  background: #f1f1f2;
  .padding-top(10px);
  .padding-bottom(10px);
  .padding-left(10px);

  li {
    cursor: default;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    .size(45px);
    .font-spec(22px, 45px);
    .margin-right(10px);

    &:nth-child(1) { background-color: #db9a6e;}
    &:nth-child(2) { background-color: #d3fe64;}
    &:nth-child(3) { background-color: #5271b2;}
    &:nth-child(4) { background-color: #48c406;}
    &:nth-child(5) { background-color: #9f33a7;}
    &:nth-child(6) { background-color: #8ea973;}
  }
}
