@import "colors.css";

.facets {
    width: 250px;
    padding-top: 100px;
    padding-left: 50px;
}

.facet {
    margin-bottom: 22px;
}

.facet h2 {
    width: 54px;
    height: 20px;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.25;
    color: var(--blackish);
}

.checkbox-facet {
}

.circle-facet {
    display: flex;
    flex-wrap: wrap;
}

.color-facet {
    display: flex;
    flex-wrap: wrap;
}
