---

- name: Kill Bottledwater
  shell: systemctl stop bottledwater_phoenix || true
  sudo: true

- name: Kill Materialized Views
  shell: systemctl stop materialized_views || true
  sudo: true

- name: Restart Postgres
  service: name=postgresql state=restarted
  sudo: true

- name: Create Phoenix Directory
  file: path={{phoenix_dir}} state=directory owner="{{user}}"
  sudo: true

- name: Synchronize Phoenix SQL
  synchronize: src="{{phoenix_src}}/sql" dest="{{phoenix_dir}}" delete=yes recursive=yes
  sudo: true

- name: Delete Phoenix Log Directory
  file: path="{{phoenix_dir}}/log" state=absent
  sudo: true

- name: Create Phoenix Log Directory
  file: path="{{phoenix_dir}}/log" state=directory owner="{{user}}"  mode="0777"
  sudo: true

- name: Setup Flyway Config
  template: src=flyway.conf dest="{{phoenix_dir}}/sql/flyway.conf" mode="u+x,g+x,o+x"
  sudo: true

- name: Clean Phoenix Database
  shell: sudo -u root FLYWAY_HOME={{flyway_dir}} {{flyway}} clean
  args:
    chdir: "{{phoenix_dir}}"

- name: Migrate Phoenix Database
  shell: sudo -u root FLYWAY_HOME={{flyway_dir}} {{flyway}} migrate
  args:
    chdir: "{{phoenix_dir}}"

- name: Reload Systemd for Materialized Views
  sudo: yes
  command: systemctl daemon-reload

- name: Start Materialized Views Service
  service: name=materialized_views state=started enabled=yes sleep=5
  sudo: true

- name: Start Bottledwater
  service: name=bottledwater_phoenix state=started enabled=yes sleep=10
  sudo: true
