@import "variables";

.search-title {
  margin: 35px 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;

}

.label {
  text-transform: lowercase;
}

.term {
  margin-left: .5em;
  font-family: var(--font-playfair);
  text-transform: uppercase;
  font-weight: 300;
}