{
  "ecmaFeatures": {
    "defaultParams": true,
    "classes": true,
    "experimentalObjectRestSpread": true,
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2,
    "strict": 0
  },
  "parser": "babel-eslint"
}