# IDE artifacts
.idea/
.vscode/
*.iml
*.swp
*~

# Local Build Artifacts
.vault_pass
.env.local
.DS_Store

# Keys
ashes/public_key.pem
/foxcomm-staging.json

# Logs
*.log

# goldrush files
goldrush.cfg
goldrush.state

*.sublime*

# Installed via script
utils/scalafmt/coursier

