# IDE artifacts
.idea/
.vscode/
*.iml
*.swp

# Local Build Artifacts
.vagrant/
.vault_pass
.env.local
.DS_Store

# Keys
ashes/public_key.pem
.env.local
/foxcomm-staging.json

# Logs
*.log

# target folder
target/

# Consumers
consumers/product-index/product-index-consumer
consumers/product-index/vendor/
middlewarehouse/consumers/shipstation/shipstation-consumer

# goldrush files
goldrush.state
