@import 'colors.css';

.main {
  margin-bottom: 20px;
  padding: 20px;
  background: var(--bg-grey-headers);
  border: 1px solid var(--color-border);
}

.header {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.text {
  flex-grow: 0;
}

.icon {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 5px;
  background: transparent;
  border: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 5px;
  margin-bottom: 10px;
}

.text-input {
  margin-bottom: 10px;
  width: 100%;
}

.empty-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 10px;
  color: var(--color-additional-text);
}
