.add-icon {
  font-size: 15px;
}

.dialog-subtitle {
  font-weight: 600;
}

.add-dialog {
  width: 600px;

  & :global(.fc-checkbox__label) {
    line-height: 29px;
  }
}

.dialog-items {
  & > li {
    padding: 7px 0;
  }
}
