.upload {
  transition: border-color .3s;

  &._dragOverWindow {
    border: 3px dashed #9bc1ca;
    margin: -10px;
    padding: 7px;
  }

  &._dragOverArea {
    background-color: #e1f2ef;
  }

  &._empty {
    border: dashed 2px #ced2d5;
  }
}

.container {
  min-height: 300px;

  ._dragOverArea & {
    opacity: 0.3;
    pointer-events: none;
  }

  ._empty & {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  ._disabled & {
    cursor: no-drop;
  }
}

.empty {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #dadddf;

  & i {
    display: block;
    font-size: 96px;
    line-height: .8;
    color: #e3e5e7;
  }
}

.input {
  display: none;
}
