.upload {
  transition: border-color .3s;
  margin: -15px -5px;

  &:global(._empty) {
    border: 3px dashed #CED2D5;
    padding: 15px 5px;
    margin: -18px 0;

    & .container {
      min-height: 372px;
    }
  }

  &:global(._dragPossible) {
    border: 3px dashed #9bc1ca;
  }

  &:global(._dragActive) {
    border: 3px dashed #49C2CA;
  }

  &:global(._disabled) {
    & .container {
      cursor: no-drop;
    }
  }

  &:global(._empty) .container {
    display: flex;
    align-items: center;
  }

  & .drag-label {
    margin: 10px 0;
  }
}

.container {
}

.empty {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #E6E8EA;
  display: flex;
  flex-direction: column;

  & i {
    display: block;
    font-size: 96px;
    line-height: .8;
  }

  & :global(.fc-btn) {
    margin-top: 15px;
  }
}

.input {
  display: none;
}
