@import 'colors.css';

.upload {
  transition: border-color 0.3s;
  padding: 15px 5px;
  margin: -15px -5px;

  &:global(._empty) {
    border: 3px dashed var(--bg-grey-buttons);
    margin: -18px -8px;
  }

  &:global(._dragPossible) {
    border: 3px dashed var(--bg-message-success);
    margin: -18px -8px;
  }

  &:global(._dragActive) {
    border: 3px dashed var(--color-link);
    margin: -18px -8px;
  }

  &:global(._disabled) {
    & .container {
      cursor: no-drop;
    }
  }

  &:global(._empty) .container {
    display: flex;
    align-items: center;
  }
}

.container {
  min-height: 420px;
}

.empty {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: var(--color-additional-text);
  opacity: 0.5;

  & i {
    display: block;
    font-size: 96px;
    line-height: 0.8;
  }
}

.input {
  display: none;
}
