@import "colors.css";

.block {
  position: relative;
  border-bottom: 2px solid var(--nav-item-underline);
  margin: 20px 1.85%; /* because of grid system :( */
}

.item {
  font-size: 14px;
  color: #484848;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px -2px 0;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #121212;
  }

  & a,
  & a:visited {
    display: inline-block;
    color: inherit;
    padding: 0px 20px;
    padding-bottom: 10px;
  }

  & a:hover {
    cursor: pointer;
  }
}

.selected {
  margin-bottom: -2px;
  border-bottom: 2px solid #3a4350;

  &:hover {
    border-bottom: 2px solid #3a4350;
  }

  & > a,
  & > a:visited {
    border-bottom: 2px solid var(--nav-item-underline-active);
  }
}

.parent {
  position: relative;

  & > a,
  & > a:visited {
    & i {
      padding-left: 10px;
    }
  }
}

.parent:hover {
  & ul {
    display: block;
  }
}

.dropdown {
  z-index: 1;
  display: none;
  position: absolute;
  min-width: 150px;
  background: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: 3px;
}

.dropdown .item {
  color: #484848;
  width: 100%;
  margin: 0;
}

.dropdown .item:hover {
  background: var(--dd-item-bg-active);
}

.dropdown .item a {
  display: block;
  line-height: 44px;
  padding: 0 20px;
}

.dropdown .item a:hover {
  color: #484848;
}
