.delivery {
  composes: checkout-block from '../checkout.css';
}

.shipping-method {
  margin: 0 0 15px;
  display: flex;
  text-transform: uppercase;

  & > div:first-child {
    flex-grow: 1;
  }
}

.price {
  font-weight: 300;
}

.selected {
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;

  & .name {
    margin-bottom: 10px;
    font-weight: 300;
  }

  & .price {
    font-weight: 500;
  }
}

@media (--large) {
  .shipping-method,
  .selected {
    font-size: 15px;
  }
}
