@import "colors.css";

.title {
  font-size: 19px;
  font-weight: 900;
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.action-link-delivery {
  composes: action-link from "ui/action-link/action-link.css";
  font-size: 16px;
  margin-right: 16px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 15px;

  & .method {
    line-height: 1.33;
    color: var(--text-color);
  }

  & .cost {
    font-weight: 900;
    line-height: 1.33;
    color: var(--text-color);
  }
}

.shipping-methods {
  padding: 15px 10px 15px 15px;
}

.shipping-method {

}
