@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import 'base.css';
@import 'variables.css';

:global {
  #app {
    [class*=para-], [class*=a-], [class*=button-] {
      font-family: 'Open Sans', sans-serif;
    }

    h1.root-0-10 {
      border-bottom: 1px solid #d8d8d8;

      a[class*=isPrimary-] {
        display: inline-block;
        padding: 10px 0;
        font-size: 12px;
        font-weight: 600;
        color: #aaa;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    h1 [class*=heading-], h2 [class*=heading-], h3 [class*=heading-], [class*=h3] {
      font-family: Raleway, sans-serif;
    }

    h1 [class*=heading-], h2 [class*=heading-], [class*=h1-], [class*=h2-] {
      font-weight: 300;
    }

    background: #f7f7f7;
    font: var(--font-body);

    [class*=root-] {
      background: #f7f7f7;

      & > [class*=toolbar-] {
        display: none;
      }
    }

    .version {
      font-size: 12px;
      color: var(--color-subtitle-text) !important;
      text-align: center;
      margin-top: -10px;
    }

    .sidebar-0-4 {
      width: 260px;
      border-color: var(--color-border);

      [class*=root-] {
        [class*=search-] {
          padding: 0 16px 8px;
        }

        & > [class^=list-] > [class*=item-] > [class*=heading-] {
          color: #aaa;
        }

        *, input::placeholder {
          font-size: 10px;
          line-height: 20px;
        }

        input {
          padding: 2px 8px;
        }

        [class*=heading-], [class*=para-], [class*=a-], [class*=button-] {
          font-weight: 600;
        }

        & > div > div > ul > li > a {
          color: #aaa !important;
        }
      }

      ul[class^=list-] {
        padding-left: 0;
      }

      li[class*=item-] {
        position: relative;
        overflow: visible;
        padding-left: 16px;

        &::before {
          content: '';
          position: absolute;
          left: -100%;
          right: 0;
          top: 0;
          bottom: 0;
          background: #eee;
          opacity: 0;
          transition: all .5s;
        }

        &[class*=activeParent-]:before {
          opacity: 1;
        }

        &[class*=isActive-] {
          [class*=link-] {
            color: #fff;

            &::before {
              opacity: 1;
            }
          }
        }

        &[class*=isChild-] {
          &:last-child {
            padding-bottom: 5px;
          }

          [class*=link-] {
            font-weight: 400;
          }
        }
      }

      [class*=link-] {
        position: relative;
        display: inline-block;
        color: #666;
        font-weight: 600;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          width: calc(100% + 20px);
          height: 100%;
          margin-left: -10px;
          border-radius: 100px;
          background-color: #49cab9;
          color: #fff;
          opacity: 0;
          z-index: -1;
          transition: all .2s;
        }
      }
    }

    .demo > * {
      margin-bottom: 10px;
    }

    .demo-inline > * {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    .hash {
      font-weight: bold;
    }

    .logo-0-5 {
      border: none;
    }

    .hasSidebar-0-2 {
      padding-left: 260px;
    }

    [class*=item-] {
      margin: 0;
    }

    .link-0-54, .link-0-54:link, .link-0-54:visited {
      display: block;
      padding: 6px 14px;
      color: #000;
      transition: color .2s;

      &:hover {
        color: #dc8027;
      }
    }

    .CodeMirror .CodeMirror-lines pre.CodeMirror-line {
      font-size: 12px;
      line-height: 16px;
    }

    .root-0-80 > ul.list-0-83 {
      padding-left: 16px;
    }

    a.link-0-54.heading-0-87 {
      font-size: 14px;
      font-weight: 600;
    }

    [class*=table-] [class*=cell-] {
      padding-bottom: 0;
      vertical-align: middle;

      [class*=para-] {
        font-size: 13px;
        margin-bottom: 0;
      }
    }

    [class*=tabButtons-] [class*=button-] {
      position: relative;
      font-size: 16px;
      color: #363636;
      text-transform: initial;
      outline: none;
      transition: all .2s;

      &::before {
        font-family: 'fontello';
        content: '\e805';
        position: absolute;
        top: 12px;
        left: -18px;
        font-size: 10px;
        transition: transform .2s ease-out;
      }

      &:hover {
        color: var(--color-additional-text);
      }

      &[class*=isActive-] {
        border: none;

        &::before {
          transform: rotateX(180deg);
        }
      }
    }

    [class*=para-] {
      font-size: 14px;

      a {
        color: var(--color-link);
        transition: all .2s;

        &:hover {
          opacity: .7;
        }
      }
    }

    h3[class*=para-], h4[class*=para-] {
      font-size: 16px;
    }

    [class*=pre-] {
      padding: 10px 16px;
      background-color: var(--bg-white);
      border: solid 1px var(--color-border);
      border-radius: 4px;
      font-size: 12px;

      & * {
        color: #666;
      }
    }

    [class*=preview-] {
      padding: 16px;
      background-color: var(--bg-white);
      border: solid 1px var(--color-border);
      border-bottom: none;
      border-radius: 4px 4px 0 0;
    }

    [class*=controls-] {
      padding: 9px 8px 8px 16px;
      background-color: var(--bg-white);
      border: solid 1px var(--color-border);
      border-top: none;
      border-radius: 0 0 4px 4px;

      button {
        padding: 4px 9px;
        border-radius: 2px;
        border: solid 1px var(--bg-green-buttons);
        font-size: 12px;
        color: var(--bg-green-buttons);
        text-transform: none;
        outline: none;
        transition: all .2s;

        &:hover, &[class*=isActive-] {
          background: var(--bg-green-buttons);
          color: var(--bg-white);
        }
      }

      a {
        color: var(--bg-green-buttons);
        transition: all .2s;

        &:hover {
          opacity: .7;
        }
      }
    }

    [class*=codeActive-] [class*=controls-] {
      border-radius: 0;
    }

    .ReactCodeMirror {
      background: #fafafa;
      border: solid 1px var(--color-border);
      border-top: none;
      border-radius: 0 0 4px 4px;
      font-size: 12px;

      & * {
        color: #666;
      }
    }

    @media (max-width: 600px) {
      .sidebar-0-4 {
        width: 100%;
      }

      .hasSidebar-0-2 {
        padding-left: 0;
      }

      [class*=isChild-] {
        display: block;
      }
    }
  }
}
