@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import '../src/less/base.less';

#app {

  .demo > * {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .version {
    font-size: 12px;
    color: #777;
    text-align: center;
  }

  .hash {
    font-weight: bold;
  }

  .logo-0-5 {
    border: none;
  }

  .sidebar-0-4 {
    width: 260px;
  }

  .hasSidebar-0-2 {
    padding-left: 260px;
  }

  [class^=item-] {
    margin: 0;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 14px;
  }

  .link-0-54, .link-0-54:link, .link-0-54:visited {
    display: block;
    padding: 6px 14px;
    color: #000;
    transition: color .2s;

    &:hover {
      color: #dc8027;
    }
  }

  [class*=heading-],
  [class*=para-] {
    font-family: Raleway, Helvetica, sans-serif;
  }

  .CodeMirror .CodeMirror-lines pre.CodeMirror-line {
    font-size: 12px;
    line-height: 16px;
  }

  ul[class^=list-] {
    padding-left: 12px;
  }

  .root-0-80 > ul.list-0-83 {
    padding-left: 16px;
  }

  a.link-0-54.heading-0-87 {
    font-size: 14px;
    font-weight: 600;
  }

  [class*=cellDesc-] [class*=para-] {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  @media (max-width: 600px) {
    .sidebar-0-4 {
      width: 100%;
    }

    .hasSidebar-0-2 {
      padding-left: 0;
    }

    [class*=isChild-] {
      display: block;
    }
  }

}
