@import '../src/less/base.less';

@font-face {
  font-family: "fontello";
  src: url('../public/admin/fonts/fontello/fontello.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.demo > * {
  margin-left: 10px;
  margin-bottom: 10px;
}

.dima {
  padding: 2345px;
}
