@import '../src/less/base.less';

.demo > * {
  margin-left: 10px;
  margin-bottom: 10px;
}

.CodeMirror .CodeMirror-lines pre.CodeMirror-line {
  font-size: 12px;
  line-height: 16px;
}

ul.list-0-84 {
  padding-left: 8px;
}

.root-0-80 > ul.list-0-84 {
  padding-left: 16px;
}

a.link-0-54.heading-0-87 {
  font-size: 14px;
  font-weight: 600;
}
