@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic);
@import 'fontello.css';
@import 'variables.css';

:global {
  #app {
    font: var(--font-body);
    /*background: url('caramel.png');*/

    .version {
      font-size: 12px;
      color: var(--color-subtitle-text) !important;
      text-align: center;
      margin-top: -10px;
    }

    .sidebar-0-4 {
      width: 260px;
      border-color: var(--color-border);

      .root-0-65 {
        .search-0-66 {
          padding: 0 16px 8px;
        }

        *,
        input::placeholder {
          font-size: 10px;
          line-height: 20px;
        }

        input {
          padding: 2px 8px;
        }

        [class^=link-] {
          color: #666;
        }

        [class*=heading-],
        [class*=para-] {
          font-weight: 600;
        }

        & > div > div > ul > li > a {
          color: #aaa !important;
        }
      }

      ul[class^=list-] {
        padding-left: 16px;

        ul[class^=list-] {
          padding-left: 12px;
        }
      }
    }

    a:active {
      color: red !important;
    }

    * {
      font-family: 'Open Sans' !important;
    }

    & > div > main {
      background: #f7f7f7;
    }

    .demo > * {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .demo-blocked > * {
      margin-bottom: 10px;
    }

    .hash {
      font-weight: bold;
    }

    .logo-0-5 {
      border: none;
    }



    .hasSidebar-0-2 {
      padding-left: 260px;
    }

    [class^=item-] {
      margin: 0;
    }

    .link-0-54, .link-0-54:link, .link-0-54:visited {
      display: block;
      padding: 6px 14px;
      color: #000;
      transition: color .2s;

      &:hover {
        color: #dc8027;
      }
    }

    .CodeMirror .CodeMirror-lines pre.CodeMirror-line {
      font-size: 12px;
      line-height: 16px;
    }

    .root-0-80 > ul.list-0-83 {
      padding-left: 16px;
    }

    a.link-0-54.heading-0-87 {
      font-size: 14px;
      font-weight: 600;
    }

    [class*=cellDesc-] [class*=para-] {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }

    [class*=preview-] {
      padding: 30px 16px 16px;
    }

    @media (max-width: 600px) {
      .sidebar-0-4 {
        width: 100%;
      }

      .hasSidebar-0-2 {
        padding-left: 0;
      }

      [class*=isChild-] {
        display: block;
      }
    }

  }
};

