@import 'common.css';
@import 'colors.css';

.spinner {
  margin: 10px auto;
}

.taxonomies {
  border: 1px solid var(--color-border);
  background-color: var(--bg-grey-headers);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

._loading {
  background: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @apply --loading-caramel;
  }
}

._loading::before {
  opacity: .2;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
}

.pill {
  margin: 5px;
}

.button {
  display: inline-flex;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
  font-size: 8px;
}

.button i {
  transition: transform .1s;
  transform: translateY(1px);
}

.taxonomies._open .button i {
  transform: translateY(1px) rotate(-45deg);
}

/********************************************************
 * Transitions
 ********************************************************/

.dropdownEnter, .dropdownLeave.dropdownLeaveActive {
  display: flex;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
}

.dropdownEnter.dropdownEnterActive, .dropdownLeave {
  height: 40px;
  transition: height .1s;
}

.pillEnter, .pillAppear, .pillLeave.pillLeaveActive {
  opacity: .1;
  transform: scale(.8);
}

.pillEnter.pillEnterActive, .pillAppear.pillAppearActive, .pillLeave {
  opacity: 1;
  transform: none;
  transition: all .2s ease-in-out;
}
