.waiting {
  margin: 10px auto;
}

.taxonomies {
  border: 1px solid #d9d9d9;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.taxonomies._open .button i {
  transform: rotate(-45deg);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pill {
  margin: 5px;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.button {
  display: inline-flex;
  margin-left: 5px;
  padding: 5px;
}

.button i {
  font-size: 8px;
  transition: transform .1s;
}
