@import 'common.css';
@import 'colors.css';

.stats {
  margin-bottom: 40px;
}

.loading {
  @apply --loading-caramel;

  & > * {
    opacity: .8;
  }
}

.periodsContainer {
  display: flex;
  margin-bottom: 20px;
}

.period {
  position: relative;
  flex: 1;
  line-height: 50px;
  background: var(--bg-grey-buttons);
  text-align: center;
  margin: 1px;

  & input[type=radio]:not(old) {
    & + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      line-height: 50px;
      cursor: pointer;
      transition: all .2s;

      &::before,
      &::after {
        content: none !important; /* @todo refactor radio and remove less */
      }
    }

    & + label:hover {
      background: var(--bg-grey-buttons);
    }

    &:checked {
      & + label {
        background: var(--bg-green-buttons);
        color: var(--color-light-text);
      }
    }
  }
}


.percent {
  display: block;
  font-size: 16px;
}
