* {
  outline: 0;
  box-sizing: border-box;
  &:before, &:after { box-sizing: border-box; }
}

html {
  font-size: 62.5%;
}

body {
  color: @color-body;
  font-family: 'Open Sans', sans-serif;
  .font-spec(@site_font-size);
}

hr {
  border: none;
  height: 0;
  background: none;
}

img {
  max-width: 100%;
}

