#!/bin/bash

export PHOENIX_URL=http://{{ phoenix_server }}
export NODE_ENV={{firebird_env}}
export DEMO_USER={{demo_user}}
export DEMO_PASS={{demo_pass}}
export PHOENIX_PUBLIC_KEY={{ public_keys_dest_dir }}/public_key.pem
export FIREBIRD_LANGUAGE={{firebird_language}}

cd {{ firebird_install_dir }}
gulp server
