
@import "variables.css";

.title {
  font-family: var(--font-playfair);
  font-weight: 400;
  font-size: 41px;
  color: #212121;
  letter-spacing: 2.7px;
  text-align: center;
  margin: 60px auto;

  &::after {
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    background-color: #3E3436;
    margin: 20px auto 0 auto;
  }
}

.content {
  composes: wrap from "ui/css/layout.css";
}
