<!doctype html>
<html>
  <head>
    <title>The Perfect Gourmet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/app.css" />
    <script>
      if (!window.Intl) {
        var head = document.getElementsByTagName('head')[0];
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = 'https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en';
        head.appendChild(s);
      }

      {{##def.gaSnippet:
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        const gaOpts = {{#def.gaEnableLocal ? "{'cookieDomain': 'none'}" : "'auto'" }};

        ga('create', '{{#def.gaTrackingId}}', gaOpts);
        ga('send', 'pageview');
      #}}

      {{##def.stubGa:
        ga = function() {};
      #}}

      {{#def.gaTrackingId && def.gaSnippet || def.stubGa }}

      function logError(message, fatal) {
        ga('send', 'exception', {
          exDescription: message,
          exFatal: fatal || false
        });
        ga('send', 'event', 'js_error', message);
      }

      window.onerror = function(errorMsg, url, lineNumber) {
        var msg = "Error: " + errorMsg + "\nurl: " + url + "\nlineNumber: " + lineNumber;
        logError(msg, true);
      };
      window.onunhandledrejection = function(event) {
        logError('Unhandled rejection - ' + event.reason);
      };

      var getHMTime = window.performance && performance.now ? function() {
        return performance.now()
      } : function() { return new Date().getTime(); };
      var headEndTime = getHMTime();

      if (window.performance) {
        window.onload = function() {
          /* see https://www.w3.org/TR/navigation-timing/#sec-window.performance-attribute */
          setTimeout(function() {
            var timing = performance.timing;
            ga('send', 'timing', 'Full page load', 'load_time', timing.loadEventEnd - timing.navigationStart);
            ga('send', 'timing', 'Dom processing', 'load_time', timing.loadEventStart - timing.domLoading);
          }, 0);
        }
      }
    </script>
    <script type="text/javascript">
      if (!window.Promise) {
        var head = document.getElementsByTagName('head')[0];
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = 'https://www.promisejs.org/polyfills/promise-7.0.4.min.js';
        head.appendChild(s);
      }
    </script>
    <script type="text/javascript">
      if (!String.prototype.repeat) {
        String.prototype.repeat = function(count) {
          'use strict';
          if (this == null) {
            throw new TypeError('can\'t convert ' + this + ' to object');
          }
          var str = '' + this;
          count = +count;
          if (count != count) {
            count = 0;
          }
          if (count < 0) {
            throw new RangeError('repeat count must be non-negative');
          }
          if (count == Infinity) {
            throw new RangeError('repeat count must be less than infinity');
          }
          count = Math.floor(count);
          if (str.length == 0 || count == 0) {
            return '';
          }
          if (str.length * count >= 1 << 28) {
            throw new RangeError('repeat count must not overflow maximum string size');
          }
          var rpt = '';
          for (;;) {
            if ((count & 1) == 1) {
              rpt += str;
            }
            count >>>= 1;
            if (count == 0) {
              break;
            }
            str += str;
          }
          return rpt;
        }
      }
    </script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Oy__ZhQZwQK4BHZPEP8Cv-L_QoIqCHg"
      type="text/javascript">
    </script>
  </head>
  <body>
    {{#def.fcSprite}}

    <div id="app">{{= it.html }}</div>

    <!-- its a Redux initial data -->
    <script charset="UTF-8">
      window.__data={{= it.state }};
      window.__i18n={{= it.i18n }};
      window.STRIPE_PUBLISHABLE_KEY = {{= it.stripeApiKey }};
      function makeXhr(a,b){return b=new XMLHttpRequest,b.open("GET",a),a=[],b.onreadystatechange=b.then=function(c,d,e,f){if(c&&c.call&&(a=[,c,d]),4==b.readyState&&(e=a[0|b.status/200])){try{f=JSON.parse(b.responseText)}catch(g){f=null}e(f,b)}},b.send(),b}
    </script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript">
      App.renderApp();
    </script>
  </body>
</html>
