[Service]
WorkingDirectory={{es_home}}
ExecStart=/usr/bin/env bash {{es_home}}/run_elasticsearch.sh {{es_path}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=elasticsearch
TimeoutStartSec=5m
RestartSec=10
User=elasticsearch
LimitNOFILE=65000

[Install]
WantedBy=multi-user.target
