.group {
  display: flex;
  justify-content: space-between;
  line-height: 36px;

  &:hover {
    & .name {
      color: #1a1a1a;
    }
  }
}

.name {
  font-size: 16px;
  font-weight: 600;
  color: #484848;
  transition: color .2s;

  & i {
    vertical-align: initial;
  }
}

.type {
  color: #999;
}

.label {
  margin-bottom: 15px;
}

.group-row {
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  font-size: 16px;
}
