---

- name: Update System Package Cache
  apt: update_cache=yes
  sudo: true

- name: Install Packages
  apt: name={{ item }} state=latest force=yes
  sudo: true
  with_items:
    - postgresql-server-dev-9.4
    - postgresql-9.4
    - postgresql-client-9.4
    - postgresql-contrib-9.4

- name: Copy Postgres Configuration
  copy: src={{item}} dest="/etc/postgresql/9.4/main/{{item}}" mode="644"
  sudo: true
  with_items:
      - postgresql.conf
      - pg_hba.conf

- name: Reload Systemd for Postgresql
  sudo: yes
  command: systemctl daemon-reload

- name: Restart Postgresql
  service: name=postgresql state=restarted sleep=5
  sudo: true

- name: Install Prerequisites for postgresql ansible module
  sudo: true
  apt: name={{item}} state=latest
  with_items:
    - libpq-dev
    - python-psycopg2

- name: Create Test Db
  postgresql_db: name={{phoenix_test_db_name}}
  sudo: true

- name: Configure Db Users
  postgresql_user: name={{item}} state=present role_attr_flags=SUPERUSER
  sudo: true
  with_items:
      - root
      - "{{user}}"
      - phoenix
