
@import "colors.css";

.has-error {
  & input,
  & textarea {
    border-color: var(--color-error) !important;
  }
}

.error {
  margin-top: 5px;
  color: var(--color-error);
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}
