---

- name: Copy Jar
  copy: src={{phoenix_jar_src}} dest={{phoenix_jar}} mode="u+x,g+x,o+x"
  sudo: true

- name: Copy Service
  template: src=phoenix.service dest="{{dest_services}}/phoenix.service" 
  sudo: true

- name: Setup Service
  service: name=phoenix state=started enabled=yes
  sudo: true
