@import 'variables.css';

.question-box-container-active {
  width: 225px;
  max-width: 225px;
  height: 179px;
  max-height: 179px;
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  text-align: center;
  cursor: pointer;
}

.question-box-container-inactive {
  width: 225px;
  max-width: 225px;
  height: 179px;
  max-height: 179px;
  background-color: var(--bg-grey-headers);
  border: 1px solid var(--color-border);
  text-align: center;
  cursor: pointer;
}

.question-box-title {
  margin-top: 30px;
  font-size: 13px;
}

.question-box-content {
  font-size: 30px;
  line-height: 41px;
  margin-top: 17px;
  color: var(--color-text);
}

.question-box-footer-display {
  margin-top: 19px;
}
