.question-box-container-active {
  width: 225px;
  max-width: 225px;
  height: 179px;
  max-height: 179px;
  background-color: #FFFFFF;
  border: 1px solid #9BA3A7;
  text-align: center;
  cursor: pointer;
}

.question-box-container-inactive {
  width: 225px;
  max-width: 225px;
  height: 179px;
  max-height: 179px;
  background-color: #F2F2F2;
  border: 1px solid #9BA3A7;
  text-align: center;
  cursor: pointer;
}

.question-box-title {
  margin-top: 30px;
  font-size: 13px;
}

.question-box-content {
  font-size: 30px;
  line-height: 41px;
  margin-top: 17px;
  color: #363636;
}

.question-box-footer-display {
  margin-top: 19px;
}

