@import 'colors.css';

.segment-control-container-active {
  width: 66px;
  max-width: 66px;
  height: 40px;
  max-height: 40px;
  background-color: var(--bg-grey-buttons);
  border: 1px solid var(--color-border);
  text-align: center;
  cursor: pointer;
  margin-top: 40px;
}

.segment-control-container-inactive, .segment-control-container-disabled {
  width: 66px;
  max-width: 66px;
  height: 40px;
  max-height: 40px;
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  text-align: center;
  cursor: pointer;
  margin-top: 40px;
}

.segment-control-container-disabled {
  cursor: not-allowed;
}

.segment-control-title {
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
}

.segment-control-container-disabled .segment-control-title {
  color: var(--color-additional-text);
}
