@import 'colors.css';

.column-selector {
  position: relative;
  width: 200px;
  min-width: 200px;
}

.control {
  padding: 0 10px;
}

.dropdown {
  & :global(.fc-dropdown__value) {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
  }

  & :global(.fc-dropdown__items) {
    min-width: 200px;
    max-height: 300px;
    overflow: auto;
  }

  &:global(._open) {
    & :global(.fc-dropdown__items) {
      display: flex;
      flex-direction: column;
    }
  }
}

.list {
  height: 100%;
  overflow: auto;

  & li {
    display: flex;
    font-size: 14px;
    line-height: 30px;
    background: var(--bg-white);

    &:hover {
      background: var(--bg-grey-headers);
    }
  }

  & :global(.icon-drag-drop) {
    padding: 7px 2px 7px 4px;
    font-size: 18px;
    cursor: move;
    color: var(--color-additional-text);
  }

  &:global(._hasDraggingItem) {
    & li:hover {
      background: var(--bg-white);
    }
  }

  & .checkbox {
    width: 100%;
    padding: 7px 10px;
  }
}

.actions {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 1px solid var(--color-border);
  padding-left: 10px;
  padding-right: 10px;

  & :global(.fc-btn-primary) {
    min-width: 178px;
  }
}

.isDragging {
  box-shadow: inset -1px 1px 6px rgba(0, 0, 0, 0.24);

  & :global(.icon-drag-drop) {
    opacity: 0;
  }
}
