@import 'variables.css';

.trend-button-container-gain {
  display: inline-block;
  background-color: var(--bg-green-buttons);
  border-radius: 24px;
}

.trend-button-container-loss {
  display: inline-block;
  background-color: var(--bg-field-error);
  border-radius: 24px;
}

.trend-button-container-steady {
  display: inline-block;
  background-color: var(--bg-grey-buttons);
  border-radius: 24px;
}

.trend-button-content-gain {
  display: inline-block;
  color: white;
  padding: 4px 12px;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
}

.trend-button-content-loss {
  display: inline-block;
  color: white;
  padding: 4px 12px;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
}

.trend-button-content-steady {
  display: inline-block;
  color: var(--color-text);
  padding: 4px 12px;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
}

.trend-button-arrow-up {
  margin-right: 5px;
}

.trend-button-arrow-down {
  margin-right: 5px;
  transform: rotate(180deg);
}
