.trend-button-container-gain {
  display: inline-block;
  background-color: #49CA8E;
  border-radius: 24px;
  height: 24px;
}

.trend-button-container-loss {
  display: inline-block;
  background-color: #F65554;
  border-radius: 24px;
  height: 24px;
}

.trend-button-container-steady {
  display: inline-block;
  background-color: #CED2D5;
  border-radius: 24px;
  height: 24px;
}

.trend-button-content-gain {
  display: inline-block;
  color: white;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 0;
  font-size: 12px;
  margin-top: 0;
}

.trend-button-content-loss {
  display: inline-block;
  color: white;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 0;
  font-size: 12px;
  margin-top: 0;
}

.trend-button-content-steady {
  display: inline-block;
  color: black;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 0;
  font-size: 12px;
  margin-top: 0;
}

.trend-button-arrow-up {
  margin-right: 5px;
}

.trend-button-arrow-down {
  margin-right: 5px;
  transform: rotate(180deg);
}