[Service]
WorkingDirectory=/usr/local/lib/zipkin
ExecStart=/usr/local/lib/zipkin/bin/collector
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zipkin_collector
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target
