.block._big .viewport {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;

  @media (max-width: 768px) {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

.viewport {
  display: flex;
  align-items: stretch;
}
