upstream firebird {
    server {{ firebird_server }} fail_timeout=15s;
}

server {
  # TODO(jpfuentes2): enable me when we have nginx + lua + HTTP2
  # listen 443 ssl http2 default_server;
  #ssl_certificate    server.crt;
  #ssl_certificate_key server.key;

  listen 80;
  listen [::]:80;

  index index.html;

  server_name {{firebird_server_name}};

  # variables

  # language
  set $accept_language {{firebird_default_language}};
  if ($http_accept_language) {
      set $accept_language $http_accept_language;
  }
  {% if firebird_fixed_language %}set $accept_language {{firebird_default_language}};{% endif %}

  # Proxy to firebird
  location / {
      root {{firebird_root_dir}};
      try_files $uri @firebird;
  }

  location @firebird {
      proxy_pass http://firebird;
  }

  include /etc/nginx/service_locations.conf;
}
