upstream firebrand {
  server {{ firebrand_server }} fail_timeout=15s;
}

server {
  # TODO(jpfuentes2): enable me when we have nginx + lua + HTTP2
  # listen 443 ssl http2 default_server;
  #ssl_certificate    server.crt;
  #ssl_certificate_key server.key;

  listen 80 default_server;
  listen [::]:80 default_server;

  index index.html;

  server_name {{firebrand_server_name}};


  # variables
  # language
  set $accept_language {{firebrand_default_language}};
  if ($http_accept_language) {
      set $accept_language $http_accept_language;
  }
  {% if firebrand_fixed_language %}set $accept_language {{firebrand_default_language}};{% endif %}

  # Proxy to firebrand
  location / {
      root {{firebrand_root_dir}};
      try_files $uri @firebrand;
  }

  location @firebrand {
      proxy_pass http://firebrand;
  }

  include /etc/nginx/service_locations.conf;

}
