upstream storefront {
  server {{storefront_server}} fail_timeout=10s max_fails=360;
}

upstream search {
    server {{search_server_http}} fail_timeout=30s;
}

upstream phoenix {
    server {{phoenix_server}} fail_timeout=30s;
}

upstream isaac {
    server {{isaac_server}} fail_timeout=30s;
}

upstream middlewarehouse {
    server {{middlewarehouse_server}} fail_timeout=30s;
}

upstream sol {
    server {{solomon_server}} fail_timeout=30s;
}

upstream ashes {
    server {{ashes_server}} fail_timeout=10s max_fails=360;
}

upstream marathon {
    server {{marathon_server}} fail_timeout=30s;
}
