.crumbs {
  display: flex;
}

.delimiter {
  font-size: 12px;
  color: #888888;
  margin: 2px 5px;
}

.link {
  text-decoration: none;
  color: #888888;
}

.item {
  font-size: 14px;
  color: #888888;
}
