.header {
  text-align: center;
  margin-bottom: 30px;
}

.title,
.legend {
  margin: 0;
  line-height: 36px;
}

.title {
  font-size: 28px;
}

.legend {
  margin: 20px 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}
