@import 'colors.css';

.dropdown {
  max-width: none;
}

.dropdown :global .fc-pilled-input {
  width: 100%;
}

.dropdown :global .fc-pilled-input__icon-wrapper {
  height: 38px;
}

.dropdown :global .fc-dropdown__item {
  font-weight: 600;
  color: var(--color-text);
}

.needle {
  color: var(--color-link);
}
