
@import "variables.css";

.body {
  margin: 0 var(--grid-margin);
}

.content {
  lost-flex-container: row;
  lost-utility: edit;
}

.picture {
  lost-offset: -1/11;
  lost-column: 5/11;

  height: 100px;
  background: #00aff0;
}

.text {
  lost-column: 4/11;
}

.grid {
  lost-flex-container: row;

  & > div {
    lost-column: 1/11;
    height: 100px;
    background: #55acee;
  }
}
