
@import "colors.css";
@import "media-queries.css";

.login-block {
  lost-column: 3/11;
  lost-offset: -4/11;

  & > * {
    width: 100%;
  }
}

@media (--small-viewport) {
  .login-block {
    lost-column: 1/1;
    lost-offset: 0;
  }
}

@media (--medium-viewport) {
  .login-block {
    lost-column: 5/11;
    lost-offset: -3/11;
  }
}

.form-field {
  width: 100%;
  margin-bottom: 15px;

  & > input {
    width: 100%;
  }
}

.form {
  & > * {
    width: 100%;
  }
}

.google-login {
  composes: button from "../../common/css/buttons.css";
  background-color: var(--redish);
  border: 1px solid color(var(--redish) blackness(+20%));
}

.title {

}
