
@import "colors.css";
@import "media-queries.css";

.login-block {
  lost-center: 455px;
  margin: 0 auto;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;

  & > input {
    width: 100%;
  }
}

.google-login {
  composes: button from "../../common/css/buttons.css";
  background-color: var(--redish);
  border: 1px solid color(var(--redish) blackness(+20%));
}

.title {

}
