.payment-method {
  i {
    .font-spec(35px);
    .margin-right(15px);
  }

  > div {
    display: inline-block;
    vertical-align: top;
    .font-spec(12px);
  }

  &-number {
    font-weight: 700;
  }
}
