
.fc-return-summary {
  .font-spec(14px, 31px);
  width: 100%;

  & > article {
    .padding-top(34px);
    .padding-bottom(50px);
  }

  dl {
    margin: 0;

    dt,
    dd {
      .width(50%);
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }

    dd { text-align: right; }
  }

  &-new-subtotal {
    font-weight: 700;
  }
}
