#new-gift-card {
  fieldset {
    .margin-bottom(10px);
  }
  #cardTypes {

  }

  #subTypes {

  }

  #balances {
    .margin-top(10px);
    a.btn {
      .margin-right(10px);
      .padding-left(5px);
      .padding-right(5px);
    }
  }

  input[name="quantity"] {
    .width(60px);
  }

  input[type="submit"] {
    .margin-left(25px);
  }

  input[type="number"] {
    &:invalid {
      border: 1px solid red;
    }
  }
  #customerSearch, #userSearch {
    .padding(15px);
    .margin-top(20px);
    background-color: #eee;

    textarea {
      .width(500px);
    }
  }

}

#gift-card {
  .panel {
    .min-height(50px);
    color: @color-link-tab;

    &.available-balance {
      .padding(30px);
      .font-spec(50px);
    }

    header {
      .margin-top(20px);
      .font-spec(20px);
      color: #ADABAB;
    }
  }
  .grid-row {
    .margin-bottom(30px);
  }
}