
@import "colors.css";
@import "variables.css";

.list {
  display: flex;
  justify-content: center;
}

.item {
  margin: 0 30px;
  font-size: 15px;
  line-height: 18px;
}

.item-link {
  color: var(--blackish);
  text-decoration: none;
}

@media (--small-viewport) {
  .list {
    display: block;
  }

  .item {
    margin: 32px 0 0 0;
  }

  .item-link {
    color: var(--whitish);
    text-decoration: none;
    margin: 0;
  }
}
