
@import "colors.css";
@import "variables.css";

.list {
  display: flex;
  justify-content: center;
}

.item {
  margin: 0 30px 0 0;
  font-size: 15px;
  line-height: 18px;
}

.item-link {
  color: var(--blackish);
  text-decoration: none;
  opacity: .7;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;

  &:hover {
    opacity: 1;
  }
}

@media (--small-viewport) {
  .list {
    display: block;
  }

  .item {
    margin: 32px 0 0 0;
  }

  .item-link {
    color: var(--whitish);
    text-decoration: none;
    margin: 0;
  }
}
