@import "media-queries.css";
@import "variables.css";
@import "colors.css";

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
}

.content-container {
  flex: 1 1 auto;
}

.content-container {
  &:after {
    display: none;
  }
}

.categories {
  margin-top: 40px;
}

.mobile-sidebar {
  display: none;
}

@media (--small-only), (--medium-only) {
  .mobile-sidebar {
    display: block;
    position: relative;
    z-index: 10;
  }
}

@media (--small-only) {
  .container {
    padding: 16px;
  }
}
