
.fc-address-form {
  .min-width(400px);

  input,
  select {
    width: 100%;
  }

  &-header {
    flex: 1;
    .font-spec(18px, 24px);
  }

  > header {
    > i {
      cursor: pointer;
      .padding(0 5px);
      .font-spec(17px, 22px);
    }
  }

  > article {
    .padding(20px);
  }

  &-fields {
    .font-spec(15px, 20px);
    margin: 0;
    padding: 0;
    list-style-type: none;

    label {
      display: block;
      font-weight: 700;
      .padding(5px 0);
    }

    > li {
      .margin-bottom(9px);
    }
  }

  &-comment {
    color: @color-decor31;
    .font-spec(13px, 20px);
    vertical-align: top;
  }

  &-field-title {
    border-bottom: 2px solid @color-decor7;
    .padding-bottom(5px);
  }

  &-controls {
    .padding-top(20px);
    > * {
      .margin-right(10px);
    }
  }
}