
.fc-address {
  float: left;
  display: inline-block;
  border: 1px solid @color-decor9;
  background: @color-decor12;
  .padding(10px);
  .margin-bottom(15px);
  .margin-left(15px);
  .font-spec(12px);
  width: 200px;
  .min-height(200px);
  position: relative;

  &.is-active {
    background: @color-decor17;
    border-color: @color-decor14;
  }

  &-controls {
    position: absolute;
    .top(10px);
    .right(10px);

    button {
      float: right;
      .font-spec(14px, 26px);
      .margin-left(10px);
      .padding(0 7px);
      height: auto;
    }
  }

  &-details {
    .margin-bottom(40px);
  }

  &-choose {
    position: absolute;
    .bottom(10px);
    .width(120px);
    .left(50%);
    .margin-left(-60px);
    text-align: center;
  }
}