
.fc-addresses {

  &-list {
    .clearfix();
    .margin-left(-15px);
    overflow: auto;
    .max-height(435px);
  }

  > header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid @color-decor7;
    .padding-bottom(10px);
    .margin-bottom(20px);

    > button {
      .padding(0 12px);
    }

    i {
      .font-spec(20px, 40px);
    }
  }

  &-title {
    flex: 1;
    .font-spec(16px, 700, 22px);
  }
}
