.header,
.sub-nav,
.user,
.top-nav-menu {
  display: flex;
  align-items: center;
}

.sub-nav {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  color: #9ba3a7;
  background-color: #fcfcfc;
  font-weight: 400;
  line-height: 70px;
  font-size: 15px;
}

.top-nav-menu {
  align-content: space-between;
  border: solid 0.5px #d9d9d9;
  padding-right: 0;
  height: 60px;
  flex-grow: 1;
}

.logo {
  height: 60px;
  width: 206px;
  text-align: center;
  border: solid 0.5px #d9d9d9;
}

.logo-icon {
  height: 60px;
  width: 160px;
}

.arrow {
  height: 68px;
  margin-top: -6px;
  color: #888;
}

.name,
.arrow {
  transition: all .2s;
}

.user {
  position: relative;
  margin-left: 15px;
  padding-right: 20px;
  cursor: pointer;
  &:hover .name, &:hover .arrow {
    opacity: 0.6;
  }

}

.initials {
  margin-right: 10px;
  width: 35px;
  color: #ffffff;
}

.name {
  margin-right: 10px;
  color: #363636;
  font-weight: 300;
}
