@import 'colors.css';

.header,
.sub-nav,
.user,
.top-nav-menu {
  display: flex;
  align-items: center;
}

.sub-nav {
  position: relative;
  height: 100%;
}

.header {
  position: relative;
  z-index: 1;
  color: var(--color-additional-text);
  background-color: var(--bg-white);
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
}

.top-nav-menu {
  align-content: space-between;
  border-bottom: 1px solid var(--color-border);
  padding-right: 0;
  height: 60px;
  flex-grow: 1;
}

.logo {
  height: 60px;
  width: 206px;
  text-align: center;
  border-right: 1px solid var(--color-border);
  flex: 0 0 auto;
}

.logo-icon {
  height: 60px;
  width: 160px;
}

.arrow {
  color: var(--color-additional-text);
}

.name,
.arrow {
  transition: all .2s;
}

.user {
  position: relative;
  margin-left: 15px;
  padding-right: 20px;
  cursor: pointer;

  &:hover .name,
  &:hover .arrow {
    opacity: .6;
  }
}

.initials {
  margin-right: 10px;
  width: 35px;
  color: var(--color-light-text);
}

.name {
  margin-right: 10px;
  color: var(--color-text);
  font-weight: 300;
}
