.usermenu {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 1px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
  min-width: 230px;
  border-radius: 3px;

  li {
    white-space: nowrap;
  }

  & a {
    display: block;
    padding: 12px 20px;
    width: 100%;
    white-space: nowrap;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #484848;

    &:hover {
      background: #f5f5f5;
    }
  }
}

.copyright {
  padding: 0 8px;
  line-height: 4;
  border-top: 1px solid #D6D6D6;
  font-size: 11px;
  color: rgba(72,72,72,.72);
  cursor: default;
}
