@import 'variables.css';

.usermenu {
  position: absolute;
  z-index: 10;
  top: 91%;
  right: 1px;
  background: var(--bg-white);
  border: 1px solid var(--color-border);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  min-width: 300px;

  li {
    white-space: nowrap;
  }

  & a {
    display: block;
    padding: 12px 20px;
    width: 100%;
    white-space: nowrap;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-text);

    &:hover {
      background: var(--bg-grey-headers);
    }
  }
}

.copyright {
  padding: 10px;
  line-height: 1.3;
  border-top: 1px solid var(--color-border);
  font-size: 11px;
  color: var(--color-additional-text);
  cursor: default;

  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
