@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic);
@import './fontello.css';

* {
  outline: 0;
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: #484848;
  background-color: #f2f2f2;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: none;
  height: 0;
  background: none;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
