[Service]
WorkingDirectory=/usr/share
ExecStart=/usr/local/bin/run_mesos_consul.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mesos_consul
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target
