
.groups-table {
  margin-top: 20px;

  & th:nth-child(3),
  & td:nth-child(3) {
    width: 40px;
  }
}

:global(.fc-content-box) .groups-table {
  border: 1px solid #d9d9d9;

  & thead tr:first-child th {
    box-shadow: none;
  }

  & :global(.fc-table-th) {
    border-top: inherit;
  }
}

.toggle-control {
  position: relative;
  height: 61px;
  width: 50px;
  margin: -10px -15px;
  padding: 22px 15px;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    background-color: #e5e7e8;
  }
}

.row-type {
  text-transform: capitalize;
}

.remove-customer-group {
  cursor: pointer;
  font-size: 15px;
}

.group-description {
  color: #adadad;
  padding-left: 10px;
  text-transform: capitalize;

  &:first-letter {
    padding-right: 10px;
  }
}


.root {
  & :global(.fc-typeahead__items) {
    width: 600px;
    overflow-y: auto;

    & > li {
      padding: 0;
    }

    & :global(.fc-typeahead__item-not-found) {
      padding: 0 20px;
    }
  }

  & :global(.fc-typeahead__menu) {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  }

  & :global(.fc-typeahead input[type=text]) {
    width: 100%;
  }


  & :global(.fc-pilled-input__input-container) {
    width: 600px;

    :global(.fc-pilled-input__input-field) {
      width: 100%;
      padding-right: 0;
    }
  }
}


.label {
  margin-bottom: 15px;
}
