[Service]
WorkingDirectory=/usr/local
ExecStart=/usr/bin/env bash /usr/local/bin/run_bottledwater_{{item}}.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bottledwater_{{item}}
TimeoutStartSec=30
RestartSec=30

[Install]
WantedBy=multi-user.target

[Unit]
Requires=postgresql.service
After=postgresql.service
