<!doctype html>
<html>
  <head>
    <title>{{= it.pageTitle }} | {{= it.siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/png" />
    <link rel="stylesheet" href="{{= it.urlPrefix }}/{{= it.appCss }}" />
  </head>
  <body>

    <div id="app">{{= it.html }}</div>

    <!-- Redux initial data -->
    <script charset="UTF-8">
      window.__data={{= it.state }};
      window.__i18n={{= it.i18n }};
    </script>
    <script type="text/javascript" src="{{= it.urlPrefix }}/{{= it.appJs }}"></script>
    <script type="text/javascript">
      App.renderApp();
    </script>
  </body>
</html>
