[Service]
ExecStart={{kibana_bin}}
WorkingDirectory={{kibana_dir}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kibana
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target

[Unit]
Requires=elasticsearch.service
After=elasticsearch.service
