[Service]
WorkingDirectory={{kibana_dir}}
ExecStart={{kibana_bin}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kibana
RestartSec=10

[Install]
WantedBy=multi-user.target

[Unit]
Requires=elasticsearch_5.service
After=elasticsearch_5.service
