# this file was created for usage with direnv package
# do not use it directly unless you understand what you are doing
# currently this approach doesn't work due to bug in git, because
# `git rev-parse` doesn't count GIT_CONFIG env variable

export GIT_CONFIG=.gitconfig
