@import "colors.css";
@import "media-queries.css";

.block {
  position: relative;
}

.textInput {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 12px 11px 5px;
  border-radius: 2px;
  background-color: var(--input-background);
  border: solid 1px var(--input-border-color);
  color: var(--input-text-color);
  box-shadow: none;

  &:active {
    z-index: 2;
  }

  &::-webkit-input-placeholder { color: var(--input-placeholder-color); }
  &::-moz-placeholder { color: var(--input-placeholder-color); }
  &:-moz-placeholder { color: var(--input-placeholder-color); }
  &:-ms-input-placeholder { color: var(--input-placeholder-color); }
}

.hasTopMessages .textInput {
  padding-top: 15px;
}

input.error {
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

.block.error {
  z-index: 1;
}

.block:focus {
  z-index: 2;
}

:root {
  --top-line-height: 10px;
  --top-font-size: 8px;
}

.errorMessage {
  font-size: var(--top-font-size);
  position: absolute;
  right: 11px;
  top: 6px;
  line-height: var(--top-line-height);
  color: var(--color-error);
  transition: right .4s ease;
}

.hasCard .errorMessage {
  right: calc(12px + 44px);
}

.hasSymbol .errorMessage {
  right: calc(1em + 11px);
}

.placeholder {
  font-size: var(--top-font-size);
  position: absolute;
  left: 11px;
  top: 6px;
  line-height: var(--top-line-height);
  color: var(--input-placeholder-color);
}

.labelElement {
  position: absolute;
  right: 6px;
}

.labelText {
  composes: labelElement;
  --line-height: 28px;
  line-height: var(--line-height);
  top: calc(50% - var(--line-height) / 2);
  font-size: 10px;
}

input.pos-b {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

input.pos-l {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.pos-l {
  margin-right: -1px;
}

input.pos-t {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.pos-t {
  margin-bottom: -1px;
}

input.pos-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
