
@import "typography.css";

.block {
  padding: 55px 25px 10px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.title {
  letter-spacing: .025em;
  font-weight: 400;
  font-size: 25px;
  padding: 0 0 6px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 15px;
  text-align: center;
}

.content {
  font-size: 12px;
  letter-spacing: .025em;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: #222;
  cursor: pointer;
  text-align: center;

  &:before {
    content: '\e813';
    color: #fff;
    font-size: 11px;
    @apply --icon-ft;
  }
}
