---
- name: Add SBT Key
  apt_key: keyserver=hkp://keyserver.ubuntu.com:80 id=642AC823
  sudo: true

- name: Add SBT Repository
  apt_repository: repo='deb http://dl.bintray.com/sbt/debian /' state=present
  sudo: true

- name: Update System Package Cache
  apt: update_cache=yes
  sudo: true

- name: Install Packages
  apt: name={{ item }} state=latest force=yes
  sudo: true
  with_items:
    - curl 
    - debconf-utils 
    - jq 
    - make 
    - openjdk-8-jdk
    - python-software-properties 
    - sbt 
    - software-properties-common 
    - tmux 
    - unzip 

- name: Setup Unprivileged 
  command: /usr/sbin/usermod -a -G systemd-journal {{ user }}
  sudo: true
