<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="/admin/favicon.ico">
  <link rel="apple-touch-icon" href="/admin/apple-touch-icon.png">

  <title>FoxCommerce</title>
  <% if (typeof manifest['app.css'] == 'string') { %>
  <link rel="stylesheet" href="/admin/<%= manifest['app.css'] %>" />
  <% } %>

  <script>
    <% if (typeof GA_TRACKING_ID == 'string') { %>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      const gaOpts = <%= gaEnableLocal ? "{'cookieDomain': 'none'}" : "'auto'" %>;

      ga('create', '<%- GA_TRACKING_ID %>', gaOpts);
      ga('send', 'pageview');
    <% } else { %>
      ga = function() {};
    <% } %>
    function logError(message, fatal) {
      ga('send', 'exception', {
        exDescription: message,
        exFatal: fatal || false
      });
      ga('send', 'event', 'js_error', message);
    }

    window.onerror = function(errorMsg, url, lineNumber) {
      var msg = "Error: " + errorMsg + "\nurl: " + url + "\nlineNumber: " + lineNumber;
      logError(msg, true);
    }
    window.onunhandledrejection = function(event) {
      logError('Unhandled rejection - ' + event.reason);
    }

    var getHMTime = window.performance && performance.now ? function() {
      return performance.now()
    } : function() { return new Date().getTime(); };
    var headEndTime = getHMTime();

    if (window.performance) {
      window.onload = function() {
        // see https://www.w3.org/TR/navigation-timing/#sec-window.performance-attribute
        setTimeout(function() {
          var timing = performance.timing;
          ga('send', 'timing', 'Full page load', 'load_time', timing.loadEventEnd - timing.navigationStart);
          ga('send', 'timing', 'Dom processing', 'load_time', timing.loadEventStart - timing.domLoading);
        }, 0);
      }
    }

    window.JWTString = <%= JWT %>;
    window.STRIPE_PUBLISHABLE_KEY = <%= stripeApiKey %>;
    window.tokenOk = <%= tokenOk %>;
  </script>
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      margin: 0;
    }
    #foxcom {
      height: 100%;
      background: #f2f2f2;
    }
    ._start_image_container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      animation: _start_image_blink 4s linear infinite;
    }
    ._start_image_container > svg {
      width: 274px;
    }
    @keyframes _start_image_blink {
      0% { opacity: .2; transform: scale(.95); }
      50% { opacity: 1; transform: scale(1); }
      100% { opacity: .2; transform: scale(.95); }
    }
  </style>
</head>
<body>
  <div id="foxcom">
    <div class="_start_image_container">
      <!-- leave it here to show before bundle loaded, e.g. on dev build in progress -->
      <%= startImage %>
    </div>
  </div>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Intl.~locale.en"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <% if (typeof manifest['manifest.js'] == 'string') { %>
  <script src="/admin/<%= manifest['manifest.js'] %>"></script>
  <% } %>
  <% if (typeof manifest['vendor.js'] == 'string') { %>
  <script src="/admin/<%= manifest['vendor.js'] %>"></script>
  <% } %>
  <script src="/admin/<%= manifest['app.js'] %>"></script>
  <script>
    ga('send', 'timing', 'JS Dependencies', 'load_time', getHMTime() - headEndTime);
  </script>
</body>
</html>
