<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%- title %></title>
  <link rel="stylesheet" href="<%= stylesheet %>" />
  <script>
    <% if (typeof analytics == 'string') { %>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      const gaOpts = <%= gaEnableLocal ? "{'cookieDomain': 'none'}" : "'auto'" %>;

      ga('create', '<%- analytics %>', gaOpts);
      ga('send', 'pageview');
    <% } else { %>
      ga = function() {};
    <% } %>
    function logError(message, fatal) {
      ga('send', 'exception', {
        exDescription: message,
        exFatal: fatal || false
      });
      ga('send', 'event', 'js_error', message);
    }

    window.onerror = function(errorMsg, url, lineNumber) {
      var msg = "Error: " + errorMsg + "\nurl: " + url + "\nlineNumber: " + lineNumber;
      logError(msg, true);
    }
    window.onunhandledrejection = function(event) {
      logError('Unhandled rejection - ' + event.reason);
    }

    var getHMTime = window.performance && performance.now ? function() {
      return performance.now()
    } : function() { return new Date().getTime(); };
    var headEndTime = getHMTime();

    if (window.performance) {
      window.onload = function() {
        // see https://www.w3.org/TR/navigation-timing/#sec-window.performance-attribute
        setTimeout(function() {
          var timing = performance.timing;
          ga('send', 'timing', 'Full page load', 'load_time', timing.loadEventEnd - timing.navigationStart);
          ga('send', 'timing', 'Dom processing', 'load_time', timing.loadEventStart - timing.domLoading);
        }, 0);
      }
    }

    window.JWTString = <%= JWT %>;
    window.STRIPE_PUBLISHABLE_KEY = <%= stripeApiKey %>;
  </script>
</head>
<body>
  <div id="foxcom"><%= rootHTML %></div>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="<%= javascript %>"></script>
  <script>
    ga('send', 'timing', 'JS Dependencies', 'load_time', getHMTime() - headEndTime);
    <%= appStart %>
  </script>
</body>
</html>
