---
- name: Syncrhonize Phoenix Sql
  synchronize: src="{{phoenix_src}}/sql" dest="{{phoenix_dir}}" delete=yes recursive=yes
  sudo: true

- name: Delete Phoenix Gatling Resources
  file: path="{{phoenix_dir}}/gatling-classes" state=absent

- name: Syncrhonize Phoenix Gatling Resources
  synchronize: src="{{phoenix_src}}/gatling-classes" dest="{{phoenix_dir}}" delete=yes recursive=yes
  become: false

- name: Create directory for Gatling results
  file: path="{{phoenix_dir}}/gatling-results" state=directory owner="{{user}}" mode="0777"

- name: Copy Jar
  copy: src={{phoenix_jar_src}} dest={{phoenix_jar}} mode="u+x,g+x,o+x"
  sudo: true

- name: Restart Phoenix
  service: name=phoenix state=restarted enabled=yes
  sudo: true
