@import 'ui/css/links.css';

.banner {
  min-width: 360px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 47px;
  margin-bottom: 20px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  height: 30px;
  margin-bottom: 50px;
}

.links {
  composes: links from 'ui/css/links.css';
}

.link {
  composes: link from 'ui/css/links.css';
}

.banner-sunglasses,
.banner-eyeglasses {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  border: 6px solid #eff2f5;

  & article {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 50px;
    justify-content: center;
    text-align: center
  }
}

.banner-sunglasses {
  flex-direction: row-reverse;
  --color: #fea7d3;
  color: var(--color);

  & a {
    color: var(--color);
    border-color: var(--color);

    &:before {
      background-color: var(--color);
    }
  }
}

.banner-eyeglasses {
  --color: #46494d;

  & a {
    color: var(--color);
    border-color: var(--color);

    &:before {
      background-color: var(--color);
    }
  }
}

.banner-sunglasses__image,
.banner-eyeglasses__image {
  height: 428px;
  width: 50%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.banner-sunglasses__image {
  background-image: url('images/banners/Marketing_Womens_1.jpg');
}

.banner-eyeglasses__image {
  background-image: url('images/banners/Marketing_Mens_2.jpg');
}

@media (--medium-viewport-up) {
  .banner-sunglasses {
    & ~ div:nth-child(3n+3) {
      margin-right: 5%;
    }
    & ~ div:nth-child(3n+4) {
      margin-right: 0;
    }
  }

  .banner-eyeglasses {
    & ~ div:nth-child(3n+4) {
      margin-right: 5%;
    }
    & ~ div:nth-child(3n+5) {
      margin-right: 0;
    }
  }
}