@import "media-queries.css";

.form {
  & > [class*="Checkbox"] {
    display: inline-block;
    width: 55%;

    @media (--small-viewport) {
      display: block;
      width: 100%;
    }
  }

  & > [class*="Price"] {
    display: inline-block;
    width: 45%;

    @media (--small-viewport) {
      display: block;
      width: 100%;
    }
  }
}
