[Service]
Environment="PHOENIX_ENV={{phoenix_env}}"
WorkingDirectory=/usr/share
ExecStart=docker run --network host -t {{docker_registry}}:5000/phoenix:{{docker_branch}} java -Dphoenix.env={{phoenix_env}} -Dapp.baseUrl=http://{{phoenix_server}} -Dhttp.interface={{phoenix_host}} -Ddb.host={{db_host}} -Ddb.url=jdbc:postgresql://{{db_host}}/{{db_name}}?user={{db_user}} -Ddb.name={{db_name}} -cp {{phoenix_jar}} {{gatling_continuous_seeds_cmd}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=seeder
TimeoutStartSec=5m
RestartSec=3600

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{seeder_service_requires}}
After={{seeder_service_after}}
