@import "colors.css";
@import "media-queries.css";

.title {
  display: flex;
  border: 1px solid #664848;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
  height: 33px;
  line-height: 33px;
  margin: 30px;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  display: block;
  position: relative;
  color: #664848;

  &::after {
    background: url('http://charlottetilbury.com/skin/frontend/charlottetilbury/desktop/img/sprite/borders.png') no-repeat -161px -361px;
    right: -30px;
    content: "";
    display: inline-block;
    height: 34px;
    position: absolute;
    top: -1px;
    width: 31px;
  }

  &::before {
    background: url('http://charlottetilbury.com/skin/frontend/charlottetilbury/desktop/img/sprite/borders.png') no-repeat -129px -361px;
    left: -30px;
    content: "";
    display: inline-block;
    height: 34px;
    position: absolute;
    top: -1px;
    width: 31px;
  }
}

.content {
  overflow: hidden;
  transition: all .3s;
  margin-left: 15px;
}

.accordion {
  &._collapsed {
    & .content {
      max-height: 0;
      border-top: none;
      padding: 0;
    }

    & .title {
      &::after {
        content: "+";
      }
    }
  }
}

@media (--small-only), (--medium-only) {
  .title {
    padding: 15px;
  }
}
