.fc-header {
  flex: none;
  .colors(@color-decor5, @color-decor13);
  .height(70px);
  .clearfix;
  .padding-left(40px);
  .padding-right(20px);
  .font-spec(15px, 400, 65px);
  border-top: 1px solid @color-header-border;
  border-bottom: 1px solid @color-header-border;
  border-left: 1px solid @color-header-border;

  .breadcrumb {
    .inline-block(middle);
  }

  .sub-nav {
    float: right;

    > * {
      display: inline-block;
      vertical-align: top;
      .inline-block(middle);
      &:last-child { margin-right: 0; }
    }
  }
}
