@color-sidebar-bg: @color-decor3;
@color-sidebar-fg: @color-decor5;

@color-sidebar-hover-bg: @color-decor2;
@color-sidebar-hover-fg: @color-white;

@color-sidebar-border: @color-decor2;
@color-sidebar-active: @color-decor15;

.fc-sidebar {
  .colors(@color-sidebar-fg, @color-sidebar-bg);
  overflow-x: hidden;
  overflow-y: auto;
  transition: flex 250ms ease-in-out;

  ~ header,
  ~ main {
    .margin-left(64px);
    transition: margin 250ms ease-in-out;
  }

  &:hover {
    flex: 0 0 206px;
    .width(206px);

    ~ header,
    ~ main {
      .margin-left(206px);
    }
  }

  .logo {
    .colors(@color-decor1, @color-decor13);
    .clearfix;
    .height(70px);
    .width(209px);
    .padding(11px 0 0 11px);
    border-top: 1px solid @color-header-border;
    border-left: 1px solid @color-header-border;
    border-bottom: 1px solid @color-header-border;
  }

  nav ul {
    border-top: 1px solid @color-decor2;
    li {
      border-bottom: 1px solid @color-sidebar-border;
      user-select: none;

      &:last-child {
        border-bottom: none;
      }

      a {
        .clearfix;
        .padding(0, 15px);
        display: block;
        border-left: 5px solid transparent;
        white-space: nowrap;

        i,
        span {
          display: inline-block;
          vertical-align: top;
        }

        i {
          .font-spec(28px, 65px);
          .margin-right(20px);
        }

        span {
          .font-spec(13px, 65px);
        }

        &.active {
          border-left-color: @color-sidebar-active;
        }
      }

      a,
      a:visited {
        color: @color-sidebar-fg;

        &:hover {
          color: @color-sidebar-hover-fg;
        }
      }

      a,
      a:visited {
        color: @color-sidebar-fg;
      }

      &:hover {
        .colors(@color-sidebar-hover-fg, @color-sidebar-hover-bg);
      }
    }
  }
}
