
@import "colors.css";

.button {
  font-size: 21px;
  background-color: var(--blackish);
  color: var(--whitish);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--black-decor);

  & > span {
    vertical-align: middle;
  }

  & > :global(.icon) {
    vertical-align: middle;
    margin-right: 0.3em;
  }
}
