server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name {{storefront_server_name}};
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;
  ssl_certificate     /certs/domain.crt;
  ssl_certificate_key /certs/domain.key;
  keepalive_timeout   70;

  index index.html;

  server_name {{storefront_server_name}};

  # Proxy to storefront
  location / {
      proxy_pass http://storefront;
  }

  location @storefront {
      proxy_pass http://storefront;
  }
}
