
@import "colors.css";
@import "media-queries.css";

.banner {
  position: fixed;
  width: 100%;
  background: var(--additional-color);
  color: var(--whitish);
  min-height: 66px;
  font-weight: 400;
  font-size: 15px;
  z-index: 10;
  display: flex;

  &._hidden {
    display: none;
  }
}

.content {
  flex-grow: 1;
  margin-left: 38px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 18px;
  margin-right: 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.close {
  color: var(--whitish);
  width: 18px;
  height: 18px;
  line-height: 35px;
}

.strong {
  font-weight: 600;
}

@media (--medium-only) {
  .banner {
    height: 70px;
    padding-left: 38px;
  }

  .content {
    align-items: flex-start;
    margin-top: 25px;
  }
}

@media (--small-only) {
  .banner {
    height: 105px;
    padding-left: 38px;
  }

  .content {
    max-width: 220px;
    margin: 25px auto 0;
    align-items: flex-start;
  }
}
