<div class="nav-docs">
  <!-- Migrating Nav -->
  {% for section in site.data.nav_migrating %}
    <div class="nav-docs-section">
      <h3>{{ section.title }}</h3>
      <ul>
        {% for item in section.items %}
          <li>
            {{ item | migrating_sidebar_link}}
            {% if item.subitems %}
              <ul>
                {% for subitem in item.subitems %}
                  <li>
                    {{ subitem | migrating_sidebar_link }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

</div>
