@import "colors.css";
@import "media-queries.css";

.select-box {
  display: inline-block;
  position: relative;
  // border: 1px solid var(--input-border-color);
  border-radius: 0;
  margin: 1px -1px 1px 1px;

  &:active {
    border: solid 3px var(--input-active-border-color);
    margin: -1px -3px -1px -1px;
  }

   &::after {
    position: absolute;
    pointer-events: none;
    display: block;
    width: 12px;
    height: 9px;
    top: calc(50% - 4px);
    right: 8px;
    content: '';
    background: url('/images/symbols/caret-down.svg') center right no-repeat;
  }
}

.select-box select {
  appearance: none;
}

.state-select-box {
  composes: select-box;
  border-radius: 0;
  width: 100%;
  height: 100%;
  border: none;

  &::after {
    top: calc(50% - 1px);
  }
}

.select {
  background: var(--input-background);
  height: 24px;
  font-size: 12px;
  color: var(--text-color);
  padding: 0 22px 0 10px;
  border-width: 0;
  border-radius: 0;
}

.state-select {
  composes: select;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: var(--text-color);
  padding-top: 5px;
}
