@import 'colors.css';

.input {
  padding: 9px;
  border: 1px solid var(--color-border);
  transition: all .2s;
  outline: none;
  font-size: 15px;

  &[disabled] {
    background-color: var(--bg-grey-headers);
  }

  &:hover {
    border-color: var(--bg-nav-main);
  }

  &:focus {
    border-color: var(--bg-green-buttons);
  }
}
