.search-result {
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 19px;
  font-size: 16px;
  color: #363636;
}

.search-image {
  width: 300px;
}

.search-title {
  font-weight: 700;
}
