---

- name: Install Passlib
  apt: name=python-passlib state=latest force=yes

- name: Install htpasswd
  apt: name=apache2-utils state=latest force=yes

- name: Setup Demo Password
  htpasswd: path=/etc/nginx/passwdfile name={{demo_user}} password={{demo_pass}} owner=root group=www-data mode=0640

- name: Add Auth to Nginx for Ashes
  lineinfile:
      dest: /etc/nginx/sites-available/ashes
      regexp:  "auth_basic"
      insertafter: "index index.html;"
      line: "auth_basic \"Restricted\"; auth_basic_user_file /etc/nginx/passwdfile;"

- name: Add Auth to Nginx for Firebird
  lineinfile:
      dest: /etc/nginx/sites-available/firebird
      regexp:  "auth_basic"
      insertafter: "index index.html;"
      line: "auth_basic \"Restricted\"; auth_basic_user_file /etc/nginx/passwdfile;"

- name: Add Auth to Nginx for Firebrand
  lineinfile:
      dest: /etc/nginx/sites-available/firebrand
      regexp:  "auth_basic"
      insertafter: "index index.html;"
      line: "auth_basic \"Restricted\"; auth_basic_user_file /etc/nginx/passwdfile;"

- name: Restart Nginx
  service: name=nginx state=restarted
