[Service]
WorkingDirectory=/usr/share
ExecStart=/usr/bin/java -jar {{phoenix_jar}}
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=greenriver
TimeoutStartSec=5m
RestartSec=1m

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{phoenix_service_requires}}
After={{phoenix_service_after}}
