[Service]
Environment="PHOENIX_ENV={{phoenix_env}}"
WorkingDirectory=/usr/share
ExecStart=/usr/bin/java -jar {{phoenix_jar}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=phoenix
TimeoutStartSec=5m
RestartSec=5

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{phoenix_service_requires}}
After={{phoenix_service_after}}
