@import "media-queries.css";

.main {
  width: 750px;
  padding: 50px 120px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  color: #434343;
  min-height: 500px;
  box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

@media (--small-viewport) {
  .main {
    width: 540px;
  }
}
