@import "media-queries.css";
@import "colors.css";
@import "variables.css";

.checkout {
  width: 100vw;
  counter-reset: item;

  & :global(.fc-errors) > div:first-child {
    /* 50px - height of sticky header */
    padding-top: 50px;
    margin-top: -50px;
  }
}

.wrapper {
  display: flex;
  height: 100vh;
}

.shipping, .delivery, .payment {
  border-bottom: 1px solid var(--border-color);
}

@media (--small-only), (--medium-only) {
  .wrapper {
    flex-direction: column;
  }

  .column-1 {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .delivery {
    margin-top: 15px;
  }

  .payment, .order-summary {
    margin: 15px 15px 0;
  }

  .payment {
    order: 2;
  }

  .order-summary {
    order: 3;
  }

  .total-cost {
    order: 4;
  }

  .totals-list {
    padding: 15px 15px 15px;
  }

  .shipping, .delivery {
    max-height: 150px;
  }

  .place-order-button {
    border-radius: 0;
  }
}

@media (--large) {
  .content {
    display: flex;
    flex-direction: column;
    lost-column: 10/12;
    lost-offset: -1/12;
  }

  .wrapper {
    margin-top: 25px;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .column-1 {
    lost-column: 4/12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto !important;
  }

  .shipping, .delivery, .total-cost, .payment {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px 15px;
  }

  .shipping {
    margin-bottom: 15px;
  }

  .total-cost, .payment {
    lost-column: 4/12;
  }

  .total-cost {
    padding: 6px 20px 0;
    margin-right: 0 !important;
  }

  .totals-list {
    margin: 0;
  }

  .place-order-block {
    margin: 20px 0;
    height: 58px;
  }

  .place-order-button {
    border-radius: 4px;
    height: 58px;
  }

  .order-summary {
    width: 65.5%;
  }

  .order-content {
    padding: 0;
  }
}
