@import "media-queries.css";
@import "colors.css";
@import "variables.css";

.checkout {
  width: 100vw;
  counter-reset: item;

  & :global(.fc-errors) > div:first-child {
    /* 50px - height of sticky header */
    padding-top: 50px;
    margin-top: -50px;
  }
}

.wrapper {
  display: flex;
  height: 100vh;
}

.shipping, .delivery, .payment {
  border-bottom: 1px solid var(--border-color);
  margin: 15px;
}

.payment {
  padding-bottom: 15px;
}

.total-cost {
  margin-top: auto;
}

.order-summary {
  margin: 15px;
}

.order-content {
  padding-right: 6px;
}

.totals-list {
  margin: 15px 20px 15px 15px;
  font-size: 14px;
}

.place-order-block {
  height: 50px;
}

.place-order-button {
  border-radius: 0;
  height: 50px;
  font-size: 20px;
}

@media (--small-only), (--medium-only) {
  .wrapper {
    flex-direction: column;
  }

  .shipping, .delivery {
    max-height: 150px;
  }
}

@media (--large) {
  .content {
    display: flex;
    flex-direction: column;
    lost-column: 10/12;
    lost-offset: -1/12;
  }

  .wrapper {
    margin-top: 25px;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .shipping, .delivery, .total-cost, .payment {
    lost-column: 4/12;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px 10px 5px;
  }

  .total-cost {
    padding: 13px 20px 0;
    margin: 0;
  }

  .totals-list {
    margin: 0;
  }

  .place-order-block {
    margin: 20px 0;
    height: 58px;
  }

  .place-order-button {
    border-radius: 4px;
    height: 58px;
  }

  .payment {
    order: 2;
  }

  .total-cost {
    order: 3;
  }

  .delivery {
    order: 4;
    margin-top: -100%;
    margin-bottom: 40px;
  }

  .order-summary {
    order: 5;
    width: 65%;
    margin: 0;
    margin-right: 25%;
  }

  .order-content {
    padding: 0;
  }
}
