@import "colors.css";
@import "media-queries.css";

.root {
  padding-top: 1px;
  height: 100%;
  composes: scrollbar from "ui/css/scrollbar.css";
}

.form-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 50px;
}

.form-body {
  margin-top: 50px;
  overflow-y: auto;
  height: calc(100% - 104px);
  padding-bottom: 15px;
}

.legend {

}

.action-link {
  color: var(--link-color);
  cursor: pointer;
}

.button-wrap {
  text-align: center;
  position: absolute;
  height: 44px;
  width: 100%;
  bottom: 0;
}

.checkout-submit {
  display: inline-block;
  width: 100%;
  height: 44px;
  font-weight: 900;
  font-size: 20px;
}

@media (--large) {
  .form-body {
    height: calc(100% - 130px);
  }

  .button-wrap {
    padding: 0 15px;
    height: 70px;
  }

  .checkout-submit {
    height: 58px;
  }
}
