.fc-subnav {
  border-bottom: pxtorem(2px) solid @color-decor7;
  ul {
    li {
      .font-spec(14px);
      color: @color-decor36;
      display: inline-block;
      .padding(0px 20px);
      .padding-bottom(10px);
      .margin-right(5px);
      &:last-child {
        .margin-right(0);
      }
      &:hover {
        color: @color-decor37;
      }

      &.is-active {
        margin-bottom: pxtorem(-2px);
        border-bottom: pxtorem(2px) solid @color-decor3;
      }
    }
  }
}
