
.address-details {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-field {
  composes: text-field from "ui/common.css";
}

.text-input {
  composes: text-input from "ui/css/input.css";
}

.theme-white-bg {
  & .text-input, & input[type=text] {
    &::placeholder {
      color: #a5a5a5;
    }
    background: #f4f4f4;
  }
}
