.scroller {
  position: fixed;
  top: 120px;
  right: 1vw;
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto, Lato, 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  color: #626262;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    display: block;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    transform: scaleX(0.7);
  }

  &:before {
    border-width: 0 2.5em 2.5em;
    border-bottom-color: #7ADBE0;
    margin-bottom: 1em;
    transition: border-color 300ms;
  }

  &:after {
    position: absolute;
    top: .65em;
    border-width: 0 1.48em 1.48em;
    border-bottom-color: #FFFFFF;
  }
}

.scroller-hidden {
  visibility: none;
  opacity: 0;
}