.input {
  padding: 9px;
  border: 1px solid #ced2d5;
  transition: all .2s;
  outline: none;
  font-size: 15px;

  &[disabled] {
    background-color: #f7f7f7;
  }

  &:hover {
    border-color: #3a4350;
  }

  &:focus {
    border-color: #4fc2c9;
  }
}
