
@import "colors.css";
@import "variables.css";
@import "media-queries";

.list-item {
  width: 30%;
  margin-bottom: 40px;
  margin-right: 5%;
  padding-bottom: 20px;
  text-align: center;
  line-height: 19px;
  font-size: 16px;
  color: var(--blackish);
  transition: all 400ms;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 0 0 1vw var(--whitish), 0 0 0 1.1vw var(--greyish);
    cursor: pointer;
  }
}

.preview {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.preview-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.name {
  margin-top: 20px;
}

.price {
  margin-top: 10px;
  font-weight: 300;
}

@media (--medium-viewport) {
  .list-item {
    margin-bottom: 20px;
  }
}

@media (--small-viewport) {
  .list-item {
    width: 48%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .name {
    margin-top: 10px;
  }
}
