<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/favicon.ico">

    <title>FoxCommerce Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/album.css">
  </head>

  <body>

    <div class="collapse bg-inverse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">Quote of the Day</h4>
            <p class="text-muted">A prince must imitate the fox and the lion, for the lion cannot protect himself from traps, and the fox cannot defend himself from wolves. One must therefore be a fox to recognize traps, and a lion to frighten wolves.</p>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Links</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/FoxComm" class="text-white" target="_blank">GitHub</a></li>
              <li><a href="https://foxcommerce.slack.com" class="text-white" target="_blank">Slack</a></li>
              <li><a href="http://foxcommerce.com" class="text-white" target="_blank">Website</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">FoxCommerce Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Your instance is ready!</h1>
        <p class="lead text-muted">You can start your development by exploring our web UI applications.<br>If you encounter any problems, a variety of handy DevOps tools are available at your service.</p>
          <div class="btn-group" role="group">
            <a href="https://{{dns_record}}.{{foxcomm_domain}}/admin" class="btn btn-success" target="_blank">Open Admin UI</a>
            <div class="btn-group" role="group">
              <button id="storefrontButtons" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Open Storefront
              </button>
              <div class="dropdown-menu" aria-labelledby="storefrontButtons">
                <a class="dropdown-item" href="https://{{dns_record}}.{{foxcomm_domain}}" target="_blank">Firebrand</a>
                <a class="dropdown-item" href="https://{{dns_record}}.{{foxcomm_domain}}{{url_prefix_perfect_gourmet}}" target="_blank">Perfect Gourmet</a>
                <a class="dropdown-item" href="https://{{dns_record}}.{{foxcomm_domain}}{{url_prefix_topdrawer}}" target="_blank">TopDrawer</a>
              </div>
            </div>
          </div>
        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card">
            <a href="{{consul_ui_url}}" target="_blank"><img src="assets/images/ui_consul.png" alt="Consul UI" title="Consul UI"></a>
            <p class="card-text"><b>Consul</b> is a backbone of our platform which provides distributed highly-available service discovery.</p>
          </div>
          <div class="card">
            <a href="{{mesos_ui_url}}" target="_blank"><img src="assets/images/ui_mesos.png" alt="Mesos UI" title="Mesos UI"></a>
            <p class="card-text"><b>Mesos</b> makes our datacenters multi-tenant, allowing multiple applications to work on the same machine.</p>
          </div>
          <div class="card">
            <a href="{{marathon_ui_url}}" target="_blank"><img src="assets/images/ui_marathon.png" alt="Marathon UI" title="Marathon UI"></a>
            <p class="card-text"><b>Marathon</b> provides production-grade container orchestration mechanisms for Mesos.</p>
          </div>

          <div class="card">
            <a href="{{kibana_url}}" target="_blank"><img src="assets/images/ui_kibana.png" alt="Kibana" title="Kibana"></a>
            <p class="card-text"><b>Kibana</b> is a centralized interface for analyzing and visualizing platform logs.</p>
          </div>
          <div class="card">
            <a href="{{pgweb_url}}" target="_blank"><img src="assets/images/ui_pgweb.png" alt="Pgweb" title="Pgweb"></a>
            <p class="card-text">A simple web-based PostgreSQL UI called <b>Pgweb</b> can help when you don't have any client by hand.</p>
          </div>
          <div class="card">
            <a href="javascript:void(0)"><img data-src="holder.js/356x242?text=Coming Soon" alt="Placeholder"></a>
            <p class="card-text">We're working hard to make your developer experience soar to greater heights!</p>
          </div>
        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>For bug reports or any other feedback, please message to <a href="javascript:void(0)">@devops</a> group in <a href="https://foxcommerce.slack.com/messages/engineering" target="_blank">#engineering</a> channel.</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>

  </body>
</html>
