[Service]
ExecStart=/usr/bin/marathon --master {{zookeepers}}/mesos --zk {{zookeepers}}/marathon --mesos_authentication --mesos_authentication_principal=marathon --mesos_authentication_secret={{mesos_pass}} --mesos_role=marathon
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=marathon

[Install]
WantedBy=multi-user.target
