*.orig
*.class
*.log

# Local specific
.env.local

# sbt specific
.cache
.history
.lib/
dist/*
/out
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse and eclim stuff
.classpath
.project
.settings
workbench.xmi

# IntelliJ specific
.idea
phoenix-scala.iml
/bin/

# Ensime
.ensime
.ensime_cache/

# Vagrant
.vagrant

.DS_Store
.gce

version

#style files
**/codeStyleSettings.xml
