- name: Run Netsil AOC with compose
  docker_service:
    project_name: netsil
    definition:
      version: '2'
      services:
        netsil:
          image: "netsil/netsil:{{netsil_aoc_version}}"
          restart: unless-stopped
          privileged: true
          command: ["/root/startup.sh"]
          volumes:
            - "/:/outer_host"
            - "/opt/netsil/lite/user-persistence/data:/opt/netsil/user-persistence/data"
            - "/opt/netsil/lite/alerts/data:/opt/netsil/alerts/data"
            - "/opt/netsil/lite/elasticsearch/data:/usr/share/elasticsearch/data"
            - "/opt/netsil/lite/redis:/var/lib/redis"
            - "/opt/netsil/lite/kafka/kafka-log-dir:/opt/netsil/kafka/kafka-log-dir"
            - "/opt/netsil/lite/druid/realtime-segments:/opt/netsil/druid/realtime-segments"
            - "/opt/netsil/lite/druid/localStorage:/tmp/druid/localStorage"
            - "/var/log/netsil:/var/log/netsil"
            - "/var/tmp:/var/tmp"
          ports:
            - "80:80"
            - "443:443"
            - "2001:2001"
            - "2003:2003"
            - "2003:2003/udp"
            - "5005:5005"
          logging:
            driver: none
