@import "colors.css";

.editable-block {
}

.header {
  display: flex;
}

.title {
  flex-grow: 1;
  margin: 0;
  text-transform: uppercase;
  font-size: 1em;
}

.action {
  color: #8D757A;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;

  & + .action {
    margin-left: 10px;
  }

  &:hover {
    text-decoration: underline;
  }
}
