---

- name: Update System Package Cache
  apt: update_cache=yes
  sudo: true

- name: Install Packages
  apt: name={{ item }} state=latest force=yes
  sudo: true
  with_items:
    - make
    - jq
    - debconf-utils
    - cmake
    - build-essential
    - libpq-dev
    - libcurl4-openssl-dev
    - libjansson-dev
    - pkg-config
    - librdkafka-dev
    - libsnappy-dev
    - postgresql-server-dev-9.4
    - postgresql-9.4
    - postgresql-client-9.4
    - postgresql-contrib-9.4

- name: Get Avro
  get_url: url={{avro_url}} dest="{{home}}/{{avro_name}}.tar.gz"

- name: Unzip Avro
  unarchive: src="{{home}}/{{avro_name}}.tar.gz" dest="{{home}}/" copy=no
  args:
    creates: "{{avro_dir}}"


- name: Make Avro Build Dir
  file: path="{{avro_dir}}/build" state=directory

- name: Run CMake for Avro
  shell: cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_BUILD_TYPE=RelWithDebInfo
  args:
    chdir: "{{avro_dir}}/build"

- name: Compile and Install Avro
  shell: make && make test && make install && ldconfig
  sudo: true
  args:
    chdir: "{{avro_dir}}/build"

- name: Setup Libsnappy
  copy: src=libsnappy.pc dest=/usr/local/lib/pkgconfig/libsnappy.pc
  sudo: true

- name: Kill Bottledwater if it is Running
  shell: systemctl stop bottledwater || true
  sudo: true

- name: Kill Materialized Views if it is Running
  shell: systemctl stop materialized_views || true
  sudo: true

- name: Get Bottledwater
  git: repo={{bottledwater_repo}} dest={{bottledwater_dir}} version={{bottledwater_version}}

- name: Make and Install BottledWater
  shell: make && make install
  args:
    chdir: "{{bottledwater_dir}}"
  sudo: true

- name: Symlink Bottledwater Executable
  file: src="{{bottledwater_dir}}/kafka/bottledwater" dest="/usr/local/bin/bottledwater" state=link
  sudo: true

- name: Get Flyway
  get_url: url={{flyway_url}} dest={{home}}/flyway.tar.gz

- name: Unzip Flyway
  unarchive: src={{home}}/flyway.tar.gz dest=/usr/local/share copy=no
  sudo: true

- name: Make Flyway Executable
  file: path={{flyway_dir}}/flyway mode="u+x,g+x,o+x"
  sudo: true

- name: Add Flyway Home
  lineinfile: dest=/etc/profile line="FLYWAY_HOME={{flyway_dir}}"
  sudo: true

- name: Add Flyway Path
  lineinfile: dest=/etc/profile line="PATH=$PATH:$FLYWAY_HOME" insertafter="^FLYWAY"
  sudo: true

- name: Copy Postgres Configuration
  copy: src={{item}} dest="/etc/postgresql/9.4/main/{{item}}" mode="644"
  sudo: true
  with_items:
      - postgresql.conf
      - pg_hba.conf

- name: Reload Systemd for Postgresql
  sudo: yes
  command: systemctl daemon-reload

- name: Restart Postgresql
  service: name=postgresql state=restarted sleep=5
  sudo: true

- name: Install Prerequisites for posgresql ansible module
  sudo: true
  apt: name={{item}} state=latest
  with_items:
    - libpq-dev
    - python-psycopg2

- name: Copy Bottledwater Run File
  copy: src=run_bottledwater.sh dest="/usr/local/bin/run_bottledwater.sh" mode="u+x,g+x,o+x"
  sudo: true

- name: Copy Bottledwater Service
  copy: src=bottledwater.service dest="{{dest_services}}/bottledwater.service"
  sudo: true

- name: Test Schema Registry to prevent bottledwater to fail.
  uri: url=http://localhost:8081/

- name: Reload Systemd for Bottledwater
  sudo: yes
  command: systemctl daemon-reload

- name: Start Bottledwater
  service: name=bottledwater state=started enabled=yes sleep=10
  sudo: true
