[Service]
WorkingDirectory={{es_home}}
LimitNOFILE={{ es_max_file_descriptors }}
ExecStart=/bin/bash {{es_home}}/run_elasticsearch_5.sh {{es_path}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=elasticsearch_5
TimeoutStartSec=5m
RestartSec=10
User=elasticsearch
LimitNOFILE={{es_max_file_descriptors}}

[Install]
WantedBy=multi-user.target
