[Service]
WorkingDirectory={{es5_home}}
LimitNOFILE={{es5_max_file_descriptors }}
ExecStart=/bin/bash {{es5_home}}/run_elasticsearch_5.sh {{es5_path}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=elasticsearch_5
TimeoutStartSec=5m
RestartSec=10
User=elasticsearch
LimitNOFILE={{es5_max_file_descriptors}}

[Install]
WantedBy=multi-user.target
