@import 'colors.css';

.productSearch {
  & .search {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    & input {
      width: 100%;
      padding-left: 40px;
    }

    & i {
      display: block;
    }
  }

  & table {
    table-layout: fixed;

    & th:nth-child(1), & th:nth-child(5) {
      width: 120px;
    }

    & th:nth-child(2), & th:nth-child(4) {
      width: 100px;
    }
  }

  & :global .fc-table {
    table-layout: auto;
  }

  & :global .fc-table-wrap {
    display: flex;
    flex-direction: column;
    height: 484px;
    border: 1px solid var(--color-border);
    overflow-y: scroll;

    & :global .fc-table-td {
      height: 80px !important;
    }

    & tr:last-child td {
      border-bottom: 1px solid var(--color-border) !important;
    }

    & :global .fc-table-message {
      flex: 1 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & :global .fc-content-box__empty-row {
    text-align: center;
  }

  & img {
    height: 100%;
  }

  & .button {
    width: 100%;
  }
}
