[Service]
ExecStart={{kibana_bin}}
SuccessExitStatus=143
Restart=always
StandardOutput=syslog
StandardError=syslog

[Unit]
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target
