@import 'colors.css';

.row-toggle {
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
}

.tracking-link {
  color: var(--color-text);

  &:hover {
    color: var(--color-link);
  }
}

:global(.fc-table) tbody {
  & tr.summary-row {
    height: 84px;
    line-height: 26px;
    vertical-align: middle;
    border-bottom: none;

    &:first-child {
      white-space: nowrap;
    }
  }

  & :global(.fc-table-tr).details-row:nth-child(even) {
    border-top: none;
    background-color: white;

    & td {
      padding: 0 20px 30px;
    }
  }
}

.details-title {
  font-size: 15px;
  font-weight: 600;
  padding: 30px 0 15px;

  &:first-of-type {
    padding-top: 15px;
  }
}

.address {
  border: 1px solid var(--color-border);
  padding: 10px;
}

.items > * {
  border: 1px solid var(--color-border);
  border-top: none;

  &:first-child {
    border-radius: 3px 3px 0 0;
    border-top: 1px solid var(--color-border);
  }

  &:last-child {
    border-radius: 0 0 3px 3px;
  }
}
