.row {
  display: flex;
  height: 84px;
  padding: 10px;
}

.name {
  display: flex;
  align-items: center;
  font-weight: 600;
  width: 40%;

  & img {
    max-height: 64px;
    width: auto;
    padding-right: 10px;
  }
}

.sku {
  display: flex;
  align-items: center;
  width: 15%;
}

.price {
  display: flex;
  align-items: center;
  width: 15%;
}

.quantity {
  display: flex;
  align-items: center;
  width: 15%;
}

.state {
  display: flex;
  align-items: center;
  width: 15%;
}

.total {
  display: flex;
  align-items: center;
  min-width: 80px;
  padding-right: 10px;
  justify-content: flex-end;
}
