.modal {
    width: 400px;
    .margin-left(-200px);
    .modal-header {
        .title {
            .margin-right(40px);
        }
    }
    .modal-footer {
        .close {
            display: inline-block;
            .margin-right(25px);
        }
    }
    .modal-body {
        .contact {
            .line-height(50px);
            vertical-align: middle;
            padding: 20px 0 0;
            strong, a {
                display: inline-block;
            }
            strong, input[type='tel'], input[type='email'] {
                width: 85%;
            }
            a {
                text-align: right;
                width: 15%;
            }
        }
    }
}
