upstream storefront {
  << with index .Apps "/peacock" >>
    << range .Tasks >>
      server << .Host >>:<< index .Ports 0 >> max_fails=10 fail_timeout=30s weight=1;
    << else >>
      server {{storefront_server}} fail_timeout=30s max_fails=10;
    << end >>
  << end >>
}

{% if is_appliance or is_staging %}
upstream storefront-top-drawer {
  << with index .Apps "/storefront-top-drawer" >>
    << range .Tasks >>
      server << .Host >>:<< index .Ports 0 >> max_fails=10 fail_timeout=30s weight=1;
    << else >>
      server {{storefront_top_drawer_server}} fail_timeout=30s max_fails=10;
    << end >>
  << end >>
}

upstream storefront-perfect-gourmet {
  << with index .Apps "/storefront-perfect-gourmet" >>
    << range .Tasks >>
      server << .Host >>:<< index .Ports 0 >> max_fails=10 fail_timeout=30s weight=1;
    << else >>
      server {{storefront_perfect_gourmet_server}} fail_timeout=30s max_fails=10;
    << end >>
  << end >>
}
{% endif %}
