
.sku-list {
  & :global(thead.fc-table-head) :global(tr.fc-table-tr) :global(th.fc-table-th):nth-last-child(2) {
    border-right: 0 none;
  }

  & th:last-child {
    width: 60px;
  }

  & td:last-child {
    text-align: center;
  }

  & :global(.fc-table-td) > img {
    max-height: 50px;
    max-width: 50px;
    margin-left: 10px;
  }
}
