@import "colors.css";
@import "media-queries.css";

.text-input {
  height: 30px;
  font-size: 12px;
  padding: 0 10px;
  border: 1px solid var(--blackish);
  color: #212121;

  &:focus {
    background: #F4F4F4;
    border-color: #F4F4F4;
  }
}

.input-with-label {
  position: relative;
}

.text-input-with-label {
  composes: text-input;
  width: 100%;
}

.label {
  --line-height: 20px;
  position: absolute;
  right: 6px;
  line-height: var(--line-height);
  top: calc(50% - var(--line-height) / 2);
  font-size: 10px;
}

input {
  box-shadow: none;
}

@media (--medium) {
  .text-input {
    padding: 0 20px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    transition: all 300ms;

    &:hover {
      border-color: #C6BFBF;
    }
  }

  .label {
    --line-height: 19px;

    right: 20px;
  }
}
