[Service]
Environment="GOENV={{middlewarehouse_env}}"
WorkingDirectory={{middlewarehouse_dir}}
ExecStart={{middlewarehouse_bin}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=middlewarehouse
TimeoutStartSec=5m
RestartSec=5

Environment=LOG_LEVEL=info
Environment=DB_NAME={{middlewarehouse_db_name}}
Environment=DB_USER={{middlewarehouse_db_user}}
Environment=DB_HOST={{db_host}}
Environment=DB_SSLMODE=disable

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{middlewarehouse_service_requires}}
After={{middlewarehouse_service_after}}
