@import "colors.css";
@import "variables.css";
@import "media-queries.css";
@import 'ui/css/layout.css';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #EBEAEA;
}

.gallery {
  width: 100%;
  height: auto;
  flex: 0 0 100%;
}

.details {
  flex: 0 0 100%;
  height: auto;
  text-align: center;
}

.details-wrap {
  padding: 0 40px;
}

.title {
  font-family: var(--font-playfair);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.28px;
  color: #212121;
  position: relative;
  line-height: 46px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 66px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    background-color: #3E3436;
  }
}

.price {
  margin-top: 50px;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 18px;
  color: #363636;
  opacity: 0.64;

  @media (--medium) {
    font-size: 22px;
  }
}

.on-sale-price {
  color: var(--text-color-on-sale);
}

.retail-price {
  margin-right: 7px;
  text-decoration: line-through;
}

.cart-actions {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.add-to-cart-btn {
  display: flex;
  margin-left: 10px;
  height: 46px;
}

.quantity {
  width: 100px;
}

.description {
  margin-top: 60px;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 16px;
  color: #212121;
  line-height: 33px;
}

.servings {
  margin-top: 10px;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 15px;
  color: #363636;
  opacity: 0.66;
  line-height: 25px;
}

.social-sharing {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  padding-bottom: 40px;
}

.social-icon {
  flex: 0 0 75px;
  color: #3E3436;
  opacity: 0.86;
  cursor: pointer;

  &:hover {
    opacity: 1.0;
  }
}

.additional-info {
  background-color: #3E3436;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.items-title-wrap {
  display: flex;
  justify-content: center;
}

.item-title {
  font-family: var(--font-main);
  text-transform: uppercase;
  font-size: 11px;
  padding: 27px 30px;
  font-weight: 400;
  letter-spacing: 2.26px;
  display: inline-block;
  cursor: pointer;
  margin-right: 22px;

  &.active {
    box-shadow: 0 2px rgba(255, 255, 255, 0.70);
  }

  &:hover {
    box-shadow: 0 2px rgba(255, 255, 255, 0.27);
  }
}

.info-block {
  margin-top: 80px;
  padding: 0 30px;
  height: 700px;
}

.attribute-line {
  font-family: var(--font-main);
  color: white;
}

.attribute-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 40px;
}

.attribute-description {
  font-size: 13px;
  line-height: 26px;
  font-weight: 300;
}

@media (--large) {
  .gallery {
    width: 702px;
    height: 678px;
    flex: none;
  }

  .details {
    flex: 1;
  }

  .title {
    font-size: 41px;
    letter-spacing: 2.7px;
  }

  .info-block {
    /* padding: 0 180px; */
    margin-top: 70px;
    height: auto;
  }


  .item-title {
    font-family: var(--font-playfair);
    text-transform: none;
    font-size: 20px;
    padding: 36px 45px;
  }

  .attribute-title {
    font-weight: 400;
    font-size: 15px;
  }

  .attribute-description {
    font-size: 16px;
    line-height: 33px;
  }
}

@media (--medium-only) {
  .additional-info {
    height: 840px;
  }

  .info-block {
    /* padding: 0 60px; */
  }
}

.not-found {
  composes: not-found from '../../components/products-list/products-list.css';
}
