@import "colors.css";
@import "variables.css";
@import "media-queries.css";
@import 'ui/css/layout.css';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  background-color: #FBFBFB;
}

.gallery {
  width: 702px;
  height: 678px;
}

.details {
  flex: 1;
  text-align: center;
}

.details-wrap {
  padding: 0 40px;
}

.title {
  font-family: var(--font-playfair);
  font-weight: 400;
  font-size: 41px;
  color: #212121;
  letter-spacing: 2.7px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 66px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    background-color: #3E3436;
  }
}

.price {
  margin-top: 50px;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 22px;
  color: #363636;
  opacity: 0.64;
}

.cart-actions {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.add-to-cart-btn {
  display: flex;
  margin-left: 10px;
  height: 46px;
}

.quantity {
  width: 100px;
}

.description {
  margin-top: 60px;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 16px;
  color: #212121;
  line-height: 33px;
}

.servings {
  margin-top: 50px;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 15px;
  color: #363636;
  opacity: 0.66;
  line-height: 31px;
}

.social-sharing {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  padding-bottom: 40px;
}

.social-icon {
  flex: 0 0 75px;
  color: #3E3436;
  opacity: 0.86;
  cursor: pointer;

  &:hover {
    opacity: 1.0;
  }
}

@media (--small-only), (--medium-only) {
  .gallery {
    width: 100%;
    height: auto;
    flex: 0 0 100%;
  }

  .details {
    flex: 0 0 100%;
    height: auto;
  }
}

@media (--small-only) {
  .title {
    font-size: 30px;
    letter-spacing: 1.28px;
  }
}
