.top-banner {
  width: 100%;
  height: 846px;
  background: url('images/banners/top.jpg') 50% 0;
  background-size: cover;
}

.top-banner-header {

}

.top-banner-description {

}

.top-banner-shop-link {

}
