@import 'media-queries.css';
@import "colors.css";

.order-summary {
  composes: checkout-block from "../checkout.css";
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #212121;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.order-summary-collapsed {
  composes: order-summary;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #E6E6E6;
}

.header {
  lost-column: 10/12;
  lost-offset: -1/12;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.title {
  width: 100%;
}

.content {
  lost-column: 10/12;
  lost-offset: -1/12;
  font-size: 13px;
  border-top: 1px solid var(--border-color);
}

.products-table thead th {
  font-size: 13px;
  color: #9E9E9E;
  line-height: 18px;
  font-weight: normal;
}

.products-table tbody td {
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: top;
  border-bottom: 1px solid var(--border-color);
}

.price-summary {
  margin: 0;
  padding: 10px 0 0;
  list-style-type: none;

  & > li {
    padding-bottom: 10px;
  }

  border-bottom: 1px solid #E6E6E6;
}

.grand-total {
  composes: term-value-line from "ui/css/term-value-line.css";
  padding: 15px 0;
  line-height: 1.4em;
}

@media (--small-only), (--medium-only) {
  .header {
    &:after {
      content: "▲";
      margin-left: 20px;
      font-size: 12px;
      transform: scaleY(.7);
    }
  }

  .order-summary-collapsed {
    & .header:after {
      content: "▼";
    }

    & .content {
      display: none;
    }
  }

  .products-table thead {
    display: none;
  }
}

@media (--large) {
  .header {
    justify-content: center;

    & .price {
      display: none;
    }
  }
}

