[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_bottledwater.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bottledwater
TimeoutStartSec=5s
RestartSec=10s

[Install]
WantedBy=multi-user.target

[Unit]
Requires=schema-registry.service
After=schema-registry.service
