[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_consumer.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=consumer
TimeoutStartSec=5s
RestartSec=10s

[Install]
WantedBy=multi-user.target

[Unit]
Requires=kafka.service
After=kafka.service
