[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_consumer.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=consumer
TimeoutStartSec=5m
RestartSec=1m

[Install]
WantedBy=multi-user.target

[Unit]
Requires=bottledwater.service
After=bottledwater.service
