[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_consumer.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=consumer

[Install]
WantedBy=multi-user.target
