[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_elasticsearch.sh /home/vagrant/build/elasticsearch
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=elasticsearch
TimeoutStartSec=5s
RestartSec=10s

[Install]
WantedBy=multi-user.target

[Unit]
RequiresMountsFor=/vagrant
