[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_elasticsearch.sh /home/vagrant/build/elasticsearch
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=elasticsearch
TimeoutStartSec=5m
RestartSec=1m

[Install]
WantedBy=multi-user.target

[Unit]
RequiresMountsFor=/vagrant
