[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_schema-registry.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=schema-registry
TimeoutStartSec=5m
RestartSec=1m

[Install]
WantedBy=multi-user.target

[Unit]
Requires=kafka.service
After=kafka.service
