[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_schema-registry.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=schema-registry
TimeoutStartSec=5s
RestartSec=10s

[Install]
WantedBy=multi-user.target

[Unit]
Requires=zookeeper.service
After=zookeeper.service
