[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_schema-registry.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=schema-registry

[Install]
WantedBy=multi-user.target
