[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_zookeeper.sh /home/vagrant/build/kafka
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zookeeper
TimeoutStartSec=5s
RestartSec=10s

[Install]
WantedBy=multi-user.target

[Unit]
Requires=elasticsearch.service
After=elasticsearch.service
