[Service]
WorkingDirectory=/vagrant
ExecStart=/bin/bash vagrant/run_zookeeper.sh /home/vagrant/build/kafka
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zookeeper
TimeoutStartSec=5m
RestartSec=1m

[Install]
WantedBy=multi-user.target

[Unit]
Requires=elasticsearch.service
After=elasticsearch.service
