@import "colors.css";

.crumbs {
  display: flex;
}

.delimiter {
  font-size: 12px;
  color: #666;
  margin: 0 7px;
}

.delimiter-icon {
  width: 6px;
  height: 6px;
  line-height: 0;
  margin: 0 5px 2px;
}

.link {
  text-decoration: none;
  color: #666;
  letter-spacing: 0.6px;

  &:hover {
    text-decoration: underline;
  }
}

.item {
  font-size: 12px;
  color: #666;
}
