@import 'variables.css';

.template {
  height: 300px;
  overflow: hidden;
  color: var(--color-text);
  background-color: var(--bg-grey-buttons);
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  flex: 1;
  transition: all .2s;

  &:hover {
    background-color: var(--bg-green-buttons);
    color: var(--color-light-text);
  }
}

.icon {
  display: block;
  font-size: 48px;
}
