# IDE/editor files
.vscode
.idea

# debug output
debug

# vendor folder
vendor/

# logs
logs/

# binaries
main.exe
main
middlewarehouse
middlewarehouse.exe
.DS_Store

# consumers
stock-items-consumer
shipments-consumer
capture-consumer
gift-card-consumer
customer-groups-consumer

# other binaries
seeder
