
.type-chooser {
  max-width: 40%;
}

.inline-edit-input {
  display: inline-block;
  line-height: 40px;
}

.control-after-type {
  display: inline-block;
  margin-left: 20px;

  & > * {
    vertical-align: baseline;
    padding-right: 10px;
  }
}
