
.qualifier-types {
  max-width: 40%;
}

.total-amount {
  display: inline-block;
  line-height: 40px;
}

.control-after-type {
  display: inline-block;
  margin-left: 20px;

  & > * {
    vertical-align: baseline;
  }
}
