@import 'colors.css';

.counter {
  display: inline-flex;
  border: solid 1px var(--bg-grey-buttons);
}

.input {
  width: 40px;
  border: none;
  text-align: center;

  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.controls {
  background-color: var(--bg-white);
  transition: all .2s;

  &:hover, &:disabled, &:disabled:hover {
    background-color: var(--bg-white);
  }

  &:hover:not(:disabled) {
    color: var(--color-additional-text);
  }
}
