@import 'colors.css';

.counter {
  display: inline-flex;
  border: solid 1px #ced2d5;
}

.input {
  width: 40px;
  border: none;
  text-align: center;

  &::-webkit-inner-spin-button,
  -webkit-outer-spin-button {
    -webkit-appearance: none;
  }

}

.controls {
  background-color: #ffffff;
  transition: all .2s;

  &:hover,
  &:disabled,
  &:disabled:hover {
    background-color: #ffffff;
  }

  &:hover:not(:disabled) {
    color: var(--color-additional-text);
  }
}
