#order-details {
  position: relative;

  .controls {
    text-align: right;
    .margin-bottom(30px);

    button {
      .margin-left(10px);
    }
  }

  .main {
    .margin-right(270px);
  }

  header {
    background-color: @color-thead-bg;
    .padding-left(15px);
    .font-spec(20px, 600, 35px);
  }

  article {
    section { .margin-bottom(20px); }
  }
}
