#aside-blocks {
  position: absolute;
  top: 0;
  right: 0;
  .width(250px);

  > .fc-contentBox {
    .margin-bottom(20px);
  }


  .order-summary {
    .font-spec(14px, 31px);

    & > article {
      .padding-top(34px);
      .padding-bottom(50px);
    }
  }

  .customer-info {
    .font-spec(14px, 31px);

    dt {
      color: #babdbe;
      .width(15%);
    }

    dd {
      .width(85%);
      text-align: left;
    }
  }

  dl {
    margin: 0;

    dt,
    dd {
      .width(50%);

    }

    dd { text-align: right; }


    dt,
    dd {
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }

  }
}
