
@import "media-queries.css";
@import "variables.css";
@import "colors.css";
@import "icons.css";

html, body {
  font-size: 16px;
}

@media (--small-viewport) {
  html, body {
    font-size: 14px;
  }
}

.site {
  lost-flex-container: row;
  margin: 0 var(--grid-margin);
  color: var(--blackish);
}
