
@import "media-queries.css";

.storefront {
  lost-column: 9/11;
  lost-offset: -1/11;
  margin: 45px 0;
}

.head {
  display: flex;
  align-items: center;
}

.search {
  flex-grow: 1;
}

.hamburger {
  flex-grow: 1;
  display: none;
}

.search, .hamburger, .cart, .head-icon {
  width: 20px;
  height: 20px;
}

.tools {
  flex-grow: 1;
  text-align: right;
  display: flex;
}

.login {
  flex-grow: 1;
}

.footer {
}

.logo {
  width: 40px;
  height: 40px;
}

.categories {
  margin-top: 40px;
}

.mobile-sidebar {
}

.overlay {
}

@media (--medium-viewport) {
  .storefront {
    lost-column: 1/1;
    lost-offset: 0;
    margin: 10px 0;
  }
}


@media (--small-viewport) {
  .storefront {
    lost-column: 1/1;
    lost-offset: 0;
    margin: 10px 0;
  }

  .login-link {
    display: none;
  }

  .categories {
    display: none;
  }

  .search {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
