@import "media-queries.css";
@import "variables.css";

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-container {
  flex: 1;
  margin-left: var(--grid-margin);
  margin-right: var(--grid-margin);
}

.storefront {
  lost-column: 9/11;
  lost-offset: -1/11;
}

.categories {
  margin-top: 40px;
}

.mobile-sidebar {
  display: none;
}

.overlay {
  display: none;
}

@media (--medium-viewport) {
  .storefront {
    lost-column: 1;
    lost-offset: 0;
  }

  .content-container {
    margin-top: 10px;
  }
}

@media (--small-viewport) {
  .storefront {
    lost-column: 1;
    lost-offset: 0;
  }

  .content-container {
    margin-top: 10px;
  }

  .categories {
    display: none;
  }

  .mobile-sidebar {
    display: block;
  }
}
