@import "media-queries.css";
@import "variables.css";
@import "colors.css";

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-container {
  flex: 1 1 auto;
  margin-top: 222px;
  background: var(--background-color);
  z-index: 0;
  overflow: auto;
}

.categories {
  margin-top: 40px;
}

.mobile-sidebar {
  display: none;
}

.overlay {
  display: none;
}

@media (--small-only), (--medium-only) {
  .content-container {
    margin-top: 80px;
  }

  .mobile-sidebar {
    display: block;
    z-index: 10;
  }
}
