.node {
  position: relative;
  line-height: 46px;
  font-size: 13px;
  font-weight: 400;
  color: #484848;

  &.active {
    background-color: #F7F7F7;;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background: #49C2CA;
    }
  }
}

.item {
  margin-left: 20px;
}

.text {
  margin-left: 10px;
}

.attributes {
  &:hover {
    cursor: pointer;
  }

  & i {
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 8px;
  }
}
