@import 'colors.css';

.node {
  position: relative;
  line-height: 46px;
  font-size: 13px;
  font-weight: 400;
  color: var(--color-text);

  &.active {
    background-color: var(--bg-grey-headers);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background: var(--bg-green-buttons);
    }
  }
}

.item {
  padding-left: 20px;
  transition: background .2s;
}

.item:hover {
  background: var(--bg-grey-headers);
}

.text {
  margin-left: 10px;
}

.attributes {
  &:hover {
    cursor: pointer;
  }

  & i {
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 8px;
  }
}
