---

- name: Setup Flyway Config
  template: src=flyway.phoenix.conf dest="{{phoenix_dir}}/sql/flyway.conf" mode="u+x,g+x,o+x"

- name: Repair Phoenix Database
  shell: FLYWAY_HOME={{flyway_dir}} {{flyway}} repair
  args:
    chdir: "{{phoenix_dir}}"

- name: Migrate Phoenix Database
  shell: FLYWAY_HOME={{flyway_dir}} {{flyway}} migrate
  args:
    chdir: "{{phoenix_dir}}"
