upstream marketplace {
  {{ '{{' }} range service "marketplace" {{ '}}'}} server {{ '{{'}} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }} max_fails=10 fail_timeout=30s weight=1;
  {{ '{{' }} else {{ '}}' }} server {{consul_services.marketplace}} fail_timeout=30s max_fails=10; {{ '{{' }} end {{ '}}' }}
}

upstream marketplace-ui {
  {{ '{{' }} range service "marketplace-ui" {{ '}}'}} server {{ '{{'}} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }} max_fails=10 fail_timeout=30s weight=1;
  {{ '{{' }} else {{ '}}' }} server {{consul_services.marketplace_ui}} fail_timeout=30s max_fails=10; {{ '{{' }} end {{ '}}' }}
}

upstream product-search {
  {{ '{{' }} range service "product-search" {{ '}}'}} server {{ '{{'}} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }} max_fails=10 fail_timeout=30s weight=1;
  {{ '{{' }} else {{ '}}' }} server {{consul_services.product_search}} fail_timeout=30s max_fails=10; {{ '{{' }} end {{ '}}' }}
}
