.fc-admin {
  display: flex;
  .min-height(100vh);

  .fc-sidebar {
    flex: 0 0 64px;
  }
  .fc-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .fc-main {
      flex: 1;
      display: flex;
    }
  }
}

.fc-align-right {
  text-align: right;
}

.fc-align-left {
  text-align: left;
}

.fc-align-center {
  text-align: center;
}
