* {
  outline: 0;
  box-sizing: border-box;
  &:before, &:after { box-sizing: border-box; }
}

html {
  font-size: 62.5%;
}

body {
  color: @color-body;
  font-family: 'Open Sans', sans-serif;
  .font-spec(@site_font-size);
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  height: 0;
  background: none;
}

img {
  max-width: 100%;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;

  &[disabled] { cursor: default; }
}

textarea {
  resize: none;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

table {
  width: 100%;
  text-align: left;
}
