.banner {
  text-align: center;
}

.header {
  font-weight: 600;
  font-size: 40px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 19px;
  font-style: italic;
  margin: 0 0 22px 0;
}

.link {
  composes: button-primary from "ui/css/buttons.css";
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
