@import "media-queries.css";
@import "colors.css";
@import "variables.css";

.guest-auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: var(--body-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 90px;
  lost-column: 10/12;
  lost-offset: -1/12;
}

.logo {
  width: auto;
  height: 60px;
  margin: 10px 0;
}

.forms {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  counter-reset: item;
}

.auth-block {
  margin: 0;
}

.auth-block:first-child {
  lost-column: 1/3;
  lost-offset: 1/12;
}

.auth-block:last-child {
  lost-column: 1/3;
  margin-left: 0 !important;
}

.mobile-divider-block {
  visibility: hidden;
}

@media (--small-only), (--medium-only) {
  .home {
    display: none;
  }

  .guest-auth {
    display: block;
    overflow: auto;
  }

  .forms {
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 80px;
    margin-top: 20px;
  }

  .auth-block:first-child,
  .auth-block:last-child {
    width: 100%;
  }

  .mobile-divider-block {
    visibility: visible;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    & p {
      margin: 0 15px;
    }
  }

  .mobile-divider {
    height: 1px;
    position: relative;
    background: var(--input-border-color);
    flex-grow: 1;
  }
}
