* {
  outline: 0;
  box-sizing: border-box;
  &:before, &:after { box-sizing: border-box; }
}

html {
  font-size: 62.5%;
}

body {
  .colors(@color-default-fg, @color-default-bg);
  .font-spec(@site_font-size);
}

hr {
  border: none;
  height: 0;
  background: none;
}

img {
  max-width: 100%;
}
