@import 'colors.css';

.field-label {
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: var(--color-text);
  text-transform: capitalize;
}

.field-comment {
  margin-top: 8px;
  font-size: 13px;
  color: #909090;
}

.full-width {
  min-width: 100%;
}

.cancel-button {
  margin-right: 20px;
}

.text-gray {
  color: #909090;
}

:global(.fc-coupon-codes .fc-live-search) {
  padding: 0;
}
