---

- name: Restart Postgres
  service: name=postgresql state=restarted enabled=yes

# Phoenix

- name: Get Latest Phoenix Seeder Image
  shell: docker pull {{docker_registry}}:5000/phoenix-seeder:{{docker_tags.phoenix}}
  when: with_base_seeds is defined and with_base_seeds

- name: Seed Phoenix Database
  shell: docker run --network host -t {{docker_registry}}:5000/phoenix-seeder:{{docker_tags.phoenix}} java -Dphoenix.env={{phoenix_env}} -Ddb.host={{db_host}} -Ddb.url=jdbc:postgresql://{{db_host}}/{{db_name}}?user={{db_user}} -Ddb.name={{db_name}} -Dapis.kafka.schemaRegistryURL=http://{{schema_server}} -Dapis.kafka.bootStrapServersConfig={{kafka_server}} -cp '{{phoenix_seeder_jar}}:{{phoenix_jar}}' {{seeds_cmd}}
  when: with_base_seeds is defined and with_base_seeds

- name: Gatling Seed Db
  shell: docker run --network host -t {{docker_registry}}:5000/phoenix-seeder:{{docker_tags.phoenix}} java -Dphoenix.env={{phoenix_env}} -Dapp.baseUrl=http://{{phoenix_server}} -Dhttp.interface={{phoenix_host}} -Ddb.host={{db_host}} -Ddb.url=jdbc:postgresql://{{db_host}}/{{db_name}}?user={{db_user}} -Ddb.name={{db_name}} -cp '{{phoenix_seeder_jar}}:{{phoenix_jar}}' {{gatling_oneshot_seeds_cmd}}
  when: with_gatling_seeder is defined and with_gatling_seeder

# Middlewarehouse

- name: Create Middlewarehouse Seeder directory
  file: path="{{middlewarehouse_dir}}/seeder" state=directory
  when: with_mwh_seeder is defined and with_mwh_seeder

- name: Copy Middlewarehouse Seeder .env
  template: src=middlewarehouse.env dest="{{middlewarehouse_dir}}/seeder/.env"
  when: with_mwh_seeder is defined and with_mwh_seeder

- name: Get Latest Middlewarehouse Image
  shell: docker pull {{docker_registry}}:5000/middlewarehouse-seeder:{{docker_tags.middlewarehouse}}
  when: with_mwh_seeder is defined and with_mwh_seeder

- name: Run Middlewarehouse Seeder docker container
  command: docker run --env-file "{{middlewarehouse_dir}}/seeder/.env" --network host {{docker_registry}}:5000/middlewarehouse-seeder:{{docker_tags.middlewarehouse}}
  when: with_mwh_seeder is defined and with_mwh_seeder

# Hyperion

- name: Create Hyperion Seeder directory
  file: path="{{hyperion_dir}}/priv/seeds" state=directory
  when: with_hyperion_seeder is defined and with_hyperion_seeder

- name: Copy Hyperion Seeder .env
  template: src=hyperion.env dest="{{hyperion_dir}}/priv/seeds/.env"
  when: with_hyperion_seeder is defined and with_hyperion_seeder

- name: Get Latest Hyperion Seeder Image
  shell: docker pull {{docker_registry}}:5000/hyperion-seeder:{{docker_tags.hyperion}}
  when: with_hyperion_seeder is defined and with_hyperion_seeder

- name: Run Hyperion Seeder docker container
  command: docker run --env-file "{{hyperion_dir}}/priv/seeds/.env" --network host -e HYPERION_DB_HOST={{docker_db_host}} {{docker_registry}}:5000/hyperion-seeder:{{docker_tags.hyperion}}
  when: with_hyperion_seeder is defined and with_hyperion_seeder
