.dropdown {
  max-width: none;
  margin-bottom: 10px;
}

.dropdown :global .fc-dropdown__items {
  padding-bottom: 40px;
  box-sizing: content-box;
}

.newValueButton {
  position: absolute;
  justify-content: flex-start;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #d9d9d9;
  color: #363636;
}

.newValueButton:hover {
  background: #f9f9f9;
}
