@import "media-queries.css";
@import "colors.css";

.promo-code {}

.gift-card, .coupon {
  color: var(--text-color);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.gift-card-info {}

.coupon-info {}

.coupon-code {}

.title {
  font-weight: 900;
}

.error {}

.action-link-remove {
  composes: action-link from "ui/action-link/action-link.css";
  font-size: 14px;
}
