@import 'media-queries.css';
@import 'colors.css';

.fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px;

  & :global(.fc-errors) {
    width: 100%;
    margin-top: 10px;
  }

  & :global(.fc-alert) {
    border-radius: 0;
    margin-top: 0;
  }
}

.code-field {
  flex-grow: 1;
}

.code {
  composes: text-input from "ui/css/input.css";
  width: 100%;
  border-right: none;
  background-color: white;
  border-color: white;

  &::placeholder {
    text-transform: uppercase;
  }
}

.root.dark .code {
  background-color: white;
  border-color: white;
}

.root.light .code {
  background-color: #F4F2F2;
  border-color: #F4F2F2;
}

.submit {
  padding: 0 20px;
  margin: 0;
  border: none;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #8D757A;
  text-transform: uppercase;
  min-width: 8em;
  height: 36px;

  &:hover {
    background: var(--additional-color);
    color: #FFFFFF;
  }

  &:disabled {
    background: #8D757A;
  }
}

.gift-card {
  display: flex;
  align-items: center;
  color: #212121;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
}

.root.billingView .gift-card:first-child {
  border-top: none;
}

.gift-card-description {
  flex-grow: 1;
  line-height: 23px;
  font-weight: 300;
}

.gift-card-title {
  text-transform: uppercase;
}

.gift-card-curr {
  display: block;
}

.coupon {
  display: flex;
  align-items: center;
  color: #212121;
  padding: 15px 0;
  border-top: 1px solid var(--border-color);
}

.root.billingView .coupon {
  border-top: none;
}

.coupon-code {
  flex-grow: 1;
}

.delete-promo-btn {
  composes: delete-button from '../../components/cart/line-item.css';
  line-height: 15px;
  margin-left: 10px;
}

.delete-promo-icon {
  composes: delete-icon from '../../components/cart/line-item.css';
}

@media (--small-only) {
  .code {
    height: 36px;
  }
  .submit {
    padding-left: 0;
    padding-right: 0;
    min-width: 4em;
  }
  .fieldset {
    flex-wrap: nowrap;
  }
}

@media (--medium) {
  .submit {
    padding: 0 30px;
    font-size: 14px;
    height: 46px;
  }
}

.error {
  margin: 8px 0;
}
