upstream storefront {
  << range service "storefront" >> server << .Address >>:<< .Port >> max_fails=10 fail_timeout=30s weight=1;
  << else >> server {{storefront_server}} fail_timeout=30s max_fails=10; << end >>
}

upstream storefront-top-drawer {
  << range service "storefront-top-drawer" >> server << .Address >>:<< .Port >> max_fails=10 fail_timeout=30s weight=1;
  << else >> server {{storefront_top_drawer_server}} fail_timeout=30s max_fails=10; << end >>
}

upstream storefront-perfect-gourmet {
  << range service "storefront-perfect-gourmet" >> server << .Address >>:<< .Port >> max_fails=10 fail_timeout=30s weight=1;
  << else >> server {{storefront_perfect_gourmet_server}} fail_timeout=30s max_fails=10; << end >>
}
