@import "media-queries.css";
@import "colors.css";

.item-link {
  line-height: 40px;
  text-decoration: none;

  &.active {
    box-shadow: 0 2px rgba(255, 255, 255, 0.70);
  }
}

@media (--small-only), (--medium-only) {
  .item-link {
    color: var(--whitish);
  }
}

@media (--large) {
  .list {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .item {
    margin: 0 50px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .item-link {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--blackish);

    &:hover {
      opacity: .7;
    }

    &.active {
      box-shadow: 0 2px #3E3436;
    }
  }
}

@media (--x-large) {
  .item {
    margin-right: 100px;
  }
}
