/* Hide text until types load or fail to load */

.regular-text {
  line-height: 1.25;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  font-size: 13px;
  letter-spacing: .025em;
}

.title-font {
  font-size: 12px;
  letter-spacing: .04em;
}

:root {
  --icon-ft: {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    font-family: tumi-icon-ft;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  };
}

