@import 'colors.css';

.modal {
  width: 800px;
}

.promotion-coupons-new :global .fc-content-box .content-box⁄content-box__header {
  height: auto;
  margin: 0 0 10px;
  background: transparent;
  padding-bottom: 5px;
}

.promotion-coupons-new :global .fc-content-box .fc-content-box-indent {
  margin: 0;
}

.promotion-coupons-new :global .fc-content-box .fc-content-box-indent .content-box⁄content-box__header {
  height: 60px;
  margin: 0;
  background: var(--bg-grey-headers);
  padding-bottom: 0;
}

.promotion-coupons-new :global .fc-content-box .content-box⁄content-box__header .content-box⁄content-box__title {
  padding-left: 0;
}

.promotion-coupons-new :global .object-page⁄object-page__object-details {
  margin: 0;
}

.promotion-coupons-new :global .fc-content-box {
  border: 0;
  margin-bottom: 30px;
}

.promotion-coupons-new :global .fc-coupon-inline-row {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  margin-bottom: 0;
}

.promotion-coupons-new :global .fc-coupon-inline-row label {
  display: block;
  line-height: 30px;
}

.promotion-coupons-new form > div {
  width: 100%;
}
