
.promotion-coupons-page :global .fc-live-search {
  margin-left: -1.85%;
  margin-right: -1.85%;
}

.promotion-coupons-page :global .fc-content-box{
  width: 800px;
  max-width: 100%;
}
.promotion-coupons-page :global .fc-save-cancel{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}


 