.fc-alert {
  &.is-alert-error,
  &.is-alert-warning,
  &.is-alert-success {
    .font-spec(13px, 18px);
    color: @color-decor1;
    .padding(6px);
    .border-radius(3px);

    > i {
      .margin-right(5px);
      .font-spec(20px, 20px);
    }
  }

  .fc-errors & {
    &:first-child {
      margin-top: 0;
    }

    .margin-top(10px);
  }

  &.is-alert-error {
    background: @color-decor23;
  }

  &.is-alert-warning {
    background: @color-decor25;
  }

  &.is-alert-success {
    background: @color-decor17;
  }
}
