.fc-alert {
  &.is-error,
  &.is-warning,
  &.is-success {
    .font-spec(13px, 18px);
    color: @color-decor1;
    .padding(6px);
    .margin(10px 10px 0 10px);
    .border-radius(3px);

    > i {
      .margin-right(5px);
    }
  }

  &.is-error {
    background: @color-decor23;
  }

  &.is-warning {
    background: @color-decor25;
  }

  &.is-success {
    background: @color-decor23;
  }
}
