.fc-datepicker {
  &__day {
    &:hover {
      background: #3AACB3;
      color: #FFF;
      cursor: pointer;
    }

    &._selected {
      background: #4FC2C9;
      color: #FFF;
      cursor: pointer;
    }

    &._last-month, &._next-month {
      background: #EBEBEB;
      color: #484848;

      &:nth-child(7n + 1) {
        border-left: none;
      }
    }
  }

  &._in-menu {
    margin-bottom: 0;

    .fc-datepicker__dropdown-container {
      position: inherit;
      margin-top: 0;
      border-radius: 2px 2px 0 0;
      box-shadow: none;
    }
  }
}
