.fc-pilled-input {
  &__input-container {
    &:hover {
      border: 1px solid @color-decor29;
    }
  }

  &._active {
    .fc-pilled-input__input-container {
      border: 1px solid @color-decor29;
      box-shadow: inset 1px 1px 3px 0 rgba(162, 222, 225, 0.64);
    }
  }
}
