.fc-tabbed-nav {
  &-item {
    &:hover {
      margin-bottom: -2px;
      border-bottom: 2px solid @color-decor7;
    }
    a:hover {
      cursor: pointer;
      color: @color-decor37;
    }
  }
  &-selected, .is-active {
    > a,
    > a:visited {
      color: @color-decor37;
    }
  }
  &-parent {
    &:hover {
      ul {
        display: block;
      }
    }
  }

  &-dropdown {
    li:hover {
      background: @color-decor11;
    }
  }
}
