.fc-tabbed-nav {
  &-selected {
    color: @color-decor37;
    margin-bottom: pxtorem(-2px);
    border-bottom: pxtorem(2px) solid @color-decor3;
  }
  &-parent {
    &:hover {
      ul {
        display: block;
      }
    }
  }

  &-dropdown {
    li:hover {
      background: @color-decor11;
    }
  }
}
