{
  "extends": "airbnb",
  "rules": {
    "max-len": [2, 120, 4,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\("
      }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  }
}