---

- name: Install Service Locations Upstreams
  template: src=service_locations.j2 dest=/etc/nginx/service_locations.conf

- name: Install Service Upstreams
  template: src=services.j2 dest=/etc/nginx/sites-available/services

- name: Enable Service Upstreams
  file: src=/etc/nginx/sites-available/services dest=/etc/nginx/sites-enabled/services owner=root group=root state=link

- name: Install Ashes hosts
  template: src=ashes.j2 dest=/etc/nginx/sites-available/ashes

- name: Enable Ashes hosts
  file: src=/etc/nginx/sites-available/ashes dest=/etc/nginx/sites-enabled/ashes owner=root group=root state=link

- name: Install Firebird hosts
  template: src=firebird.j2 dest=/etc/nginx/sites-available/firebird

- name: Enable Firebird hosts
  file: src=/etc/nginx/sites-available/firebird dest=/etc/nginx/sites-enabled/firebird owner=root group=root state=link

- name: Install Firebrand hosts
  template: src=firebrand.j2 dest=/etc/nginx/sites-available/firebrand

- name: Enable Firebrand hosts
  file: src=/etc/nginx/sites-available/firebrand dest=/etc/nginx/sites-enabled/firebrand owner=root group=root state=link

- name: Restart Nginx
  service: name=nginx state=restarted
  when: not packing
