
.fc-activity {
  background: @bg-white;
  border: 1px solid @color-border;
  padding: 20px;
  font-size: 14px;

  &._first {
    background: #eafeff;
    border: 1px solid @color-link;
  }

  @author-width: 40px;
  @author-indent: 12px;

  &__head-content {
    display: flex;
  }

  &__controls {
    align-self: flex-end;
  }

  &__body {
    flex-grow: 1;

    .initials {
      vertical-align: top;
      margin-right: @author-indent;
      width: @author-width;
      height: @author-width;
      line-height: @author-width;
    }
  }

  &__customer-icon {
    .inline-block();
    margin-right: @author-indent;
    font-size: 26px;
    line-height: 40px;
    height: 40px;

    > .icon-customer {
      background-color: @bg-green-buttons;
      color: @color-light-text;
      width: 40px;
      height: 40px;
      text-align: center;
    }
  }

  &__timestamp {
    font-size: 13px;
    color: @color-additional-text;
    line-height: 16px;
    margin-bottom: 12px;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__description {
    display: inline-block;
  }

  &__link {
    color: @color-link;

    &:hover {
      text-decoration: underline;
    }
  }

  &__view-more {
    text-decoration: underline;
    cursor: pointer;
  }

  &__details {
    font-size: 13px;
    color: @color-text;
    line-height: 18px;
    border-top: 1px solid @color-border;
    margin-top: 20px;
    padding-left: @author-indent + @author-width;
  }

  &__details-head {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  // styles for representatives

  &__customer-info {
    > dt {
      font-weight: bold;
    }

    > dd {
      margin-left: 0;
      padding-left: 0;
    }
  }
}
