.fc-address-select {
  .clearfix();

  &-header {
    .clearfix();
    margin-bottom: 10px;
    .font-spec(16px, 600, 40px);
  }

  &-body {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    background: @bg-white;
  }

  &-item {
    margin-bottom: 10px;
    background: @bg-white;
    padding: 20px 10px;
  }

  &-item-controlls {
    text-align: center;
  }

  .fc-address-details {
    height: inherit;
  }
}
