.fc-big-checkbox {
  &__visible-box {
    height: 40px;
    width: 40px;
    background: @color-white;
    border: 2px solid @color-border;
    border-radius: 3px;
  }

  &__hidden-input {
    display: none;
  }
}
