.fc-breadcrumbs {
  flex-grow: 1;
  align-items: baseline;

  &__item, &__delimiter {
    display: inline;
    margin: 0 5px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__delimiter i {
    .font-spec(10px, @normal, 20px);
    margin-top: -1px;
  }

  &__link {
    .font-spec(15px, @thin, 20px);
    color: @color-decor5;
    transition: all .2s;
  }

  &__link:hover {
    color: @color-decor3;
  }
}
