.fc-breadcrumbs {
  flex-grow: 1;
  align-items: baseline;
  > ul{
    padding-left:20px;
  }
  &__item, &__delimeter {
    display: inline;
    margin: 0 5px;
    color:#d4d4d4;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__delimeter i {
    .font-spec(14px, @normal, 20px);
    margin-top: -5px;
  }

  &__link {
    .font-spec(15px, @thin, 20px);
    color: #363636;
    transition: all .2s;
  }

  &__link:hover {
    opacity:0.6;
  }
}
