@button-width: 40px;
@button-height: 40px;
@button-width-small: 24px;
@button-height-small: 24px;
@button-font-size: 14px;

.fc-btn {

  &[class*=" icon-"] {
    padding: 0;
    width: @button-width;
  }

  i[class*="icon-"]:only-child {
    margin: 0 -10px;
  }

  i[class*="icon-"] {
    vertical-align: top;
  }

  i[class*="icon-"] + span,
  span + i[class*="icon-"] {
    margin-left: 5px;
  }
}

.fc-btn-link,
.fc-btn-link:visited {
  color: @color-text;
  text-decoration: underline;
}
