
.fc-change {
  &._positive {
    color: @color-action-text;
  }
  &._negative {
    color: @color-error-text;

    &:before {
      content: "-";
    }
  }

  &:before {
    content: "+";
    padding-right: 0.35em;
  }
}
