
.fc-change {
  &._positive {
    color: @color-green-buttons;
  }
  &._negative {
    color: @color-decor47;

    &:before {
      content: "-";
    }
  }

  &:before {
    content: "+";
    padding-right: 0.35em;
  }
}
