.fc-choose-customer-row {
  &__name {
    .font-spec(13px, 700, 18px);
  }

  &__guest {
    color: @color-additional-text;
    .font-spec(13px, 600, 18px);
  }

  &__account-type {
    display: flex;
    justify-content: space-between;
  }
}
