.fc-content-box {
  .colors(@fg: @color-default-fg, @bg: @color-white);
  position: relative;

  border: 1px solid @color-decor9;
  margin-right: 1px;

  &-header {
    background-color: @color-decor12;
    border-bottom: 1px solid @color-decor9;

    .font-spec(16px, 600, 24px);
    height: 60px;
    display: flex;
    align-items: center;

    .fc-title {
      padding-left: 20px;
      flex: 1;
    }

    .fc-controls {
      padding-right: 15px;
      text-align: right;
      font-size: 22px;
    }
  }

  &-notice {
    margin: 40px 0;
    .font-spec(18px, 24px);
    color: @color-decor8;
  }

  /* Specifics for nested tables */

  .fc-table-wrap {
    border: none;
  }
  /* End table specifics */

  thead tr:first-child th,
    // .messages for fc-error & fc-success & fc-warning blocks
  .messages {
    box-shadow: inset 0 2px 3px 0 @color-white;
  }

  &-indent {
    margin: 20px;
  }

  .fc-content-box-footer {
    .font-spec(17px, 700, 50px);
    padding: 0 20px;

    .fc-controls {
      text-align: right;
    }
    > .fc-grid {
      flex: 1;
    }
  }

  &__empty-text {
    padding: 0 20px;
    text-align: center;
    background: @color-white;
    color: #9BA3A7;
    .font-spec(15px, 600, 60px);
  }

  &__empty-row {
    .font-spec(18px, 400, 52px);
    color: @color-decor8;
  }
}
