@media (max-width: 1350px) {

  .fc-counter {

    input[type=text], input[type=number] {
      width: 30px;
    }

    .fc-input-prepend, .fc-input-append, .fc-btn-counter {
      width: 20px;
    }
  }
}

.fc-counter {
  margin: auto;
  display: inline-flex;

  &.fc-input-group input.fc-counter__input {
    border-radius: 0;
    width: 50px;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.fc-transition-counter-appear,
.fc-transition-counter-enter {
  opacity: 0.01;
}

.fc-transition-counter-appear.fc-transition-counter-appear-active,
.fc-transition-counter-enter.fc-transition-counter-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
