.fc-credit-cards {
  display: flex;
  flex-direction: column;

  .fc-card-default-control {
    display: flex;
    align-items: center;
    .font-spec(13px, 400, 18px);

    color: @color-additional-text;
  }

  .fc-card-container-content {
    flex-grow: 1;
    margin-bottom: 30px;
  }

  .fc-card-container__choose-control {
    text-align: center;

    .fc-btn {
      padding: 0 45px;
    }
  }
}
