.fc-credit-cards-new, .fc-credit-cards-edit {
  padding: 25px 10px 20px;
}

.fc-customer-credit-card-form {
  > .fc-save-cancel {
    margin-top: 10px;
  }
}

.fc-customer .fc-card-container.fc-credit-cards-new,
.fc-customer .fc-card-container.fc-credit-cards-edit {
  height: inherit;
}
