.fc-date-time-picker {
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  .font-spec(14px, 600, 18px);

  &__date {
    .margin-bottom(10px);
    .margin-right(10px);
  }

  &__time {
    align-items: center;
    display: flex;
    flex-grow: 1;
    .margin-bottom(10px);
  }

  &__hour {
    .padding-right(5px);
    max-width: 40px;
  }

  &__minute {
    .margin-left(5px);
    .margin-right(5px);
    max-width: 40px;
  }

  &__separator {
    .margin-left(5px);
  }

  &__ampm {
    .margin-left(5px);
    .margin-right(5px);
    max-width: 45px;
  }

  &__close {
    //margin-left: 10px;
    flex-grow: 1;
    text-align: right;
  }

  .fc-datepicker__dropdown-container {
    margin-left: -120px;
  }

  .fc-append-input {
    display: flex;
    flex-wrap: no-wrap;
  }

  .fc-append-input__input-field {
    max-width: 100px;
  }

  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__counter-button {
    border: none;
    background: transparent;
  }
}
