.fc-data-table {
  @dropdown-height: 40px;

  .inner {
    overflow-x: auto;
    overflow-y: hidden;

    .scroll-shadow(@bg-grey-headers, @bg-white, 12px);

    &.inner-head {
      .scroll-shadow(@color-border, @bg-grey-headers, 12px);
    }
  }

  .fc-table {
    width: auto;
    border: none;
    table-layout: fixed;
    border-collapse: separate;
    white-space: nowrap;

    thead, .fc-table-head {
      th, .fc-table-th {
        &.row-head-left {
          background: @bg-grey-headers;
        }

        &:nth-child(2),
        &:nth-child(3) {
          width: 50%;
        }
      }
    }

    time {
      white-space: nowrap;
    }

    tbody, .fc-table-body {
      tr, .fc-table-tr {
        background: none;
      }

      .row-head-left {
        display: flex;
        align-items: center;
      }
    }
  }

  .fc-table-head .row-head-left,
  .fc-table-body .row-head-left {
    position: absolute;
    display: inline-flex;
    background: @bg-white;
    left: 0;
    min-width: 55px !important;
    max-width: 55px !important;
    border-right: 1px solid @color-border;
    transform: translateZ(0);
  }

  .fc-table-head .row-head-left {
    z-index: 1;
    background-color: @bg-grey-headers;
  }

  .initials {
    margin-top: -1px;
  }

  .fc-dropdown__items {
    min-width: inherit;

    &._dropup {
      transform: translateY(calc(~"-100% - " @dropdown-height));
    }
  }

  p {
    margin: 0;
  }
}
