@dropdown-height: 40px;
@checkbox-dropdown-height: 24px;

.fc-dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 200px;
  text-align: left;

  &__controls {
    overflow: hidden;
    display: flex;
    flex: 1;
    align-items: stretch;
  }

  &__value {
    height: @dropdown-height;
    padding-left: 10px;
    .colors(@color-text, @bg-grey-buttons);
    .font-spec(14px, 400, @dropdown-height);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    flex-grow: 1;
    transition: all .2s;
  }

  &__items {
    display: none;
    position: absolute;
    min-width: 100%;
    z-index: 20;
    background-color: @bg-white;
    border: 1px solid @color-border;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    user-select: none;
    max-height: 30vh;
    overflow: hidden;

    &._open {
      display: inline-block;
    }
  }

  &__item-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: inherit;
  }

  &__items._dropup {
    transform: translateY(calc(~"-100% - " @dropdown-height));
  }

  &__item,
  &__blank-item {
    height: 44px;
    .colors(@color-text, @bg-white);
    .font-spec(14px, 400, 44px);
    padding: 0 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: background .2s;

    &._active,
    &:hover {
      background-color: @bg-grey-headers;
    }
  }

  &__item-hidden {
    display: none;
  }

  &__blank-item {
    font-size: 16px;
    color: @color-additional-text;
    text-align: center;

    &:hover {
      background-color: @bg-white;
    }
  }

  // states
  &._disabled {
    .fc-dropdown__value {
      background-color: @bg-grey-buttons-hover;
      color: @color-additional-text;
      cursor: default;
    }

    .fc-dropdown__button {
      color: @color-additional-text;
      cursor: default;
    }
  }

  &._primary {
    .fc-dropdown__button,
    .fc-dropdown__value {
      .colors(@color-light-text, @bg-green-buttons);
    }
  }

  &._editable {
    .fc-dropdown__value {
      padding: 0;

      input {
        .size(100%);
        padding: 0 10px;
        .colors(@color-text, @bg-white);
      }
    }
  }
}

.fc-searchable-dropdown__item-list {
  max-height: ~"calc(30vh - 60px)";
}
