.fc-expandable-table {
  border: none;
  table-layout: fixed;

  &.fc-table tbody tr {
    border: 1px solid @color-decor9;
  }

  &.fc-table thead th:last-child {
    border-right: 1px solid @color-decor9;
  }

  .fc-table tbody tr&__drawer,
  .fc-table tbody td&__drawer-cell {
    height: auto;
  }

  .fc-table tbody tr&__drawer._hidden,
  .fc-table tbody tr&__drawer._hidden td&__drawer-cell {
    height: 0;
  }

  &__drawer {
    .fc-table-wrap {
      overflow: hidden;
      transition: max-height 0.4s ease-in;
    }

    &._shown {
      .fc-table-wrap {
        max-height: 1000px;
      }
    }

    &._hidden {
      .fc-table-wrap {
        max-height: 0 !important;
        transition: max-height 0.3s ease-out;
      }
    }
  }

  .fc-table tbody td&__drawer-cell {
    background: none;
    padding: 0;
    padding-left: 20px;
    border: none;
    border-top: 1px solid @color-decor9;
  }

  .fc-table tbody tr&__drawer {
    background: none;
    padding: 0;
    border: none;
    border-top: 1px solid @color-decor9;
  }

  &__parent-row {
    cursor: pointer;

    .icon-chevron-down:before {
      margin: 0 10px 0 -5px;
      transform: rotateX(0);
      transform-origin: 50% 45%;
      transition: transform 0.3s ease-in;
    }

    .fc-table-td {
      position: relative;
      background: #fff;
      z-index: 1;

      transition: box-shadow 0.4s ease-out !important;
    }

    &._drawer-open {
      .fc-table-td {
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.2s ease-out !important;

        &:last-child {
          box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
        }
      }

      .icon-chevron-down:before {
        transform: rotateX(180deg);
        transition: transform 0.2s ease-out;
      }
    }
  }

  &._loading {
    & > .fc-table-head {
      th {
        .caramel();
      }
    }
  }
}

// Children element default styles
.fc-expandable-table__drawer {
  .fc-table thead th {
    background: @color-decor60;
    border: 1px solid @color-decor9;
  }

  .fc-table tbody tr.even, .fc-table tbody tr:nth-child(2n) {
    background: @color-decor60;
    border: 1px solid @color-decor9;
  }

  .fc-table tbody tr.odd, .fc-table tbody tr:nth-child(2n+1) {
    background: @color-decor61;
    border: 1px solid @color-decor9;
  }
}

