.fc-input-group {
  height: 40px;

  &._focused > .fc-input-prepend {
    box-shadow: 2px 4px 6px rgba(0,0,0,0.4);
  }

  &._focused > .fc-input__input {
    box-shadow: 2px 4px 6px rgba(0,0,0,0.4),
    inset 1px 1px 1px 0 rgba(0,0,0,.1);
  }

  .fc-input-prepend, .fc-input-append {
    line-height: 40px;
    width: 36px;
    height: 100%;
    .inline-block();
    text-align: center;
    background: @bg-grey-buttons;

    > button {
      background: @bg-grey-buttons;
      height: 100%;
      max-width: 100%;
      width: 36px;
      border: none;
      padding: 0;
    }
  }

  input {
    .inline-block();
  }
}

#input-styles {
  .base() {
    &.disabled,
    &:disabled {
      background-color: @color-border;
    }
    padding: 0 10px;
    height: 40px;
    border: 1px solid @color-border;
    &:not(:disabled) {
      background-color: @bg-white;
      .highlight-border-behaviour();
    }
  }

  .error() {
    &:not(:disabled) {
      border-color: @color-error-text;
    }
  }

  .textarea() {
    padding: 10px;
    height: 100px;
  }
}

.input-rules(@base-styles: {#input-styles.base}, @textarea-styles: {#input-styles.textarea}) {
  input[type=text]:not(.__cssmodules),
  input[type=email],
  input[type=tel],
  input[type=number]:not(.__cssmodules),
  input[type=date],
  input[type=datetime],
  input[type=password],
  textarea {
    @base-styles();
  }

  textarea {
    @textarea-styles();
  }
}

.fc-form-field,
.fc-input-group {
  .input-rules({
    &:not(._no-fc-behaviour) {
      #input-styles.base();
    }
  }, {
    &:not(._no-fc-behaviour) {
      #input-styles.textarea();
    }
  });

  &._form-field-error {
    .input-rules({
      &:not(._no-fc-behaviour) {
        #input-styles.error();
      }
    }, {});
  }

  &._form-field-required {
    label:after {
      content: "*";
      margin-left: .3em;
      color: @color-error-text;
    }
  }
}

.input-rules({
  &.fc-input {
    #input-styles.base();
  }
}, {
  &.fc-input {
    #input-styles.textarea();
  }
});

._no-counters {
  input[type=number]&::-webkit-outer-spin-button,
  input[type=number]&::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]& {
    -moz-appearance: textfield;
  }
}

.fc-form-vertical {
  label {
    display: block;
    margin-bottom: 5px;
    &.checkbox {
      margin-bottom: 0;
    }
  }
}

.fc-form-field {
  &-optional {
    color: @color-additional-text;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0.5em;
  }

  &-error {
    color: @color-error-text;
    font-size: 13px;
    line-height: 15px;
    padding-top: 8px;
  }

  &-label {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
}
