
.fc-gift-card {
  margin-bottom: @gutter;

  &-detail {
    &-message {
      text-align: left;
      width: inherit;
      margin: 20px 0 40px;
      color: @color-text;
    }

    &__new-status {
      margin-left: 5px;
    }

    &__cancel-reason-asterisk {
      color: @color-error-text;
      margin-left: 5px;
    }

    &__cancel-reason {
      margin-top: 30px;
      font-weight: 600;
    }

    &__cancel-reason-selector {
      margin-top: 15px;
      width: 500px;

      .fc-dropdown {
        width: 350px;
      }

      .fc-dropdown__controls {
        width: 350px;
      }

      .fc-dropdown__items {
        width: auto;
      }
    }
  }

  &-tabs {
    padding: 0 1.85%;
  }

  &-transactions {
    margin: 0 -1.85%;
  }
}
