.fc-card-container {
  width: 406px;
  position: relative;
  border: 1px solid @color-border;
  background: @bg-grey-headers;
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  list-style: none;

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    button {
      margin-left: 10px;
    }
  }

  &.is-active {
    /* this shit should be rewritten with card refactoring */
    & .fc-card-container__controls {
      position: absolute;
      float: right;
      right: 1rem;
    }
  }
}
