.fc-line-items {
  background-color: @color-decor12;

  input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &-add {
    margin: 20px 0;
    background-color: @color-decor12;
  }

  &-add-label {
    margin-bottom: 15px;
  }

  .typeahead {
    .typeahead-results {
      li {
        > div {
          display: table;
          width: 100%;
          span {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }

  &-footer-editing-done {
    margin-top: 20px;
  }

  .fc-table {
    .fc-table-th {
      &:first-child {
        width: 92px;
      }
    }

    &._edit {
      .fc-table-th {
        &:last-child {
          width: 70px;
        }
      }

    }

    .fc-table {
      .fc-table-th {
        width: auto;
      }
    }
  }

  &.is-editing {
    .fc-table-th {
      //&:nth-last-child(2) {
      //  width: calc(~"100% / 6 - 70px");
      //}
    }
  }

  tbody tr td {
    padding: 15px;
    vertical-align: top;
    .font-spec(13px, 18px);

    &.name {
      .font-spec(13px, 700, 18px);
    }
  }

  &-count {
    color: @color-decor42;
    .font-spec(15px, 600, 20px);
    margin: 10px 20px 0 0;
  }

  .fc-line-item-sale {
    color: @color-decor50;
  }

  .fc-editable-content-box-footer {
    border-top: none;
    background-color: @color-decor12;
  }

  .fc-table {
    tr {
      &._with-attributes {
        td {
          position: relative;
          background: #fff;
          z-index: 1;
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);

          transition: none;

          &:last-child {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
          }
        }
      }

      .fc-btn-remove {
        float: right;
      }
    }
  }

  .line-item__attributes {
    & > td {
      padding: 0;

      .fc-table-th {
        padding: 20px 15px;
        height: auto;
        background: #e4e6ea;
        box-shadow: none;
      }

      td {
        div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 200px;
        }
      }
    }
  }
}
