.fc-list-page {
  background-color: @bg-grey-headers;
  display: flex;
  flex-direction: column;

  &-content {
    background-color: @bg-white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid @color-border;
    border-right: 1px solid @color-border;

    .fc-table-td > img {
      height: 50px;
      max-height: 50px;
    }

    &:last-child {
      border-bottom: 1px solid @color-border;
    }
  }
}
