@gutter: 1.85%;

.fc-live-search {
  padding: 0 @gutter;
  margin-bottom: 40px;

  .fc-list-page-content:first-child {
    border-top: 1px solid @color-border;
  }

  .fc-pilled-input {
    &__pill {
      .icon-filter, .icon-search {
        margin-left: 10px;
      }
    }

    &__controls-container {
      .fc-button-with-menu__left-button,
      .fc-button-with-menu__right-button {
         color: @color-text;
        border: none;
        background-color: transparent;
        font-size: 20px;
      }
    }
  }

  &__header {
    background-color: @bg-grey-headers;
  }

  &__go-back {
    border-top: 1px solid @color-border;

    > span {
      font-weight: 600;
    }

    .icon-back {
      margin-right: 10px;
      vertical-align: top;
      .font-spec(12px);
    }
  }

  &__search-control {
    position: relative;
    padding: 0 1.85%;
    margin-top: 20px;
  }

  &__share-button {
    margin-bottom: 10px;
  }

  &__table {
    width: 100% !important;
    padding: 0 1.85%;

    .fc-tableview {
      width: 100% !important;
    }

    &._no-gutter {
      padding-left: 0;
    }
  }
}
