.fc-multi-select-table {
  &.fc-data-table {
    .inner {
      .scroll-shadow(@color-border, @bg-white, 12px, 55px);

      &.inner-head {
        .scroll-shadow(@color-border, @bg-grey-headers, 12px, 55px);
      }
    }
  }

  .fc-table {
    margin-left: 55px;

    tr:hover, .fc-table-tr:hover {
      td, .fc-table-td {
        background: @bg-grey-headers;
      }
    }
  }
}
