.fc-customer-create {

  .fc-form-field {
    margin-bottom: 1rem;
  }

  .fc-customer-form-header {
    padding-left: 1.85%;
  }

  .fc-customer-form-input {
    width: 100%;
  }

  .fc-customer-form-controls {
    margin-top: 1rem;
  }
}
