.fc-order {
  .title {
    .clearfix();
    margin-top: 40px;
    margin-bottom: 25px;
    vertical-align: middle;

    h1, .countdown {
      .inline-block(middle);
    }
    .cancel {
      float: right;
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;

    em {
      color: @color-additional-text;
      font-style: normal;
      .font-spec(16px, 400);

      a,
      a:visited {
        color: @color-additional-text;
      }
    }

    + time {
      display: block;
      margin-bottom: 55px;
    }
  }

  .statuses {
    .clearfix;
    margin-bottom: 55px;

    dl {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      border: 1px solid @color-border;
      background: @bg-white;
      width: 20%;
      padding: 15px 0 30px;
      margin: 0;
      box-shadow: inset 3px 1px 3px 0px @bg-white, 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
      height: 132px;

      dt,
      dd {
        color: @color-additional-text;
        margin: 0;
        padding: 0;
        text-align: center;
        min-height: 30px;
        line-height: 30px;
      }

      dt {
        .font-spec(14px, 600, 19px);
        margin-bottom: 10px;
      }
      dd {
        .font-spec(22px, 600, 30px);
      }
    }

    dl:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    dl:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  .fc-order-line-items-footer {
    padding-bottom: 30px;
    padding-top: 13px;

    strong {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .fc-customer-info {
    background-color: @bg-white;
  }

  .fc-customer-info-avatar {
    background-color: @bg-white;
  }

  .fc-customer-info-name,
  .fc-customer-info-email {
    padding: 0 10px;
  }

  &.fc-cart {
    .fc-tabbed-nav {
      margin-bottom: 30px;
    }

    .fc-section-title {
      margin-bottom: 40px;
    }
  }
}
