.fc-order-credit-card-form {

  .fc-credit-card-form {
    &__header {
      .font-spec(16px, 600, 24px);
      margin-bottom: 10px;
      .padding-bottom(10px);
      border-bottom: 2px solid @color-additional-text;
    }

    &__line {
      max-width: 406px;
    }
  }

  .fc-address-select {
    margin-top: 25px;

    &-header {
      .font-spec(16px, 600, 24px);
      .padding-bottom(10px);
      border-bottom: 2px solid @color-additional-text;
      display: flex;
      align-items: center;

      .fc-left {
        flex-grow: 1;
      }
    }
  }
}
