.fc-pilled-input {
  display: flex;

  &__input-container {
    background-color: @bg-grey-headers;
    display: flex;
    flex-grow: 1;
    border: 1px solid @color-border;

    &._solid {
      background-color: @bg-white;
    }
  }

  &__pills-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__icon-wrapper {
    .font-spec(22px, 300, 38px);
    margin: 0 10px;
    color: @color-text;
    display: flex;
    align-items: center;
  }

  &__input-field {
    background: none;
    border: none;
    width: 100%;
    height: 38px;
    margin-left: 10px;
  }

  input.fc-pilled-input__input-field._solid-input {
    background-color: transparent;
    border: none;
  }

  &__input-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-width: 300px;
  }

  &__controls-container {
    white-space: nowrap;
  }
}
