.fc-product-details {

  &__field {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
  }

  &__field-label, &__add-custom-property {
    line-height: 24px;
    margin-bottom: 10px;
    color: @color-text;
    text-transform: capitalize;
  }

  &__add-custom-property {
    margin-top: 40px;
    display: flex;
  }

  &__add-custom-property-icon {
    margin-left: 10px;
    font-size: 10px;
  }

  &__field-value {
    align-items: center;
    background: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 34px;
    .padding-left(20px);
  }

  &__custom-property {
    min-width: 575px;

    .fc-content-box {
      margin-bottom: 0;
    }

    .fc-dropdown {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
