.fc-share-search {
  min-width: 575px;

  .fc-alert {
    margin-bottom: 16px;
  }

  .fc-share-search-typeahead__label {
    display: block;
    margin-bottom: 6px;
    .font-spec(13px, normal);
  }

  .fc-typeahead {
    .fc-pilled-input__input-container {
      input[type="text"] {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .fc-share-search__submit-share {
    text-align: right;
  }

  .fc-share-search-typeahead__label {
    .font-spec(13px, 18px);
  }
}

.fc-share-search__controls {
  margin-bottom: 40px;
  text-align: right;
}

.fc-share-search__associations {
  min-height: 74px;
  .font-spec(13px);

  .fc-share-search__associations-list {
    a._disabled {
      color: @color-additional-text;
      cursor: default;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 17px;
  }

  li {
    display: flex;
    align-items: center;
    height: 38px;
    border-top: 1px solid @color-border;

    .fc-share-search__associations-owner {
      flex-grow: 1;
      margin-left: 10px;
      color: @color-additional-text;
      .font-spec(13px, bold);
    }

    span:last-child {
      margin-left: 10px;
      .font-spec(24px, 40px);
    }

    &:last-child {
      border-bottom: 1px solid @color-border;
    }
  }
}
