@sidebar-control-size: 20px;
@sideber-open-width: 206px;

.fc-sidebar {

  &__navigation-list {
    border-top: 1px solid @color-text;
    margin-bottom: 70px;
  }

  .fc-navigation-item-container {
    border-left: 4px solid transparent;

    &._active {
      background-color: @bg-nav-active;
      border-left-color: @color-link;
      & svg {
        opacity: 1;
      }
    }

    &:hover {
      background-color: @bg-nav-active;
    }
  }

  .fc-navigation-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__link {
      flex-grow: 1;
      padding-left: 10px;
      height: 40px;
      display: flex;
      align-items: center;
      overflow: hidden;

      > span {
        color: @color-light-text;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__expand {
      width: 30px;
      flex-shrink: 2;

      i {
        .font-spec(10px);

        .chevron();
      }
    }

    &__children {
      max-height: 0;
      overflow: hidden;
      transition: max-height .25s ease-out;
    }

    &__children._open {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 500px;
      transition: max-height .85s ease-out;
    }

    &__sublink {
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 20px;
      .padding-left(70px);
    }
  }

}
