.fc-option-entry {
  .fc-table tbody tr.even, .fc-table tbody tr:nth-child(even) {
    background-color: @bg-white;
  }

  .fc-table-td:last-child {
    text-align: right;
  }

  .fc-controls {
    padding-right: 15px;
  }

  .fc-title {
    font-size: 14px;
  }

  &__actions {
    white-space: nowrap;
  }
}
