.fc-viewers {
  .colors(@color-default-fg, @color-decor0);
  height: 55px;
  padding: 10px;
  border-bottom: 1px solid @color-decor9;

  &-lock {
    float: left;
    color: @color-grey-buttons;
    .font-spec(30px, 400, 30px);
  }

  &-item {
    position: relative;
    float: right;

    &:nth-child(1n) .initials {
      .colors(@color-white, @color-decor26);
    }

    &:nth-child(2n) .initials {
      .colors(@color-white, @color-decor18);
    }

    &:nth-child(3n) .initials {
      .colors(@color-white, @color-decor15);
    }

    &:nth-child(4n) .initials {
      .colors(@color-white, @color-decor27);
    }

    &:nth-child(5n) .initials {
      .colors(@color-white, @color-decor28);
    }

    &:nth-child(6n) .initials {
      .colors(@color-white, @color-decor22);
    }

    &:nth-child(7n) .initials {
      .colors(@color-white, @color-decor24);
    }
  }

  &-item + &-item {
    margin-right: 10px;
  }
}
