@import "variables";
@import "media-queries";
@import "colors";

.catalog {

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  composes: inner-wrap from 'ui/css/layout.css';
}

.not-found {
  text-transform: uppercase;
  margin: 80px 0;
  text-align: center;
  width: 100%;
}

@media (--small-only) {
  .list {
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
  }
}
