
@import "media-queries";

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 60px 0;
}

.not-found {
  text-transform: uppercase;
  margin: 80px 0;
  text-align: center;
  width: 100%;
}

@media (--medium-viewport) {
  .catalog {
    margin: 20px 0 80px;
  }
}

@media (--small-viewport) {
  .catalog {
    justify-content: space-between;
    margin: 20px 0 80px;
  }
}
