# DB
HYPERION_DB_USER=hyperion
HYPERION_DB_PASSWORD=''
HYPERION_DB_NAME=hyperion
HYPERION_DB_HOST=localhost

# JWT
PUBLIC_KEY=/full/path/to/public_key.pem

# AWS
AWS_ACCESS_KEY_ID=aws-access-key
AWS_SECRET_ACCESS_KEY=aws-secret-key

# MWS
MWS_ACCESS_KEY_ID=msw-access-key
MWS_SECRET_ACCESS_KEY=mws-secret-key

# phoenix
PHOENIX_URL=your-developer-appliance-url
PHOENIX_PASSWORD=api-password
PHOENIX_USER=user
PHOENIX_ORG=org
