.exportModalFooter {
  margin: 50px 20px 20px !important; /* @todo get rid of less */
}
.exportModalDescription {
  flex-grow: 1;
  margin: 0 5px;
}

.customTitle {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 10px;
  background-color: #f7f7f7;
  margin-top: 30px;
}
