.export-modal-footer {
  margin: 50px 20px 20px;
}
.export-modal-description {
  flex-grow: 1;
  margin: 15px 5px 0;
}

.custom-title {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
