[Service]
WorkingDirectory={{sinopia_base_dir}}
ExecStart=/bin/bash ./run_sinopia.sh
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sinopia

[Install]
WantedBy=multi-user.target
