@import 'colors.css';

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.albumContent {
  padding-left: 3px;
  padding-right: 3px;
}

.albumTitleText {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-additional-text);
  text-transform: uppercase;
}

.images {
  & :global(.fc-modal-container) {
    min-width: 720px;

    & :global(.fc-alert) {
      margin-top: 0;
      margin-bottom: 20px;
    }

    & :global(.fc-content-box) {
      margin-bottom: 0;
    }
  }
}

.modal {
  & :global(.fc-modal-container) {
    min-width: 720px;

    @media (max-width: 768px) {
      min-width: 0;
    }
  }
  & :global(.fc-alert) {
    margin-bottom: 20px;
  }
}

.alert {
  margin: 10px 0 30px;
}
