@import 'colors.css';

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.albumContent {
  padding: 3px;
}

.albumTitleText {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
}

.albumTitleCount {
  display: inline-block;
  width: 32px;
  line-height: 30px;
  font-size: 13px;
  border: 1px solid var(--color-text);
  border-radius: 50%;
}

.modal {
  min-width: 720px;
}
