@import "media-queries.css";
@import "colors.css";

.image-placeholder {
  position: relative;
  width: 50%;
  padding: 48.5% 50%;
  box-sizing: border-box;
  background: var(--border-color);

  & > span {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (--small-only), (--medium-only) {
 .largeScreenOnly {
   display: none;
 }
}

