[Service]
WorkingDirectory=/usr/local
ExecStart=/bin/bash /usr/local/bin/update_materialized_views_forever.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=materialized_views
TimeoutStartSec=30
RestartSec=30

[Install]
WantedBy=multi-user.target

[Unit]
Requires=postgresql.service
After=postgresql.service
