@import "layout.css";
@import "typography.css";

.header-wrap {
  composes: paragraph;

  display: flex;
  background: url('/images/home-page/home-header.jpg') center no-repeat;
  height: 830px;

  position: relative;
  width: var(--vw-no-scrollbar);
  left: var(--vw-no-scrollbar-left);
}

.header-content{
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 130px;
  width: 100%;
}

.header-title {
  composes: title-large;
  line-height: 1;
  padding: 0px 100px;
  text-transform: uppercase;
  width: 50%;
}

.header-body {
  composes: paragraph;
  line-height: 1.25;
  padding-left: 100px;
  width: 400px;
}

.category-list {
  display: flex;
  z-index: 10;
  margin-top: -200px;
  justify-content: center;
}

.category-item {
  border: 1px solid #FFF;
  text-align: center;
  z-index: 10;
  margin-left: 5px;
  margin-right: 5px;
}

.category-image {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 470px;
  height: 246px;
}

.category-title {
  composes: title-small;
  margin-top: 260px;
  text-transform: uppercase;
}

.shoes-img {
  composes: category-image;
  background: url('/images/home-page/home-adizero.jpg') center no-repeat;
}

.header-wrap:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #FFF) left repeat;
  background: linear-gradient(transparent, #FFF) left repeat;
}


.jackets-img {
  composes: category-image;
  background: url('/images/home-page/home-jackets.jpg') center no-repeat;
}
