.feed {
  & .forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .form {
    padding: 20px 10px;
    height: 100%;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    flex: 1;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.or {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
