[Service]
WorkingDirectory=/usr/share
ExecStart=/usr/local/bin/isaac --public_key="{{public_keys_dest_dir}}/public_key.pem" --db="{{isaac_db_connection}}"
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=isaac
TimeoutStartSec=5m
RestartSec=5

[Install]
WantedBy=multi-user.target
