.coupons-panel {
  & td {
    width: 33%;

    &:nth-child(3) {
      width: calc(33% - 70px);
    }
    &:nth-child(4) {
      width: 70px;
    }
  }

  & :global .fc-btn-remove {
    vertical-align: middle;
  }
}

.empty-message {
  font-weight: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #bfbfbf;
  margin: 40px 20px;
}

.add-coupon-block {
  margin: 0 0 20px;
}

.add-coupon-label {
  margin-bottom: 10px;
}

.add-coupon-input {
  width: calc(100% - 100px);
}

.add-coupon-input-container {
  & :global .fc-append-input__icon {
    width: initial;
  }
}

.add-coupon-button {
  width: 100px;
}

