@import 'colors.css';

.coupons-panel {
  & td {
    width: 33%;

    &:nth-child(3) {
      width: calc(33% - 70px);
    }

    &:nth-child(4) {
      width: 70px;
    }
  }

  & :global .fc-btn-remove {
    vertical-align: middle;
  }
}

.empty-message {
  padding: 20px;
  text-align: center;
  background: var(--bg-white);
  color: var(--color-additional-text);
  font-size: 15px;
  font-weight: 600;
  line-height: 60px;
}

.add-coupon-block {
  margin: 0 0 20px;
}

.add-coupon-label {
  margin-bottom: 10px;
}

.add-coupon-input {
  width: calc(100% - 100px);
}

.add-coupon-input-container {
  & :global .fc-append-input__icon {
    width: initial;
  }
}

.add-coupon-button {
  width: 100px;
}

