@import 'colors.css';

.title {
  font-size: 20px;
  line-height: 27px;
  margin-top: 40px;
}

.or-line {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}

.message {
  margin-top: 40px;
  color: var(--color-text);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 388px;

  & :global(.fc-input) {
    width: 100%;
  }
}

.content {
  width: 100%;
  margin-top: 30px;
}

.form {
  width: 100%;
  margin-top: 20px;

  & :global(.fc-form-field-label) {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  & :global(.fc-form-field) {
    margin-top: 10px;
  }
}

.submit-button {
  margin-top: 20px;
}

.password-label {
  display: flex;
}

.forgot-link {
  margin-left: auto;
  font-size: 13px;
  line-height: 18px;
  &:hover {
    color: var(--color-text);
  }
}

.alert {
  margin: 20px 0;
}

.signup-email input[type=email]:disabled {
  background-color: var(--bg-grey-headers) !important;
}
