@import 'variables.css';

.title {
  font-size: 20px;
  line-height: 27px;
  margin-top: 40px;
}

.orLine {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}

.message {
  margin-top: 40px;
  color: var(--color-text);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 388px;

  & :global(.fc-input) {
    width: 100%;
  }
}

.content {
  width: 100%;
  margin-top: 30px;
}

.buttonBlock {
  margin-top: 20px;
  vertical-align: baseline;
  display: flex;
}

.form {
  width: 100%;
  margin-top: 20px;

  & :global(.fc-form-field-label) {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  & :global(.fc-form-field) {
    margin-top: 10px;
  }
}

.backButton {
  display: block;
  padding: 10px 20px;
  color: var(--color-additional-text);
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;

  &:hover {
    color: var(--color-text);
    text-decoration: underline;
  }
}

.passwordLabel {
  display: flex;
}

.forgotLink {
  margin-left: auto;
  font-size: 13px;
  line-height: 18px;

  &:hover {
    color: var(--color-text);
  }
}

.alert {
  margin: 20px 0;
}

.signup-email input[type=email]:disabled {
  background-color: var(--bg-grey-headers) !important;
}
