@import 'colors.css';

.block {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background: var(--color-border);
  margin-top: 2px;
}

.content {
  padding: 0 10px;
}
