@color-sidebar-bg: @color-decor3;
@color-sidebar-fg: @color-decor5;

@color-sidebar-hover-bg: @color-decor2;
@color-sidebar-hover-fg: @color-white;

@color-sidebar-border: @color-decor2;

aside[role='complementary'] {
  .colors(@color-sidebar-fg, @color-sidebar-bg);
  .width(206px);
  .height(100vh);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 250ms ease-in-out;

  ~ header,
  ~ main {
    .margin-left(206px);
    transition: margin 250ms ease-in-out;
  }

  &:hover {
    .width(206px);

    ~ header,
    ~ main {
      .margin-left(206px);
    }
  }

  nav ul {
    li {
      .colors(@color-sidebar-fg, @color-sidebar-bg);
      border-bottom: 1px solid @color-sidebar-border;

      &:last-child {
        border-bottom: none;
      }

      &:hover {

      }

      a,
      a:visited {
        color: @color-link-menu;
        display: block;
        white-space: nowrap;
        .clearfix;
        .padding(20px);

        i,
        span {
          display: inline-block;
          vertical-align: top;
        }

        i {
          .font-spec(38px);
          .margin-right(20px);
        }

        span {
          .font-spec(15px, 38px);
        }
      }

      &:hover {
        .colors(@color-sidebar-hover-fg, @color-sidebar-hover-bg);
      }
    }
  }
}
