@import 'colors.css';

.swatchInput {
  display: flex;
  align-items: stretch;
  font: var(--font-nav);

  &:before {
    content: "#";
    position: absolute;
    padding: 10px 10px;
    color: var(--color-additional-text);
  }

  & .input {
    width: 130px;
    padding-left: 26px;
    text-transform: uppercase;
  }
}

.swatch {
  width: 40px;
  border: 1px solid var(--color-border);
  border-left: none;
}
