.swatchInput {
  display: flex;

  &:before {
    content: "#";
    position: absolute;
    padding: 0 10px;
    line-height: 40px;
    font-size: 20px;
    color: #BFBFBF;
  }

  & :global(input[type=text].fc-text-input) {
    width: 130px;
    padding-left: 30px;
  }

  & input {
    text-transform: uppercase;
  }
}

.swatch {
  width: 40px;
  height: 40px;
  border: 1px solid #BFBFBF;
  border-left: none;
}
