---

- name: Setup Sinopia Server
  hosts: sinopia
  become: true
  vars:
    user: "{{ ansible_user | default(lookup('env', 'USER')) }}"
    sinopia_webui_title: FoxCommerce Private NPM Registry
    sinopia_max_body_size: 2mb
  roles:
      - { role: base/ssl_certs }
      - { role: ops/sinopia }

  handlers:
     - include: roles/base/consul_agent/handlers/main.yml
