---

- name: Packing Ark Base
  hosts: all
  become: true
  vars:
    packing: true
    user: ubuntu

  roles:
    - { role: base/common }
    - { role: base/languages }
    - { role: base/devkit }
    - { role: base/ssh_keys }
    - { role: base/secret_keys }
    - { role: base/ssl_certs }
    - { role: base/consul }
    - { role: base/consul_agent }
    - { role: base/mesos }
    - { role: base/flyway }

