.fc-input-group {
  .height(40px);

  .fc-input-prepend, .fc-input-append {
    .line-height(40px);
    .width(36px);
    height: 100%;
    background: @color-decor7;
    display: inline-block;
    text-align: center;
    > button {
      background: @color-decor7;
      height: 100%;
      .width(36px);
      border: none;
    }
  }
  .fc-input-prepend {
    .border-radius(3px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .fc-input-append {
    .border-radius(3px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input:not(:first-child):not(:last-child) {
    .border-radius(0);
  }
  input:not(:first-child):last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

input[type=text], input[type=number], textarea {
  background-color: @color-decor0;
  border: 1px solid @color-decor7;
  box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.1);
  .border-radius(3px);
  .padding(0 10px);
  .height(40px);

  &:hover {
    border: 1px solid @color-decor3;
  }

  &:active, &:focus {
    border: 1px solid @color-control-primary-bg;
  }

  &:invalid, &.error {
    border: 1px solid @color-decor22;
  }
}
