.generate-grid(@columns) {
  .grid-unit {
    width: (100% / @columns);

    .col-loop (@idx) when (@idx <= @columns) {
      &.col-@{idx} { width: (100% / @columns) * @idx; }
      .col-loop(@idx + 1);
    }

    .col-loop(1);
  }
}

.grid-row {
  width: @site_max-width;
  margin: 0 auto;
  position: relative;
  .display-flex;
  .clearfix;

  &.grid-gutter {
    width: auto;
    .margin-left(-15px);
    .grid-unit {
      .padding-left(15px);
    }
  }

  .grid-unit {
    float: left;
    display: inline;
    position: relative;
    .flex(none);
  }

  &.grid-match {
    >.grid-unit {
      .display-flex;
      >* {
        .flex(none);
      }
    }
  }

  .generate-grid(4);

  &.row-3 { .generate-grid(3); }
  &.row-5 { .generate-grid(5); }
  &.row-6 { .generate-grid(6); }
  &.row-10{ .generate-grid(10); }
}
