.modal-overlay {
    position: fixed;
    .top(0);
    .left(0);
    width: 100vw;
    height: 100vh;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid @color-border;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    min-width: 350px;
    background-color: #fff;

    &.hide {
        display: none;
    }

    .modal-header {
        border-bottom: 1px solid @color-border;
        white-space: nowrap;
        > div {
            vertical-align: middle;
            display: inline-block;
            .padding(5px);
            &:first-child {
                border-right: 1px solid @color-border;
            }
            &:last-child {
                .padding-left(20px);
                .line-height(28px);
            }
        }
        i {
            .font-spec(28px);
        }
    }

    .modal-body {
        .padding(20px);
    }

    .modal-footer {
        text-align: right;
        .padding(20px);
    }
}
