// Media Queries
@media_desktop: ~"only screen and (min-width: 1025px)";
@media_tablet: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
@media_mobile: ~"only screen and (max-width: 767px)";
@media_retina: ~"(min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.25)";

// Site variables
@site_max-width: 940px;
@site_font-size: 15px;

// Site colors
@color-body: #595959;
@color-bg-menu: #484848;
@color-bg-thead: #f7f7f7;
@color-bg-tr-odd: #f0f0f1;
@color-bg-tr-even: #f7f7f7;
@color-border-td: #d7d7d7;
@color-link-menu: #ededed;

@color-border: #bbbdbf;

* {
  outline: 0;
  box-sizing: border-box;
  &:before, &:after { box-sizing: border-box; }
}

html {
  font-size: 62.5%;
}

body {
  color: @color-body;
  font-family: 'Open Sans', sans-serif;
  .font-spec(@site_font-size);
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  height: 0;
  background: none;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

table {
  width: 100%;
  text-align: left;
}

table.listing {
  thead {
    tr {
      background-color: @color-bg-thead;

      th {
        .text-indent(15px);
        .font-spec(15px, 700, 80px);
        border-right: 1px solid @color-border-td;
        &:last-child { border-right: none; }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) { background-color: @color-bg-tr-odd; }
      &:nth-child(even) { background-color: @color-bg-tr-even; }

      td {
        .text-indent(15px);
        .line-height(70px);
        border-right: 1px solid @color-border-td;
        &:last-child { border-right: none; }
      }
    }
  }
}

.gutter {
  .padding-left(50px);
  .padding-right(50px);
}
