// Media Queries
@media_desktop: ~"only screen and (min-width: 1025px)";
@media_tablet: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
@media_mobile: ~"only screen and (max-width: 767px)";
@media_retina: ~"(min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.25)";

// Site variables
@site_max-width: 940px;
@site_font-size: 12px;

* {
  outline: 0;
  box-sizing: border-box;
  &:before, &:after { box-sizing: border-box; }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  .font-spec(@site_font-size, 14px);
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  height: 0;
  background: none;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}
