@import "media-queries.css";

.modal {
  display: none;
}

.modal-show {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-wrapper {
  z-index: 4;
  height: 100vh;
  lost-column: 1/1;
  background: #fff;
  position: absolute;
  overflow-y: auto;
  padding: 0 15px;
}

@media (--large) {
  .modal-show {
    justify-content: center;
    align-items: center;
  }
  .modal-wrapper {
    lost-column: 4/12;
    height: 500px;
    border-radius: 8px;
  }
}
