
@import "media-queries.css";
@import "colors.css";
@import "variables.css";

.checkout {
  width: 100%;
  counter-reset: item;
}

.summary {
  position: relative;
  z-index: 2;
}

.checkout-block {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 0 20px;
  background: var(--color-panels-bg);

  & > header {
    height: 4.62em;
    align-items: center;
    letter-spacing: 0.9px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);

    &:only-child {
      border-bottom: none;
    }

    & > h3 {
      white-space: nowrap;
      font-weight: 600;

      &:before {
        content: counter(item) "";
        counter-increment: item;
        margin-right: .4em;
        font-weight: 300;
      }
    }
  }
}

@media (--small-only) {
  .checkout-block {
    & > header {
      flex-direction: column;
      height: auto;
      padding: 1.5em 0;

      & > h3 + div {
        margin-top: 1.5em;
      }
    }
  }

  .forms {
    padding-top: 50px;
  }
}

@media (--small-only), (--medium-only) {
  .content {
    margin-top: 150px;
  }
}

@media (--medium-only) {
  .forms {
    padding-top: 70px;
  }

  .checkout-block {
    lost-column: 10/12;
    lost-offset: -1/12;
  }
}

@media (--medium) {
  .checkout-block {
    & > header {
      position: relative;

      & > h3 + div {
        position: absolute;
        right: 0;
      }
    }
  }
}

@media (--large) {
  .content {
    lost-column: 10/12;
    lost-offset: -1/12;
    margin-top: 375px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .summary {
    lost-column: 4/10;
    margin: 0 !important;
  }

  .forms {
    lost-column: 6/10;
  }

  .checkout-block {
    margin-bottom: 20px;
    font-size: 15px;
  }
}

.text-field {
  margin: 10px 0;

  & input:matches([type=text], [type=password], [type=number], [type=tel]) {
    width: 100%;
    border-color: var(--whitish);

    &:hover {
      border-color: #C6BFBF;
    }

    &:focus {
      border-color: var(--blackish);
      background: var(--whitish);
    }
  }
}
