
@import "media-queries.css";
@import "colors.css";
@import "variables.css";

.checkout {
  width: 100%;
  counter-reset: item;
}

.summary {
  position: relative;
  z-index: 2;
}

.checkout-block {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 0 20px;
  background: var(--color-panels-bg);

  & > header {
    height: 4.62em;
    align-items: center;
    letter-spacing: 0.9px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);

    &:only-child {
      border-bottom: none;
    }

    & > h3 {
      white-space: nowrap;
      font-weight: 600;

      &:before {
        content: counter(item) "";
        counter-increment: item;
        margin-right: .4em;
        font-weight: 300;
      }
    }
  }
}

.checkout-submit {
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

@media (--small-only) {
  .checkout-block {
    & > header {
      flex-direction: column;
      height: auto;
      padding: 1.5em 0;

      & > h3 + div {
        margin-top: 1.5em;
      }
    }
  }

  .forms {
    padding-top: 50px;
  }
}

@media (--small-only), (--medium-only) {
  .content {
    margin-top: 146px;
  }
}

@media (--medium-only) {
  .forms {
    padding-top: 70px;
  }
}

@media (--medium) {
  .checkout-block {
    & > header {
      & > h3 + div {
        position: absolute;
        right: 20px;
      }
    }
  }
}

@media (--large) {
  .content {
    lost-column: 10/12;
    lost-offset: -1/12;
    margin-top: 375px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .summary {
    lost-column: 4/10;
    margin: 0 !important;
  }

  .forms {
    lost-column: 6/10;
  }

  .checkout-block {
    margin-bottom: 20px;
    font-size: 15px;
  }
}

.union-fields {
  display: flex;

  & > div {
    width: 50%;
  }
}

.checkout-form {
  & > .union-fields {
    margin: 10px 0;

    & > .text-field {
      margin: 0;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.checkbox-field {
  margin-bottom: 15px;
}

.text-field {
  margin: 10px 0;

  & input:matches([type=text], [type=password], [type=number], [type=tel]) {
    width: 100%;
    border-color: var(--whitish);

    &:hover {
      border-color: #C6BFBF;
    }

    &:focus {
      border-color: var(--blackish);
      background: var(--whitish);
    }
  }
}

.shipping-method {
  margin: 20px 0;
  display: flex;

  & > div:first-child {
    flex-grow: 1;
  }
}

.credit-cards-title {
  display: flex;
  justify-content: space-between;
}

.credit-card-add {
  color: #9E9E9E;
  text-align: right;
  cursor: pointer;
}

.credit-cards-empty {
  line-height: 53px;
  margin-bottom: 40px;
}

.credit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  & .payment-icon {
    margin-right: 0;
  }
}

.credit-card-valid {
  font-size: 14px;
  color: #666;
  margin-left: 15px;
}

.payment-icon {
  vertical-align: middle;
  width: 44px;
  height: 30px;
  margin-top: -3px;
  margin-right: 4px;
}

.payment-input {
  padding-right: 64px;
}

.payment-card-info {
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.payment-last-four {
  margin-right: 0.7em;
}

.billing-address {
  margin-top: 1em;
}

.gift-card-content {
  display: flex;
}

.gift-card-code-field {
  flex-grow: 1;
}

.gift-card-code {
  composes: text-input from "ui/css/input.css";
  width: 100%;
  height: 55px;
  border: 1px solid var(--whitish);
}

.gift-card-submit {
  composes: button from "ui/css/buttons.css";
  width: 100px;
  height: 55px;
  background: var(--whitish);
  border: 1px solid var(--blackish);
  font-size: 14px;
  color: var(--blackish);
  line-height: 17px;
  text-transform: uppercase;
}