
@import "media-queries.css";
@import "colors.css";
@import "variables.css";

.checkout {
  width: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  background: var(--whitish);
  color: #212121;
  box-shadow: 0 1px var(--border-color);
  transition: height .3s;
}

.navigation {
  background: var(--additional-color);
  color: var(--whitish);
}

.nav-list {
  display: flex;
  height: 60px;
  align-items: stretch;
  justify-content: center;
  counter-reset: item;
}

.nav-item {
  lost-column: 2/12;
  list-style: none;
  text-align: center;
  margin-right: 0 !important;
  border-bottom: 2px solid transparent;

  &.current {
    border-color: #D2D2D2;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--whitish);
    text-decoration: none;

    &:before {
      content: counter(item) "";
      counter-increment: item;
      margin: 0 .3em;
      font-weight: 300;
    }
  }
}

@media (--small-only), (--medium-only) {
  .summary {
    position: fixed;
    margin-top: 146px;
    width: 100%;
    z-index: 2;
  }
}

@media (--large) {
  .logo {
    height: 136px;
  }

  .nav-list {
    height: 86px;
  }

  .summary {
    margin-top: 122px;
  }
}

.checkout-block {
  composes: editable-block from "ui/editable-block/editable-block.css";
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.checkout-block-content {
  margin-top: 25px;
}

.union-fields {
  display: flex;

  & > div {
    width: 50%;
  }
}

.checkout-form {
  & > .union-fields {
    margin: 10px 0;

    & > .text-field {
      margin: 0;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.text-field {
  margin: 10px 0;

  & input:matches([type=text], [type=password], [type=number], [type=tel]) {
    width: 100%;
    border-color: var(--whitish);

    &:hover {
      border-color: #C6BFBF;
    }

    &:focus {
      border-color: var(--blackish);
      background: var(--whitish);
    }
  }
}

.shipping-method {
  margin: 20px 0;
  display: flex;

  & > div:first-child {
    flex-grow: 1;
  }
}

.checkout-submit {
  display: block;
  margin: 20px auto 0;
  width: 50%;
}

.credit-cards-title {
  display: flex;
  justify-content: space-between;
}

.credit-card-add {
  color: #9E9E9E;
  text-align: right;
  cursor: pointer;
}

.credit-cards-empty {
  line-height: 53px;
  margin-bottom: 40px;
}

.credit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  & .payment-icon {
    margin-right: 0;
  }
}

.credit-card-valid {
  font-size: 14px;
  color: #666;
  margin-left: 15px;
}

.payment-icon {
  vertical-align: middle;
  width: 44px;
  height: 30px;
  margin-top: -3px;
  margin-right: 4px;
}

.payment-input {
  padding-right: 64px;
}

.payment-card-info {
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.payment-last-four {
  margin-right: 0.7em;
}

.billing-address {
  margin-top: 1em;
}

.gift-card-content {
  composes: checkout-block-content;
  display: flex;
}

.gift-card-code-field {
  flex-grow: 1;
}

.gift-card-code {
  composes: text-input from "ui/css/input.css";
  width: 100%;
  height: 55px;
  border: 1px solid var(--whitish);
}

.gift-card-submit {
  composes: button from "ui/css/buttons.css";
  width: 100px;
  height: 55px;
  background: var(--whitish);
  border: 1px solid var(--blackish);
  font-size: 14px;
  color: var(--blackish);
  line-height: 17px;
  text-transform: uppercase;
}