@import "media-queries.css";
@import "colors.css";

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header-scrolled {
  composes: header;

  & .logo,
  & .title {
    display: none;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  background: var(--whitish);
  color: #212121;
  box-shadow: 0 1px var(--border-color);
  transition: height .3s;
}

.logo-icon {
  background: var(--whitish);
  color: #212121;
}

.navigation {
  background: var(--additional-color);
  color: var(--whitish);
}

.navigation-checkout {
  display: flex;
  justify-content: center;
  background: var(--whitish);
  height: 60px;
  box-shadow: 0 1px var(--border-color);
  margin-top: 1px;
}

.checkout-title {
  line-height: 60px;
}

.nav-list {
  display: flex;
  height: 60px;
  align-items: stretch;
  justify-content: center;
  counter-reset: item;
  text-transform: uppercase;
  font-size: 13px;
}

.nav-item {
  lost-column: 1/3;
  list-style: none;
  text-align: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-bottom: 2px solid transparent;

  &.current {
    border-color: #D2D2D2;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--whitish);
    text-decoration: none;

    &:before {
      content: counter(item) "";
      counter-increment: item;
      margin: 0 .3em;
      font-weight: 300;
    }
  }
}

@media (--small-only), (--medium-only) {
  .title {
    display: none;
  }
}

@media (--medium-only) {
  .nav-item {
    lost-column: 2/12;
  }
}

@media (--large) {
  .logo {
    height: 136px;
  }

  .title {
    margin: 0;
    padding: 25px 0;
    text-align: center;
    font-family: var(--font-playfair);
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 22px;
    border-top: 1px solid var(--border-color);
    background: var(--whitish);
  }

  .nav-list {
    height: 96px;
    letter-spacing: 2px;
    font-size: 15px;
  }

  .header-scrolled {

  }
}

