[Service]
Environment="GOENV={{middlewarehouse_env}}"
WorkingDirectory={{middlewarehouse_consumers_dir}}
ExecStart={{middlewarehouse_consumers_stock_items_consumer_bin}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=middlewarehouse-stock-items-consumer
TimeoutStartSec=5m
RestartSec=5

Environment=ZOOKEEPER_URL={{zookeeper_server}}
Environment=SCHEMA_REPO_URL={{schema_server}}
Environment=MWH_URL={{middlewarehouse_server}}
Environment=TOPIC="sku_search_view"

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{middlewarehouse_cunsumers_services_requires}}
After={{middlewarehouse_consumers_services_after}}
