[Service]
Environment="GOENV={{middlewarehouse_env}}"
WorkingDirectory={{middlewarehouse_dir}}
ExecStart={{middlewarehouse_bin}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=middlewarehouse
TimeoutStartSec=5m
RestartSec=5

Environment=LOG_LEVEL=info
Environment=PHOENIX_URL=http://{{phoenix_server}}
Environment=DB_NAME={{middlewarehouse_db_name}}
Environment=DB_USER={{middlewarehouse_db_user}}
Environment=DB_HOST={{db_host}}
Environment=DB_SSLMODE=disable
Environment=TOKEN_SECRET=thef0xlaughstwic3
Environment=KAFKA_BROKER={{kafka_server}}
Environment=ZOOKEEPER_URL={{zookeeper_server}}
Environment=SCHEMA_REGISTRY_URL=http://{{schema_server}}

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{middlewarehouse_service_requires}}
After={{middlewarehouse_service_after}}
