[Service]
Environment="GOENV={{middlewarehouse_env}}"
WorkingDirectory={{middlewarehouse_consumers_dir}}
ExecStart={{shipments_consumer_bin}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=shipments-consumer
TimeoutStartSec=5m
RestartSec=5

Environment=ZOOKEEPER={{zookeeper_server}}
Environment=SCHEMA_REGISTRY=http://{{schema_server}}
Environment=MWH_URL=http://{{middlewarehouse_server}}
Environment=TOPIC=activities
Environment=PARTITION=1

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{middlewarehouse_consumers_services_requires}}
After={{middlewarehouse_consumers_services_after}}
