# for parsing CEE-enhanced syslog messages
module(load="mmjsonparse")

# send to ES
module(load="omelasticsearch")

# try to parse a structured log
action(type="mmjsonparse")

# this is for index names to be like: logstash-YYYY.MM.DD
template(name="logstash-index"
  type="list") {
    constant(value="logstash-")
    property(name="timereported" dateFormat="rfc3339" position.from="1" position.to="4")
    constant(value=".")
    property(name="timereported" dateFormat="rfc3339" position.from="6" position.to="7")
    constant(value=".")
    property(name="timereported" dateFormat="rfc3339" position.from="9" position.to="10")
}

# format the syslog messages as JSON for elasticsearch
template(name="elasticsearch-json" type="list") {
    constant(value="{")
        constant(value="\"timestamp\":\"")     property(name="timereported" dateFormat="rfc3339")
        constant(value="\",\"host\":\"")       property(name="hostname")
        constant(value="\",\"severity\":\"")   property(name="syslogseverity-text")
        constant(value="\",\"facility\":\"")   property(name="syslogfacility-text")
        constant(value="\",\"tag\":\"")        property(name="syslogtag" format="json")
        constant(value="\",\"message\":\"")    property(name="msg" format="json")
    constant(value="\"}")
}

# this is where we actually send the logs to Elasticsearch (localhost:9200 by default)
local1.*,local2.*,local3.*,local4.*,local5.*,local6.* action(type="omelasticsearch"
    template="elasticsearch-json"
    searchIndex="logstash-index"
    dynSearchIndex="on"
    server="{{search_host}}"
    serverport="9201"
    bulkmode="on"                         # send logs in batches
    queue.dequeuebatchsize="1000"         # of up to 1000
    queue.type="linkedlist"
    queue.size="5000"
    action.resumeretrycount="-1") & stop  # we don't want to store this logs twice on our hard drives

kern.*,daemon.*,mail.*,auth.*,news.*,cron.*,security.* action(type="omelasticsearch"
    template="elasticsearch-json"
    searchIndex="logstash-index"
    dynSearchIndex="on"
    server="{{search_host}}"
    serverport="9201"
    bulkmode="on"                   # send logs in batches
    queue.dequeuebatchsize="1000"   # of up to 1000
    queue.type="linkedlist"
    queue.size="5000"
    action.resumeretrycount="-1")   # retry indefinitely (buffer) if destination is unreachable
