@import 'colors.css';

.selectable-list {
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  user-select: none;
  font-style: normal;
}

.popup {
  position: absolute;
  z-index: 20;
  width: 396px;
  right: 0;
  top: 100%;
}

.visible-state {
  display: none;

  &:global(._open) {
    display: block;
  }
}

.items-list {
  border-bottom: 1px solid var(--color-border);
  max-height: 256px;
  overflow-y: auto;
  overflow-x: hidden;
}

.blank-state {
  font-size: 1.2em;
  color: var(--color-additional-text);
  text-align: center;
  padding: 20px 10px;
}

.item {
  padding: 7px 5px;

  &:hover {
    background: var(--color-border);
  }

}

.item-description {
  color: var(--color-additional-text);
  padding-left: 10px;
  text-transform: capitalize;

  &:first-letter {
    padding-right: 10px;
  }
}

.footer {
  padding: 10px;
}

.choose-button {
  width: 60%;
  margin: 0 auto;
  display: block;
}
