@import "colors.css";
@import "media-queries.css";

.auth-block {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 20px;

  lost-column: 3/11;
  lost-offset: -4/11;
}

.logo {
  width: 96px;
  height: 96px;
  margin-bottom: 48px;
}

.title {
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 18px;
}

:root {
  --dividerMargin: 20px;
}

.google-login {
  composes: button from "ui/css/buttons.css";
  background-color: var(--redish);
  border: 1px solid color(var(--redish));
  margin-bottom: calc(46px - var(--dividerMargin));
  width: 100%;

  &:hover {
    color: var(--redish);
  }

  & :global(.icon) {
    transition: none;
  }
}

.divider {
  composes: block from "ui/css/wrap-to-lines.css";
  margin-bottom: calc(30px - var(--dividerMargin));
}

.form-field {
  width: 100%;
  margin-bottom: 10px;

  & > input {
    width: 100%;
  }
}

.primary-button {
  composes: button from "ui/css/buttons.css";
  width: 100%;
}

.switch-stage {
  margin-top: 19px;
  font-size: 15px;
  line-height: 18px;
}

.top-message {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 18px;
}

.top-message-success {
  composes: top-message;
  color: var(--greenish);
}

.top-message-error {
  composes: top-message;
  color: var(--redish);
}

.restore-link {
  color: var(--greyish);
}

.link {
  color: var(--blackish);
}

@media (--small-viewport) {
  .auth-block {
    lost-column: 1/1;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-message {
    margin-bottom: 20px;
  }

  .logo {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 20px;
  }

  .google-login {
    margin-bottom: calc(20px - var(--dividerMargin));
  }

  .divider {
    composes: block from "ui/css/wrap-to-lines.css";
    margin-bottom: calc(20px - var(--dividerMargin));
  }

  .switch-stage {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (--medium-viewport) {
  .auth-block {
    lost-column: 5/11;
    lost-offset: -3/11;
  }
}

@media (--medium-viewport-up) {
  .link,
  .restore-link {
    text-decoration: none;
    box-shadow: 0 1px;

    &:hover {
      color: var(--blackish);
      box-shadow: none;
    }
  }
}
