@import "colors.css";
@import "media-queries.css";

.block {
  position: relative;
}

.textInput {
  height: 40px;
  width: 100%;
  padding: 0 15px;
  font-size: 15px;
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  box-shadow: none;

  &:active {
    z-index: 2;
  }

  &.error {
    color: var(--color-error);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}

.hasTopMessages .textInput {
  padding-top: 15px;
}

.block.error {
  z-index: 2;

  & .textInput {
    border-color: var(--color-error);
  }
}

:root {
  --top-line-height: 10px;
  --top-font-size: 8px;
}

.placeholder {
  font-size: var(--top-font-size);
  position: absolute;
  left: 11px;
  top: 6px;
  line-height: var(--top-line-height);
  color: var(--input-placeholder-color);
}

.errorMessage,
.labelText {
  display: block;
  margin: 10px 0 6px;
  font-size: 13px;
  color: var(--input-label-color);
}

.errorMessage {
  color: var(--color-error);
}

div.pos-b {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

div.pos-l {
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.pos-t {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.pos-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
