@import 'colors.css';

:root {
  --image-width: 483px;
  --image-height: 242px;
}
.category {
  position: relative;
}

.name {
  color: var(--blackish);
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.image {
  width: var(--image-width);
  height: var(--image-height);
  position: absolute;
  bottom: 0;
}

.image:hover {
  & img {
    display: none;
  }
}

.links {
  composes: links from 'ui/css/links.css';
  width: var(--image-width);
  height: var(--image-height);
  background: var(--whitish);
}

.link {
  composes: link from 'ui/css/links.css';
  @mixin link-color #5BB0DE;
}
