@import 'colors.css';
@import 'ui/css/links.css';

:root {
  --image-width: 483px;
  --image-height: 242px;
}
.category {
  display: inline-block;
  margin: 0 5%;
  position: relative;
}

.name {
  color: var(--blackish);
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.image {
  width: var(--image-width);
  height: var(--image-height);
}

.links {
  composes: links from 'ui/css/links.css';
  width: var(--image-width);
  height: var(--image-height);
  background: var(--whitish);
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 300ms ease-in;

  &:hover {
    opacity: 1;
  }
}

.link {
  composes: link from 'ui/css/links.css';
  --light-blueish: #5BB0DE;
  color: var(--light-blueish);
  border-color: var(--light-blueish);

  &:before {
    background-color: var(--light-blueish);
  }
}
