---

- name: Creates Marathon JSON directory
  file: path=/marathon state=directory

- name: Copy Mapping Command
  template: src=create_es_mappings.sh dest=/usr/local/bin/create_es_mappings.sh mode="u+x,g+x,o+x"
  when: first_run

- name: Create ES Mappings
  shell: /usr/local/bin/create_es_mappings.sh
  when: first_run

- name: Include Secrets
  include_vars: secrets.yml

- name: Kill Marathon Group Tasks in Marathon
  shell: 'curl -sS -XDELETE http://{{marathon_server}}/v2/groups/highlander?force=true'

- name: Take a Nap
  pause: seconds=15

- name: Copy Marathon Group JSON
  template: src=highlander.json.j2 dest=/marathon/highlander.json mode="u+rw,g+rw,o+r"

- name: Update Marathon Group
  shell: 'curl -sS -XPUT -d@/marathon/highlander.json -H "Content-Type: application/json" http://{{marathon_server}}/v2/groups?force=true'

- name: Wait for tasks all tasks to be healthy
  shell: curl -sS -XGET http://{{marathon_server}}/v2/apps | jq '[.apps[] | select(.tasksHealthy == 0)] | length'
  register: unhealthy_tasks
  until: unhealthy_tasks.stdout == '0'
  retries: "{{marathon_retries}}"
  delay: "{{marathon_delay}}"
