[Service]
WorkingDirectory={{ ashes_install_dir }}
ExecStart=/bin/bash ./run_ashes.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ashes
Environment=NODE_ENV=production
Environment=PHOENIX_PUBLIC_KEY={{ public_keys_dest_dir }}/public_key.pem

[Install]
WantedBy=multi-user.target
