.circle-checkbox input[type=checkbox] {
    visibility: hidden;
}

.circle-checkbox div {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    text-align: center;
    float: left;
    margin-right: 11px;
}

.circle-checkbox label {
  width: 9px;
  height: 32px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  vertical-align: -6px;
  color: #888888;
}

.circle-checkbox input[type=checkbox]:checked + div {
    background-color: #0b7ddc;
    background-color: var(--water-blue);
}

.circle-checkbox input[type=checkbox]:checked + div label {
  color: #ffffff;
}

