.image-checkbox {
  display: inline-block;
  width: 59px;
  height: 63px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.image-checkbox input[type=checkbox] {
  display: none;
}

.image-checkbox label {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 59px;
  height: 63px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.sign-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.image-checkbox input[type=checkbox]:checked + div .sign-holder {
  background-image: url(images/symbols/blackcheckbox.svg);
  background-size: 37.5%, 37.5%;
  background-repeat: no-repeat no-repeat;
  background-position: center;
}

