.fc-ink-bar {
  display: block;
  bottom: 0;
  height: 2px;
  margin-top: -2px;
  position: relative;
  transition: all 0.3s ease-out;
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  background-color: @color-decor3;
}
