@import "media-queries.css";
@import "colors.css";

.header-base {
  position: fixed;
  top: 66px;
  z-index: 10;
  width: 100%;
  height: 86px;
  font-weight: 400;
  font-size: 15px;
  background: var(--background-color);
  color: #212121;
  box-shadow: 0 1px var(--border-color);
}

.header,
.header-scrolled {
  composes: header-base;
}

.wrap {
  composes: wrap from "ui/css/layout.css";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
  transition: all 300ms;
  background: var(--background-color);
}

.tools {
  display: flex;
  justify-content: flex-end;
}

@media (--small-only), (--medium-only) {
  .search {
    display: none;
  }

  .hamburger {
    & :global(.icon) {
      cursor: pointer;
      stroke: var(--icon);
    }
  }
}

@media (--large) {
  .wrap {
    lost-column: 10/12;
    lost-offset: -1/12;
  }

  .navigation {
    height: 86px;
    display: flex;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  :global(.icon).logo {
    vertical-align: middle;
  }

  .search {
    width: 35%;
    height: 48px;
  }

  .tools {
    width: 35%;
  }

  .header {
    height: 136px;

    & .navigation {
      position: absolute;
      top: 136px;
      width: 100%;
      left: 0;
      box-shadow: 0 0 0 1px var(--border-color);
    }
  }

  .header-scrolled {
    & :global(.icon--fc-logo) {
      width: 130px;
      height: 62px;
    }

    & .navigation {
      margin-left: 20px;
    }

    & .search{
      width: 50px;
    }

    & .tools {
      width: auto;
    }
  }
}
