@import "media-queries.css";
@import "colors.css";

.header-base {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 86px;
  font-weight: 400;
  font-size: 15px;
  background: var(--whitish);
  color: #212121;
  box-shadow: 0 1px #e9e9e9;
}

.header,
.header-scrolled {
  composes: header-base;
}

.wrap {
  composes: wrap from "ui/css/layout.css";
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;
  transition: all 300ms;
}

.search {
  & :global(.icon__cnt) {
    fill: var(--blackish);
  }
}

.tools {
  display: flex;
  justify-content: flex-end;
}

@media (--small-only), (--medium-only) {
  :global(.icon).logo {
    width: 120px;
    height: 56px;
  }

  .search {
    display: none;
  }

  .hamburger {
    & :global(.icon) {
      cursor: pointer;
      stroke: var(--blackish);
    }
  }
}

@media (--large) {
  .wrap {
    lost-column: 10/12;
    lost-offset: -1/12;
  }

  .navigation {
    display: block;
  }

  .hamburger {
    display: none;
  }

  :global(.icon).logo {
    vertical-align: middle;
  }

  .header {
    height: 136px;

    & .navigation {
      position: absolute;
      top: 136px;
      width: 100%;
      left: 0;
      background: #fff;
      height: 86px;
      display: flex;
      justify-content: center;
      box-shadow: 0 0 0 1px #e9e9e9;
    }

    & :global(.icon).logo {
      width: 220px;
      height: 102px;
      margin-right: -100px
    }
  }

  .header-scrolled {
    & :global(.icon).logo {
      width: 130px;
      height: 62px;
    }
  }
}
