[Service]
ExecStart=/usr/local/bin/run_marathon.sh
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=marathon

[Install]
WantedBy=multi-user.target
