.fc-is-modal-opened {
  overflow: hidden;
}

.fc-modal {
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);

  &.hide {
    display: none;
  }

  &-container {
    margin: auto;
    max-width: 50vw;
  }

  a {
    cursor: pointer;
  }

  &-header {
    border-bottom: 1px solid @color-border;
    white-space: nowrap;
    > div {
      vertical-align: middle;
      display: inline-block;
      .padding(5px);
      &.icon {
        border-right: 1px solid @color-border;
      }
      &.title {
        .padding-left(20px);
        .line-height(28px);
      }
    }
    i {
      .font-spec(28px);
    }
    .close {
      position: absolute;
      .top(10px);
      .right(20px);
      .font-spec(20px);
    }
  }

  &-body {
    .padding(20px);
  }

  &-footer {
    text-align: right;
    .padding(20px);
  }
}

.modalbtn {
  margin-left: 400px;
}
