---

- name: Update System Package Cache
  apt: update_cache=yes
  become: true

- name: Install PostgreSQL Packages
  apt: name={{item}} state=latest force=yes
  become: true
  with_items:
    - libpq-dev
    - python-psycopg2
    - python-dev
    - postgresql-server-dev-9.5
    - postgresql-9.5
    - postgresql-client-9.5
    - postgresql-contrib-9.5

- name: Install pgcli
  pip: name=pgcli state=present

- include: flyway_install.yml

- name: Copy Postgres Configuration
  copy: src={{item}} dest="/etc/postgresql/9.5/main/{{item}}" mode="644"
  become: true
  with_items:
      - postgresql.conf
      - pg_hba.conf

- name: Reload Systemd for Postgresql
  become: true
  command: systemctl daemon-reload

- name: Restart Postgresql
  service: name=postgresql state=restarted sleep=5
  become: true

- name: Copy Consul Service File
  template: src=db.json dest="/etc/consul.d/db.json"
  become: true
