@import "variables.css";

.title {
  font-weight: 400;
  font-size: 41px;
  color: var(--text-color);
  letter-spacing: 2.7px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;

  &::after {
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    margin: 20px auto 0 auto;
  }
}

.content {
  composes: wrap from "ui/css/layout.css";
}

.profile {
  background: var(--body-background);
}
