@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.profile {
  margin-top: 20px;
  width: 100%;
  max-width: 1080px;
}

.details-addresses {
  display: flex;
  justify-content: space-between;
  lost-column: 7/11;
}

.shipping-addresses {
  width: 48%;
}

.account-details {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orders {
  lost-column: 7/11;
  margin-top: 50px;
}

.link-button {
  composes: button from "ui/css/buttons.css";
  border: 1px solid var(--link-color);
  background-color: var(--body-background);
  font-size: 13px;
  font-weight: 300;
  color: var(--text-color);
  text-transform: uppercase;

  &:hover {
    border: 1px solid var(--link-hover-color);
    color: var(--body-background)
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--border-color);
  margin-bottom: 8px;

  &.top {
    margin-top: 12px;
  }

  &.addresses {
    margin-top: 10px;
  }

  &.table {
    margin-top: 13px;
    margin-bottom: 16px;
  }
}

.plus {
  composes: plus-icon from "ui/css/plus-icon.css";
  margin-right: 8px;
}

.subtitle {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.value {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 13px;
  color: var(--text-color);
  line-height: 20px;
}

.buttons-footer {
  margin: 30px 0 10px;
  display: flex;
  align-items: center;

  & > .link, & > button {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.save-button {
  text-transform: uppercase;
  width: 100px;
}

.form-field {
  margin-bottom: 10px;
}

.orders-table {
  font-size: 12px;
}

.order-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.order-cell {
  lost-column: 1/7;
}

.payment-icon {
  /*composes: payment-icon from '../../pages/checkout/billing/view-billing.css';*/
}

.payment-method {
  margin-bottom: 20px;
}

.order-service {
  & tr:first-child {
    border-bottom: 0 none;
  }
}

.delivery-name {
  padding-bottom: 10px;
}

.order-summary {
  margin-top: 20px;
}

.shipping-row {
  flex-grow: 1;
}

.details-block {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 15px 0;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: 16px;
  font-weight: 900;
}

.content {
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 1.33;
}

.action-link {
  composes: action-link from "ui/action-link/action-link.css";
  display: flex;
  align-items: center;
  font-size: 14px;
}

.name-field, .email-field, .password-field {
  margin: 15px 10px 15px 15px;
}
