@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.profile {
  margin-top: 20px;
  width: 100%;
  max-width: 1080px;
}

.details-addresses {
  display: flex;
  justify-content: space-between;
  lost-column: 7/11;
}

.shipping-addresses {
  width: 48%;
}

.account-details {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orders {
  lost-column: 7/11;
  margin-top: 50px;
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--border-color);
  margin-bottom: 8px;

  &.top {
    margin-top: 12px;
  }

  &.addresses {
    margin-top: 10px;
  }

  &.table {
    margin-top: 13px;
    margin-bottom: 16px;
  }
}

.plus {
  composes: plus-icon from "ui/css/plus-icon.css";
  margin-right: 8px;
}

.orders-table {
  font-size: 12px;
}

.order-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.order-cell {
  lost-column: 1/7;

  &.total {
    font-weight: 900;
  }
}

.order-summary,
.shipping-address,
.shipping-method,
.payment-method {
  margin: 15px 10px 0 17px;
  padding-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid var(--border-color);
}

.payment-method {
  padding-bottom: 0;
}

.shipping-method-data {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.currency {
  font-weight: 900;
}

.promo-line {
  padding-bottom: 10px;
}

.details-block {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 15px 0;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: 16px;
  font-weight: 900;
}

.content {
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 1.33;
}

.action-link {
  composes: action-link from "ui/action-link/action-link.css";
  display: flex;
  align-items: center;
  font-size: 14px;
}

.name-field, .email-field, .password-field {
  margin: 15px 10px 15px 15px;
}
