@import "media-queries.css";
@import "colors.css";

.header-base {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: #fff;
  border-bottom: 1px solid #dddddd;
  color: #212121;;
}

.header {
  composes: header-base;
}

.wrap {
  composes: wrap from "ui/css/layout.css";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
  transition: all 300ms;
  background: none;
}

.tools {
  display: flex;
  justify-content: flex-end;
}

@media (--small-only), (--medium-only) {
  .search {
    display: none;
  }

  .hamburger {
    & :global(.icon) {
      cursor: pointer;
      stroke: var(--icon);
      width: 32px;
      height: 32px;
    }
  }
}

.nav-search-logo-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
}

@media (--large) {

  .navigation {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }

  .hamburger {
    display: none;
  }

  :global(.icon).logo {
    vertical-align: middle;
    margin-left: 20px;
    width: 80px;
  }

  .search {
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    margin-top: -4px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .tools {
    width: auto;
    margin-right: 20px;
  }
}
