[Service]
WorkingDirectory=/usr/share
ExecStart=/usr/bin/java -Dphoenix-email={{plugins_api_user_email}} -Dphoenix-password={{plugins_api_user_password}} -Dapi-server={{api_server}} -Dapi-host={{self_host}} -Dkafka-broker={{kafka_server}} -Dschema-registry-url=http://{{schema_server}} -Dadmin-server-name={{ashes_server_name}} -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port={{messaging_jmx_port}} -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -jar {{messaging_jar}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=messaging
TimeoutStartSec=3m
RestartSec=10

[Install]
WantedBy=multi-user.target
