[Service]
Environment="PHOENIX_ENV={{phoenix_env}}"
WorkingDirectory=/usr/share
ExecStart=/usr/bin/java -cp {{phoenix_jar}} {{gatling_continuous_seeds_cmd}}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=seeder
TimeoutStartSec=5m
RestartSec=3600

[Install]
WantedBy=multi-user.target

[Unit]
Requires={{seeder_service_requires}}
After={{seeder_service_after}}
