.button {
  display: block;
  position: relative;
  width: 100%;
  margin: 30px auto 10px;
  font-size: 18px;
  line-height: 48px;
  background: #6bb2ef;
  color: #fff;
  border-radius: 6px;
  text-shadow: 0 1px #579;
  cursor: pointer;

  transition: background .4s, color .4s;

  &:not(:disabled) {
    &:hover {
      background: #699fdd;
    }

    &:active {
      background: #5b8fca;
    }
  }

  &:disabled {
    color: #cbe7ff;
    text-shadow: none;
    cursor: default;
  }
}

.buttonActive {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.08) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0.08) 75%, transparent 75%, transparent);
    background-size: 40px 48px;
    animation: progress-bar-stripes 0.5s linear infinite;
  }
}

@keyframes progress-bar-stripes {
  to {
    background-position: 40px 0;
  }
  from {
    background-position: 0 0;
  }
}
