@import "media-queries.css";
@import "variables.css";
@import "colors.css";

.site {
  display: flex;
  flex-direction: column;
  color: var(--blackish);
  font-family: var(--font-main);
  height: 100%;
  overflow: auto;
}
