.info {
  & .thanksOrNot {
    margin-top: 50px;
  }

  & :global(.first_name),
  & :global(.last_name) {
    display: inline-block;
    width: 47%;
    margin-left: 6%;
  }
  & :global(.first_name) {
    margin-left: 0;
  }

  & :global(.city),
  & :global(.state),
  & :global(.zip) {
    display: inline-block;
    margin-left: 5%;
  }
  & :global(.state) {
    width: 20%;
  }
  & :global(.zip) {
    width: 30%;
  }
  & :global(.city) {
    width: 40%;
    margin-left: 0;
  }

  & :global(.business_founded_day),
  & :global(.business_founded_month),
  & :global(.business_founded_year) {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
  }
  & :global(.business_founded_day) {
    margin-left: 0;
  }
}
