@import "media-queries.css";
@import "colors.css";

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--body-background);
  transform: translateX(-100%);
  transition: transform .2s;
  lost-column: 4/12;
  overflow-y: auto;
  z-index: 4;
}

.sidebar-shown .container {
  transform: translateX(0);
}

.controls {
  margin: 5px 10px;
}

@media (--small-only), (--medium-only) {
  .container {
    lost-column: 12/12;
  }

  .controls-search {
    border-bottom: 1px solid var(--input-border-color);
    margin: 30px 10px 20px 10px;
  }

  .controls-search-focused {
    composes: controls-search;
    border-bottom: 2px solid var(--input-border-color);
  }
}

.controls-session-wrapper {
  margin-top: 20px;
}

.controls-categories,
.controls-session {
  margin-left: 10px;
  margin-right: 10px;
}

.controls-categories > ul li {
  border-bottom: 1px solid var(--input-border-color);
  font-size: 18px;
  font-weight: 900;
}

.controls-session {
  line-height: 40px;
}

.controls-close {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
}

.session-link {
  color: var(--link-alt-color);
  text-decoration: none;
  font-size: 18px;
}

.action-link-close {
  composes: action-link from "ui/action-link/action-link.css";
  margin-right: 5px;
  font-size: 16px;
}
