/* back-icon, header-text */
@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex: 1;
  height: 100%;
  background: var(--light-grayish);
  opacity: 0;
  transition: opacity .1s;
  transform: translateX(100%);
}

.cart-shown .overlay {
  opacity: 1;
  transform: translateX(0);
}

.cart-box {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100%;
  lost-column: 4/12;
  background: var(--whitish);
  transform: translateX(100%);
  transition: transform .2s;

  & ::-webkit-scrollbar {
      width: 5px;
  }

  & ::-webkit-scrollbar-track {
      background: transparent;
  }

  & ::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.30);
      border-radius: 2px;
  }
}

.cart-shown .cart-box {
  transform: translateX(0);
}

.cart-header {
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-cart, .cart-close {
  margin-top: 12px;
  cursor: pointer;
}

.my-cart {
  margin-left: 15px;
  color: #222;
}

.cart-close {
  margin-right: 15px;
  color: #0b7ddc;
}

.empty-cart {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-text {
  font-size: 16px;
  color: #212121;
  opacity: 0.3;
  text-transform: uppercase;
}

.checkout-button {
  height: 44px;
  width: 100%;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  background-color: #0b7ddc;
}

.cart-content {
  position: absolute;
  padding: 0 var(--cart-gap);
  width: 100%;
  top: var(--cart-header-height);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  & :global(.fc-errors) {
    width: 100%;
  }

  & :global(.fc-alert) {
    border-radius: 0;
    margin-top: 0;
  }
}

.line-items {
  height: 100%;
}

.cart-subtotal {
  text-align: right;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 22px;
  font-weight: 900;
  color: #222;
}

.cart-footer {
  width: 100%;
  height: var(--cart-footer-height);
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.subtotal-title {
  flex-grow: 1;
}

@media (--small-only) {
  .empty-text {
    font-size: 13px;
  }
}

@media (--medium) {
  .cart-subtotal {
    height: 60px;
    font-weight: 300;
    font-size: 17px;
  }
}

@media (--small-only), (--medium-only) {
  .cart-box {
    lost-column: 12/12;
  }
}
