/* back-icon, header-text */
@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex: 1;
  height: 100%;
  background: var(--light-grayish);
  opacity: 0;
  transition: opacity .1s;
  transform: translateX(100%);
}

.cart-shown .overlay {
  opacity: 1;
  transform: translateX(0);
}

.cart-box {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100%;
  lost-column: 4/12;
  background: var(--whitish);
  transform: translateX(100%);
  transition: transform .2s;

  & ::-webkit-scrollbar {
      width: 5px;
  }

  & ::-webkit-scrollbar-track {
      background: transparent;
  }

  & ::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.30);
      border-radius: 2px;
  }
}

.cart-shown .cart-box {
  transform: translateX(0);
}

.cart-header {
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 45px;
  border-bottom: 1px solid #bbb;
}

.my-cart, .cart-close {
  margin-top: 12px;
  cursor: pointer;
}

.my-cart {
  margin-left: 15px;
  color: #222;
}

.cart-close {
  margin-right: 15px;
  color: #0b7ddc;
}

.empty-cart {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-text {
  font-size: 16px;
  color: #212121;
  opacity: 0.3;
  text-transform: uppercase;
}

.checkout-button {
  height: 44px;
  width: 100%;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  background-color: #0b7ddc;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.cart-content {
  position: absolute;
  padding: 0 var(--cart-gap);
  width: 100%;
  top: 45px;
  height: calc(100% - 89px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  & :global(.fc-errors) {
    width: 100%;
  }

  & :global(.fc-alert) {
    border-radius: 0;
    margin-top: 0;
  }
}

.line-items {
  height: 100%;
}

.subtotal-price {
  margin-left: 5px;
}

.cart-footer {
  width: 100%;
  height: 44px;
  position: absolute;
  bottom: 0;
}


@media (--small-only) {
  .empty-text {
    font-size: 13px;
  }
}

@media (--small-only), (--medium-only) {
  .cart-box {
    lost-column: 12/12;
  }
}

@media (--large) {
  .cart-content {
    height: calc(100% - 109px);
  }

  .cart-footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkout-button {
    width: 85%;
    height: 40px;
    padding: 0;
    border-radius: 4px;
  }
}
