@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.box {
  position: relative;
  padding: 15px 0 55px;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.image {
  width: 63px;
  height: 63px;
  margin-right: 5px;
  flex-shrink: 0;
}

.container {
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.product, .details {
  margin-left: 10px;
}

.product-name {
  font-weight: 900;
  font-size: 15px;
}

.delete {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  cursor: pointer;
  color: #0b7ddc;
  font-size: 14px;
}

.details {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-qty {
  display: flex;
  align-items: baseline;
  margin: -10px;
}

.price, .multiply, .total-price, .quantity {
  margin: 10px;
  font-size: 14px;
  color: #222;
}

.total-price {
  font-weight: 900;
}

@media (--small-only) {
  .product-name {
    font-size: 14px;
  }

  .price, .multiply, .total-price, .quantity {
    font-size: 12px;
    margin: 5px;
  }

  .price-qty {
    margin: -5px;
  }

  .delete {
    margin-right: -5px;
  }
}

@media (--large) {
  .box {
    padding: 20px 0;
  }

  .image {
    width: 25%;
    max-width: 90px;
    height: auto;
    margin-right: 10px;
  }
}
