@import "colors.css";
@import "media-queries.css";
@import "variables.css";

.box {
  position: relative;
  height: 90px;
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.image {
  width: 50px;
  height: 48px;
  margin-right: 5px;
  flex-shrink: 0;
  & img {
    width: 50px;
    height: 48px;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product, .details {
  margin-left: 10px;
}

.product-name {
  font-weight: 900;
  font-size: 15px;
}

.delete {
  display: flex;
  justify-content: flex-end;
}

.action-link-remove {
  composes: action-link from "ui/action-link/action-link.css";
  font-size: 15px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-qty {
  display: flex;
  align-items: baseline;
  margin: -10px;
}

.price, .multiply, .total-price, .quantity {
  margin: 10px;
  font-size: 14px;
  color: var(--text-color);
}

.total-price {
  font-weight: 900;
}

@media (--large), (--medium) {
  .box {
    padding-bottom: 5px;
  }
}

@media (--small-only) {
  .product-name {
    font-size: 14px;
  }

  .price, .multiply, .total-price, .quantity {
    font-size: 13px;
    margin: 5px;
  }

  .price-qty {
    margin: -5px;
  }

  .delete {
    margin-right: -5px;
  }
}
