@import "colors.css";

.shipping {
  composes: checkout-block from '../checkout.css';
}

.savedAddress {
  composes: address-details from 'ui/address/address.css';
  padding: 15px 0;
  line-height: 1.6;
  text-align: center;

  & li:first-child {
    font-weight: 500;
  }
}
