@import "colors.css";
@import "media-queries.css";

.shipping {
  composes: checkout-block from '../checkout.css';
}

.title {
  font-size: 19px;
  font-weight: 900;
  color: #222;
}

.savedAddress {
  composes: address-details from 'ui/address/address.css';
  padding: 15px 0;
  line-height: 1.3;
  text-align: left;
  color: #222;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-action {
  color: #0b7ddc;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  margin-right: 16px;
}

.plus {
  margin-right: 8px;
  width: 12px;
}

@media (--large) {
  .btn-action {
    margin-right: 0;
  }
}
