.fc-typeahead {
  position: relative;


  input[type=text] {
    .width(800px);
  }

  .fc-typeahead-results {
    display: none;
    position: absolute;
    .top(39px);
    .left(37px);
    .width(800px);
    z-index: 999;
    background-color: #fff;
    border: 1px solid @color-border;
    .max-height(200px);
    overflow-y: scroll;
    overflow-x: hidden;
    &.show {
      display: block;
    }

    li {
      .padding(10px);
      border-bottom: 1px solid @color-border;
      display: flex;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: @color-tr-even-bg;
        cursor: pointer;
      }
    }
  }
}
