.inkBar {
  display: block;
  position: absolute;
  height: 3px;
  width: calc(100% / 3);
  left: 0;
  bottom: 0;
  background: #6bb2ef;

  transform: translateX(calc(100% * 2));
  transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
}
