@import "colors.css";
@import "variables.css";

.title {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #212121;
  letter-spacing: 2.7px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0;
  height: 60px;
  line-height: 26px;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0px;

  &:after {
    content: "▲";
    transform: scaleY(.7);
  }
}

.answer {
  overflow: hidden;
  max-height: 500px;
  padding-bottom: 30px;
  transition: all .3s;
  font-weight: 300;
  font-size: 16px;
  line-height: 33px;
  margin: 0;
}

.faq {
  border-bottom: 1px solid var(--border-color);

  &._collapsed {
    & .answer {
      max-height: 0;
      padding-bottom: 0;
    }

    & .question {
      &:after {
        content: "▼";
      }
    }
  }
}
