@import "common.css";

.main {
  display: inline-flex;
  align-items: center;
  height: 32px;
  font-size: 12px;
  color: #fff;
  background-color: #24334b;
  border-radius: 16px;
}

._loading {
  @apply --loading-caramel;
  background-color: rgba(58, 67, 80, .8);
}

.button {
  padding: 0 12px 0 8px;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
  border-left: 1px solid #7D848E;
  border-radius: 0 17px 17px 0;
}

.main:not(._loading) .button {
  transition: background .2s;
}

.main:not(._loading) .button:hover {
  background-color: #141f31;
}

.label {
  padding: 0 15px;
  line-height: 32px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  transition: background .2s;
}

.main.clickable:not(._loading) .label:hover {
  background: #141f31;
  cursor: pointer;
}

.main.closable .label {
  padding: 0 8px 0 10px;
}
