.main {
  align-items: center;
  background-color: #3a4350;
  border-radius: 20px;
  color: #fff;
  display: inline-flex;
  font-size: 13px;
  padding: 6px 15px;
}

._loading {
  composes: loading from '../../css/animations.css';
  background-color: rgba(58, 67, 80, .8);
}

.closable {
  padding-right: 6px;
}

.button {
  background: transparent;
  border: none;
}

.text {
  line-height: 17px;
}
