
:root {
  --lightest-blackish: #595959;
  --light-blackish: #3F3F3F;
  --blackish: #363636;
  --black-decor: #868686;
  --whitish: #fff;
  --greyish: #C4C4C4;
  --redish: #f65554;
  --greenish: #49C699;
  --blueish: #A7F4FF;
  --light-grayish: rgba(0, 0, 0, 0.3);
  --dark-grayish: #616161;
  --white-smokish: #F4F4F4;
  --star-dustish: #9F9F9F;
  --bunker: rgb(33, 33, 33);
  --bunker-transparent: rgba(33, 33, 33, .38)
}

:root {
  --base-color: #fff;
  --additional-color: #3E3436;
  --border-color: rgba(33, 33, 33, 0.10);

  --color-error: var(--redish);
  --color-panels-bg: var(--white-smokish);
  --color-text-grey: var(--greyish);

  --search-placeholder: rgba(255,255,255,.14);
  --icon: var(--bunker);
  --input-text-color: var(--bunker-transparent);
  --text-color-dark: var(--bunker);
  --text-color-main: var(--bunker);
}
