
/*
 This file only extends base class which defined in evil-icons node package
*/

@import "media-queries.css";

:global(.icon) {
  stroke: currentColor;
}

@media (--small-viewport) {
  :global(.icon) {
    width: 16px;
    height: 16px;
  }
}

:global(.icon--fc-payment-visa),
:global(.icon--fc-payment-master-card),
:global(.icon--fc-payment-dinners-club),
:global(.icon--fc-payment-amex),
:global(.icon--fc-payment-discover),
:global(.icon--fc-payment-jsb) {
  width: 44px;
  height: 30px;
}
