input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=tel] {
  border-radius: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea,
input[type=number],
input[type=text],
input[type=password],
input[type=email] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    /* explicitly set font size to prevent zooming on focus for ios */
    font-size: 16px !important;
  }
}

