input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=tel] {
  border-radius: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }

textarea,
input[type=number],
input[type=text],
input[type=password],
input[type=email] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  select,
  textarea,
  input {
    /* explicitly set font size to prevent zooming on focus for ios */
    font-size: 16px !important;
  }
}

