input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea,
input[type=number],
input[type=text],
input[type=password],
input[type=email] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

