/* Small screens */
@custom-media --small-only only screen and (max-width: 47.9375em); /* max-width 767px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@custom-media --medium only screen and (min-width: 48em); /* min-width 768px, medium screens */
@custom-media --medium-only only screen and (min-width: 48em) and (max-width: 79.9375em); /* min-width 768px and max-width 1279px, use when QAing tablet-only issues */

/* Large screens */
@custom-media --large only screen and (min-width: 80em); /* min-width 1280px, large screens */
@custom-media --large-only only screen and (min-width: 80em) and (max-width: 90em); /* min-width 1280px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@custom-media --x-large only screen and (min-width: 90.063em); /* min-width 1441px, xlarge screens */
