@import 'media-queries.css';

:root {
  --grid-margin: 1.7%;

  --cart-footer-height: 70px;
  --cart-header-height: 60px;
  --cart-gap: 20px;
  --font-playfair: 'Playfair Display', 'Times New Roman', serif;
  --font-main: Roboto, 'Open Sans', sans-serif;
}

@media (--small-only) {
  :root {
    --grid-margin: 10px;
  }
}

@media (--medium-only) {
  :root {
    --grid-margin: 24px;
  }
}

@media (--medium) {
  :root {
    --cart-footer-height: 100px;
    --cart-header-height: 80px;
    --cart-gap: 25px;
  }
}

@media (--large-only) {
  :root {
    --grid-margin: 36px;
  }
}

@media (--x-large) {
  :root {
    --grid-margin: 48px;
  }
}
