@import "media-queries.css";

.apply {
  display: flex;
  justify-content: center;
  margin: 70px 0 50px;

  @media (--small-viewport) {
    flex-direction: column;
  }
}

.applybutton {
  width: 45%;
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 46px;

  @media(--small-viewport) {
    width: 100%;
  }
}

