// Colors
@color-text: #363636;
@color-subtitle: #abb2b6;
@color-additional-text: rgba(54, 54, 54, 0.5);
@color-light-text: #fff;
@color-action-text: #3fc1ab;
@color-error-text: #f65554;

@color-nav-main: #25334a;
@color-green-buttons: #49cab9;
@color-grey-buttons: #ced2d5;
@color-grey-headers: #f7f7f7;

@color-white: #ffffff;
@color-decor0: #f2f2f2;
@color-decor4: #828e9f;
@color-decor5: #9ba3a7;
@color-decor7: #ced2d5;
@color-decor9: #d9d9d9;
@color-decor10: #ebebeb;
@color-decor12: #f7f7f7;
@color-decor13: #fcfcfc;
@color-decor14: #3aacb3;
@color-decor16: #99e6ea;
@color-decor17: #a0e9ed;
@color-decor18: #7Da0f3;
@color-decor19: #a0beed;
@color-decor20: #c5d6ff;
@color-decor21: #e1eaff;
@color-decor23: #ff9796;
@color-decor24: #ffbb3c;
@color-decor25: #ffdd7f;
@color-decor26: #47628d;
@color-decor29: #a2dee1;
@color-decor31: #959698;
@color-decor35: #e5e7e8;
@color-decor36: #333c49;
@color-decor38: #e9feff;
@color-decor43: rgba(0,0,0,0.30);
@color-decor45: #7f7f7f;
@color-decor48: #D8FBFD;
@color-decor49: #EAFEFF;
@color-decor51: rgba(0,0,0,0.50);
@color-decor54: #F5FEFF;
@color-decor55: rgba(0,0,0,0.40);
@color-decor58: rgba(0,0,0,.1);
@color-decor59: #6a6a6a;
@color-decor60: #e4e6ea;
@color-decor61: #f4f5f6;

@color-text-gray: #adaaaa;
@color-transparent: transparent;

// Site colors
@color-border: #bbbdbf;
@color-header-border: @color-decor9;
@color-btn-bg-hover: #e3e3e4;
@color-link-tab: #595959;
@color-tooltip-bg: @color-nav-main;
@color-subtitle: #abb2b6;

// Default colors
@color-default-fg: @color-text;
@color-default-bg: @color-decor0;

// Control colors
@color-control-primary-bg: @color-green-buttons;

@color-control-secondary-fg: @color-default-fg;
@color-control-secondary-bg: @color-transparent;
@color-control-secondary-hover-bg: @color-transparent;
@color-control-secondary-disabled-fg: @color-decor31;
@color-control-secondary-disabled-bg: @color-transparent;

@color-control-standard-fg: @color-default-fg;
@color-control-standard-bg: @color-decor7;
@color-control-standard-hover-fg: @color-default-fg;
@color-control-standard-disabled-fg: @color-decor31;
@color-control-standard-disabled-bg: @color-decor7;

@color-control-yes-bg: @color-green-buttons;
