// Copy set of 'variables.css'

@color-text: #363636;
@color-additional-text: rgba(54, 54, 54, 0.5);
@color-subtitle-text: #abb2b6;
@color-light-text: #fff;
@color-link: #49cab9;
@color-error-text: #f65554;

@color-border: #d9d9d9;


@bg-white: #fff;
@bg-nav-main: #25334a;
@bg-nav-active: #1a2535;
@bg-nav-disabled: #99a9c4;
@bg-nav-pink: #fc54a6;
@bg-field-error: @color-error-text;
@bg-grey: #f9f9f9;
@bg-grey-buttons: #ced2d5;
@bg-grey-buttons-hover: #bdc3c6;
@bg-grey-headers: #f7f7f7;
@bg-green-buttons: #49cab9;
@bg-green-buttons-hover: #1dbfaa;
@bg-message-success: #adf2e9;
@bg-message-warning: #fff9a0;
@bg-message-error: #ffb1b1;



@color-decor24: #ffbb3c;
