// Colors
@color-text: #363636;
@color-additional-text: rgba(54, 54, 54, 0.5);
@color-subtitle-text: #abb2b6;
@color-light-text: #fff;
@color-action-text: #3fc1ab;
@color-error-text: #f65554;

@color-border: #d9d9d9;


@bg-nav-main: #25334a;
@bg-nav-active: #1a2535;
@bg-nav-disabled: #99a9c4;
@bg-nav-pink: #fc54a6;
@bg-field-error: @color-error-text;
@bg-grey: #f9f9f9;
@bg-grey-buttons: #ced2d5;
@bg-grey-headers: #f7f7f7;
@bg-green-buttons: #49cab9;
@bg-green-buttons-hover: #1dbfaa;
@bg-message-success: #adf2e9;
@bg-message-warning: #fff9a0;
@bg-message-error: #ffb1b1;



@color-white: #ffffff;
@color-decor24: #ffbb3c;
@color-decor25: #ffdd7f;
@color-decor36: #333c49;
@color-decor38: #e9feff;
@color-decor49: #EAFEFF;

// Site colors
@color-btn-bg-hover: #e3e3e4;
@color-link-tab: #595959;


// Control colors

@color-control-standard-fg: @color-text;
@color-control-standard-bg: @bg-grey-buttons;
