{
    "id": "hyperion",
    "cmd": null,
    "cpus": 0.5,
    "mem": 256,
    "disk": 0,
    "instances": 1,
    "constraints": [],
    "labels": {
        "LANG": "elixir",
        "consul": "hyperion",
        "TAG": "{{docker_tags.hyperion}}",
        "overrideTaskName": "hyperion"
    },
    "env": {
        "HYPERION_DB_USER": "{{hyperion_db_user}}",
        "HYPERION_DB_HOST": "{{docker_db_host}}",
        "HYPERION_DB_NAME": "{{hyperion_db_name}}",
        "HYPERION_DB_TEST_NAME": "{{hyperion_db_test_name}}",
        "HYPERION_DB_PASSWORD": "",
        "AWS_ACCESS_KEY_ID": "{{hyperion_aws_access_key_id}}",
        "AWS_SECRET_ACCESS_KEY": "{{hyperion_aws_secret_access_key}}",
        "MWS_ACCESS_KEY_ID": "{{hyperion_mws_access_key_id}}",
        "MWS_SECRET_ACCESS_KEY": "{{hyperion_mws_secret_access_key}}",
        "PHOENIX_USER": "{{phoenix_api_user}}",
        "PHOENIX_PASSWORD": "{{phoenix_api_password}}",
        "PHOENIX_ORG": "{{phoenix_api_user_org}}",
        "PHOENIX_URL": "http://{{phoenix_server}}",
        "PUBLIC_KEY": "{{public_keys_dest_dir}}/public_key.pem",
        "PUSH_CHECK_INTERVAL": "{{hyperion_push_check_interval}}",
        "ORDERS_FETCH_INTERVAL" : "{{hyperion_orders_fetch_interval}}",
        "CREATE_ASHES_PLUGIN": "{{hyperion_create_plugin_in_ashes_on_start | bool | lower}}"
    },
    "container": {
        "type": "DOCKER",
        "volumes": [{
                "containerPath": "{{public_keys_dest_dir}}",
                "hostPath": "{{public_keys_dest_dir}}",
                "mode": "RO"
            },
            {
                "containerPath": "{{docker_logs_dir}}",
                "hostPath": "{{docker_logs_host_dir}}",
                "mode": "RW"
            }
        ],
        "docker": {
            "image": "{{docker_registry}}:5000/hyperion:{{docker_tags.hyperion}}",
            "network": "HOST",
            "privileged": false,
            "parameters": [],
            "forcePullImage": true
        }
    },
    "healthChecks": [{
        "path": "/v1/public/health",
        "protocol": "HTTP",
        "gracePeriodSeconds": 300,
        "intervalSeconds": 30,
        "timeoutSeconds": 20,
        "maxConsecutiveFailures": 3,
        "ignoreHttp1xx": false,
        "portIndex": 0
    }]
}
