                        +o-             ``
                        ohhs.          `..
                        osyss:...`` ``....
                       .++oo+++++/-.......
                     `o+++oo++++:..........
                     .o++++++++/..-......:+/.
                     .+++++++++/:::.....:++++/`
                     :++++++o///:::::../++++++/`
                    -++++//os/::::::::+++++++++/
                   `+++//:::::::::///+++++++++++-
                   -++//:::::--..:++++++++++++++/
 ``                /+/::::-`      .o/..:+++++++++
`..`              `++:::-         -o+-...:+++++++
`...`             `+o/-`         -+++:.....-.:+++
`.....`                        `:++++++:....../+o
 `....-/.                   `./+++++++++-.....-o+
  `....+++:-`           `.-/++++++++++++/....-o++
   `.::+++++++//::::://+++++++++++++++/:...-/o+++
     .-/++++++++//:-.`/++++/:///+++++/...``-o++++
          `````      -++++:-...-+++++```    -so++
                    :ssyo. `+++`syyy:        syyy`
                   .yyy+    oyy`syy-         /yyy
                   +yy-     .yy`sy+           oyy`
                   ```       `` ```           ```
Your development environment is ready to use!

URL: https://{{dns_record}}.{{foxcomm_domain}}
IP Address: {{private_ip}}

Please note that dev appliances are created without a public facing IP address,
so you will need to use the VPN to access it.

Happy hacking!
