@import "media-queries.css";
@import "colors.css";

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: var(--light-grayish);
  opacity: 0;
  transition: opacity .1s;
  transform: translateX(-100%);
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--additional-color);
  color: var(--whitish);
  transform: translateX(-100%);
  transition: transform .2s;
}

@media (--small-only) {
  .container {
    lost-column: 10/12;
  }
}

@media (--medium-only) {
  .container {
    lost-column: 7/12;
  }
}

.sidebar-shown .overlay {
  opacity: 1;
  transform: translateX(0);
}

.sidebar-shown .container {
  transform: translateX(0);
}

.controls {
  margin: 20px 10px;
  color: var(--whitish);
  font-size: 15px;
  font-weight: 300;
}

.controls-search {
  margin-top: 30px;
  margin-bottom: 20px;
}

.controls-categories,
.controls-session {
  margin-left: 40px;
}

.controls-session {
  line-height: 40px;
}

.session-link {
  color: var(--whitish);
  text-decoration: none;
}

.close-button {
  color: var(--whitish);
  text-decoration: none;
  margin-left: 10px;
  stroke: var(--whitish);

  & :global(.icon) {
    stroke-width: 1;
    cursor: pointer;
  }
}
