
@import "colors.css";

.sidebar {
  display: block;
  position: fixed;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: var(--light-grayish);
}

.overlay {}
.controls {}

@media (--small-viewport) {


  .container {}

  .controls {}
}
