:root {
  --dark-blackish: #212121;
  --whitish: #FFFFFF;
  --greyish: #C4C4C4;
  --redish: #F65554;
  --greenish: #49C699;
  --white-smokish: #F4F4F4;
  --bunker: rgb(33, 33, 33);

  /* peacock: */
  --water-blue: #0B7DDC;
  --science-blue: #0266B9;
  --french-pass: #B6D7FF;
  --malibu: #66AFF5;

  --cherry-red: #E90018;

  --black: #000000;
  --blackish: #222222;
  --mine-shaft: #333333;
  --gray: #888888;
  --silver: #CCCCCC;
  --white: #FFFFFF;
}

:root {
  --base-color: var(--whitish);

  --additional-color: #3E3436;
  --border-color: rgba(33, 33, 33, 0.10);
  --background-color: #FBFBFB;

  --color-error: var(--cherry-red);
  --color-panels-bg: var(--white-smokish);
  --color-text-grey: var(--greyish);

  --search-placeholder: rgba(255,255,255,.14);
  --icon: var(--bunker);
  --input-text-color: #000000;
  --input-placeholder-color: #888888;
  --text-color-dark: var(--bunker);
  --text-color-main: var(--bunker);

  --text-color-on-sale: #AA0F0F;
}

:root {
  /* Backgrounds */
  --body-background: var(--white);
  --input-background: var(--white);

  /* Inputs */
  --input-border-color: var(--gray);
  --input-error-color: var(--cherry-red);

  /* Text colors */
  --text-color: var(--blackish);
  --label-color: var(--gray);
  --error-color: var(--cherry-red);

  /* Button colors */
  --button-default-color: var(--water-blue);
  --button-active-color: var(--science-blue);
  --button-focus-color: var(--water-blue);
  --button-in-progress-color: var(--science-blue);
  --button-alt-default-color: var(--mine-shaft);
  --button-alt-active-color: var(--black);
  --button-disabled-color: var(--silver);

  --link-color: var(--warter-blue);
  --link-hover-color: var(--water-blue);
  --link-visited-color: var(--malibu);

  --focus-color: var(--french-pass);
}
