* {
  outline: 0;
  box-sizing: border-box;
  &:before, &:after { box-sizing: border-box; }
}

html {
  font-size: 100%;
}

table {
  width: 100%;
  text-align: left;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  overflow: hidden;
  position: fixed;
  width:100vw;
  height: 100vh;
}
#body-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.no-scroll {
  overflow: hidden !important;
}

.no-scroll-mobile {
  overflow: hidden !important;
  width: auto !important;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input, textarea, keygen, select, button {
  font-family: Roboto, Helvetica, sans-serif;
}

hr {
  border: none;
  height: 0;
  background: none;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}
