@import 'colors.css';

.column-selector {
  position: relative;
  margin-right: 10px;
}

.control {
  padding: 0 10px;
}

.dropdown {
  & :global(.fc-dropdown__value) {
    padding-left: 0;
    padding-right: 10px;
  }

  & :global(.fc-dropdown__items) {
    min-width: 300px;
    max-height: 304px;
    transform: translateX(calc(-100% + 40px));

    &:global(._dropup) {
      transform: translateX(calc(-100% + 40px)) translateY(calc(-100% - 40px));
    }
  }

  &:global(._open) {
    & :global(.fc-dropdown__items) {
      display: flex;
      flex-direction: column;
    }
  }
}

.list {
  max-height: 244px;
  overflow: auto;

  & li {
    display: flex;
    line-height: 30px;
    font-size: 14px;
    background: var(--bg-white);

    &:hover {
      background: var(--bg-grey-headers);
    }

    & :global(.icon-wrapper) {
      padding: 9px 2px 7px 4px;
      font-size: 18px;
      cursor: move;
      color: var(--color-additional-text);
    }
  }

  &:global(._hasDraggingItem) {
    & li:hover {
      background: var(--bg-white);
    }
  }
}

.actions {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 1px solid var(--color-border);

  & :global(.fc-btn-primary) {
    min-width: 208px;
  }
}

.isDragging {
  box-shadow: inset -1px 1px 6px rgba(0, 0, 0, 0.24);

  & :global(.icon-drag-drop) {
    opacity: 0;
  }
}

/* @todo do not use button in generic dropdown */
.button {
  padding: 10px !important;

  & > i {
    font-size: 17px !important;
  }
}
