input,
textarea,
select {
  width: 100%;
  line-height: 36px;
  font-weight: 300;
  font-size: 16px;
  padding: 0 15px;

  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #ddd;

  transition: border-color .4s;

  appearance: none;

  &:focus,
  &:active {
    border-color: #7bb2f1;
  }
}

select {
  height: 36px;

  background-image: linear-gradient(45deg, transparent 50%, #aaa 50%), linear-gradient(135deg, #aaa 50%, transparent 50%);
  background-position: calc(100% - 10px) calc(1em + 2px), calc(100% - 5px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;

  transition: border-color .4s, background-image .4s;

  &:focus {
    background-image: linear-gradient(45deg, transparent 50%, #7bb2f1 50%), linear-gradient(135deg, #7bb2f1 50%, transparent 50%);
  }
}

label {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #aaa;
  font-weight: 300;

  pointer-events: none;
}

.field {
  position: relative;
  margin-bottom: 25px;
}

.fieldError {
  & input {
    border-color: #db2727;
  }
}

.error {
  position: absolute;
  display: block;
  font-size: 12px;
  margin-left: 15px;
  color: transparent;
  transition: color .4s;
}

.errorActive {
  color: #db2727;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #ccc;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

:global(.rw-multiselect) {
  &:global(.rw-open) {
    & :global(.rw-multiselect-wrapper) {
      border-color: #7bb2f1;
    }
  }

  & :global(.rw-multiselect-taglist) {
    display: inline;
    margin: 0;
    padding: 0 10px;
    list-style: none;

    & li {
      display: inline-block;
      margin: 1px;
      padding: 3px 5px;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
    }

    & :global(.rw-tag-btn) {
      position: relative;
      top: 1px;
      margin-left: 5px;
    }
  }

  & :global(.rw-input) {
    display: inline-block;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0;
    border: none;

    &:first-child {
      padding-left: 15px;
    }
  }

  & :global(.rw-sr) {
    display: none;
  }

  & :global(.rw-multiselect-wrapper) {
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: text;

    &:active,
    &:focus {
      border-color: #7bb2f1;
    }
  }

  & :global(.rw-popup-container) {
    position: absolute;
    top: 100%;
    margin-top: 1px;
    z-index: 1005;
    left: -11px;
    right: -11px;
  }

  & :global(.rw-popup) {
    position: absolute;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .2);
    border-radius: 0 0 3px 3px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px;
    overflow: auto;
    margin-bottom: 10px;
    left: 10px;
    right: 10px;

    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      height: 100%;
      margin: 0;
      padding: 5px 0;
      overflow: auto;
      list-style: none;
      outline: 0;

      & li {
        display: inline-block;
        padding: 3px 10px;
        margin: 3px;
        border-radius: 3px;
        border: 1px solid #fff;
        cursor: pointer;

        &:hover {
          background-color: #f6f6f6;
          border-color: #efefef;
        }

        &:global(.rw-state-focus) {
          background-color: #fff;
          border-color: #66afe9;

          color: #333;
        }
      }
    }
  }
}
