@import "common.css";

.main {
  display: inline-flex;
  align-items: stretch;
  vertical-align: top;
  min-height: 32px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #24334b;
  border-radius: 16px;
}

.loading {
  @apply --loading-caramel;
  background-color: rgba(58, 67, 80, .8);
}

.button {
  padding: 0 12px 0 8px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
  border-left: 1px solid #7D848E;
  border-radius: 0 17px 17px 0;
}

.main:not(.loading) .button {
  transition: background .2s;
}

.main:not(.loading) .button:hover {
  background-color: #141f31;
}

.label {
  padding: 8px 15px;
  border-radius: 17px;
  transition: background .2s;

  .closable & {
    border-radius: 17px 0 0 17px;
  }
}

.main.clickable:not(.loading) .label:hover {
  background: #141f31;
  cursor: pointer;
}

.main.closable .label {
  padding-right: 8px;
  padding-left: 10px;
}
