@import "colors.css";
@import "variables.css";
@import "media-queries.css";

.block {
  margin-bottom: 19px;
}

.title {
  composes: title from '../../pages/catalog/pdp.css';
}

.description {
  composes: description from '../../pages/catalog/pdp.css';
}

.recipient-block {
  margin-bottom: 19px;
}


.price-selector {
  margin-top: 17px;
  margin-bottom: 25px;
}


.message-field {
  margin-bottom: 18px;
}

@media (--large) {
  .card-image {
    width: 602px;
    height: 578px;
    flex: none;
    padding: 150px 50px;
  }
}
