.slug-field-container {
  position: relative;
  width: 100%;
}

.prefix {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #909090;
}

.slug-field {
  width: 100%;
  padding-left: 84px !important; /* our form field style is too specific */
}

.field-comment {
  margin-top: 8px;
  font-size: 13px;
  color: #909090;
}
