.root {
  padding: 0 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.title {
  margin: 0;
  flex-grow: 1;
}
.saveBtn {
  margin-left: 8px;
}
.suggesterWrapper {
  display: flex;
}
.suggester {
  flex: 1 1 auto;
}

.set {
  border: none;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
}
.set._disabled {
  color: #999;
  cursor: default;
}

.progressbar {
  margin: 30px 0;
}

.form {
  margin: 30px 0;
}

.table {
  border: 1px solid #ccc;
}

.box {
  margin: 20px 0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}
