---

- name: Start Isaac
  include: app_isaac.yml
  when: marathon_restart.isaac

- name: Start Phoenix
  include: app_phoenix.yml
  when: marathon_restart.phoenix

- name: Start Solomon
  include: app_solomon.yml
  when: marathon_restart.solomon

- name: Start Middlewarehouse
  include: app_middlewarehouse.yml
  when: marathon_restart.middlewarehouse

- name: Start Hyperion
  include: app_hyperion.yml
  when: marathon_restart.hyperion

- name: Start Geronimo
  include: app_geronimo.yml
  when: marathon_restart.geronimo

- name: Start Onboarding Service
  include: app_onboarding_service.yml
  when: with_onboarding and marathon_restart.onboarding_service
