.root {
  & :global(.fc-pilled-input__input-container) {
    width: 600px;

    :global(.fc-pilled-input__input-field) {
      width: 100%;
      padding-right: 0;
    }
  }
}

.label {
  margin-bottom: 15px;
}
