---

- include_vars: "{{role_path}}/../secret_keys/files/aws/aws.yml"
  when: docker_registry_provider == "aws"

- include_vars: stripe.yml

- name: Create Phoenix Directory
  file: path={{phoenix_dir}} state=directory owner="{{user}}"
  sudo: true

- name: Synchronize Phoenix Sql
  synchronize: src="{{phoenix_src}}/sql" dest="{{phoenix_dir}}" delete=yes recursive=yes
  sudo: true

- name: Delete Phoenix Gatling Resources
  file: path="{{phoenix_dir}}/gatling-classes" state=absent
  sudo: true

- name: Delete Phoenix Gatling Results
  file: path="{{phoenix_dir}}/gatling-results" state=absent
  sudo: true

- name: Synchronize Phoenix Gatling Resources
  synchronize: src="{{phoenix_src}}/gatling-classes" dest="{{phoenix_dir}}" delete=yes recursive=yes
  become: false

- name: Create directory for Gatling results
  file: path="{{phoenix_dir}}/gatling-results" state=directory owner="{{user}}" mode="0777"

- name: Copy JAR
  copy: src={{phoenix_jar_src}} dest={{phoenix_jar}} mode="u+x,g+x,o+x"
  sudo: true

- name: Copy Service
  template: src=phoenix.service dest="{{dest_services}}/phoenix.service"
  sudo: true

- name: Reload Systemd for Phoenix
  sudo: yes
  command: systemctl daemon-reload

- name: Restart Phoenix
  service: name=phoenix state=restarted enabled=yes
  sudo: true

- name: Copy Consul Service File
  template: src=phoenix.json dest="/etc/consul.d/phoenix.json"
  sudo: true
