
.fc-activity {
  background: @color-white;
  border: 1px solid @color-decor9;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;

  &._first {
    background: @color-decor38;
    border: 1px solid @color-decor39;
  }

  @author-width: 40px;
  @author-indent: 12px;

  &__head-content {
    display: flex;
  }

  &__controls {
    align-self: flex-end;
  }

  &__body {
    flex-grow: 1;

    .initials {
      vertical-align: top;
      margin-right: @author-indent;
      width: @author-width;
      height: @author-width;
      line-height: @author-width;
    }
  }

  &__system-icon {
    .inline-block();
    width: 40px;
    height: 40px;
    background-image: url("/images/logo-fox.svg");
    background-size: 40px 40px;
    margin-right: @author-indent;
  }

  &__customer-icon {
    .inline-block();
    margin-right: @author-indent;
    font-size: 26px;
    line-height: 40px;
    height: 40px;

    > .icon-customer {
      background-color: @color-decor15;
      color: @color-decor34;
      width: 40px;
      height: 40px;
      text-align: center;
    }
  }

  &__timestamp {
    font-size: 13px;
    color: @color-decor53;
    line-height: 16px;
    margin-bottom: 12px;
  }

  &__description {
    display: inline-block;
  }

  &__link {
    color: @color-decor1;
    text-decoration: underline;

    &:hover {
      color: @color-decor15;
    }
  }

  &__view-more {
    text-decoration: underline;
    cursor: pointer;
  }

  &__details {
    font-size: 13px;
    color: @color-decor1;
    line-height: 18px;
    border-top: 1px solid @color-decor9;
    margin-top: 20px;
    padding-left: @author-indent + @author-width;
  }

  &__details-head {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  // styles for representatives

  &__customer-info {
    > dt {
      font-weight: bold;
    }

    > dd {
      margin-left: 0;
      padding-left: 0;
    }
  }
}
