.fc-activity-notifications {

  .icon.icon-bell {
    flaot: right;
  }

  &__toggle {
    .colors(@color-decor5, @color-transparent);
    height: 6.5rem;
  }

  &__indicator {
    .margin-right(-5px);
    .margin-top(5px);
    line-height: 3rem;
    float: left;
    .circle(30px);
    .colors(@color-white, @color-decor33);
  }

  &__panel {
    position: fixed;
    .right(100px);
    .top(60px);
  }

  &__box {
    z-index: 1050;
    .width(370px);

    & .fc-content-box-header {
      .colors(@color-decor1, @color-decor12);
      .font-spec(14px, 600, 19px);
      border-bottom: 1px solid @color-decor9;
    }
  }

  &__footer {
    width: 100%;
    .height(60px);
    border-top: 1px solid @color-decor9;
    background: @color-decor12;
  }

  &__footer-button {
    .width(310px);
    .margin(10px, 30px);
  }

  &__overlay {
    position: fixed;
    .top(0);
    .bottom(0);
    .left(0);
    .right(0);
    z-index: 1000;
  }
}
