.fc-activity-notifications {

  .icon.icon-bell {
    flaot: right;
  }

  &__toggle {
    .colors(@color-decor5, @color-transparent);
    height: 6.5rem;
  }

  &__indicator {
    .margin-right(-5px);
    .margin-top(5px);
    line-height: 3rem;
    float: left;
    .circle(30px);
    .colors(@color-white, @color-decor33);
  }
}
