
.fc-address {
  display: inline-block;
  border: 1px solid @color-decor9;
  background: @color-decor12;
  .padding(20px 10px);
  .margin(10px 10px 10px 15px);
  .font-spec(12px);
  width: 406px;
  .min-height(278px);
  position: relative;

  &-controls {
    position: absolute;
    .top(20px);
    .right(10px);

    button {
      float: right;
      .font-spec(14px, 26px);
      .margin-left(10px);
    }
  }

  .fc-card-default-control {
    color: @color-decor31;
    .font-spec(12px, 16px);
    .inline-block();
    .margin-bottom(30px);

    input {
      .size(16px);
      vertical-align: bottom;
    }

    span {
      .padding-left(5px);
    }
  }

  &-details {
    height: pxtorem(210px);
    list-style-type: none;
    .font-spec(14px, 19px);

    .name {
      .font-spec(17px, 600, 23px);
    }
  }

  &-main-action {
    display: flex;
    > .fc-btn {
      margin: 0 auto;
      .padding(0 50px);
      .font-spec(14px, 19px);
      text-align: center;
    }
  }
}
