.fc-add-watcher-modal {
  width: 800px;

  .fc-title {
    .font-spec(18px, @semibold, 24px);
    text-align: left;
    color: @color-decor1;
  }

  &__content {
    .font-spec(15px, @normal, 18px);
    color: @color-decor1;
    text-align: left;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 50px 20px 20px;
    .font-spec(15px, @normal, 18px);
  }
}
