.fc-order-apply-gift-card {
  &__card-number {
    .margin-bottom(30px);
  }

  &__statistic-label, &__amount-form-value {
    .font-spec(14px, 400, 19px);
    .margin-bottom(30px);
    color: @color-decor1;
  }

  &__statistic-value {
    .font-spec(32px, 600, 43px);
    color: @color-decor8;
  }

  .fc-prepend-input {
    .font-spec(20px, 600, 27px);
    .margin-top(30px);
  }

  .fc-prepend-input__icon {
    .padding(21px 8px 25px 8px);
    line-height: 0px;
  }

  .fc-prepend-input__input-field {
    .padding(22px 10px);
    max-width: 140px;
  }
}
