.fc-big-checkbox {
  &__visible-box {
    width: 40px;
    height: 40px;
    background: #FFFFFF; 
    border: 2px solid #D9D9D9; 
    border-radius: 3px;
  }

  &__hidden-input {
    display: none;
  }
}
