.fc-breadcrumbs {
  flex-grow: 1;
  align-items: baseline;

  &__item, &__delimeter {
    display: inline;
    margin: 0 5px;
  }

  &__delimeter {
    font-size: 15px;
    font-weight: @normal;
    line-height: 20px;
  }

  &__link {
    font-size: 15px;
    font-weight: @normal;
    line-height: 20px;
    color: @color-decor5;
    transition: all .2s;
  }

  &__link:hover {
    color: @color-decor3;
  }
}
