.fc-btn {
  .colors(@color-control-standard-fg, @color-control-standard-bg);
  .padding(0 20px);
  .height(40px);
  .font-spec(14px, 700, 40px);
  border: none;
  border-radius: pxtorem(3px);
  user-select: none;
  cursor: pointer;

  &:hover {
    .colors(@color-control-standard-hover-fg, @color-control-standard-hover-bg);
  }

  &:disabled, &:disabled:hover {
    cursor: default;
    .colors(@color-control-standard-disabled-fg, @color-control-standard-disabled-bg);
  }

  &.fc-btn-primary {
    .colors(@color-control-primary-fg, @color-control-primary-bg);

    &:hover {
      .colors(@color-control-primary-hover-fg, @color-control-primary-hover-bg);
    }

    &:disabled, &:disabled:hover {
      .colors(@color-control-primary-disabled-fg, @color-control-primary-disabled-bg);
    }
  }
  &.fc-btn-remove {
    &:hover {
      background-color: @color-decor23;
    }
  }
}


.fc-btn-link,
.fc-btn-link:visited {
  color: @color-decor1;
  text-decoration: underline;
}
