@button-height: 40px;
@button-font-size: 14px;

.fc-btn {
  .colors(@color-control-standard-fg, @color-control-standard-bg);
  .padding(0 20px);
  .height(@button-height);
  .font-spec(@button-font-size, 600, 40px);
  border: none;
  border-radius: pxtorem(3px);
  user-select: none;
  cursor: pointer;
  .inline-block();

  &:hover {
    .colors(@color-control-standard-hover-fg, @color-control-standard-hover-bg);
  }

  &:disabled, &:disabled:hover {
    cursor: default;
    .colors(@color-control-standard-disabled-fg, @color-control-standard-disabled-bg);
  }

  &.fc-btn-primary {
    .colors(@color-control-primary-fg, @color-control-primary-bg);

    &:hover {
      .colors(@color-control-primary-hover-fg, @color-control-primary-hover-bg);
    }

    &:disabled, &:disabled:hover {
      .colors(@color-control-primary-disabled-fg, @color-control-primary-disabled-bg);
    }
  }

  &.fc-btn-secondary {
    .colors(@color-control-secondary-fg, @color-control-secondary-bg);
    text-decoration: underline;
    font-weight: normal;

    &:hover {
      .colors(@color-control-secondary-hover-fg, @color-control-secondary-hover-bg);
    }

    &:disabled, &:disabled:hover {
      .colors(@color-control-secondary-disabled-fg, @color-control-secondary-disabled-bg);
    }
  }

  &.fc-btn-remove {
    &:hover {
      background-color: @color-decor23;
    }
  }

  &.fc-btn-plain {
    background-color: transparent;
    border: none;
  }

  &[class*=" icon-"] {
    padding: 0;
    .width(40px);
  }

  i[class*="icon-"]:only-child {
    .margin(0 -10px);
  }

  i[class*="icon-"] + span {
    .margin-left(5px);
  }
}


.fc-btn-link,
.fc-btn-link:visited {
  color: @color-decor1;
  text-decoration: underline;
}
