.fc-slide-checkbox {
  @width: 80px;
  @height: 34px;
  @offsetX: 2px;
  @offsetY: -2px;

  width: @width;
  height: @height;
  position: relative;

  & > .fc-slide-checkbox__background:before {
    background: @color-decor46;
    position: absolute;
    left: 0;
    top: -2px;
    width: 80px;
    height: 34px;
    padding: 6px 10px;
    border-radius: 17px;
    font-weight: bold;
    .font-spec(16px, 500, 22px);
    color: @color-white;
    content: 'YES';
  }

  & > .fc-slide-checkbox__background:after {
    background: @color-decor47;
    position: absolute;
    right: 0;
    top: -2px;
    width: 80px;
    height: 34px;
    padding: 6px 10px;
    border-radius: 17px;
    font-weight: bold;
    .font-spec(16px, 500, 22px);
    color: @color-white;
    content: 'NO';
    text-align: right;
  }

  & > label {
    display: block;
    width: 80px;
    height: 34px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

  & > label:before {
    background: @color-white;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 12px;
    transition: all .4s ease;
    cursor: pointer;
    content: "";
  }

  & > input[type=checkbox] {
    visibility: hidden;
  }

  & > input[type=checkbox] ~ label:before {
    box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.30);
  }

  & > input[type=checkbox]:checked ~ label:before {
    left: 52px;
    box-shadow: -2px 3px 4px 0px rgba(0,0,0,0.30);
  }

  & > input[type=checkbox] + .fc-slide-checkbox__background:before {
    visibility: hidden;
  }

  & > input[type=checkbox] + .fc-slide-checkbox__background:after {
    visibility: visible;
  }

  & > input[type=checkbox]:checked + .fc-slide-checkbox__background:before {
    visibility: visible;
  }

  & > input[type=checkbox]:checked + .fc-slide-checkbox__background:after {
    visibility: hidden;
  }

}

.fc-checkbox {
  display: inline-block;

  &__label {
    padding-left: 7px;
    line-height: 24px;
  }

  & input[type=checkbox] {
    width: 24px;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    opacity: 0;
  }

  & input[type=checkbox] + label {
    display: inline-block;
    margin-left: -24px;
  }

  & input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 2.5px;
    border-radius: 3px;
    vertical-align: bottom;
    border: 2px solid @color-decor9;
    background: @color-white;
  }

  & input[type=checkbox]:hover + label:before {
    border-color: @color-decor3;
    background: @color-white;
  }

  & input[type=checkbox]:checked + label:before {
    font-family: "fontello";
    content: "\e829";
    padding-bottom: 4px;
    border-color: @color-decor3;
    background: @color-decor3;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    color: @color-white;
  }

  & input[type=checkbox]:checked:hover + label:before {
    border-color: @color-decor4;
    background: @color-decor4;
  }

  &._half-checked input[type=checkbox]:checked + label:before {
    content: "\e832";
  }

  &._inline input[type=checkbox] + label:before {
    margin: 0;
  }

  &._inline._docked-left input[type=checkbox] + label:before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &._inline._docked-right input[type=checkbox] + label:before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & input[type=checkbox][disabled] + label:before {
    border-color: @color-decor9;
    background: @color-decor12;
  }

  & input[type=checkbox][disabled]:checked + label:before {
    color: @color-decor9;
  }

  & input[type=checkbox][disabled]:checked:hover + label:before {
    border-color: @color-decor9;
    background: @color-decor12;
  }
}
