.fc-slide-checkbox {
  width: pxtorem(80px);
  height: pxtorem(30px);
  background: @color-decor3;
  .margin(20px auto);
  border-radius: 50px;
  position: relative;


  &:after {
    content: 'NO';
    background: @color-decor3;
    color: @color-decor47;
    position: absolute;
    right: pxtorem(10px);
    z-index: 0;
    font-weight: bold;
    line-height: pxtorem(30px);
  }

  &:before {
    content: 'YES';
    background: @color-decor3;
    color: @color-decor46;
    position: absolute;
    left: pxtorem(10px);
    z-index: 0;
    font-weight: bold;
    line-height: pxtorem(30px);
  }

  & > label {
    display: block;
    width: pxtorem(34px);
    height: pxtorem(24px);

    border-radius: pxtorem(50px);

    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: pxtorem(3px);
    left: pxtorem(3px);
    z-index: 1;

    background: @color-white;
  }

  & > input[type=checkbox] {
    visibility: hidden;
  }

  & > input[type=checkbox]:checked + label {
    left: pxtorem(43px);
  }

}

.fc-checkbox {
  width: 20px;
  position: relative;

  & > input[type=checkbox] {
    visibility: hidden;
  }

  & > label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;

    background: @color-decor3;
  }

  & > label:after {
    opacity: 0;
    width: 15px;
    height: 10px;
    background: 0 0;
    top: 3px;
    left: 3px;
    border: 3px solid @color-white;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
  }

  & > label:hover::after {
    opacity: 0.3;
  }

  & > input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
}
