.fc-content-box {
  .colors(@fg: @color-default-fg, @bg: @color-white);
  position: relative;

  border: 1px solid @color-decor9;
  border-radius: 3px; // border radius is independent from font size @bree
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);

  .fc-controls {
    text-align: right;
  }

  &-header {
    background-color: @color-decor12;
    border-bottom: 1px solid @color-decor9;

    .font-spec(18px, 600, 24px);
    .height(60px);
    display: flex;
    align-items: center;
    .fc-grid {
      flex: 1;
      align-items: center;
    }

    > .fc-grid {
      .padding-right(20px);
    }

    .fc-title {
      .padding-left(20px);
    }
  }

  /* Specifics for nested tables */

  .fc-table {
    border: 0;
  }

  .fc-table-th {
    border-top: 0;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }

  .fc-table-tr {
    border-left: 0;
    border-right: 0;
    &:last-child {
      border-bottom: 0;
    }
  }
  /* End table specifics */

  thead tr:first-child th,
  // .messages for fc-error & fc-success & fc-warning blocks
  .messages {
    box-shadow: inset 0 2px 3px 0 @color-white;
  }

  &-content {
    .margin(20px);
    .margin-bottom(30px);
  }

  &-table {
    .padding(0);
  }

  .fc-content-box-footer {
    .font-spec(17px, 700, 50px);
    .padding(0, 20px);
    &:last-child {
      border-radius: 0 0 3px 3px;
    }
    .fc-controls {
      text-align: right;
    }
    > .fc-grid {
      flex: 1;
    }
  }

  &-empty-text {
    .font-spec(18px, 400, 104px);
    .padding-left(20px);
    color: @color-decor8;
  }
}
