.fc-countdown {
  .inline-block(middle);
  .size(112px, 50px);
  .colors(@color-white, @color-decor32);
  .font-spec(24px, 50px);
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0px -3px 1px 0 rgba(0, 0, 0, 0.20);

  &_ending {
    .colors(@color-white, @color-decor33);
  }

  &_frozen {
    .colors(@color-white, @color-decor7);
  }
}

.fc-countdown-controls {
  .inline-block(middle);
  .margin-left(10px);
}

