@media (max-width: 1350px) {

  .fc-counter {

    input[type=text], input[type=number] {
      .width(30px);
    }

    .fc-input-prepend, .fc-input-append, .fc-btn.fc-btn-counter {
      width: pxtorem(20px);
    }
  }
}

.fc-counter {
  margin: auto;
  display: inline-flex;

  input[type=text], input[type=number] {
    .width(50px);
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
