.fc-credit-cards {
  display: flex;
  flex-direction: column;

  .fc-card-container__left-controls {
    .margin-bottom(30px);

    .fc-card-default-control {
      display: flex;
      align-items: center;
      .font-spec(13px, 400, 18px);
      color: #959698;
    }
  }

  .fc-card-container-content {
    flex-grow: 1;
    .margin-bottom(30px);

    dt {
      color: #484848;
      .font-spec(16px, 600, 22px);
    }

    dd {
      color: #484848;
      margin-left: 0;
      .font-spec(14px, 400, 19px);
    }

    .fc-address-details .name {
      color: #484848;
      margin-left: 0;
      .font-spec(14px, 400, 19px);
    }
  }

  .fc-card-container__choose-control {
    text-align: center;

    .fc-btn {
      .padding(0 45px);
    }
  }
}
