.fc-credit-card {
  &__label {
    color: @color-decor1;
    .font-spec(16px, 600, 22px);
  }

  &__content {
    color: @color-decor1;
    margin-left: 0;
    .font-spec(14px, 400, 19px);
  }

  .fc-address-details .name {
    color: @color-decor1;
    margin-left: 0;
    .font-spec(14px, 400, 19px);
  }
}
