.fc-credit-card-number-input {
  &__input-container {
    display: flex;
    flex-direction: row;
  }

  &__cc-type {
    height: 33px;
    width: 56px;
    margin-left: -53px;
    margin-top: 4px;
    background-repeat: no-repeat;

    &._visa {
      background-image: url("/images/payments/payment_visa.svg");
    }
  }

  &__cc-image {
    height: 33px;
  }
}
