.fc-customer {
   width: 100%;

  .fc-customer-title-block {
    .margin(40px 0);
    background: @color-white;

    .fc-customer-info-avatar {
      background-color: @color-white;
    }

    .fc-customer-info-header {
      height: 6rem;
    }

    .fc-customer-info-head {
      height: 6rem;
    }

    .fc-customer-info-rank {
      padding-top: 2rem;
      padding-right: 2rem;
      text-align: right;
    }

    .fc-customer-name-block {
      .margin-bottom(15px);
    }

    .fc-customer-info-fields li {
      .margin-top(15px);
      height: pxtorem(24px);
    }
  }

  .fc-comment {
    color: @color-text-gray;
    font-weight: bold;
  }

  dt {
    .font-spec(16px, 600, 24px);
  }

  dd {
    .font-spec(13px, 19px);
    -webkit-margin-start: 0;
  }

  .fc-content-box {
    margin-bottom: pxtorem(20px);
  }

  .fc-float-list {
    .clearfix();
  }

  .fc-customer-address {
    width: pxtorem(370px);
    height: pxtorem(233px);
    .margin(20px);
  }

  .fc-address-details {
    li {
      display: list-item;
    }
  }

  .fc-card-container {
    width: pxtorem(370px);
    height: pxtorem(368px);
    .margin(20px);
    .padding(20px 10px);
  }

  .fc-card-container-content {
    dt {
      .font-spec(16px, 600, 22px);
    }
  }

  .fc-customer-account-status {
    .fc-customer-status-row {
      margin-top: .9rem;
      padding-top: .5rem;
    }
  }

  .fc-customer-info-fields {
    width: 45%;
    float: left;
  }

  .fc-customer-details > .fc-grid {
    padding-right: 0;
    margin-left: -1.85%;
  }
}
