.fc-credit-cards-new, .fc-credit-cards-edit {
  .padding(25px 10px 20px);

  header {
    .font-spec(18px, 600, 24px);
    .margin-bottom(35px);
  }

  .fc-credit-card-form-line {
    display: block;
    width: 100%;
    .margin-bottom(20px);
  }

  label {
    .font-spec(16px, 600, 22px);
    .margin-bottom(15px);
  }

  input {
    width: 100%;
  }

  .fc-credit-card-form-controls {
    .margin-top(10px);

    button {
      .margin-top(-10px);
      .margin-left(50px);
    }

    a {
      font-size: pxtorem(14px);
    }
  }
}

.fc-customer .fc-card-container.fc-credit-cards-new {
  height: pxtorem(882px);
}

.fc-customer .fc-card-container.fc-credit-cards-edit {
  height: inherit;
}
