.fc-customer {
   width: 100%;

  .fc-customer-title-block {
    .fc-customer-info-header {
      height: 6rem;
    }

    .fc-customer-info-head {
      height: 6rem;
    }

    .fc-customer-info-rank {
      padding-top: 2rem;
      padding-right: 2rem;
      text-align: right;
    }

  }

  .fc-comment {
    color: @color-text-gray;
    font-weight: bold;
  }

  dt {
    font-weight: 600;
    line-height: 2.4rem;
    font-size: 1.8rem;
  }

  dd {
    line-height: 1.9rem;
    font-size: 1.4rem;
    -webkit-margin-start: 0;
  }

  .fc-content-box {
    margin-bottom: pxtorem(20px);
  }

  .fc-float-list {
    .clearfix();
  }

  .fc-address-details {
    li {
      display: list-item;
    }
  }

  .fc-customer-account-status {
    .fc-customer-status-row {
      margin-top: .9rem;
      padding-top: .5rem;
    }
  }
}
