.fc-customer-group-dynamic {
  &__header {
    .margin-bottom(80px);
  }

  &__title {
    display: flex;

    .fc-title {
      .inline-block();
      .font-spec(30px, @semibold, 33px);
      flex-grow: 1;
      .margin(30px 0 10px 0);
    }

    .fc-btn {
      .margin(30px 0 10px 0);
    }
  }

  &__count {
    .inline-block();
    .padding-left(15px);
    color: @color-decor5;
  }

  &__about {
    &__key {
      .font-spec(14px, @semibold, 23px);
    }
    &__value {
      .font-spec(14px, @normal, 23px);
    }
  }
  //
  //&__or {
  //  .font-spec(14px, @normal, 19px);
  //  &:hover {
  //    color: #37BAC2;
  //  }
  //}
  //
  //&__title {
  //  .font-spec(16px, @semibold, 22px);
  //  color: #333A45;
  //}
  //
  //&__name {
  //  .margin-top(40px);
  //  .margin-bottom(12px);
  //  display: block;
  //}
  //
  //&__form-name {
  //  .width(557px);
  //}
  //
  //&__match {
  //  &-div {
  //    .margin-top(35px);
  //    .margin-bottom(30px);
  //  }
  //  &-span {
  //    vertical-align: middle;
  //  }
  //  &-dropdown {
  //    .margin-left(1rem);
  //    .margin-right(1rem);
  //    vertical-align: super;
  //    > .fc-dropdown {
  //      width: auto;
  //    }
  //  }
  //}
  //
  //&__count {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: flex-start;
  //  .margin-top(60px);
  //  .font-spec(32px, @semibold, 43px);
  //  color: @color-decor8;
  //  .margin-bottom(50px);
  //
  //  &-value._is_modified {
  //    animation: fc-count-highlight 0.75s ease-in;
  //  }
  //  &-value._is_modified2 {
  //    animation: fc-count-highlight2 0.75s ease-in;
  //  }
  //}
  //
  //&__form-submits {
  //  .margin-top(60px);
  //  > * {
  //    vertical-align: baseline;
  //  }
  //  a {
  //    .margin-right(3rem);
  //  }
  //  .fc-btn-primary {
  //    .margin-left(1rem);
  //  }
  //}
}
