.fc-date-time-picker {
  align-items: center;
  display: flex;
  .font-spec(14px, 600, 18px);

  &__hour, &__minute, &__ampm {
    .margin-left(10px);
    .max-width(45px);
  }

  &__separator {
    .margin-left(10px);
  }

  &__close {
    .margin-left(10px);
    flex-grow: 1;
    text-align: right;
  }
}
