.fc-expandable-table {
  &__drawer {
    &._shown {
      display: table-row;
    }

    &._hidden {
      display: none;
    }
  }

  .fc-table tbody td&__drawer-cell {
    background: none;
    padding: 0;
    border: none;
    border-top: 1px solid @color-decor9;
  }

  .fc-table tbody tr&__drawer {
    background: none;
    padding: 0;
    border: none;
    border-top: 1px solid @color-decor9;
  }
}

