.fc-expandable-table {
  &__drawer {
    border: none;
    border-top: 1px solid @color-decor9;
    background: none;

    &._shown {
      display: table-row;
    }

    &._hidden {
      display: none;
    }
  }
}
