
.fc-gift-card {
  margin-bottom: @gutter;

  &-detail {
    &-message {
      text-align: left;
      width: inherit;
      .margin(20px 0 40px);
      color: @color-default-fg;
    }

    &__new-status {
      .margin-left(5px);
    }

    &__cancel-reason-asterisk {
      color: @color-decor22;
      .margin-left(5px);
    }

    &__cancel-reason-selector {
      .margin-top(15px);

      .fc-dropdown__items {
        width: auto;
      }
    }
  }
}
