.fc-card-container {
  width: 30%;
  min-width: 278px;
  min-height: 27.8rem;
  position: relative;
  border: 1px solid @color-decor9;
  background: @color-decor12;
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.2rem;

  .fc-card-container-controls button {
    float: right;
    margin-left: 1rem;
    line-height: 2.6rem;
    font-size: 1.4rem;
  }
}
