.fc-line-items {
  input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      .margin(0);
    }
  }

  &-add {
    .padding(25px, 15px);
    background-color: @color-decor12;
  }

  .typeahead {
    .typeahead-results {
      li {
        > div {
          display: table;
          width: 100%;
          span {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }

  tbody tr td {
    vertical-align: top;

    .font-spec(13px, 18px);

    &.name {
      .font-spec(13px, 700, 18px);
    }
  }
}
