.fc-list-page {
  background-color: @color-white;
  display: flex;
  flex-direction: column;

  &-header {
    background-color: @color-default-bg;
  }
  &-content {
    border-top: 1px solid @color-decor9;
    .padding-top(40px);
  }
}