.fc-list-header {
  background: @color-decor34;
  .padding-top(40px);
  .fc-title {
    margin: 0;

    .fc-subtitle {
      color: @color-subtitle;
      font-weight: 400;
    }
  }
  .fc-actions {
    text-align: right;
  }
}
