.fc-query-builder {
  z-index: 2;
  background-color: #fff;
}

.fc-live-search {
  margin-bottom: 20px;

  &-input-wrapper {
    flex-grow: 1;
  }
  
  &-pills {
    display: flex;
  }

  &-pill {
    .border-radius(3px);
    .font-spec(14px, 400, 34px);
    .height(34px);
    .margin-left(3px);
    .margin-top(3px);
    .padding(0, 10px);
    background: @color-decor3;
    box-shadow: inset 0px -2px 3px 0px rgba(0,0,0,0.50), inset 1px 1px 1px 0px rgba(255,255,255,0.89);
    color: @color-white;
    display: flex;

    &-icon {
      .margin-right(10px);
    }

    &-close {
      .font-spec(16px, 700, 34px);
      .margin-left(20px);
      display: inline-block;
    }
  }

  &-icon-wrapper {
    .font-spec(18px, 400, 38px);
    .margin(0 10px);
    color: @color-decor8
 } 

  &-input-field {
    background: none;
    border: none;
    width: 100%;
    .line-height(38px);
  }

  &-meta-container {
    display: flex;
  }

  &-input-container {
    .border(1px, solid, @color-decor9);
    .border-radius(3px 0px 0px 3px);
    background-color: @color-decor11;
    display: flex;
    flex-grow: 1;
  }

  &-btn {
    border-radius: 0px 3px 3px 0px;
    border: none;
    .height(42px);
  }
}
