@gutter: 1.85%;

.fc-live-search {
  margin-bottom: 20px;
  padding: 0 @gutter;
  margin-bottom: 20px;

  .fc-pilled-input {
    &__pill {
      .icon-filter, .icon-search {
        margin-right: 10px;
      }
    }

    &__controls-item {
      .fc-menu {
        right: 0;

        &-item {
          white-space: nowrap;
        }
      }
    }
  }

  .icon-chevron-down {
    font-size: 12px;
  }

  &__header {
    background-color: @color-default-bg;
  }

  &__go-back {
    border-top: 1px solid @color-decor9;

    > span {
      font-weight: 600;
    }

    .icon-back {
      margin-right: 10px;
      vertical-align: top;
      .font-spec(12px);
    }
  }

  &__search-control {
    margin-bottom: 40px;
  }

  &__share-button {
    margin-bottom: 10px;
  }

  &__table {
    width: 100%;

    .fc-tableview {
      //overflow-x: hidden;
    }

    &._no-gutter {
      padding-left: 0;
    }
  }
}
