.fc-login {
  @color-google-btn: rgb(243, 86, 88);
  @color-google-btn-hover: rgb(240, 60, 67);
  @controls-width: 388px;
  @label-line-height: 19px;


  color: @color-decor5;
  flex-direction: column;
  align-items: center;
  padding-right: 0;

  &__email-password {
    margin-top: 20px;
  }

  .fc-form-field-label {
    font-size: 14px;
    font-weight: @normal;
    line-height: @label-line-height;
  }

  .fc-input {
    width: @controls-width;
  }

  &__google-btn.fc-btn {
    margin-top: 30px;
    width: @controls-width;
    color: #ffffff;
    background-color: @color-google-btn;
    &:hover {
      color: #ffffff;
      background-color: @color-google-btn-hover;
    }
  }

  &__email {
    margin-top: 10px;
  }

  &__password {
    margin-top: 10px;

    &-label {
      display: flex;
    }

    &-forgot {
      margin-left: auto;
      .font-spec(13px, 18px);
      &:hover {
        color: @color-decor1;
      }
    }
  }

  &__signin-btn {
    margin-top: 20px;
    width: @controls-width;
  }

  .fc-alert {
    width: @controls-width;
  }

}
