.fc-menu {
  background: @color-white;
  .border(1px, solid, @color-decor9);
  .box-shadow(0px, 2px, 4px, 0px, @color-decor51);
  .border-radius(3px);
  position: absolute;
  z-index: 2;

  .fc-menu-item {
    .font-spec(14px, 400, 44px);
    .padding(0 20px);
  }
}
