.fc-menu {
  position: absolute;
  z-index: 2;

  &-items {
    background: @color-white;
    box-shadow: 0px 2px 4px 0px @color-decor51;
    border: 1px solid @color-decor9;
    border-radius: 3px;

    .fc-menu-item {
      .font-spec(14px, 400, 44px);
      padding: 0 20px;
    }
  }
}
