.fc-modal {
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;


  &-container {
    margin: auto;
    max-width: 50vw;
    .border-radius(5px);
    background-color: @color-white;
    > .fc-content-box {
      margin-bottom: 0;
    }
  }

  .fc-content-box {
    background-color: @color-white;
  }

  a {
    cursor: pointer;
  }

  &-footer {
    text-align: right;
    .margin(20px);
  }
}
