.fc-modal {
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;


  &-container {
    margin: auto;
    max-width: 50vw;
    .border-radius(5px);
    background-color: @color-white;

    .fc-modal-icon {
      vertical-align: middle;
      display: inline-block;
    }

    .fc-modal-title {
      vertical-align: middle;
      display: inline-block;
    }

    .fc-content-box > .fc-content-box-content {
      .margin-bottom(20px);
    }

    .fc-modal-close {
      cursor: pointer;
      display: inline-block;
      text-decoration: underline;
      vertical-align: baseline;
      &:hover {
        color: #7F7F7F;
      }
    }
  }

  button {
    display: inline-block;
    vertical-align: baseline;
    .margin-left(40px);
  }

  &-footer {
    text-align: right;
    .margin(20px);
    .margin-top(50px);
  }
}
