.fc-multi-select-table {
  table-layout: auto;
  width: auto;
  white-space: nowrap;

  th:last-child, td:last-child {
    width: 100%;
  }

  .fc-table-tr:hover {
    background: @color-decor35;

    .fc-table-td {
      cursor: pointer;
    }
  }
}
