.fc-multi-select-table {
  table-layout: auto;
  width: 100%;
  white-space: normal;

  tr:hover, .fc-table-tr:hover {
    td, .fc-table-td {
      background: @color-decor35;
      cursor: pointer;
    }
  }

  time {
    white-space: nowrap;
  }
}
