.fc-order-create {
  &__customer-form-panel {
    border: 1px solid #D9D9D9;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
    border-radius: 3px;
  }
  
  &__customer-form-subtitle {
    .margin-bottom(48px);

    > h2 {
      margin-bottom: 0;
    }
  }

  &__customer-form {
    .margin-bottom(20px);

    .fc-grid {
      align-items: flex-end;
    }
  }

  &__customer-search {
    .fc-form-field-label span {
      .margin-bottom(15px);
      display: block;
    }
  }

  &__guest-checkout {
    display: flex;
    align-items: center;
  }
}

