.fc-notification-resend {
  .line-height(50px);
  vertical-align: middle;
  .padding-top(20px);
  strong, a {
    display: inline-block;
  }
  strong, input[type='tel'], input[type='email'] {
     width: 85%;
  }
  a {
    text-align: right;
    width: 15%;
  }
}
