.fc-notes {
  position: relative;

  &-header {
    .margin-top(40px);
    .margin-bottom(20px);
    .padding-left(35px);
  }

  &-add {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    text-align: center;

    &.is-hidden {
      + form { .max-height(300px); }
    }
  }

  &-form {
    overflow: hidden;
    transition: max-height 500ms;
    .clearfix;
    .padding-left(35px);
    .margin-bottom(30px);
    .max-height(0);

    legend {
      display: block;
      .margin-bottom(20px);
      .font-spec(16px, 600);
    }

    input[type=reset] {
      background: none;
      border: none;
      float: left;
      .height(30px);
      .margin-right(25px);
      .font-spec(40px, 30px);
    }

    input[type=submit] { float: left; }
  }

  &-body {
    position: relative;
    .width(100%);
    .max-width(890px);
    .margin-bottom(25px);

    .counter {
      position: absolute;
      .top(-20px);
      .right(0);
      font-weight: 400;
    }

    textarea {
      border-radius: 5px;
      border: 1px solid @color-border-td;
      .size(100%, 135px);
      .padding(10px);
    }
  }
}

.fc-notes-item-controls {
  button {
    float: right;
    margin-left: pxtorem(10px);
  }
}
