#notes {
  position: relative;

  .empty {
    color: #bfbfbf;
    background: #f1f1f2;
    .line-height(50px);
    .padding-left(35px);
  }
}

.fc-notes-form {
  overflow: hidden;
  transition: max-height 500ms;
  .clearfix;
  .padding-left(35px);
  .margin-bottom(30px);
  .max-height(250px);

  legend {
    display: block;
    .margin-bottom(20px);
    .font-spec(16px, 600);
  }

  .note-body {
    position: relative;
    .width(100%);
    .max-width(890px);
    .margin-bottom(25px);

    .counter {
      position: absolute;
      .top(-20px);
      .right(0);
      font-weight: 400;
    }

    textarea {
      .size(100%, 135px);
    }
  }

  &-controls {
    > input:not(:first-child) {
      .margin-left(5px);
    }
  }
}

.fc-notes-item-controls {
  button {
    float: right;
    margin-left: pxtorem(5px);
  }
}