.fc-orders-panel-header {
  align-items: center;
  display: flex;

  &__icon {
    .font-spec(23px, 400, 23px);
    .margin-right(20px);

    &._success {
      height: 22px;
      width: 22px;
      background: #A0E9ED;
      border-radius: 50%;
    }

    &._warning {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 13px 22.5px 13px;
      border-color: transparent transparent #ffdd7f transparent;
    }    

    &._error {
      height: 22px;
      width: 22px;
      background: #FF9796;
      border-radius: 50%;
    }
  }

  .icon-success, .icon-error {
    margin-left: -3px;
    margin-top: -6px;
  }

  .icon-warning {
    margin-left: -14px;
    margin-top: -7px;
  }
}
