@color-header-fg: @color-default-fg;
@color-header-bg: @color-decor12;

@color-content-fg: @color-default-fg;
@color-content-bg: @color-white;

.common-panel() {
  .colors(@color-subtitle, @color-white);
  text-align: center;
}

.common-panel-header() {
  .padding(25px 0 0 0);
  .font-spec(14px, 600);
}

.common-panel-content() {
  .font-spec(22px, 600);
  .margin(22px 0);
  &-featured {
    color: @color-decor15;
    .font-spec(40px, 600);
    .margin(40px 0);
  }
}

.fc-panel {
  border: pxtorem(1px) solid @color-decor9;
  border-radius: pxtorem(3px);
  box-shadow: 0 pxtorem(1px) pxtorem(2px) 0 rgba(0, 0, 0, 0.30);
  width: 100%;
  .common-panel();

  &-header {
    .common-panel-header();
  }

  &-content {
    .common-panel-content();
  }
}

.fc-panel-list {
  .margin-top(20px);
  display: flex;
  flex-direction: row;
  border-radius: pxtorem(3px);
  box-shadow: 0 pxtorem(1px) pxtorem(2px) 0 rgba(0, 0, 0, 0.30);
  border: pxtorem(1px) solid @color-decor9;

  &-panel {
    flex: 1;
    border-right: pxtorem(1px) solid @color-decor9;
    .common-panel();

    &:first-child {
      border-top-left-radius: pxtorem(3px);
      border-bottom-left-radius: pxtorem(3px);
    }

    &:last-child {
      border-right: 0;
      border-top-right-radius: pxtorem(3px);
      border-bottom-right-radius: pxtorem(3px);
    }
  }

  &-header {
    .common-panel-header();
  }

  &-content {
    .common-panel-content();
  }
}
