@color-header-fg: @color-default-fg;
@color-header-bg: @color-decor12;

@color-content-fg: @color-default-fg;
@color-content-bg: @color-white;

.fc-panel {
  position: relative;
  .colors(@color-content-fg, @color-content-bg);
  border: 1px solid @color-decor9;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);

  &-controls {
    float: right;
    .margin(-5px 0);
  }

  &-comment {
    text-align: right;
    .font-spec(15px, 600, 20px);
    margin-top: pxtorem(10px);
    color: #B1B1B1;
  }

  &-header {
    .padding(15px 20px);
    align-items: center;
    .colors(@color-header-fg, @color-header-bg);
    border-bottom: 1px solid @color-decor9;
    .height(60px);
  }

  &-title {
    .font-spec(18px, 600, 24px);
    overflow: hidden;

    span {
      .inline-block(baseline);
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-content {
    > .fc-tableview {
      .margin(0, -1px);
    }
  }

  footer {
    .padding(20px, 20px, 30px);
    background-color: @color-decor12;
  }

  &-content-list {
    padding: 2rem 2rem 3rem;

    footer {
      .margin(0 -20px -30px);
      background-color: @color-white;
    }
  }
}
