.fc-payment-method {
  .clearfix();

  > div {
    .font-spec(13px, 18px);
  }

  i {
    .font-spec(22px, 600, 26px);
    .margin(5px 10px 0 0);
  }

}

.fc-order-payment {
  &.fc-editable-content-box.is-editing .fc-table {
    .fc-table-th:last-child {
      width: 100px;
    }

    // FIXME: should probably use a container for buttons
    .fc-table-td:last-child {
      .padding(1.5rem 0 0 0);

      .fc-btn {
        .margin(0 5px);
      }
    }
  }
}

.fc-payment-method-details {
  dt {
    .font-spec(16px, 600, 24px);
  }

  dd {
    .font-spec(13px, 19px);
    -webkit-margin-start: 0;
  }

  .fc-address-details {
    height: auto;
    margin-bottom: 0;

    .name {
      font-weight: 400;
      font-size: inherit;
    }
  }
}
