.fc-pilled-input {
  display: flex;
  .border-radius(3px);
  overflow: hidden;


  &__pills-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    .border(1px, solid, @color-decor9);
  }

  &__icon-wrapper {
    .font-spec(18px, 400, 38px);
    .margin(0 0 0 10px);
    color: @color-decor8;
    display: flex;
    align-items: center;
  }

  &__input-container {
    .border-radius(3px 0 0 3px);
    background-color: @color-decor11;
    display: flex;
    flex-grow: 1;

    &._solid {
      background-color: @color-white;
      box-shadow: inset 1px 1px 1px 0 @color-decor58;
    }
  }

  &__input-field {
    background: none;
    border: none;
    width: 100%;
    height: 38px;
    .margin-left(10px);
  }

  input.fc-pilled-input__input-field._solid-input {
    background-color: @color-transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }

  &__input-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-width: 300px;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;

    .fc-btn {
      border: none;
      .border-radius(0px 3px 3px 0px);
      white-space: nowrap;
      flex-grow: 1;
    }
  }

  &__pill {
    .border-radius(3px);
    .font-spec(14px, 400, 34px);
    height: 34px;
    margin: 3px;
    padding: 0 10px;
    background: @color-decor3;
    box-shadow: inset 0 -2px 3px 0 rgba(0,0,0,0.50), inset 1px 1px 1px 0 rgba(255,255,255,0.89);
    color: @color-white;
    display: flex;
    cursor: pointer;
    transition: all .2s;

    &:last-child {
      .margin-right(10px);
    }

    &-icon {
      margin-right: 10px;
    }

    &-close {
      .font-spec(16px, 700, 34px);
      margin-left: 20px;
      display: inline-block;
      margin-left: 5px;
    }
  }
}
