.fc-product-details {

  .fc-content-box {
    margin-bottom: 20px;

    &.fc-confirmation-dialog {
      margin-bottom: 0;

      .fc-alert {
        margin-bottom: 20px;
      }
    }
  }

  &__field {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
  }

  &__field-label, &__add-custom-property {
    .font-spec(16px, 600, 24px);
    margin-bottom: 10px;
    color: @color-decor1;
    text-transform: capitalize;
  }

  &__add-custom-property {
    margin-top: 40px;
    display: flex;
  }

  &__add-custom-property-icon {
    margin-left: 10px;
    font-size: 10px;
  }

  &__field-value {
    align-items: center;
    background: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 34px;
    .padding-left(20px);
  }

  &__custom-property {
    min-width: 575px;

    .fc-content-box {
      margin-bottom: 0;
    }

    .fc-dropdown {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__title-actions {
    display: flex;
    align-items: center;
  }

  &__save-button {
    display: flex;
    margin-left: 10px;
    white-space: nowrap;
  }

  .fc-table__header {
    justify-content: space-between;
  }

  &__images-actions {
    margin-bottom: 40px;
  }

  &__image {
    align-items: baseline;
    display: flex;

    .fc-product-details__field {
      .margin-right(10px);
      flex-grow: 1;
    }
  }

  &__images-title-text {
    margin-right: 10px;
    font-weight: bold;
  }

  &__images-title-count {
    display: inline-block;
    width: 32px;
    line-height: 30px;
    font-size: 13px;
    border: 1px solid @color-decor1;
    border-radius: 50%;
  }

  .fc-modal-container {
    min-width: 720px;
  }
}
