.fc-product-details {
  .fc-content-box {
    .margin-bottom(20px);
  }

  &__field {
    .margin-bottom(20px);

    display: flex;
    flex-direction: column;
  }

  &__field-label {
    .font-spec(16px, 600, 24px);
    .margin-bottom(10px);
    color: @color-decor1;
    text-transform: capitalize;
  }

  &__field-value {
    align-items: center;
    background: transparent;
    display: inline-flex;
    flex-direction: row;
    .height(34px);
    .padding-left(20px);
  }
}
