.fc-product-details {
  &__attributes {
    .padding(10px 0);
  }

  &__field-label {
    .font-spec(16px, 600, 24px);
    .margin-bottom(10px);
    .margin-left(20px);
    color: @color-decor1;
    text-transform: capitalize;
  }

  &__field-value {
    align-items: center;
    background: transparent;
    display: inline-flex;
    flex-direction: row;
    .height(34px);
    .padding-left(20px);
  }
}
