.fc-query-builder {
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 47px;
  margin-top: -55px;
  padding: 10px 0;
  position: absolute;

  .fc-query-component {
    padding: 5px 15px;

    &.fc-active-component {
      background: red;
      color: white;
    }
  }
}
