.fc-rich-text-editor {
  &__command-bar {
    .height(44px);
    align-items: center;
    background: #f7f7f7;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    display: flex;
  }

  &__command-set {
    .margin-right(20px);
  }
  
  &__command-button {
    .border-radius(3px);
    .font-spec(18px, 400, 18px);
    .margin-left(4px);
    .height(34px);
    .width(34px);
    background: transparent;
    border: none;

    &._active {
      border: 1px solid #d9d9d9;
      box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.1);
      font-weight: 600;
    }

    &:hover {
      border: 1px solid #d9d9d9;
    }
  }

  &__command-headers {
    .margin-left(4px);

    .fc-dropdown {
      &__button, &__controls, &__value {
        background: transparent;
        border: none;
      }

      &__value {
        .font-spec(18px);
        .padding-right(0);
      }
    }
  }

  &__content {
    #input-styles.base();
    .border-radius(0 0 3px 3px);
    .min-height(120px);
    .padding(10px);
  }

  &__label {
    font-weight: 600;
    line-height: 2.4rem;
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #484848;
    text-transform: capitalize;
  }
}
