.fc-section-title {
  display: flex;
  align-items: center;

  .margin-bottom(@gutter);

  &._page-context {
    .margin(40px @gutter 40px @gutter);
  }

  &__title {
    flex-grow: 1;
    margin: 0;
  }

  &__subtitle {
    color: @color-subtitle;
    font-weight: 400;
  }

  &__actions {
    text-align: right;
  }
}
