.fc-section-title {
  background: @color-default-bg;
  .margin-top(40px);
  &-title {
    .margin(0 0 40px 0);
  }
  &-subtitle {
    color: @color-subtitle;
    font-weight: 400;
  }
  &-actions {
    text-align: right;
  }
}
