.fc-section-title {
  background: @color-decor34;
  .padding-top(40px);
  &-title {
    margin: 0;

    &-subtitle {
      color: @color-subtitle;
      font-weight: 400;
    }
  }
  &-actions {
    text-align: right;
  }
}
