.fc-share-search {
  min-width: pxtorem(575px);

  &__search-form {
    .fc-form-field-label {
      display: block;
      .margin-bottom(6px);
    }

    .fc-typeahead {
      width: 100%;
      .margin-bottom(10px);

      input[type="text"] {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &__submit-share {
    text-align: right;
  }
}
