.fc-shipping-methods {
  .contents {
    .name-control {
      margin-right: 5px;
    }
    .name-field {
      font-weight: 700;
    }
    .shipping-method-price {
      display: inline-block;
      line-height: 3em;
    }
    .shipping-method-input-price {
      display: inline-block;
    }
    .shipping-method-action {
      float: right;

      .shipping-cancel-action {
        line-height: 3em;
        margin-right: 30px;
        text-decoration: underline;
      }
    }
  }
}
