.fc-shipping-method-row {
  &-name-control {
    margin-right: pxtorem(5px);
  }
  &-name-field {
    font-weight: 700;
  }
  &-price-field {
    display: inline-block;
    line-height: 3em;
  }
  &-price-input {
    display: inline-block;
  }
}
