.fc-store-credits {
  .fc-list-page-content {
    .margin(0 -(@gutter));
    background: @color-white;
  }

  & &__list {
    padding-right: 0;
    margin: 0;
  }

  .fc-list-page-header {
    .margin(0 -(@gutter));
  }

  .fc-live-search {
    margin-bottom: 0;
  }

  .fc-live-search__search-control {
    .margin-top(30px);
  }

  &-summary-balance {
    .margin(65px auto);
    .font-spec(48px, @semibold, 65px);
    color: @color-decor15;
  }

  .fc-store-credit-cancel-reason {
    .margin(30px 0 50px 0);

    &-asterisk {
      color: @color-decor22;
      .padding-left(5px);
    }

    &-selector {
      .margin-top(15px);
    }
  }

  .fc-store-credit-table-container {
    .margin-bottom(30px);
  }

  .fc-store-credit-new-status {
    .padding-left(5px);
  }
}

.fc-store-credit-summary {
  &__tab-link {
    width: 100%;
    height: 100%;
    .margin-right(20px);
    .padding-top(20px);
    .font-spec(14px, @normal, 14px);
    color: @color-decor1;
  }

  .fc-tab._selected &__tab-link {
    .font-spec(14px, @semibold, 14px);
  }
}
