.fc-store-credits {
  .fc-list-page-content {
    .margin(0 -1.85%);
    background: @color-white;
  }

  .fc-list-page-header {
    .margin(0 -1.85%);
  }

  &-summary-balance {
    .margin(65px auto);
    .font-spec(48px, @semibold, 65px);
    color: @color-decor15;
  }

  .fc-store-credit-cancel-reason {
    .margin(30px 0 50px 0);
  }

  .fc-store-credit-cancel-reason-asterisk {
    color: @color-decor22;
    .padding-left(5px);
  }

  .fc-store-credit-cancel-reason-selector {
    .margin-top(15px);
  }

  .fc-store-credit-table-container {
    .margin-bottom(30px);
  }
}
