.fc-tab-list {
  border-bottom: pxtorem(1px) solid @color-decor9;

  .fc-tab {
    display: inline-block;
    background-color: @color-decor11;
    .padding(0px 20px);
    .border(1px, solid, @color-decor9);
    .line-height(58px);
    border-radius: pxtorem(6px) pxtorem(6px) 0 0;
    border-bottom-width: 0;
    position: relative;
    .font-spec(14px);

    &-icon {
      .font-spec(16px);
      position: absolute;
      .left(2px);
      color: @color-decor8;
      &:hover {
        cursor: grab;
      }
    }

    &.is-active {
      background-color: @color-white;
      margin-bottom: pxtorem(-1px);
      padding-bottom: pxtorem(1px);
    }

    &:hover {
      background-color: @color-decor35;
      cursor: pointer;
    }
  }
}
