.fc-tab-list {
  .fc-tab {
    display: inline-block;
    background-color: @color-decor11;
    .padding(0px 20px);
    border-right: 1px solid @color-decor9;
    border-top: 1px solid @color-decor9;
    .line-height(56px);
    border-radius: pxtorem(6px) pxtorem(6px) 0 0;
    border-bottom-width: 0;
    position: relative;
    .font-spec(14px);
    box-shadow: inset pxtorem(3px) 0 pxtorem(3px) 0px @color-white;

    &-draggable {
      .padding(0px 20px 0px 10px);
    }

    &-icon {
      .font-spec(18px);
      .margin(0px 3px 0px -7px);
      color: @color-decor8;
      &:hover {
        cursor: grab;
      }
    }

    &-selected {
      background-color: @color-white;
      color: @color-decor1;
      font-weight: 600;
      margin-bottom: pxtorem(-1px);
      padding-bottom: pxtorem(1px);
      border-bottom: 1px solid @color-white;
    }

    &:hover {
      background-color: @color-decor35;
      cursor: pointer;
    }
  }
}

.fc-tab-view-content {
  .padding(20px);
  background: @color-white;
}
