.fc-tab-list {
  display: flex;

  &__current-tabs {
    display: flex;
  }

  &__buffer {
    border-bottom: 1px solid @color-decor9;
    flex-grow: 1;
  }

  .fc-tab {
    .font-spec(14px);
    align-items: center;
    background-color: @color-decor11;
    border-radius: pxtorem(6px) pxtorem(6px) 0 0;
    border-bottom: 1px solid @color-decor9;
    border-right: 1px solid @color-decor9;
    border-top: 1px solid @color-decor9;
    box-shadow: inset pxtorem(3px) 0 pxtorem(3px) 0px @color-white;
    display: flex;
    height: 58px;
    line-height: 14px;
    padding: 10px 20px;

    &__icon {
      .font-spec(18px);
      color: @color-decor8;
      margin-left: -5px;
      margin-right: 3px;
    }

    &__edit-content {
      display: flex;
      align-items: center;

      &-close {
        .font-spec(32px);
        .margin-left(15px);
        .margin-right(5px);
      }
    }

    &._draggable {
      padding: 10px 20px 10px 10px;
    }

    &._editing {
      padding: 10px;
    }

    &._selected {
      background: @color-white;
      border-bottom: none;
      color: @color-decor1;
      font-weight: 600;

      &:hover {
        background: @color-white;
        cursor: default;
      }
    }

    &:hover {
      background-color: @color-decor35;
      cursor: pointer;
    }
  }
}
