// Tables
@color-tr-odd-bg: @color-white;
@color-tr-even-bg: @color-decor12;

@color-th-fg: @color-default-fg;
@color-th-bg: @color-decor12;
@color-th-bg-hover: @color-decor35;
@color-th-border: @color-decor9;

@color-border-td: @color-decor9;

@keyframes fc-new-row {
  from {
    background-color: @color-decor40;
  }

  to {
  }
}

.fc-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid @color-border-td;

  thead {


    th {
      position: relative;
      vertical-align: middle;
      .colors(@color-th-fg, @color-th-bg);
      .padding(10px, 15px);
      .font-spec(13px, 700, 18px);
      .height(62px);
      .border(1px, solid, @color-th-border);
      user-select: none;

      &:last-child {
        border-right: none;
      }

      &.sorting {
        cursor: pointer;

        &:hover {
          background-color: @color-th-bg-hover;
        }
      }

      &.sorting-asc:after,
      &.sorting-desc:after {
        position: absolute;
        top: 0;
        right: pxtorem(10px);
        color: @color-decor1;
        .font-spec(13px, 700, 62px);
        transform: scale(1, .5);
      }

      &.sorting-asc:after {
        content: '\25b2';
      }

      &.sorting-desc:after {
        content: '\25bc';
      }
    }
  }

  tbody {
    tr {
      display: table-row;
      width: 100%;

      .border(1px, solid, @color-decor9);
      transition: background-color 500ms;

      &:nth-child(odd),
      &.odd {
        background-color: @color-tr-odd-bg;
      }

      &:nth-child(even),
      &.even {
        background-color: @color-tr-even-bg;
      }

      &.is-new {
        animation: fc-new-row 1.6s ease-out;
      }
    }

    td {
      display: table-cell;
      .height(55px);
      .padding(10px, 15px);
      .font-spec(13px, 18px);
      color: @color-decor1;
      vertical-align: middle;
    }
  }
}

.fc-table-header,
.fc-table-footer {
  .margin(20px, 0);
  .padding(0, 20px);
  overflow: hidden;
}

.fc-table-paginator {
  .inline-block;
  float: right;
}
