// Tables
@color-tr-odd-bg: @color-white;
@color-tr-even-bg: @color-decor12;

@color-th-fg: @color-default-fg;
@color-th-bg: @color-decor12;
@color-th-bg-hover: @color-decor35;
@color-th-border: @color-decor9;

@color-border-td: @color-decor9;

@keyframes fc-new-row {
  from {
    background-color: @color-decor44;
  }

  to {
  }
}

.fc-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid @color-border-td;

  thead {

    th {
      position: relative;
      vertical-align: middle;
      .colors(@color-th-fg, @color-th-bg);
      .padding(10px, 15px);
      .font-spec(13px, 600, 18px);
      .height(62px);
      .border(1px, solid, @color-th-border);
      user-select: none;
      background-clip: padding-box;

      &:last-child {
        border-right: none;
      }

      &.sorting {
        cursor: pointer;

        &:hover {
          background-color: @color-th-bg-hover;
        }
      }

      &.sorting-asc:after,
      &.sorting-desc:after {
        position: absolute;
        top: 0;
        right: pxtorem(10px);
        color: @color-decor1;
        .font-spec(13px, 700, 62px);
        transform: scale(1, .5);
      }

      &.sorting-asc:after {
        content: '\25b2';
      }

      &.sorting-desc:after {
        content: '\25bc';
      }

      &.__toggle-columns {
        .font-spec(18px, 400, 18px);
      }
    }
  }

  tbody {
    tr {
      display: table-row;
      width: 100%;

      .border(1px, solid, @color-decor9);
      transition: background-color 500ms;

      &:nth-child(odd),
      &.odd {
        background-color: @color-tr-odd-bg;
      }

      &:nth-child(even),
      &.even {
        background-color: @color-tr-even-bg;
      }

      &.is-new {
        animation: fc-new-row 4.6s ease-out;
      }
    }

    td {
      display: table-cell;
      .height(55px);
      .padding(10px, 15px);
      .font-spec(13px, 18px);
      color: @color-decor1;
      vertical-align: middle;
      background-clip: padding-box;

      &._no-results {
        font-weight: @semibold;
        font-size: 18px;
        line-height: 24px;
        color: @color-decor8;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}

.fc-table__header {
  display: flex;
  .margin-bottom(20px);
}

.fc-table__table {
  width: 100%;
  overflow-x: auto;
}

.fc-table__footer {
  display: flex;
  .margin-top(20px);
}

.fc-table__flex-separator {
  flex: 1;
}

.fc-table-actions {
  .line-height(40px);

  &__dropdown {
    .width(100px);
  }

  &__selected {
    .padding-left(10px);
  }
}

.fc-table-pagesize {
  .width(100px);
}

.fc-table-paginator {
  display: flex;
  float: right;
  line-height: pxtorem(40px);
  align-items: baseline;

  &__current-page, &__total-pages {
    .margin(0 10px);

    .fc-form-field {
      .width(50px);
    }
  }

  &__current-page-field {
    .width(50px);
  }

  .fc-form-field input.fc-table-paginator__current-page-field._disabled {
    background-color: @color-decor12;
    border: 1px solid @color-decor7;
  }

  &__current-page-selector {
    background-color: @color-white;
    position: absolute;
    width: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid @color-border;
    border-radius: .3rem;
    font-weight: 400;
    line-height: 6rem;
    font-size: 12px;
    font-size: 1.2rem;
    z-index: 100;
    display: none;

    &._shown {
      display: block;
    }
  }

  &__current-page-selector-overlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__selector-option {
    text-align: center;
  }

  &__selector-option:hover {
    background-color: @color-decor12;
  }
}
