.fc-typeahead {
  position: relative;


  input[type=text] {
    .width(700px);
  }

  .fc-typeahead-results {
    display: none;
    position: absolute;
    .top(39px);
    .left(37px);
    .width(700px);
    z-index: 999;
    background-color: @color-white;
    border: 1px solid @color-border;
    .max-height(200px);
    overflow-y: scroll;
    overflow-x: hidden;
    &.show {
      display: block;
    }
    .font-spec(12px, 400, 60px);

    li {
      .padding(12px);
      border-bottom: 1px solid @color-border;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: @color-tr-even-bg;
        cursor: pointer;
      }

      .fc-grid {
        line-height: pxtorem(20px);
      }
    }
  }
}
