.fc-variant-entry {
  .fc-table tbody tr.even, .fc-table tbody tr:nth-child(even) {
    background-color: #fff;
  }

  &__title-bar {
    display: flex;
  }

  &__type {
    .font-spec(16px, 400, 21px);
    margin-left: 10px;
    color: #9ba3a7;
  }

  &__title-bar-actions {
    > a {
      margin-left: 10px;
    }
  }

  &__input {
    .font-spec(13px, 400, 18px);
    margin-right: 10px;
    flex-grow: 1;
  }
}
