.fc-share-search__typeahead,
.fc-watcher-typeahead {

  .fc-watcher-typeahead__label {
    margin-bottom: 15px;
  }

  .fc-typeahead__items {
    width: 600px;
    overflow-y: auto;

    & > li {
      padding: 0;
    }

    .fc-typeahead__item-not-found {
      padding: 0 20px;
    }
  }

  .fc-typeahead__menu {
    box-shadow: 0 2px 4px 0 @color-decor51;
  }

  .fc-pilled-input__input-container {
    width: 600px;

    input.fc-pilled-input__input-field {
      width: 100%;
      padding-right: 0;
    }
  }

  .fc-watcher-typeahead__item {
    display: flex;
    align-items: center;
    height: 60px;
  }

  .fc-watcher-typeahead__item-icon {
    margin-left: 10px;
    display: flex;
    .initials {
      width: 28px;
      height: 28px;
    }
  }

  .fc-watcher-typeahead__item-name {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 15px;
    font-weight: @semibold;
    line-height: 18px;
  }

  .fc-watcher-typeahead__item-email {
    margin-right: 20px;
  }
}
