.fc-watchers {
  .fc-panel-header, .fc-panel-content {
    margin: 0;
    padding: 0;
  }

  &__container {
    .margin(10px);
  }

  &__title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    display: inline-block;
    color: @color-decor1;
    .font-spec(14px, @semibold, 19px);
  }

  &__controls {
    display: inline-block;
  }

  &__link {
    .font-spec(12px, @semibold, 17px);
    text-decoration: underline;
    color: @color-decor15;
  }
}
