.fc-watchers {
  .fc-panel-header, .fc-panel-content {
    margin: 0;
    padding: 0;
  }

  &__container {
    .margin(10px);
  }

  &__title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .margin-bottom(10px);
  }

  &__title {
    display: inline-block;
    color: @color-decor1;
    .font-spec(14px, @semibold, 19px);
  }

  &__controls {
    display: inline-block;
  }

  &__link {
    .font-spec(12px, @semibold, 17px);
    text-decoration: underline;
    color: @color-decor15;
  }

  &__add-button {
    width: pxtorem(28px);
    height: pxtorem(28px);
    .padding(0 10px);
    .colors(@color-decor7, @color-white);
    border: 2px dashed @color-decor7;
    border-radius: 3px;
    line-height: 24px;
  }

  &__add-button:hover {
    border-color: @color-decor6; // change color does not invoke full border redraw
  }

  &__users-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }

  &__empty-list {
    .font-spec(14px, @semibold, 19px);
    color: @color-decor7;
    .margin-left(5px);
  }
}
