@import "colors.css";

.search {
  position: relative;
}

.search-input {
  background: var(--light-blackish);
  width: 100%;
  border: none;
  padding: 10px 0 10px 40px;
  color: var(--lightes-blackish);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  transition: color .1s;
}

.search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: var(--lightes-blackish);
}

.search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--lightes-blackish);
  opacity: 1;
}

.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--lightes-blackish);
  opacity: 1;
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--lightes-blackish);
}

.search-input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: var(--lightes-blackish);
}

.search-input:focus {
  color: var(--whitish);
}

.head-icon {
  position: absolute;
  top: 9px;
  left: 10px;
}

.search-input + .head-icon :global(.icon__cnt) {
  stroke: none;
  fill: var(--lightes-blackish);
  transition: fill .1s;
}

.search-input:focus + .head-icon :global(.icon__cnt) {
  fill: var(--whitish);
}
