
@import "media-queries.css";
@import "colors.css";
@import "variables.css";

.footer {
  padding-top: 30px;
  text-align: center;
  background: var(--additional-color);
  color: #fff;
  width: 100%;

  & a {
    text-decoration: none;
    color: #fff;
  }
}

.guest-auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: var(--whitish);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.home {
  text-align: center;
  width: 100%;
  margin-top: 0px;

  & .divider {
    width: 100%;
    height: 1px;
    background: var(--white-smokish);
  }

  & .title {
    line-height: 33px;
    font-family: var(--font-playfair);
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    letter-spacing: 2.26px;
    margin: 20px 0;
  }
}

.logo {
  width: 250px;
  height: 96px;
  margin: 10px 0;
}

.forms {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  counter-reset: item;
}

.auth-block {
  margin: 0;
}

.auth-block:first-child {
  lost-column: 1/3;
  lost-offset: 1/12;
}

.auth-block:last-child {
  lost-column: 1/3;
  margin-left: 0 !important;
}

.divider {
  width: 1px;
  height: 255px;
  background: #3E3436;
  position: absolute;
}

.mobile-divider-block {
  visibility: hidden;
}

@media (--small-only) {
  .footer {
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
  }

  .guest-auth {
    display: block;
    overflow: auto;
  }

  .forms {
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 80px;
  }

  .auth-block:first-child,
  .auth-block:last-child {
    width: 100%;
  }

  .title,
  .divider {
    visibility: hidden;
    margin: 0;
  }


  .mobile-divider-block {
    visibility: visible;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    & p {
      margin: 0 15px;
    }
  }

  .mobile-divider {
    height: 1px;
    position: relative;
    background: #3E3436;
    flex-grow: 1;
  }
}
