
@import "colors.css";
@import "variables.css";

.guest-auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: var(--whitish);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 250px;
  height: 96px;
  margin-bottom: 48px;
}

.forms {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  counter-reset: item;
}

.auth-block {
  margin: auto 0;
}

.auth-block:first-child {
  lost-column: 1/3;
  lost-offset: 1/12;
}

.auth-block:last-child {
  lost-column: 1/3;
  margin-left: 0 !important;
}

.divider {
  width: 1px;
  height: 255px;
  background: #3E3436;
  position: absolute;
}


.header {
  text-transform: capitalize;
  text-align: center;
}

.form:first-child {
  border-right: 1px solid #3E3436;
}

.form {
  height: 255px;
}

.form-content {
  margin-top: 26px;
  height: 100%;
}
