{
  "checks": {
    "disk-usage": {
      "command": "check-disk-usage.rb '\/run\/|\/var\/lib\/docker' -w 80 -c 90 -W 80 -K 90",
      "interval": 60,
      "subscribers": [
	  	"all"
	  ]
    }
  }
}
