@import "media-queries.css";
@import "colors.css";

.tools {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  align-items: baseline;
}

.login {
  margin-right: 15px;
  padding-right: 15px;
}

.login-link {
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
  color:#222222;

  &:hover {
    opacity: .7;
  }
}

.user-info {
  position: relative;
}

.username {
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    opacity: .7;
  }
}

.menu {
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 134px;
  background: var(--whitish);
  border: 1px solid #484848;

  &:before {
    content: "";
    position: absolute;
    top: -5px;
    right: 12px;
    width: 8px;
    height: 8px;
    transform: rotate(39deg) skewX(-10deg);
    background: var(--whitish);
    border-color: #484848;
    border-style: solid;
    border-width: 1px 0 0 1px;
  }
}

.menu-link {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 100%;
  white-space: nowrap;
  line-height: 20px;
  font-size: 13px;
  text-decoration: none;
  color: #484848;

  &:hover {
    background: var(--white-smokish);
  }
}

.cart-quantity-wrapper {
  position: relative;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  color:#fff;
  width:14px;
  height:14px;
  text-align: center;
  top: -5px;
}
.cart-quantity {
  border-radius: 50%;
  background-color:#0b7ddc;
  display: flex;
  align-items: center;
  justify-content: center;
  width:16px;
  height:17px;
  font-size: 11px;
  font-weight: 900;
}

.cart {
  white-space: nowrap;
  cursor: pointer;
  color: #222222;

  &:hover {
    opacity: 0.7;
  }
}

@media (--small-only), (--medium-only) {
  .login,
  .menu {
    display: none;
  }
  .username {
    cursor: default;
  }
  .cart {
    & :global(.icon) {
      width: 32px;
      height: 32px;
    }
  }
  .cart-quantity {
    top: 8px;
  }
}

@media (--large) {

}
