@import "media-queries.css";
@import "colors.css";

.tools {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  align-items: baseline;
}

.user-info, .name, .logout {
  margin-right: 30px;
}

.name {
  color: var(--header-menu);
}

.logout, .login, .profile {
  text-decoration: none;
}

.cart-quantity-wrapper {
  position: relative;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  color: var(--body-background);
  width: 14px;
  height: 14px;
  text-align: center;
  top: -8px;
  right: 9px;
}

.cart-quantity {
  border-radius: 50%;
  background-color: var(--button-default-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 17px;
  font-size: 11px;
  font-weight: 900;
}

.action-link-cart {
  composes: action-link from "ui/action-link/action-link.css";
  color: var(--text-color);
}

@media (--small-only), (--medium-only) {
  .user-info {
    display: none;
  }

  .cart-quantity {
    top: 8px;
  }
}
