
@import "media-queries.css";
@import "variables.css";
@import "colors.css";

.footer {
  padding-top: 150px;
  background-color: #aaf3f8;
  color: #616161;
  min-height: 350px;

  & a {
    text-decoration: none;
    color: #616161;

    &:hover {
      color: var(--blackish);
    }
  }
}

.wrap {
  margin-bottom: 100px;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  composes: inner-wrap from 'ui/css/layout.css';
}

.links {
  display: flex;
  flex-wrap: wrap;

  & ul {
    lost-column: 1/3;
    min-width: 150px;
  }

  & h3,
  & li {
    margin: 0 0 20px;
    line-height: 20px;
    font-size: 15px;
  }
}

.social {
  & input {
    width: 100%;
    padding-left: 12px;
    border: none;
    font-family: Roboto, Lato, 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: rgba(255, 255, 255, .4);
  }

  & :global(.icon--fc-arrow) {
    width: 30px;
    height: 24px;
    stroke: none;
    cursor: pointer;
  }
}

.social-links {
  display: flex;
  margin: 30px 0;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 30px 0 0;
  stroke: none;
  fill: #616161;
}

.copyright {
  margin: 60px 0;
  text-align: center;
  font-size: 13px;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      line-height: 1;
    }

    & li + li {
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid;
    }
  }
}

@media (--large-viewport-up) {
  .wrap {
    display: flex;
  }

  .links {
    lost-column: 6/9;
  }

  .social {
    lost-column: 3/9;
  }

  .social-links {
    margin-top: 0;
  }
}
