@import "media-queries.css";
@import "colors.css";

.overlay {
  position: fixed;
  overflow: auto;
  z-index: 100;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;

  & + div {
    position: absolute;
    overflow: hidden;
    height: 100%;
    z-index: 0;
  }

  &:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--whitish);
    opacity: .98;
   }
}

.close-button {
  position: absolute;
  top: 26px;
  right: 20px;
  z-index: 20;

  &:hover .close-icon {
    color: var(--blackish);
  }
}

.close-icon {
  color: var(--dark-blackish);
  opacity: 0.78;
  height: 33px;
  width: 33px;

  &:hover {
    opacity: 1.0;
  }
}

@media (--medium) {
  .close-button {
    right: 2%;
  }
}

@media (--small-only) {
  .close-icon {
    stroke-width: 3px;
  }
}
