@import "media-queries.css";
@import "colors.css";

.overlay {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    opacity: .9;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
