[Service]
WorkingDirectory=/usr/local/lib
ExecStart=/usr/bin/java -jar zipkin.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zipkin
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target
