@import "colors.css";

.onHand {

  & > span {
    color: var(--color-text);
    background-color: var(--bg-message-success);
    padding: 4px 5px;
  }
}

.diffChevron {
  color: var(--color-subtitle-text);
  margin: 0 10px;
}
