[Service]
WorkingDirectory=/vagrant/middlewarehouse
ExecStart=/vagrant/middlewarehouse/main
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=middlewarehouse
TimeoutStartSec=5m
RestartSec=5

Environment=LOG_LEVEL=info
Environment=DB_NAME={{middlewarehouse_db_name}}
Environment=DB_USER=middlewarehouse
Environment=DB_HOST={{db_host}}
Environment=DB_SSLMODE=disable

[Install]
WantedBy=multi-user.target
