
.button-with-menu {
  display: inline-block;
  vertical-align: top;
  position: relative;

  &:global(._open) .menu {
    display: inline-block;
  }
}

.menu {
  display: none;
  position: absolute;
  z-index: 100;
  right: 0;
  min-width: 100%;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  user-select: none;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.controls {
  & > :global(.fc-btn) {
    border-radius: 0;
  }
}

.dropdown-button {
  margin-left: 1px;
}

