[Service]
WorkingDirectory={{annabelle_dir}}
ExecStart=/usr/bin/env bash ./run_annabelle.sh
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=annabelle

[Install]
WantedBy=multi-user.target
