---

- name: Install Private Key So Buildkite Agents Can Work
  pause: seconds=5
  copy: src=id_rsa dest={{ item }} mode="0600"
  with_items:
    - "/var/lib/buildkite-agent/.ssh/"
    - "/home/buildkite-agent/.ssh/"
    - "/home/{{user}}/.ssh/"
    - "/home/root/.ssh/"

- name: Install Public SSH Keys
  pause: seconds=5
  copy: src=id_rsa.pub dest={{ item }} mode="u=rw,g=r,o=r"
  with_items:
    - "/var/lib/buildkite-agent/.ssh/"
    - "/home/buildkite-agent/.ssh/"
    - "/home/{{user}}/.ssh/"
    - "/home/root/.ssh/"

- name: Update SSH config
  pause: seconds=5
  copy: src=config dest={{ item }} mode="u=rw,g=r,o=r"
  with_items:
    - "/var/lib/buildkite-agent/.ssh/"
    - "/home/buildkite-agent/.ssh/"
    - "/home/{{user}}/.ssh/"
    - "/home/root/.ssh/"

- name: Correct Ownership
  pause: seconds=5
  file: path="/home/{{item}}/.ssh/" state=directory owner={{item}} group={{item}} recurse=yes
  with_items:
    - "{{user}}"
    - "root"
