@import 'colors.css';

.payment-method {
  display: inline-block;
  white-space: initial;
}

.payment-icon {
  height: 38px;
  width: 56px;
}

.payment-summary {
  vertical-align: top;
  display: inline-block;
  line-height: 1;

  & > strong {
    font-size: 13px;
    color: var(--color-text);
    line-height: 18px;
  }
}
