.checkbox {
  display: inline-block;

  &.label {
    padding-left: 7px;
    line-height: 24px;
  }

  &.halfChecked {
    & input[type=checkbox]:checked + label:before {
      content: "\e832";
    }
  }

  &.inline {
    & input[type=checkbox] + label:before {
      margin: 0;
    }
  }

  &.inline.dockedLeft {
    & input[type=checkbox] + label:before {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.dockedRight {
    & input[type=checkbox] + label:before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & input[type=checkbox] {
    width: 24px;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    opacity: 0;
  }

  & input[type=checkbox] + label {
    display: inline-block;
    margin-left: -24px;
  }

  & input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 2.5px;
    border-radius: 3px;
    vertical-align: bottom;
    border: 2px solid #d9d9d9;
    background: #ffffff;
  }

  & input[type=checkbox]:hover + label:before {
    border-color: #3a4350;
    background: #ffffff;
  }

  & input[type=checkbox]:checked + label:before {
    font-family: "fontello";
    content: "\e829";
    padding-bottom: 4px;
    border-color: #3a4350;
    background: #3a4350;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }

  & input[type=checkbox]:checked:hover + label:before {
    border-color: #828e9f;
    background: #828e9f;
  }

  & input[type=checkbox][disabled] + label:before {
    border-color: #d9d9d9;
    background: #f7f7f7;
  }

  & input[type=checkbox][disabled]:checked + label:before {
    color:  #d9d9d9;
  }

  & input[type=checkbox][disabled]:checked:hover + label:before {
    border-color:  #d9d9d9;
    background:#f7f7f7;
  }
}

.slideCheckbox {
  width: 80px;
  height: 34px;
  transition: all .4s ease;
  position: relative;

  & label {
    position: absolute;
    right: 0;
    top: -2px;
    width: 80px;
    height: 34px;
    background: #F45758;
    border-radius: 17px;
    transition: all .4s ease;
    padding: 0 10px;
    text-align: right;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    user-select: none;
  }

  & label:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 34px;
    background: #4fc2c9;
    opacity: 0;
    border-radius: 17px;
    transition: all .4s ease;
    padding: 0 10px;
    text-indent: -42px;
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    content: "YES";
  }

  & label:after {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    background: #ffffff;
    border-radius: 17px;
    transition: all .4s ease;
    text-indent: 42px;
    line-height: 24px;
    content: "NO";
  }

  & input[type=checkbox] {
    visibility: hidden;
  }

  & input[type=checkbox]:checked + label {
    background: rgba(244, 87, 88, 0);

    &:before {
      text-indent: 0;
      opacity: 1;
    }

    &:after {
      color: transparent;
      left: 51px;
    }
  }
}
