@import "colors.css";
@import "variables.css";
@import "media-queries";

.list-item {
  width: calc(50% - (var(--grid-margin)/2));
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 19px;
  font-size: 16px;
  color: var(--blackish);
  transition: all 400ms;
}

.preview {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;

  &:hover .hover-info {
    opacity: 0.9;
  }

}

.hover-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 99%;
  background-color: #332A2C;
  opacity: 0;
  transition: opacity .3s ease-out;
  display: flex;

  & .additional-description {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 16px;
    color: white;
    line-height: 33px;
  }
}

.preview-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.text-block {
  text-align: left;
}

.title {
  margin-top: 20px;
  font-family: var(--font-playfair);
  font-weight: 400;
  font-size: 26px;
  color: var(--text-color-main);
  letter-spacing: 0.7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 30px;

  &:after {
    content: "";
    display: block;
    width: 48px;
    height: 2px;
    background-color: #3D2228;
    margin-top: 20px;
  }
}

.description {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 15px;
  color: var(--text-color-main);
  opacity: 0.44;
  letter-spacing: 0px;
  margin-top: 10px;
}

.price-line {
  margin-top: 10px;
  display: table;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.price {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color-main);
  opacity: 0.74;
  letter-spacing: 1.5px;
}

.add-to-cart-btn-hover {
  background-color: #3D2228;
  color: white;
  cursor: pointer;
}

.add-to-cart {
  display: table;

  &:hover {
    & .add-title-expanded {
      display: table-cell;
    }

    & .add-to-cart-btn {
      composes: add-to-cart-btn-hover;
    }
  }
}

.add-to-cart-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #3D2228;
  color: #3D2228;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: table;

  & .add-icon {

  }

  &:hover {
    composes: add-to-cart-btn-hover;
  }
}

.add-title-expanded {
  display: none;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  background-color: #3D2228;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  cursor: pointer;
}
