@import "media-queries.css";
@import "variables.css";
@import "colors.css";

html, body {
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
}

@media (--small-only) {
  html, body {
    font-size: 14px;
  }
}

/* set up default color for links */
a {
  color: var(--blackish);
  text-decoration: none;
  transition: all 300ms;
}

button {
  transition: all 300ms;
}
