.block {
  position: relative;

  /* @todo remove from here */
  &._active {
    .fc-pilled-input__input-container,
    .fc-pilled-input__input-container:hover {
      border-color: #a2dee1 !important;
    }
  }

  .fc-form-field input[type=text] {
    padding-left: 40px;

    &.fc-pilled-input__input-field {
      padding-left: 10px;
      margin-left: 0;
    }
  }

  .fc-form-field-label {
    display: block;
  }

  .fc-image-column {
    max-width: 50px;
    max-height: 50px;
  }

  &__items {
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: @color-white;
    border: 1px solid @color-border;

    font-size: 12px;
    line-height: 60px;
  }

  &__item {
    padding: 15px;
    border-bottom: 1px solid @color-border;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: @color-tr-even-bg;
      cursor: pointer;
    }

    .fc-grid {
      line-height: 20px;
    }
  }
}

.input {
  width: 700px; /* WHY??? */
  border: none !important;
  padding-left: 10px;

  .block._search {
    padding-left: 40px;
  }
}

.input-icon {
  display: none;
  color: @color-decor8;
  position: absolute;
  left: 13px;
  bottom: 11px;

  .block._search & {
    display: block;
  }
}

.list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;

  &._visible {
    display: block;
  }

  &._modal {
    box-shadow: 0 2px 4px 0 @color-decor51;
  }
}

/* @todo refactor Alert component */
.need-more-characters {
  margin-top: 0;
}
