.block {
  position: relative;

  &._active {
    .fc-pilled-input__input-container,
    .fc-pilled-input__input-container:hover {
      border-color: #a2dee1 !important;
    }
  }

  input[type=text] {
    width: 700px;
    border: none !important;
  }

  &__input-icon {
    color: @color-decor8;
    position: absolute;
    left: 13px;
    bottom: 11px;
  }

  &._no-search-icon &__input-icon {
    display: none;
  }

  .fc-form-field input[type=text] {
    padding-left: 40px;

    &.fc-pilled-input__input-field {
      padding-left: 10px;
      margin-left: 0;
    }
  }

  &._no-search-icon &__input[type=text] {
    padding-left: 10px;
  }

  .fc-form-field-label {
    display: block;
  }

  .fc-image-column {
    max-width: 50px;
    max-height: 50px;
  }

  &__menu {
    display: none;

    &._visible {
      display: block;
    }
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
  }

  &__items {
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: @color-white;
    border: 1px solid @color-border;

    font-size: 12px;
    line-height: 60px;
  }

  &__item {
    padding: 15px;
    border-bottom: 1px solid @color-border;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: @color-tr-even-bg;
      cursor: pointer;
    }

    .fc-grid {
      line-height: 20px;
    }
  }

  &__need-more-characters {
    .fc-alert {
      margin-top: 0;
    }
  }
}
