@import 'colors.css';

.block {
  position: relative;
}

/* @todo remove globals from here somehow */
.block.active :global(.fc-pilled-input__input-container),
.block.active :global(.fc-pilled-input__input-container:hover) {
  border-color: var(--bg-message-success) !important;
}

.block :global(.fc-form-field-label) {
  display: block;
}

.block :global(.fc-image-column) {
  max-width: 50px;
  max-height: 50px;
}

.input {
  flex: 1 1 auto;
}

.list.search .input {
  padding-left: 40px;
}

.input-icon {
  display: none;
  color: var(--color-additional-text);
  position: absolute;
  left: 13px;
  bottom: 11px;
}

.list.search .input-icon {
  display: block;
}

.list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
  transition: all 0.2s linear;
}

.list.visible {
  visibility: visible;
  opacity: 1;
}

.items {
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--bg-white);
  border: 1px solid var(--color-border);
  border-width: 0 1px 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.list.users .items {
  overflow-y: auto;
}

.item {
  padding: 0;
  border-width: 0 1px 1px;
  background-color: var(--bg-white);
  box-shadow: 0 -0.5px 0 var(--color-border) inset;
}

.item:last-child {
  box-shadow: none;
}

.item:hover {
  background-color: var(--bg-grey-headers);
  cursor: pointer;
}

.list.modal .item {
  width: 600px;
}

.item :global(.fc-grid) {
  line-height: 20px;
}

.not-found {
  padding: 15px 20px;
}

.please { /* `Please type more` notification */
  padding: 15px 20px;
}

/* @todo refactor Alert component */
.need-more-characters {
  margin-top: 0;
}

.preloader {
  padding-top: 15px;
  padding-bottom: 15px;
}
