[Service]
WorkingDirectory=/usr/local/share
ExecStart=/usr/local/bin/run_pgweb.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pgweb
TimeoutStartSec=5m
RestartSec=10

[Install]
WantedBy=multi-user.target
