@import "variables.css";
@import "colors.css";

.collection {
  margin-bottom: 60px;
}

.wrap {
  composes: wrap from "ui/css/layout.css";
  composes: inner-wrap from "ui/css/layout.css";
}

.hero-block {
  --block-height: 736;
  --banner-height: 280;
  height: var(--block-height)px;
  background: url("images/collection/summer2016/hero.jpg") 50% 0;
  background-size: cover;

  & article {
    lost-offset: -2/11;
    lost-column: 7/11;
    height: var(--banner-height)px;
    background: var(--whitish);
    text-align: center;
    box-sizing: border-box;
    border-top: 8px solid #FFA0E0;
    margin-top: var(--block-height)px;

    & > h2 {
      font-size: 60px;
      font-weight: 600;
    }

    & > div {
      font-size: 24px;
      line-height: 40px;
      font-weight: 300;
    }
  }
}

.harper-block {
  margin-top: 140px;
  height: 895px;
  background: url("images/collection/summer2016/image_2.jpg") 50% 0;
  background-size: cover;

  & > div {
    align-items: flex-start;
  }

  & article {
    lost-offset: -2/3;
    lost-column: 2/9;
    margin-top: 260px;
  }
}

.greyson-block {
  margin-top: -437px;
  height: 599px;
  background: url("images/collection/summer2016/image_1.jpg") 100% 0;
  background-repeat: no-repeat;

  & > div {
    align-items: flex-end;
  }

  & article {
    lost-offset: -1/9;
    lost-column: 2/9;
    margin-bottom: -30px;
  }
}

.chloe-block {
  margin-top: 90px;
  height: 646px;
  background: url("images/collection/summer2016/image_4.jpg") 0 0;
  background-repeat: no-repeat;

  & > div {
    align-items: flex-start;
  }

  & article {
    lost-offset: -13/18;
    lost-column: 2/9;
    margin-top: 100px;
  }
}

.amelia-block {
  margin-top: -358px;
  height: 671px;
  background: url("images/collection/summer2016/image_3.jpg") 100% 0;
  background-repeat: no-repeat;

  & > div {
    align-items: flex-end;
  }

  & article {
    lost-offset: -3/18;
    lost-column: 2/9;
    margin-bottom: 120px;
  }
}

.olivia-block {
  margin-top: 60px;
  height: 815px;
  background: url("images/collection/summer2016/image_6.jpg") 0 0;
  background-repeat: no-repeat;

  & > div {
    align-items: flex-start;
  }

  & article {
    lost-offset: -13/18;
    lost-column: 2/9;
    margin-top: 90px;
  }
}

.connor-block {
  margin-top: -539px;
  height: 408px;
  background: url("images/collection/summer2016/image_5.jpg") 100% 0;
  background-repeat: no-repeat;

  & > div {
    align-items: flex-end;
  }

  & article {
    lost-offset: -3/18;
    lost-column: 2/9;
    margin-bottom: -50px;
  }
}

.ella-block {
  margin-top: 191px;
  height: 599px;
  background: url("images/collection/summer2016/image_8.jpg") 0 0;
  background-repeat: no-repeat;

  & > div {
    align-items: flex-start;
  }

  & article {
    lost-offset: -13/18;
    lost-column: 2/9;
    margin-top: -60px;
  }
}

.connor2-block {
  margin-top: -465px;
  height: 564px;
  background: url("images/collection/summer2016/image_7.jpg") 100% 0;
  background-repeat: no-repeat;

  & > div {
    align-items: flex-end;
  }

  & article {
    lost-offset: -1/9;
    lost-column: 2/9;
    margin-bottom: 90px;
  }
}
