
.body {
  color: #9ba3a7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 40px;
  width: 137px;
  height: 76px;
}

.copyright {
  color: #bdc3c6;
  font-size: 13px;
  line-height: 24px;
  margin-top: 60px;
}

:global .fc-auth__title {
  font-size: 20px;
  line-height: 27px;
  margin-top: 40px;

  & + .fc-alert {
    margin-top: 30px;
  }
}
