[Service]
WorkingDirectory=/usr/local
ExecStart=/usr/bin/env bash /usr/local/bin/update_materialized_views_forever.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=materialized_views
TimeoutStartSec=30
RestartSec=10

[Install]
WantedBy=multi-user.target

[Unit]
Requires=postgresql.service
After=postgresql.service
