@import 'colors.css';

.root {
  background-color: #FFFFFF;
  border: 1px solid #d9d9d9;
}

.header {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  margin: 20px;
}

.item {
  height: 46px;
  font-size: 13px;
  font-weight: 400;
  color: var(--color-text);
  padding-left: 18px;
  line-height: 46px;

  &:hover {
    background-color: var(--grey-headers);
    cursor: pointer;
  }

  &.active {
    border-left: 3px solid var(--green-buttons);
    background-color: var(--grey-headers);
  }

}

.footer {
  border-top: 1px solid #d9d9d9;

  & :global(.fc-btn-primary) {
    color: var(--color-text);
    background-color: #FFFFFF;

    &:hover {
     color: var(--color-text);
     background-color: #FFFFFF;
    }
  }

}
