
.taxon-list {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #d9d9d9;
}

.header {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #484848;
  margin: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  height: 46px;

  &:hover {
    background-color: #F7F7F7;
    cursor: pointer;
  }

}

.item-current {
  display: flex;
  flex-direction: row;
  height: 46px;
  background-color: #F7F7F7;

  & > span {
    width: 2px;
    background-color: #49C2CA;
  }

}

.rectangle {
  width: 2px;
  background-color: transparent;
}

.text {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #484848;
  padding-left: 18px;
  line-height: 46px;
}

.footer {
  border-top: 1px solid #d9d9d9;

  & :global(.fc-btn-primary) {
    color: #484848;
    background-color: #FFFFFF;

    &:hover {
     color: #484848;
     background-color: #FFFFFF;
    }
  }

}
