
.node {
  display: none;

  &.visible {
    display: block;
    line-height: 46px;
    font-size: 13px;
    font-weight: 400;
    color: #484848;

    &.active {
      border-left: 3px solid #49C2CA;
      background-color: #F7F7F7;;
    }

  }

}

.item {
  margin-left: 20px;
}
