
.node {
  display: none;

  &.visible {
    display: block;
    line-height: 46px;
    font-size: 13px;
    font-weight: 400;
    color: #484848;

    &.active {
      border-left: 3px solid #49C2CA;
      background-color: #F7F7F7;;
    }

  }

}

.item {
  margin-left: 20px;
}

.text {
  margin-left: 10px;
}

.attributes {

  & :global(.icon-category),
  & :global(.icon-category-expand),
  & :global(.icon-category-collapse) {
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 8px;
  }

}
