<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%date{ISO8601,UTC}] [%logger] %message %ex{full}\n</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.FileAppender">
        <file>log/sql.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%level] [%date{ISO8601,UTC}] %message %ex{full}\n</pattern>
        </encoder>
    </appender>

    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG">
        <appender-ref ref="SQL" />
        <additive>false</additive>
    </logger>

    <!-- Phoenix debug file logger -->
    <appender name="PhoenixLog" class="ch.qos.logback.core.FileAppender">
        <file>log/phoenix.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%level] [%date{ISO8601,UTC}] %message %ex{full}\n</pattern>
        </encoder>
    </appender>

    <!--<logger name="PhoenixDebug" level="DEBUG">-->
        <!--<appender-ref ref="PhoenixLog" />-->
        <!--<additive>false</additive>-->
    <!--</logger>-->

    <!-- Gatling -->
    <!-- Log ALL HTTP request and responses -->
    <!-- <logger name="io.gatling.http.ahc" level="TRACE" /> -->
    <!-- <logger name="io.gatling.http.response" level="TRACE" /> -->
    <!-- Log ONLY FAILED HTTP request and responses -->
    <logger name="io.gatling.http.ahc" level="DEBUG" />
    <logger name="io.gatling.http.response" level="DEBUG" />
    <logger name="utils.ElasticsearchApi" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>
