doctype

include mixins.jade

.content
    style!= self.css
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="template/foxcomm.css")
    a.text-muted.back-to-top(href='#top')
        i.fa.fa-toggle-up
        | &nbsp;Back to top
    +Content('primary', false)
    
script: include scripts.js

if self.livePreview
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io();
        socket.on('refresh', refresh);
        socket.on('reconnect', function () {
            socket.emit('request-refresh');
        });
