
.loading {
  background-image: url(/admin/images/caramel.png);
  animation: caramel .5s linear infinite;
}

.loadingBefore {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/admin/images/caramel.png);
    animation: caramel .5s linear infinite;
  }
}

@keyframes caramel {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 20px 0;
  }
}
