@import 'mixins.css';


@mixin dd-transition left, 0 0;
@mixin dd-transition right, 100% 0;
@mixin dd-transition center, 50% 0;

@mixin dd-transition up-left, 0 100%;
@mixin dd-transition up-center, 50% 100%;
@mixin dd-transition up-right, 100% 100%;

.loading {
  background-image: inline(../images/caramel.png);
  animation: caramel .5s linear infinite;
}

.loadingBefore {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: inline(../images/caramel.png);
    animation: caramel .5s linear infinite;
  }
}

@keyframes caramel {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 20px 0;
  }
}
