/* Some components independent styles */

@import 'fontello.css';
@import 'transitions.css';
@import 'normalize.css';

* {
  outline: 0;
  box-sizing: border-box;
  &:before, &:after { box-sizing: border-box; }
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #484848;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

