@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .icon-add::before {
    content: '\e800';
  } /* '' */
  .icon-bell::before {
    content: '\e801';
  } /* '' */
  .icon-chevron-right::before {
    content: '\e802';
  } /* '' */
  .icon-chevron-left::before {
    content: '\e803';
  } /* '' */
  .icon-chevron-up::before {
    content: '\e804';
  } /* '' */
  .icon-chevron-down::before {
    content: '\e805';
  } /* '' */
  .icon-customer::before {
    content: '\e806';
  } /* '' */
  .icon-customers::before {
    content: '\e807';
  } /* '' */
  .icon-discounts::before {
    content: '\e808';
  } /* '' */
  .icon-drag-drop::before {
    content: '\e809';
  } /* '' */
  .icon-edit::before {
    content: '\e80a';
  } /* '' */
  .icon-external-link-2::before {
    content: '\e80b';
  } /* '' */
  .icon-external-link::before {
    content: '\e80c';
  } /* '' */
  .icon-gift-cards::before {
    content: '\e80d';
  } /* '' */
  .icon-help::before {
    content: '\e80e';
  } /* '' */
  .icon-home::before {
    content: '\e80f';
  } /* '' */
  .icon-inventory::before {
    content: '\e810';
  } /* '' */
  .icon-items::before {
    content: '\e811';
  } /* '' */
  .icon-orders::before {
    content: '\e812';
  } /* '' */
  .icon-returns::before {
    content: '\e813';
  } /* '' */
  .icon-settings-col::before {
    content: '\e814';
  } /* '' */
  .icon-settings::before {
    content: '\e815';
  } /* '' */
  .icon-success::before {
    content: '\e816';
  } /* '' */
  .icon-error::before {
    content: '\e817';
  } /* '' */
  .icon-trash::before {
    content: '\e818';
  } /* '' */
  .icon-warning::before {
    content: '\e819';
  } /* '' */
  .icon-calendar::before {
    content: '\e81a';
  } /* '' */
  .icon-lock::before {
    content: '\e81b';
  } /* '' */
  .icon-unlock::before {
    content: '\e81c';
  } /* '' */
  .icon-usd::before {
    content: '\e81d';
  } /* '' */
  .icon-search::before {
    content: '\e81e';
  } /* '' */
  .icon-visa::before {
    content: '\e81f';
  } /* '' */
  .icon-dinners::before {
    content: '\e820';
  } /* '' */
  .icon-store-credit::before {
    content: '\e821';
  } /* '' */
  .icon-amex::before {
    content: '\e822';
  } /* '' */
  .icon-discover::before {
    content: '\e823';
  } /* '' */
  .icon-jcb::before {
    content: '\e824';
  } /* '' */
  .icon-close::before {
    content: '\e825';
  } /* '' */
  .icon-warning-dark::before {
    content: '\e826';
  } /* '' */
  .icon-success-dark::before {
    content: '\e827';
  } /* '' */
  .icon-error-dark::before {
    content: '\e828';
  } /* '' */
  .icon-check::before {
    content: '\e829';
  } /* '' */
  .icon-list::before {
    content: '\e82a';
  } /* '' */
  .icon-grid::before {
    content: '\e82b';
  } /* '' */
  .icon-barcode::before {
    content: '\e82c';
  } /* '' */
  .icon-category::before {
    content: '\e82d';
  } /* '' */
  .icon-back::before {
    content: '\e82e';
  } /* '' */
  .icon-filter::before {
    content: '\e82f';
  } /* '' */
  .icon-share::before {
    content: '\e830';
  } /* '' */
  .icon-ellipsis::before {
    content: '\e831';
  } /* '' */
  .icon-minus::before {
    content: '\e832';
  } /* '' */
  .icon-location::before {
    content: '\e833';
  } /* '' */
  .icon-down::before {
    content: '\e834';
  } /* '' */
  .icon-up::before {
    content: '\e835';
  } /* '' */
  .icon-desktop::before {
    content: '\e836';
  } /* '' */
  .icon-tablet::before {
    content: '\e837';
  } /* '' */
  .icon-sort::before {
    content: '\e838';
  } /* '' */
  .icon-mastercard::before {
    content: '\e839';
  } /* '' */
  .icon-google::before {
    content: '\e83a';
  } /* '' */
  .icon-phone::before {
    content: '\e83b';
  } /* '' */
  .icon-mobile::before {
    content: '\e83c';
  } /* '' */
  .icon-upload::before {
    content: '\e83d';
  } /* '' */
  .icon-save::before {
    content: '\e83e';
  } /* '' */
  .icon-save-2::before {
    content: '\e83f';
  } /* '' */
  .icon-heart::before {
    content: '\e840';
  } /* '' */
  .icon-promotion::before {
    content: '\e841';
  } /* '' */
  .icon-numbers::before {
    content: '\e842';
  } /* '' */
  .icon-align-left::before {
    content: '\e843';
  } /* '' */
  .icon-align-right::before {
    content: '\e844';
  } /* '' */
  .icon-bullets::before {
    content: '\e845';
  } /* '' */
  .icon-align-center::before {
    content: '\e846';
  } /* '' */
  .icon-align-justify::before {
    content: '\e847';
  } /* '' */
  .icon-indent_increase::before {
    content: '\e848';
  } /* '' */
  .icon-indent_decrease::before {
    content: '\e849';
  } /* '' */
  .icon-hyperlink::before {
    content: '\e84a';
  } /* '' */
  .icon-size::before {
    content: '\e84b';
  } /* '' */
  .icon-bold::before {
    content: '\e84c';
  } /* '' */
  .icon-underline::before {
    content: '\e84d';
  } /* '' */
  .icon-italic::before {
    content: '\e84e';
  } /* '' */
  .icon-html::before {
    content: '\e84f';
  } /* '' */
  .icon-dot::before {
    content: '\e850';
  } /* '' */
  .icon-category-collapse::before {
    content: '\e851';
  } /* '' */
  .icon-category-expand::before {
    content: '\e852';
  } /* '' */
  .icon-hierarchy::before {
    content: '\e853';
  } /* '' */
  .icon-hierarchy-rotated::before {
    content: '\e854';
  } /* '' */
  .icon-clear-formatting::before {
    content: '\e892';
  } /* '' */
  .icon-markdown::before {
    content: '\e893';
  } /* '' */
  .icon-export::before {
    content: '\e896';
  } /* '' */
}
