@define-mixin dd-transition $dir, $origin {
  :global .dd-transition-$(dir)-enter {
    transform: scale(0);
    transform-origin: $(origin);
    transition: opacity .22s ease-in, transform .2s cubic-bezier(.5, 1.8, .9, .8);
    opacity: .01;

    &-active {
      transform: scale(1);
      opacity: 1;
    }
  }

  :global .dd-transition-$(dir)-leave {
    transform: scale(1);
    transform-origin: $(origin);
    transition: opacity .15s ease-out, transform .2s ease-out;
    opacity: 1;

    &-active {
      transform: scale(0);
      opacity: .01;
    }
  }
}
