@define-mixin dd-transition $dir, $origin {
  :global .dd-transition-$(dir)-enter {
    transform: scale(0);
    transform-origin: $(origin);
    transition: opacity .22s ease-in, transform .2s cubic-bezier(.5, 1.8, .9, .8);
    opacity: .01;

    &-active {
      transform: scale(1);
      opacity: 1;
    }
  }

  :global .dd-transition-$(dir)-leave {
    transform: scale(1);
    transform-origin: $(origin);
    transition: opacity .15s ease-out, transform .2s ease-out;
    opacity: 1;

    &-active {
      transform: scale(0);
      opacity: .01;
    }
  }
}

/* Generates muptiple css classes for React CSSTransitions component */

/* You can find them in output css by `.dd-transition` substring */
@mixin dd-transition left, 0 0;
@mixin dd-transition right, 100% 0;
@mixin dd-transition center, 50% 0;
@mixin dd-transition up-left, 0 100%;
@mixin dd-transition up-center, 50% 100%;
@mixin dd-transition up-right, 100% 100%;
