@import "colors.css";
@import "media-queries.css";

.select-box {
  position: relative;
  border-color: var(--additional-color);
  border: 1px solid;

  &:hover {
    border-color: #8D757A;
  }
}

.state-select-box {
  composes: select-box;
  border-color: #f4f4f4;
}

.select {
  background: #fff;
  height: 44px;
  width: 100%;
  font-size: 14px;
  color: #212121;
  padding: 0 10px;
  border-width: 0;
  -webkit-border-radius: 0;
}

.state-select {
  composes: select;
  background: #f4f4f4;
}

@media (--small-only) {
  .select {
    height: 30px;
    font-size: 12px;
  }

  .state-select {
    height: 46px;
    font-size: 14px;
  }
}
