@import "variables";
@import "media-queries";
@import "colors";

.list-wrapper {
  position: relative;
}

.loading-wrapper {
  background: rgba(235, 234, 234, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loader {
  position: fixed;
  width: 100%;
  top: 120px;
}

.list {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  composes: inner-wrap from 'ui/css/layout.css';
}

.not-found {
  text-transform: uppercase;
  margin: 80px 0;
  text-align: center;
  width: 100%;
}

@media (--small-only) {
  .list {
    margin-top: 50px;
    lost-column: 11/12;
    lost-offset: -0.5/12;
  }
}
