@import "variables.css";

.block {
  border: 2px solid var(--input-border-color);
  margin-bottom: 20px;
}

.header {
  background-color: var(--body-background);
  height: 74px;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 15px;
  color: var(--text-color);
  line-height: 20px;
  padding-top: 27px;
}

.content {
  padding: 20px;
}
