
.logo {
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 12px;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}
