@sidebar-width: 74px;

.fc-admin {
  z-index: 1;
  display: flex;
  min-height: 100vh;
  .fc-sidebar {
    flex: 0 0 @sidebar-width;
  }
  .fc-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .fc-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-top: 1px solid @color-header-border;
      margin-top: 60px;
      margin-left: 206px;
      z-index: 1;

      > * {
        flex: 1;
      }
    }
  }
}

main.fc-main {
  height: 0;
  overflow-y:auto;
}
