@import "media-queries.css";
@import "colors.css";

.title {
  font-size: 19px;
  font-weight: 900;
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.action-link-payment {
  composes: action-link from "ui/action-link/action-link.css";
  font-size: 16px;
  display: flex;
}

.action-link-add-methods {
  composes: action-link from "ui/action-link/action-link.css";
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  margin-bottom: 15px;
}

.plus {
  margin-right: 8px;
  width: 12px;
}

.credit-cards-list, .gc-coupon {
  padding: 15px 10px 0px 15px;
}

.promo-codes {
  padding: 10px 10px 0 38px;
  background: var(--select-active-background);
  border-radius: 4px;
  margin-bottom: 15px;
}

.text-field {
  composes: text-field from "ui/common.css";
  margin: 0;
}

.union-fields {
  display: flex;

  & .text-field {
    width: 50%;
  }

  & .card-number-field {
    width: 75%;
  }

  & .cvc-field {
    width: 25%;
  }
}

.promo-line {
  padding: 0;
}

.cvc-field {
  composes: text-field;
}

.same-address-checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.default-checkbox {
  margin-top: 20px;
}

.card-form {
  margin: 15px 10px 15px 15px;
}

.billing-address {
  margin-top: 1em;
}

.payment-icon {
  --payment-icon-height: 30px;
  top: calc(50% - var(--payment-icon-height) / 2);
}

@media (--large) {
  .action-link-payment {
    margin-right: 0;
  }
}
