@import "colors.css";

.credit-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.chosen {
  background: var(--select-active-background);
  border-color: transparent;
}


.action-link-remove-card {
  composes: action-link from "ui/action-link/action-link.css";
}
