@import 'colors.css';

.block {
  position: relative;
  display: inline-block;
}

.input {
  z-index: 3;
  position: relative;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 10px;
  line-height: 20px;
}

.popup {
  position: absolute;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
  border: 1px solid var(--color-border);
  background: #fff;
  padding: 20px;
  display: none;
  text-align: center;
  z-index: 10;

  &:global(._open) {
    display: inline-block;
  }
}


