.form {
  composes: global(fc-form-vertical);

  & :global(.fc-form-field) {
    margin-top: 10px;
  }

  & :global(.fc-form-field) > input[type="text"] {
    width: 100%;
  }

  & :global(.fc-form-field-label) {
    margin-bottom: 10px;
  }

}
