@import 'variables.css';

.password-input {
  position: relative;
}

.input {
  padding-right: 23px !important;
}

.indicators {
  position: absolute;
  right: 5px;
  top: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 0;

  & > div {
    border-radius: 3px;
    background: var(--bg-grey-headers);
    width: 13px;
    height: 8px;
  }

  &:global(._score_0) > div:last-child {
    background: var(--bg-field-error);
  }

  &:global(._score_1) > div:not(:first-child) {
    background: var(--decor24);
  }

  &:global(._score_2) > div {
    background: var(--bg-green-buttons);
  }
}
