
.product-image {
  width: 77px;
}

.product-image img {
  width: 77px;
  height: 77px;
}

.product-price {
  text-align: right;
  width: 55px;
}

.product-name {
  text-transform: uppercase;
  padding-left: 15px;
}
