@import "css/media-queries.css";
@import "css/colors.css";

.view-billing {
  text-align: left;
  font-size: 12px;
  line-height: 1.33;
  padding-bottom: 10px;
}

.billing-address {
  margin-top: 10px;
}

.payment-name {
  font-size: 12px;
}

.name {
  font-weight: 900;
}

.payment-last-four {

}

.payment-input {
  padding-right: 64px;
}

.payment-card-info {
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.payment-last-four {
  margin-right: 0.7em;
}

.payment-gift {
  & .price {
    display: block;
    font-weight: 400;
  }
}

.billing-address {
  composes: address-details from '../../../ui/address/address.css';

  & li:first-child {
    font-weight: 900;
  }
}

.default-card {
  font-weight: 900;
  margin-left: 5px;
  font-size: 12px;
}
