.slider {
  padding: 20px;
}

.img-wrap {
  display: flex;
  justify-content: center;

  &:after {
    content: '';
    display: block;
    width: 100%;
    background: #3E3436;
    height: 1px;
    position: absolute;
    top: 90px;
  }
}

.img {
  height: 120px;
}
