@import "colors.css";
@import "media-queries.css";

.auth-block {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 20px;

  lost-column: 3/11;
  lost-offset: -4/11;
}

.logo {
  width: 208px;
  height: 102px;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 18px;
}

:root {
  --dividerMargin: 20px;
}

.google-login {
  composes: button from "ui/css/buttons.css";
  background-color: var(--redish);
  border: 1px solid color(var(--redish));
  margin-bottom: calc(46px - var(--dividerMargin));
  width: 100%;

  &:hover {
    color: var(--redish);
  }

  & :global(.icon) {
    transition: none;
  }
}

.divider {
  composes: block from "ui/css/wrap-to-lines.css";
  margin-bottom: calc(30px - var(--dividerMargin));
}

.form-field-input {
  composes: text-input from "ui/css/input.css";
  height: 50px;
  width: 100%;
  font-weight: 400;
  color:  var(--input-text-color);
  background: #F4F4F4;

  &:focus, &:hover {
    border-color: var(--input-text-color);
  }

  &::-webkit-input-placeholder { color: var(--input-text-color); }
  &::-moz-placeholder { color: var(--input-text-color); }
  &:-moz-placeholder { color: var(--input-text-color); }
  &:-ms-input-placeholder { color: var(--input-text-color); }
}

.form-field {
  width: 100%;
  margin-bottom: 10px;

  & > input {
    height: 50px;
    width: 100%;
    font-weight: 400;
    color:  var(--input-text-color);
    background: #F4F4F4;

    &:focus, &:hover {
      border-color: var(--input-text-color);
    }

    &::-webkit-input-placeholder { color: var(--input-text-color); }
    &::-moz-placeholder { color: var(--input-text-color); }
    &:-moz-placeholder { color: var(--input-text-color); }
    &:-ms-input-placeholder { color: var(--input-text-color); }
  }
}

.primary-button {
  composes: button from "ui/css/buttons.css";
  width: 100%;
}

.switch-stage {
  margin-top: 20px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: #212121;
}

.top-message {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 33px;
  text-align: left;
  font-weight: 300;
}

.top-message-success {
  composes: top-message;
  color: var(--greenish);
}

.top-message-error {
  composes: top-message;
  color: var(--redish);
}

.restore-link {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  opacity: 0.38;
  text-decoration: none;

  &:hover {
    opacity: 1.0;
  }
}

.link {
  color: #8D757A;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: #3E3436;
  }
}

@media (--small-only) {
  .auth-block {
    lost-column: 1/1;
    lost-offset: 0;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-message {
    margin-bottom: 20px;
  }

  .logo {
    width: 104px;
    height: 56px;
    margin-bottom: 40px;
  }

  .title {
    margin-bottom: 20px;
  }

  .google-login {
    margin-bottom: calc(20px - var(--dividerMargin));
  }

  .divider {
    composes: block from "ui/css/wrap-to-lines.css";
    margin-bottom: calc(20px - var(--dividerMargin));
  }

  .switch-stage {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (--medium-only) {
  .auth-block {
    lost-column: 5/11;
    lost-offset: -3/11;
  }
}
