.fc-countdown {
  .inline-block(middle);
  .size(112px, 50px);
  .colors(@color-white, #3E4D61); // @todo have bg color from styleguide list
  .font-spec(24px, 50px);
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0px -3px 1px 0px rgba(0, 0, 0, 0.20);

  &_ending {
    .colors(@color-white, #F2595C);
  }

  &_frozen {
    .colors(@color-white, @color-decor7);
  }
}

.fc-countdown-controls {
  .inline-block(middle);
  .margin-left(10px);
}

