---

- name: Copy Execution File
  template: src=run_consul_agent.sh dest="/usr/local/bin/run_consul_agent.sh" mode="u+x,g+x,o+x"
  sudo: true

- name: Copy Service
  template: src=consul_agent.service dest="{{dest_services}}/consul_agent.service"
  sudo: true

- name: Copy Config
  template: src=agent.json dest="/etc/consul.d/agent.json"
  sudo: true

- name: Reload Systemd for Consul Server
  sudo: yes
  command: systemctl daemon-reload

- name: Restart Consul Server
  service: name=consul_agent state=restarted enabled=yes
  sudo: true

- name: Install Packages
  apt: name=dnsmasq state=latest force=yes
  sudo: true

- name: Touch Dnsmasq Config
  file: path=/etc/dnsmasq.d/10-consul state=touch
  sudo: true

- name: Add Consul to Dnsmasq Config
  lineinfile: dest="/etc/dnsmasq.d/10-consul" line="server=/consul/127.0.0.1#8600"
  sudo: true

- name: Restart Dnsmasq
  service: name=dnsmasq state=restarted enabled=yes
  sudo: true

