---

- name: Packing Tinystack Amigo
  hosts: all
  vars:
    user: ubuntu
    packing: true
    join_type: join-wan
    mesos_quorum: 1
    consul_expect: 1

  roles:
    - { role: base/consul_server }
    - { role: base/zookeeper }
    - { role: base/docker_registry }
    - { role: base/mesos_master }
    - { role: base/mesos_consul }
