---

- name: Pack Buildkite Agent image
  hosts: all
  tags:
    - packer
  vars:
    user: '{{ansible_ssh_user}}'

  roles:
    - { role: base/common }
    - { role: base/ssh_keys }
    - { role: base/docker }
    - { role: base/scala }
    - { role: base/clojure }
    - { role: base/node }
    - { role: base/builder }
    - { role: test/db }
    - { role: test/selenium }
    - { role: dev/ssh_gce }
