---

- name: Provision Packer Tinystack Frontend
  hosts: all
  become: true
  vars:
    user: ubuntu
    packing: true

  roles:
    - { role: base/mesos_worker }
    - { role: base/rsyslog }
    - { role: base/balancer }
