@import "colors.css";

:root {
  --size: 16px;
}

.wrap {
  line-height: 20px;

  &:hover {
    opacity: 0.7;
  }
}

.checkbox {
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  display: none;

  & + label:hover {
    cursor: pointer;
  }

  &:checked {
    & + label > .box {
      border: none;
      background: var(--checkbox-checked);
      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url('/images/symbols/checkbox.svg') center center no-repeat;
        background-size: 12px, 12px;
      }
    }
  }

  &:disabled {
    & + label > .box {
      background: var(--checkbox-disabled);
    }
  }
}

.label {
  display: flex;
}

.box {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--checkbox-border);
  border-radius: 2px;
  background: var(--checkbox-background);
  position: relative;
  vertical-align: top;
  margin-right: 12px;
  flex-shrink: 0;
  top: 2px;
}
