
.empty-message {
  padding: 20px;
  text-align: center;
  background: #fff;
  color: #9ba3a7;
  font-size: 15px;
  font-weight: 600;
  line-height: 60px;
}

.add-coupon-block {
  margin: 0 0 20px;
}

.add-coupon-label {
  margin-bottom: 10px;
}

.add-coupon-input {
  width: calc(100% - 100px);
}

.add-coupon-input-container {
  & :global .fc-append-input__icon {
    width: initial;
  }
}

.add-coupon-button {
  width: 100px;
}

